/* copy of default_scorm.css */
#learning_path_breadcrumb_zone .breadcrumb{
    background: rgb(4,105,142); /* Old browsers */
    color: #fff;
    text-transform: capitalize;
    border:none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#learning_path_breadcrumb_zone .breadcrumb a{
    color: #FFF;
}
#learning_path_breadcrumb_zone .breadcrumb a:hover{
    text-decoration: none;
    opacity: 0.8;
}