.p-card {
  @apply rounded-lg bg-white border border-gray-25 transition isolate
    hover:shadow-xl;

  .p-card-body {
    @apply h-full flex flex-col gap-4 p-4 rounded-b-lg;
  }

  .p-card-caption {
    @apply space-y-2;
  }

  .p-card-header {
    @apply relative;

    img {
      @apply rounded-t-lg object-cover w-full h-auto;
    }
  }

  .p-card-title {
    @apply text-body-2 font-semibold;
  }

  .p-card-subtitle {
    @apply text-body-2 text-gray-50;
  }

  .p-card-content {
    @apply space-y-2;

    &:empty {
      @apply hidden;
    }
  }

  .p-card-footer {
    @apply mt-auto rounded-b-lg space-y-2;
  }

  .p-menu {
    @apply border-none py-0 w-full;
  }
}
