.p-card {
  @apply rounded-lg bg-white drop-shadow-lg;

  .p-card-body {
    @apply h-full flex flex-col space-y-4 p-4  border-b border-r border-l border-b-support-1 border-r-support-1 border-l-support-1 rounded-b-lg rounded-r-lg rounded-l-lg;
  }

  .p-card-header {
    img {
      @apply rounded-t-lg aspect-video;
    }
  }

  .p-card-title {
    @apply text-body-2 font-semibold;
  }

  .p-card-subtitle {
    @apply text-body-2 text-gray-50;
  }

  .p-card-content {
    &:empty {
      @apply hidden;
    }
  }

  .p-card-footer {
  }

  .p-menu {
    @apply border-none py-0 w-full;
  }
}
