.p-card {
  @apply rounded-lg bg-white border border-gray-30
    hover:drop-shadow-lg;

  .p-card-body {
    @apply h-full flex flex-col space-y-4 p-4 rounded-b-lg;
  }

  .p-card-header {
    img {
      @apply rounded-t-lg aspect-video;
    }
  }

  .p-card-title {
    @apply text-body-2 font-semibold;
  }

  .p-card-subtitle {
    @apply text-body-2 text-gray-50;
  }

  .p-card-content {
    @apply space-y-2;

    &:empty {
      @apply hidden;
    }
  }

  .p-card-footer {
    @apply rounded-b-lg;
  }

  .p-menu {
    @apply border-none py-0 w-full;
  }
}
