@layer components {
  .course-card {

    &__header {
      @apply aspect-video w-full overflow-hidden rounded-t-lg bg-gray-25 ;
    }

    &__category-list {
      @apply absolute top-2 left-2 flex flex-wrap gap-1;
    }

    &__title {
      @apply text-gray-90 text-body-1 font-semibold space-y-2 flex items-center gap-2;

      .session {
        &__title {
          @apply text-body-2 font-semibold;
        }

        &__display-date {
          @apply text-gray-50 font-normal text-caption;
        }
      }
    }

    &__language {
      @apply absolute bottom-2 right-2;
    }
  }
}
