{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-3 col-md-3">
        {% include '@ChamiloCore/Admin/Settings/menu.html.twig' %}
        </div>
        <div class="col-xs-9 col-md-9">
        </div>
    </div>
{% endblock%}
