{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        <a href="http://chamilo.org" rel="noreferrer" target="_blank">Chamilo</a>
    </p>
{% endblock %}
