{% extends '@ChamiloCore/Layout/base-layout.html.twig' %}
{% block page_content %}
    <div class="error-page">
        <div class="error-content">
            <h3>{{ 'Page not found'|trans() }}</h3>
        </div>
    </div>
{% endblock %}
