# Settings parameters that will be used in the 'services' section
services:
    _defaults:
        autowire: true
        public: true
        autoconfigure: true

    # Event listeners
    Chamilo\CoreBundle\EventListener\AssetListener:
        tags:
            - {name: kernel.event_listener, event: vich_uploader.post_remove}

    Chamilo\CoreBundle\EventListener\CidReqListener:
        tags:
            - {name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 6}
            - {name: kernel.event_listener, event: kernel.controller, method: onKernelController}

    # Sets the user access in a course listener
    Chamilo\CoreBundle\EventListener\CourseAccessListener:
      tags:
        - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }


  # Sets the user access in a course session listener
    Chamilo\CoreBundle\EventListener\SessionAccessListener:
        tags:
            - {name: kernel.event_listener, event: chamilo_course.course.session}

    # Setting user
    Chamilo\CoreBundle\EventListener\LegacyListener:
        bind:
            $container: '@service_container'
        tags:
            - {name: kernel.event_listener, event: kernel.request, priority: 7}

    # User locale listener
#    Chamilo\CoreBundle\EventListener\UserLocaleListener:
#        tags:
#            - {name: kernel.event_listener, event: security.interactive_login, method: onInteractiveLogin, priority: 15}

    # Settings listener
    Chamilo\CoreBundle\EventListener\SettingListener:
        tags:
            - {name: kernel.event_listener, event: sylius.settings.pre_save}

    Chamilo\CoreBundle\EventListener\TwigListener:
        tags:
            - {name: kernel.event_listener}

    # Auth listeners
    Chamilo\CoreBundle\EventListener\LoginSuccessHandler:
        tags:
            - {name: kernel.event_listener, event: security.interactive_login}

    Chamilo\CoreBundle\EventListener\LogoutListener:
        tags:
            - name: kernel.event_listener
              event: Symfony\Component\Security\Http\Event\LogoutEvent
              priority: 20

    Chamilo\CoreBundle\EventListener\HTTPExceptionListener:
        tags:
            - {name: kernel.event_listener, event: kernel.exception}

    Chamilo\CoreBundle\EventListener\ExceptionListener:
        tags:
            - {name: kernel.event_listener, event: kernel.exception}

    Chamilo\CoreBundle\EventListener\ScimExceptionListener:
        tags:
            - {name: kernel.event_listener, event: kernel.exception}

    # Entity listeners
    Chamilo\CoreBundle\Entity\Listener\ResourceListener:
        tags:
            - {name: doctrine.orm.entity_listener, entity_manager: default, lazy: true}

    Chamilo\CoreBundle\Entity\Listener\ResourceNodeListener:
        tags:
            - {name: doctrine.orm.entity_listener, entity_manager: default, lazy: true}

    Chamilo\CoreBundle\Entity\Listener\SessionListener:
        tags:
            - {name: doctrine.orm.entity_listener, entity_manager: default, lazy: true}

    # When the Course entity is created/updated
    Chamilo\CoreBundle\Entity\Listener\CourseListener:
        arguments: ['@Chamilo\CoreBundle\Tool\ToolChain', '@Chamilo\CoreBundle\Settings\SettingsManager']
        tags:
            - {name: doctrine.orm.entity_listener, entity_manager: default, lazy: true}

    # When the User entity is created/updated        -
    Chamilo\CoreBundle\Entity\Listener\UserListener:
      arguments:
        - '@Chamilo\CoreBundle\Repository\Node\UserRepository'
        - '@security.helper'
        - '@translator'
        - '@Chamilo\CoreBundle\Helpers\AccessUrlHelper'
      tags:
        - { name: doctrine.orm.entity_listener, entity_manager: default, lazy: true }

    Chamilo\CoreBundle\Entity\Listener\UserRelUserListener:
        tags:
            - {name: doctrine.orm.entity_listener, entity_manager: default, lazy: true}

    Chamilo\CoreBundle\Entity\Listener\SkillRelUserListener:
        arguments:
            - '@Chamilo\CoreBundle\Settings\SettingsManager'
            - '@router'
            - '@translator'
        tags:
            - {name: doctrine.orm.entity_listener, entity_manager: default, lazy: true}

    Chamilo\CoreBundle\Entity\Listener\LanguageListener:
        tags:
            - { name: doctrine.orm.entity_listener, entity_manager: default, lazy: true }

    Chamilo\CoreBundle\Entity\Listener\AccessUrlListener:
        tags:
            - { name: doctrine.orm.entity_listener, entity_manager: default, lazy: true }

    Chamilo\CoreBundle\EventListener\MessageStatusListener: ~

    Chamilo\CoreBundle\Entity\Listener\ResourceLinkListener:
      tags:
        - { name: doctrine.orm.entity_listener, entity_manager: default, lazy: true }

    Chamilo\CoreBundle\EventListener\UserRelCourseVoteListener:
      tags:
        - { name: doctrine.orm.entity_listener, event: postPersist, entity_manager: default, lazy: true }
        - { name: doctrine.orm.entity_listener, event: postUpdate, entity_manager: default, lazy: true }

    Chamilo\CoreBundle\EventListener\UserAuthSourceListener:
        tags:
            - name: kernel.event_listener
              event: Symfony\Component\Security\Http\Event\CheckPassportEvent

    Chamilo\CoreBundle\EventListener\UserAccessUrlListener:
        tags:
            - name: kernel.event_listener
              event: Symfony\Component\Security\Http\Event\CheckPassportEvent
