# Settings parameters that will be used in the 'services' section
services:
    _defaults:
        autowire: true
        public: true
        autoconfigure: true

    chamilo_core.translation.loader.po:
        class: Symfony\Component\Translation\Loader\PoFileLoader
        tags:
            - {name: translation.loader, alias: po}

    Chamilo\CoreBundle\:
        resource: '../../*'
        exclude: '../../{Repository,Tool,Admin,Block,Component,Composer,DependencyInjection,EventListener,Form,Framework,Menu,Migrations,Settings,ChamiloCoreBundle.php,Entity,Tests}'
        public: true

    Chamilo\CoreBundle\Controller\:
        resource: '../../Controller'
        tags: ['controller.service_arguments']

    Chamilo\CoreBundle\Hook\HookFactory: ~

    Chamilo\CoreBundle\Controller\ResourceController:
        arguments:
            - '@Chamilo\CoreBundle\Repository\ResourceFactory'

    Chamilo\CoreBundle\DataPersister\MessageDataPersister:
        arguments: ['@api_platform.doctrine.orm.data_persister']

    Chamilo\CoreBundle\DataPersister\UserRelUserDataPersister:
        arguments: ['@api_platform.doctrine.orm.data_persister']

    # Form types
    # Custom yes/no form type, use in the platform settings
    Chamilo\CoreBundle\Form\Type\YesNoType:
        tags:
            - {name: form.type, alias: yes_no}

    # html editor
    Chamilo\CoreBundle\Component\Editor\CkEditor\CkEditor:
        arguments: ['@translator', '@router']

    Chamilo\CoreBundle\Component\Utils\AssetDirectoryNamer: ~
    Chamilo\CoreBundle\Component\Utils\NameConvention: ~
    Chamilo\CoreBundle\Component\Utils\Glide:
        arguments:
            - {source: '@oneup_flysystem.resource_filesystem', cache: '@oneup_flysystem.resource_cache_filesystem'}
            - '%glide_media_filters%'

    Chamilo\CoreBundle\Component\Utils\GlideAsset:
        arguments:
            - {source: '@oneup_flysystem.asset_filesystem', cache: '@oneup_flysystem.asset_cache_filesystem'}
            - '%glide_media_filters%'

    # Check if users are online
#    chamilo_core.listener.online:
#        class: Chamilo\CoreBundle\EventListener\OnlineListener
#        arguments: [@security.context, @doctrine.orm.entity_manager ]
#        tags:
#            - {name: kernel.event_listener, event: kernel.controller, method: onCoreController}

    Chamilo\CoreBundle\Repository\AssetRepository: ~

    Chamilo\CoreBundle\Twig\SettingsHelper:
        arguments:
            - '@chamilo.settings.manager'
        tags:
            - {name: templating.helper, alias: chamilo_settings}
