#content3 #primary {
	font-size:200%;
}
#content3 #primary .secondary {
	font-size:80%;
}
#corp {
    font:normal 80% 'Chelsea Market', Tahoma, Geneva, sans-serif;    
}
#corp a {
	font: bold 100% 'Chelsea Market',Arial, sans-serif, sans;
}
#corp #content2 #main2 h2 {
	font:bold 110% 'Chelsea Market',Arial, sans-serif, sans;
}
#academic {
	font-family:normal 85% 'Chelsea Market',trebuchet, verdana, Arial, sans-serif, sans;
}
#academic a {
	font: bold 100% 'Chelsea Market',Arial, sans-serif, sans;
}
#baby {
	font:normal 85% 'Chelsea Market','Lucida Grande', verdana, Arial, sans-serif, sans;
}
#baby a {
	font: bold 100% 'Chelsea Market',Arial, sans-serif, sans;
}
#baby #content2 #main2 h2 {
	font:bold 110% 'Chelsea Market',Arial, sans-serif, sans;
}
