{% block content %}
    {% autoescape false %}
        {% for item in data %}
            <div class="card">
                <div class="card-body">
                    <h4>{{ item.title }}</h4>
                    <div class="float-right">
                        <div class="btn-group btn-group-sm">
                            {{ item.tools }}
                        </div>
                    </div>
                    {{ item.description }}
                    {{ item.children }}
                </div>
            </div>

        {% endfor %}
    {% endautoescape %}
{% endblock %}