{% autoescape false %}
    {% if legacy_breadcrumb is not defined %}
        {% set legacy_breadcrumb = '' %}
    {% endif %}

{#    {% if legacy_breadcrumb %}#}
{#        <nav aria-label="breadcrumb">#}
{#            <ol class="breadcrumb">#}
{#                {% for item in legacy_breadcrumb %}#}
{#                    <li class="breadcrumb-item" aria-current="page">#}
{#                        <a href="{{ item.url }}">#}
{#                            {{ item.name }}#}
{#                        </a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ol>#}
{#        </nav>#}
{#    {% endif %}#}

    {# course and session variables are set in the src/CourseBundle/EventListener/CourseListener.php #}
{#    {{#}
{#        sonata_block_render_event(#}
{#            'breadcrumb',#}
{#            {#}
{#                'context': 'chamilo_core.block.breadcrumb',#}
{#                'course': course,#}
{#                'session': session,#}
{#                'legacy_breadcrumb': legacy_breadcrumb,#}
{#                'current_uri': app.request.requestUri#}
{#            }#}
{#        )#}
{#    }}#}
{% endautoescape %}

