{% extends '@ChamiloCore/Layout/layout_one_col.html.twig' %}
{%- block content %}

    {%- autoescape false %}
    <div class="flex flex-row">
        <div class="w-2/5">
            {{ left }}
        </div>
        <div class="w-3/5">
            {{ right }}
        </div>
    </div>
    {% endautoescape %}
{% endblock -%}
