{% extends "@ChamiloCore/Layout/base-layout.html.twig" %}
{# overrides everything inside body no-footer no-header #}
{% block chamilo_wrap %}
    {%- autoescape %}
        {%- include '@ChamiloCore/Layout/vue_setup.html.twig' %}
    {% endautoescape -%}
    {% autoescape false %}
        <section id="sectionMainContent" class="section-content">
            {%- block content %}
                {{ content }}
            {% endblock -%}
        </section>
    {% endautoescape %}
{% endblock %}

{% block chamilo_footer %}
{% endblock %}
