{% autoescape false %}
{% if app.environment != 'test' %}
    <div class="sidebar">
        <nav class="sidebar-nav">
{#            {% set menu = knp_menu_get('menuApp') %}#}
{#            {{ knp_menu_render(menu, {'ancestorClass': 'current_open open', 'template': '@ChamiloCore/Menu/left_menu.html.twig'}) }}#}
         </nav>
    </div>
{% endif %}
{% endautoescape %}