<script>
window.config = {{ config_json | raw }};
window.user = {{ user_json | raw }};

{% if legacy_breadcrumb is defined %}
window.breadcrumb = {{ legacy_breadcrumb | raw }};
{% else %}
window.breadcrumb = '';
{% endif %}
</script>

<div id="app" data-flashes="{{ app.flashes()|json_encode }}">
</div>
