/* Styles that should disappear */
.row {
	width:100%;
}
div.row div.label {
	width: 0%;
}
div.row div.formw {
	width: 100%;
}
/* Redefining html styles */
body {
	/* hack ignored by non-IE to enable ie to support :hover on button */
        behavior:url("/main/css/csshover3.htc");
	font-family: bold arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-image:url(images/shadow.gif);
}
img {
	border: none;
}
a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color : #4171b5;
}
a:visited {
	color : #4171b5;
}
a:hover {
	color: #000915;
}
a:active {
}
input, input[type=file], select, textarea {
	border:1px solid #4171b5;
	padding:1px 2px;
}
input[type=button], input[type=submit] {
	border:1px solid #4171b5;
	background:#F0F0F0;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#4171b5;
}
/* header 1 styles */ 
#header {
	background-color: #4171b5;
	color: #b0c8eb;
	font-weight: bold;
}
#header1 {
	padding-left: 30px;
}
#header1 a {
	color: #d6e3f5;
	text-decoration: none;
}
#header1 a:hover {
}
#my_courses {
	float: right;
	font-weight: bold;
}
#header1 img {
	border: 0px;
}
/* header 2 styles */ 
#header2 {
	float: right;
	clear: right;
}
#header2 a {
	color: #d6e3f5;
	text-decoration: none;
}
#header2 a:hover {
}
#Header2Right ul {
	float: right;
	list-style-type: none;
	text-align: right;
	margin: 0;
	padding: 0;
}
#Header2Right ul li {
	display: inline;
}
#Header2Right ul li a {
}
#Header2Right ul li a:hover {
}
/* header 3 styles */ 
#header3 {
	border-bottom: 1px solid #aeaeae;
	height:auto;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
#header3 ul {
	list-style:none;
}
#header3 li {
	display:inline;
	cursor: pointer;
}
#header3 a {
	color: #d6e3f5;
	float:left;
	text-decoration:none;
	cursor: pointer;
	padding-right: 1px;
	height:25px;
}
#header3 li a:hover {
	float:left;
	text-decoration:none;
	cursor: pointer;
}
#header3 li a span {
	float:left;
	cursor: pointer;
	padding-right: 10px;
	padding-top: 5px;
	height:20px;
}
#header3 li a:hover span {
	float:left;
	cursor: pointer;
}
#header3 #current a {
	color: #fff;
	float:left;
	text-decoration:none;
}
#header3 #current a span {
	float:left;
}
#logout li a {
	display: inline;
	float: right;
	vertical-align:top;
	margin-right:5px;
	text-decoration:none;
}
#logout li a:hover {
	float: right;
	vertical-align:top;
	text-decoration:none;
	margin-right:5px;
}
#logout li a span {
	float:left;
	cursor: pointer;
}
#logout li a:hover span {
}
/* header 4 styles */ 
#header4 {
	background-color: #fff;
	height: 21px;
}
a.breadcrumb {
	height: 21px;
	color: #4171b5;
}
a.breadcrumb0 {
	background:url(images/home.gif) no-repeat;
	padding-left: 22px;
}
/* footer styles */
#footer {
	background: #4171b5 url('images/bg.jpg') no-repeat 50% 100%;
	color: #b0c8eb;
	padding: 82px 0 .8em 2%;
	border-bottom: 1px solid #4171b5;
}
#footerright {
	margin-top: 10px;
	float: right;
	margin-right:20px;
}
#footerleft {
	padding-top: 10px;
}
#footer a {
	color: #FFFFFF;
}
/* main styles */
#main {
	padding-left: 30px;
	position: relative;
	min-height: 320px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
}
/* my courses styles */
#maincontent {
	float: left;
	width: 80%;
	min-height: 333px;
	margin-top:0;
	float: right;
	clear: right;
}
.coursestatusicons {
	border: 0px solid #000;
	float: left;
	padding-right: 5px;
	width: auto;
}
.courseslist {
	margin-left: -25px;
}
.courses {
	list-style-type: none;
	margin-bottom: 5px;
}
.courses a {
	text-decoration:underline;
}
.user_course_category {
	background-color: #efefef;
	border: 1px solid #666;
	font-weight: bold;
	color: #666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
.menu {
	background: url('images/bglogin.jpg') repeat-y top center;
	float: left;
	clear: left;
	width: 215px;
	border: 1px solid #b0c8eb;
	margin: 0 0 1em 0;
	padding: 0 0 .3em 0;
	/* min-height hack for ie6 or older*/
	min-height: 320px;
	height: auto !important;
	height: 320px;
}
.menu #lang_form select {
	margin: 1em 31px;
}
.menu form {
	color: #000915;
	font-weight: bold;
	margin-bottom: .8em;
	text-align: center;
}
.menucaption {
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
}
.menusection {
	width: 100%;
	margin: .3em 0 .3em 0;
	padding-left: 3px;
}
.menusectioncaption {
	font-weight:bold;
	position: relative;
}
.menulist {
	list-style: none;
	padding: 0;
}
.note {
	width: auto;
	margin: 24px 6px 0 6px;
	padding: 3px;
	border: 2px outset;
	border-color:#4171b5;
}
/* form styles */
.form {
	width: 75%;
	float: 'left';
}
form div.row {
	clear: both;
	padding-top: 5px;
}
.form_header {
	white-space: nowrap;
	padding: 2px;
	background-color: #f0f0f0;
	border: 1px solid #bbb;
	font-weight: bold;
}
form div.row div.label {
	float: left;
	width: 18%;
	text-align: right;
}
form div.row div.formw {
	width: 80%;
	float:left;
}
[dir=ltr] form div.row div.label, [dir=rtl] form div.row div.formw {
	float: left;
	text-align: right;
}
[dir=rtl] form div.row div.label, [dir=ltr] form div.row div.formw {
	float: right;
	text-align: left;
}
form span.form_required {
	color: #f00;
}
form span.form_error {
	color: #f00;
	font-size: x-small;
	margin: 2px;
}
/* feedback messages */
.confirmation-message, .error-message, .normal-message, .warning-message {
	position: relative;
	border: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 6px;
	width: 98%;
	color: #00407F;
 //This image is wrong size, so is commented until one solution  //background: transparent url('images/alert.jpg') no-repeat 10px 5px;
	font: bold 110% Arial, sans-serif, sans;
	min-height: 30px;
}
.confirmation-message img, .error-message img, .normal-message img, .warning-message img {
	position: realtive;
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
}
.confirmation-message .bottom-link, .error-message .bottom-link, .normal-message .bottom-link, .warning-message .bottom-link {
	position: absolute;
	bottom: 0.2em;
	right: 0.5em;
}
/* other styles */
.clear {
	clear: both;
	line-height: 0px;
	height: 0;
}
/* actions */
.actions_lp {
	background:#F8F8F8;
	border-bottom:1px solid #4171b5;
	border-top:1px solid #4171b5;
	height:29px;
	padding-left: -17px;
	margin: 5px 2px 1px 12px;
	vertical-align:middle;
	width: 90%;
}
.actions_lp img {
	vertical-align:middle;
}
.actions_lp a {
	margin-right: 10px;
	vertical-align:middle;
}
.actions_lp span {
	margin-right: 10px;
	vertical-align:middle;
}
.actions_lp form {
	margin-right: 10px;
	vertical-align:middle;
}
.actions {
	background:#efefef;
	border-bottom:1px solid #4171b5;
	border-top:1px solid #4171b5;
	/*height:35px;*/
	padding:2px;
	margin-bottom: 5px;
	/*background:url(images/actions.jpg) repeat-x;*/
	vertical-align:middle;
}
.actions img {
	/*display:inline-block;*/
	border: none;
	text-decoration: none;
	background-color: #efefef;
	padding-right: 5px;
	vertical-align:middle;
}
.actions a {
	display:inline-block;
	margin-right: 10px;
	vertical-align:middle;
}
.actions span {
	margin-right: 10px;
	vertical-align:middle;
}
.actions form {
	margin-right: 10px;
	vertical-align:middle;
}
/* big actions */
.actionsbig {
	background:#F8F8F8;
	border-bottom:1px solid #4171b5;
	border-top:1px solid #4171b5;
	background-color:#efefef;
	height:100%;
	padding:2px;
	margin-bottom: 5px;
	vertical-align:middle;
	float:left;
	width:100%;
}
.actionsbig a {
	float:left;
	padding-left:6px;
	padding-right:12px;
	text-align:center;
}
.actions img {
	vertical-align:middle;
}
.actions a {
	margin-right: 10px;
	vertical-align:middle;
}
.actions-title {
	background:#efefef;
	border-bottom:1px dotted #999999;
	border-top:1px dotted #999999;
	/*height:35px;*/
    padding:4px;
	margin-bottom: 5px;
	font-size:14px;
	font-weight:bolder;
	/*background:url(images/actions.jpg) repeat-x;*/
    vertical-align:middle;
}
.actions-message {
	white-space: nowrap;
	padding: 2px;
	background-color: #f0f0f0;
	border: 1px solid #bbb;
}
/* styles for the profile page */
.profile_image {
	float: right;
	margin-right: 20px;
}
.profile_form {
	float: left;
	width: 75%;
}
/* course introduction */
#courseintrocenter {
	position: relative;
	width: 80%;
	margin: 25px auto 10px;
}
#courseintro_iconscenter {
	position: relative;
	width: 80%;
	margin: 0px auto 10px;
}
#courseintroleft {
	position: relative;
	width: 80%;
	margin-bottom: 5px;
}
#courseintro_iconsleft {
	position: relative;
	width: 80%;
}
/* styles for the agenda */
#agenda {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}
/* The cells with the name of the days of the weeks (mon->sun)*/
.weekdays {
	background-color: #dcdcdc;
	text-align: center;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}
/* The cells for the days (1->31) */
.days_week {
	height: 40px;
	width: 12%;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	background-color: #f9f9f9;
}
.days_weekend {
	height: 40px;
	width: 12%;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	background-color: #eaeaea;
}
.days_today {
	height: 40px;
	width: 12%;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	background-color: #FFCA8D;
	color: #CC3300;
	font-weight: bold;
}
.agenda_month_divider {
	background-color: #666;
	color: #fff;
	text-align: center;
}
/*The caption of the calendar (displays the month and the << and >> links*/
#agenda_list .title {
	background-color: #680157;
	color: #fff;
	text-align: left;
	padding: 2px 10px;
	text-align: center;
	border: 1px solid #bbb;
}
#agenda_list .title a:link, #agenda_list #title a:visited {
	color: #fff;
	padding: 2px 10px;
	text-align: center;
}
#agenda_list .title a:hover {
	color: #B70297;
	padding: 2px 10px;
	text-align: center;
}
/* text in the cells: display of agenda items (visible)*/
#agenda_list .data {
	background-color: #eee;
	text-align: left;
	padding: 2px 10px;
	font-weight: bold;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
}
#agenda_list .datanotbold {
	background-color: #eee;
	text-align: left;
	padding: 2px 10px;
	font-weight: normal;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
}
#agenda_list .text {
	background-color: #fff;
	text-align: left;
	padding: 2px 10px;
	font-weight: normal;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
}
/*text in the cells: display of agenda items (invisible)*/
#agenda_list .data_hidden {
	background-color: #eee;
	text-align: left;
	padding: 2px 10px;
	font-weight: bold;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
	color: #999999;
}
#agenda_list .datanotbold_hidden {
	background-color: #eee;
	text-align: left;
	padding: 2px 10px;
	font-weight: normal;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
	color: #999999;
}
#agenda_list .text_hidden {
	background-color: #fff;
	text-align: left;
	padding: 2px 10px;
	font-weight: normal;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
	color: #999999;
}
/*text in the cells: display of agenda items (highlighted)*/
#agenda_list .datanow {
	background-color: #FFCC00;
	text-align: left;
	padding: 2px 10px;
	font-weight: bold;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
}
#agenda_list .datanotboldnow {
	background-color: #FFCC00;
	text-align: left;
	padding: 2px 10px;
	font-weight: normal;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
}
#agenda_list .textnow {
	background-color: #fff;
	text-align: left;
	padding: 2px 10px;
	font-weight: normal;
	border: 0px solid #dcdcdc;
	border-collapse: collapse;
}
.personal_agenda {
	color: #008000;
}
.personal_agenda a:link, .personal_agenda a:visited {
	color: #008000;
}
a.personal_agenda:link, a.personal_agenda:visited {
	color: #008000;
}
.personal_agenda a:hover, .personal_agenda a:hover {
	color: #B70297;
}
a.personal_agenda:hover, a.personal_agenda:hover {
	color: #B70297;
}
/* Login form */
#formLogin div {
	margin-bottom: 3px;
}
#formLogin div input[type=submit] {
	width: 109px;
}
/* normal table*/
.normal_table {
	margin: 3px;
	border-collapse: collapse;
	width: 98%;
	padding: 5px;
}
/* Data table */
.data_table {
	margin: 3px;
	border-collapse: collapse;
	width: 100%;
	padding: 5px;
}
.data_table th {
	text-transform: capitalize;
	padding: .2em;
	background: #8cafe1 url('images/crystal3.png') repeat-x;
	color: #fff;
	border-right: 1px solid #fff;
}
.data_table th a {
	color: #fff;
	text-decoration:none;
}
.data_table th a:hover {
	color: #d6e3f5;
}
.data_table tr.row_odd {
	border-right: 1px solid #fff;
	background: #dfecff;
	padding: .2em;
	color: #00122B;
	margin: 0;
}
.data_table tr.row_odd:hover, .data_table tr.row_even:hover {
	background-color: #8cafe1;
}
.data_table tr.row_even {
	border-right: 1px solid #fff;
	background: #d6e3f5;
	padding: .2em;
	color: #00122B;
	margin: 0;
}
.data_table td {
	padding: 5px;
	vertical-align: top;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
}
/*  sections in the page */
.sectiontitle {
	background-color: #EFEFEF;
	border: 1px solid #4171b5;
	font-weight: bold;
	color: #4171b5;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
.sectioncomment {
	color: #000000;
	margin: 5px;
	padding: 5px;
}
.sectionvalue {
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
/* invisible styles */
a.invisible {
	color: #999999;
}
a.invisible:visited {
	color: #999999;
}
a.invisible:active {
	color: #999999;
}
a.invisible:hover {
	color: #999999;
}
/* Platform Administration */
div.admin_section {
	width: 40%;
	float: left;
	padding: 5px;
	margin: 10px 20px;
}
div.admin_section h4 {
	background-color: #EFEFEF;
	border: 1px solid #4171b5;
	font-weight: bold;
	color: #4171b5;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
/* course homepage */
.courseadminview, .platformadminview {
	position: relative;
	width: 80%;
	margin: 25px auto 10px;
	padding: 10px;
	border: 1px solid #0049AF;
}
.courseadminview img, .platformadminview img {
	display:inline-block;
	border: none;
	text-decoration: none;
	background-color: #fff;
	padding-right: 5px;
	vertical-align:middle;
}
.viewcaption {
	position: relative;
	top: -20px;
	font-weight: bold;
	background-color: #fff;
	padding: 0 4px;
}
.tool-icon {
	margin-bottom: -3px;
}
/* learning path */
table.lp_build {
	height:400px;
	width:100%;
}
table.lp_build td {
	vertical-align:top;
}
table.lp_build td.tree {
	border-right:1px solid #999999;
	width:240px;
}
table.lp_build td.workspace {
	padding: 0px;
	padding-left:5px;
	width:auto;
}
table.lp_overview {
	width:100%;
}
table.lp_overview td {
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	height:20px;
	padding:3px;
	vertical-align:middle;
	width:auto;
}
table.lp_overview td.title {
	width:200px;
}
table.lp_overview td.actions {
	text-align:center;
	width:100px;
}
table.lp_overview td.move {
	text-align:center;
	width:50px;
}
table.lp_overview th {
	background:#FFFFFF;
	padding-left:3px;
	text-align:center;
}
table.lp_overview tr {
	background:#F8F8F8;
}
table.lp_overview tr:hover {
	background:#E5EDF9;
}
table.lp_overview img {
	margin-left:3px;
}
table.lp_prerequisites th {
	background:#F8F8F8;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
}
.lp_mediaplayer {
	float: right;
	padding-top: 3px;
	margin-right: 5px;
}
div.lp_manipulate {
	background:#F8F8F8;
	border-bottom:1px dotted #999999;
	margin-bottom:0px;
	padding:3px 0 3px 10px;
}
div.lp_manipulate a {
	padding-right:10px;
}
div.lp_resource_header {
	background:#F0F0F0;
	border:1px solid #999999;
	font-weight:bold;
	padding:10px;
	width:350px;
	cursor:pointer;
	margin-top: -1px;
}
div.lp_resource_elements {
	background:#FAFAFA;
	border:1px solid #999999;
	display:none;
	padding:5px 10px;
	width:350px;
	margin-top: -1px;
}
.learnpath_chapter_form {
	width: 300px;
}
.learnpath_item_form {
	width: 300px;
}
#learnpath_preview_frame {
	margin-top: 5px;
	border:1px solid #CCCCCC;
	height:490px;
	width:95%;
}
/* exercices styles */
.exercice_form {
	width: 300px;
}
#validationButton {
	text-decoration: none;
	margin: 5px;
	border:1px solid #999999;
	background:#F0F0F0;
	padding: 3px;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#666;
}
.exercise_scenario_label {
}
.exercise_scenario_element {
}
span.checkbox {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
span.radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/radio.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
/* forum styles */
.forum_header {
	background: #f3f3f3;
	font-weight: bold;
}
.forum_message_left {
	width: 150px;
	vertical-align: top;
	/*border-bottom: 1px solid #666666;*/
	border-right: 1px solid #aaa;
	background-color: #F7F7F7;
}
.forum_message_post_title {
	border-bottom: 1px solid #aaa;
	font-weight: bold;
	background-color: #F7F7F7;
	height: 20px;
}
.forum-thread-header {
	color: #000000;
	background-color: #F7F7F7;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}
.forum-thread-body {
	color: #000000;
	background-color: #FFFFFF;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}
/* Survey styles */
#survey_title {
	background-color:#dcdcdc;
	color:#000;
	padding:2px;
}
#survey_subtitle {
	background-color:#dcdcdc;
	color:#000;
	padding:2px;
}
.survey_content {
	background-color:#EFEFEF;
	color:#264269;
	padding:5px;
	border: 1px solid #999;
}
.survey_question_wrapper {
	border: 1px solid #999;
}
.survey_question {
	/* 264269 4271b5 E5EDF9 */
	background-color:#f0f0f0;
	color:#999;
	padding:5px;/*border: 1px solid #264269;*/
}
.survey_question_options {
	/* 264269 4271b5 E5EDF9 */
	background-color:#FFF;
	color:#000;
	padding:5px;/*border: 1px solid #264269;*/
}
/* Blog */
.blog_menu {
	border-bottom: 1px dashed #dddddd;
	border-right: 1px dashed #dddddd;
	border-left: 1px dashed #dddddd;
	padding: 10px;
}
.blogpost {
	border: 1px solid #DDDDDD;
	background-color: #ECECEC;
	margin-bottom: 15px;
	padding: 10px;
}
.blogpost_title {
	display: block;
	font-weight: bold;
	padding-bottom: 5px;
}
.blogpost_date {
	display: block;
	font-weight: bold;
	color: #333333;
	padding-bottom: 10px;
}
.blogpost_info {
	display: block;
	color: #333333;
	border-top: 1px solid #dddddd;
	margin-top: 5px;
}
.blogpost_comment {
	border-top: 1px dashed #dddddd;
	border-right: 1px dashed #dddddd;
	border-bottom: 1px dashed #dddddd;
	border-left: 1px dashed #dddddd;
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
}
.blogpost_comment_title {
	display: block;
	font-weight: bold;
	color: #1657A9;
	padding-bottom: 5px;
}
.blogpost_comment_date {
	display: block;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	padding-bottom: 10px;
}
.blogpost_comment_info {
	font-size: 10px;
	display: block;
	color: #333333;
	border-top: 1px solid #dddddd;
	margin-top: 10px;
}
.blogpost {
	border: 1px solid #DDDDDD;
	background-color: #ECECEC;
	margin-bottom: 15px;
	padding: 10px;
}
.comments {
	border: 1px solid #dddddd;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	background-color: #F4F4F4;
}
/* tabbed menu */
#tabbed_menu {
	border: 1px solid #4171b5;
	background: transparent url('images/dropbox.jpg') no-repeat top left;
	width: 300px;
	margin: 0 0 1em 0;
}
#tabbed_menu_tabs {
	width: 90%;
	margin: 15px .2em 0 .2em;
	padding: 0;
	list-style-type: none;
}
#tabbed_menu_tabs li {
	padding: 0;
	margin: 0 .8em;
}
/* system announcements */
div.system_announcement {
	padding: .2em;
	background-color: #d6e3f5;
	border: 1px solid #002D6D;
	color: #002D6D;
}
.system_announcement {
	background: #8cafe1 url('images/crystal3.png') repeat-x;
	font: bold 100% arial, sans-serif, sans;
	color: #fff;
}
.system_announcement a {
	color: #d6e3f5;
}
.system_announcement a:hover, .system_announcement a:focus {
	color: #fff;
}
.system_announcement_content {
	font: normal 100% 'Lucida Grande', verdana, Arial, sans-serif, sans;
}
.system_announcements {
	background: transparent url('images/systemenouvelles.jpg') no-repeat top  left;
	padding-top: 30px;
	width: 50%;
}
.system_announcements h3 {
	text-align: center;
}
.system_announcement_title {
	color: #fff;
}
#image_preview {
	text-align:center;
	padding-left: 17px;
}
.skip {
	display: none;
}
/* Specific forms: profile,add course,advanced search,advanced course search,etc.. */
#add_course, #profile, #advanced_course_search, #advanced_search, #category, #course_user_import, #export_users, #update_course, #user_add, #user_import {
	border: 1px solid #0049AF;
	background: transparent url("images/headerform.jpg") no-repeat top left;
	width: 550px;
	position: relative;
	padding: 60px 0 1em 0;
}
/* Glossary tool */
.glossary-term {
	margin: 1em;
	background-color: #ffe99b;
	padding: 0.5em 0.5em 1.8em 0;
	-moz-border-radius: 0.5em;
}
.glossary-term-title {
	margin: 2em 0 1em 0.5em;
	font-weight: bold;
	font-size: 120%;
}
.glossary-term-desc {
	margin-left: 1em;
}
.glossary-term-action-links {
	float: right;
}
.glossary-term-edit-form {
	margin: 1em;
	background-color: #FFE4C4;
	padding: 0.5em 0.5em 2em 0;
	-moz-border-radius: 0.5em;
}
.glossary-term-edit-desc {
	font-weight: bold;
	font-size: 120%;
}
.glossary-term-edit-title {
	font-weight: bold;
	font-size: 120%;
}
.glossary-add-form {
	font-weight: bold;
	font-size: 120%;
	margin: 1em;
}
.glossary-orderby-link {
	float:right;
	margin: 1em;
}
.glossary-msg-error {
	color: #FF0000;
	display :none;
	font-weight: normal;
	font-size: 80%;
}
/* Notebook */
.notebook-add-form {
	margin: 1em;
	background-color: #c3d9ff;
	padding: 1em 1em;
}
.notebook-add-desc-textarea {
	background-color: #f2f5f8;
	border-color: #ffe99b;
	overflow: hidden;
}
.notebook-add-title-text {
	background-color: #f2f5f8;
	border-color: #ffe99b;
}
.notebook-edit-desc-textarea {
	background-color: #e0ecff;
	border-color: #ffe99b;
	overflow: hidden;
}
.notebook-edit-title-text {
	background-color: #e0ecff;
	border-color: #ffe99b;
}
.notebook-msg-error {
	color: #FF0000;
	display :none;
	background-color: #ffe99b;
	width: 40%;
}
.notebook-list {
	margin: 1em 1em 0em 1em;
	background-color: #79b;
	padding: 0.3em 0.3em;
	-moz-border-radius: 0.5em;
}
.notebook-title-list {
	color : #fff;
	padding: 0.3em 0.3em;
	font-weight: bold;
	font-size: 120%;
}
.notebook-desc-list {
	margin: 0em;
	background-color: #f2f5f8;
	padding: 0.5em 0.3em 2em 0.3em;
	border: 1px solid #79b;
}
.notebook-term-action-links {
	padding: 0.3em 0.3em;
	width: 50%;
	color : #fff;
}
.notebook-orderby-link {
	text-align:right;
	margin-right: 1em;
}
.notebook-search-title {
	text-align:right;
	margin: 1em;
}
.notebook-date-information {
	color : #fff;
	padding: 0.3em;
	font-size: 120%;
	font-weight: bold;
}
/*NAVIGATION MENU BAR*/


.menucaption {
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
}
.menusection {
	width: auto;
	margin: 24px 6px 0 6px;
	padding-left: 10px;
	border: 1px solid #4171B5;
}
.menusectioncaption {
	position: relative;
	top: -9px;
	background-color: #E5EDF9;
	font-size: 12px;
	padding: 0 8px 0 4px;
}
.menulist {
	list-style: none;
	margin: 0 0 12px 0;
	padding: 0;
}
#centerwrap {
	float: left;
	width: 100%;
	margin-right: -95%;/* this needs to be less than 100% for Moz/Mac which thinks
         it's empty otherwise. The difference is made up by putting a
         negative left margin on the left float:
	   Note IE/Mac doesn't like this method ~ it wants the 100% so it can
	   be fed in using IE only CSS below becasue IE/Win also works with the 100% method.
	*/
}
#center {
	margin: 0 190px 0 0;
	padding: 10px 0 40px 0;
	min-height: 300px;
}
#toolnav {
	float: right;
	width: 180px;
	padding: 0;
	margin: 0;
	margin-left: -5%; /* the difference to make the left colum appear flush left */
}
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html #toolnav {
	margin-right: 0px;
}
* html #center {
	height: 1%;
	margin-left: 0;
}
/* End hide from IE5/mac */



/* --- course navigation menu as a definition list  --- */
#swap_menu_link {
	float: left;
}
#toolnavbox {
	margin: 0 0 0 10px;
	padding: 0;
	float: left;
	border: 1px solid #4271b5;
}
#toolnavbox dl {
	width: 160px;
	margin: 0 auto;
	padding: 0;
	background: transparent;
	font-size: 12px;
	text-align: center;
}
#toolnavbox dt {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: #000;
	border-bottom: 1px solid #fff;
	background: transparent;
}
#toolnavbox dd {
	margin: 0;
	padding: 0;
	color: #009;
	text-align: left;
	border-bottom:1px solid #fff;
	background: #E5EDF9;
}
#toolnav img {
	float: left;
	width: 25px;
	height: 25px;
	margin: 0 4px 0 0;
}
#toolnavlist a, #toolnavlist a:link {
	background: #E5EDF9;
	color: #4171b5;
	padding: 5px 5px 5px 10px;
	margin: 0;
	text-decoration: none;
	display: block;
}
#toolnavlist a:hover {
	background: #fff;
	color:#4171b5;
}
#toolnavlist a#here {
	background: #fff;
	color:#4171b5;
}
/* --- end of course navigation menu section  --- */


/**********************************************
 *  MESSAGE TOOL                           *
 **********************************************/

/* styles from the new_message.php file */

.message_view_table {
	cellspacing:0;
	cellpadding:0;
	background-color:#dbeaf5;
 border=0;
	border-collapse: collapse;
	width: 100%;
}
.message_view_table th {
	padding-right: 12px;
	border: 1px solid gray;
	background-color: #f0f0f0;
}
.message-select-box {
	float:left;
	width:350px;
	display:inline;
	position:absolute;
	margin-top:20px;
	margin-left:32px;
}
/* styles from the my.profile.php file */
.message-content {
	float:right;
	margin:20px auto;
	background:#F5E38E;
	border:2px solid #EBCA4F;
	padding:10px;
	width:200px;
	position:relative;
}
.message-content .message-delete {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.message-content-internal {
	display:inline;
	margin:20px auto;
	background:#F5E38E;
	border:2px solid #EBCA4F;
	padding:10px;
	width:100px;
	position:relative;
	margin-top:150px;
	margin-right:-100px;
}
.message-title {
	color:#ff0000;
	font-size:15px;
}
.message-body {
	font-size:11px;
	padding: 0 0 11px;
	color:#333;
}
.message-link {
	color:#ff8400;
}
.message-view {
	float:right;
	margin:20px auto;
	background:#F5E38E;
	border:2px solid #EBCA4F;
	padding:10px;
	width:100px;
	position:relative;
	margin-top:115px;
	margin-right:-100px;
}
.message-content-table {
	background-color:white;
	border:1px solid black;
	position:absolute;
	width:200px;
	height:60px;
	z-index:3;
	visibility:hidden;
	top:85px;
	left:10px;
	margin: 0px;
	padding: 0px;
}
.message-top-title {
	float:left;
	margin-top:1px;
	margin-bottom:1px;
	background-color:#F2F2F2;
	width:600px;
	border-bottom:1px solid #CCCCCC;
 margin:left:5px;
}
.message-bottom-title {
	height:22px;
	float:left;
	margin-top:1px;
	margin-bottom:1px;
	background-color:#F2F2F2;
	width:600px;
	border-bottom:1px solid #CCCCCC;
}
.message-content-body-left {
	float:left;
	width:55%;
}
.message-content-body-right {
	float:right;
	text-align:left;
	width:45%;
}
.message-body-title {
	float:right;
	margin-top:1px;
	margin-bottom:5px;
	border-bottom:1px solid #CCCCCC;
	border-collapse:collapse;
}
.message-image-info {
	width:35%;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	text-align:left;
	margin-right:20px;
}
.message-content-body-right dd {
	color:#333399;
	border-bottom:1px solid #CCCCCC;
	height:20px;
	text-decoration:none;
	outline-style:none;
	background:#ffffff;
}
.message-content-body-right:hover {
}
/**********************************************
 *  EXERCISE TOOL                           *
 **********************************************/
.exercice_form {
	width: 300px;
}
#validationButton {
	text-decoration: none;
	margin: 5px;
	/*border:1px solid #999999;*/
	/*background:#F0F0F0;  */
	padding: 3px;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#666;
}
.rounded {
	background:#ccc;
	padding: 3px;
	width: 200px;
	margin-left:10px;
}
.rounded_inner {
	background:#FFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.rounded_inner:hover {
	color:#C802A5;
	background:#F0F0F0;
}
.exercise_scenario_label {
}
.exercise_scenario_element {
}
span.checkbox {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
span.radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/radio.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
#question_title {
}
#question_description {
	padding-left:5px;
	padding-top:10px;
}
#question_score {
	padding-left:5px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
}
#question_feedback {
	background-color:#FCF7BA;
	border:1px solid #CCCCCC;
	color:#666666;
	font-size:11px;
	font-weight:bold;
	list-style-type:none;
	margin-top:5px;
	padding:5px;
}
#exercise_close_link {
	background: url(images/close.gif) no-repeat;
	padding-left: 20px;
}
#exercise_close_link:hover {
	background: url(images/close_highlight.gif) no-repeat;
	padding-left: 20px;
}
/* Quizzes tool */
.quiz_export_link {
	float: right;
}
/*SOCIAL TOOL*/
div.image-social-content {
	float:left;
	border:1px solid #B8C8DC;
	margin:2px;
	padding: 8px 4px 4px 4px;
	background: #ffffff;
	height:125px;
	width:82px;
	z-index:5;
	cursor:pointer;
	position:relative;
}
div.image-social-content span {
	overflow:hidden;
	display:block;
	height:92px;
}
div.image-social-content img {
	vertical-align:middle;
}
div.image-social-content center.friend {
	overflow:hidden;
	height:30px;
}
.image-social-content .image-delete {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}
.social-title {
	color:#ffffff;
	background:#4475B0;
	border-bottom:1px dotted #4475B0;
	border-top:1px dotted #4475B0;
	padding:0px;
	margin-bottom: 0px;
	vertical-align:middle;
	font-weight:bolder;
}
.social-subtitle {
	background:#FFFFFF;
	border-bottom:1px dotted #999999;
	border-top:1px dotted #999999;
	padding:0px;
	margin-bottom: 0px;
	vertical-align:middle;
}
.social-qualify {
	border-bottom:1px solid #ece9d8;
	border-left:1px solid #ece9d8;
	background:#FFFFFF;
}
.social-qualify-display {
	border-bottom:1px solid #ece9d8;
	border-left:1px solid #ece9d8;
	background:#FFFF66;
	color:#000033;
	font-weight:bold;
}
.social-info {
	background:#B8C8DC;
	color:#4475B0;
	font-size:12px;
	font-weight:bold;
}
.social-display-image {
	float:right;
	margin-top:-130px;
	margin-right:5px;
}
.social-search-image {
	color:#000033;
	margin-top:2px;
	border-bottom:1px solid #6B6262;
	border-left:1px solid #6B6262;
	border-right:1px solid #6B6262;
	border-top:1px solid #6B6262;
	width:250px;
}
.social-subtitle-search {
	background:#ffffff;
	border-top:1px #9DACBF solid;
	border-bottom:1px #9DACBF solid;
}
.social-align-box {
	text-align:left;
	float:left;
}
.social-content-description {
	background:#ECE9D8;
}
.social-content-body {
	background:#ffffff;
}
.social-content-table {
	border-top:1px #9DACBF solid;
	border-left:1px #9DACBF solid;
	border-right:1px #9DACBF solid;
	border-bottom:1px #9DACBF solid;
}
.social-profile-info {
	width:350px;
}
.social-profile-info dt {
	text-align:left;
	clear:left;
	color:#808080;
	float:left;
	width:100px;
}
.social-profile-info dd {
	padding:1px 0px 3px 0px;
	float:left;
	margin:0;
	display : block;
	padding-left:10px;
	width:200px;
}
#social-profile-wrapper {
	width: 100%;
	text-align:left;
	margin:0 auto;
	float: left;
}
#social-profile-container {
/*width: 100%;*/
}
#social-profile-left {
	float:left;
	width:22%;
}
.left-side {
	min-width: 198px;
	margin: 0px;
}
#social-profile-content {
	float:right;
	width:48%;
}
#social-profile-right {
	float:right;
	width:30%;
}
.social-profile-post {
	width: 450px;
	background : #EFEFEF;
}
.maincourse {
	width: 100%;
	margin-left:0px;
}
.social-profile-rounded {
	background : #eee;
}
#social-profile-forum {
	padding-left:0px;
}
#social-profile-thread {
	padding-left:20px;
}
#social-post {
	padding-left:30px;
}
.actions-profile {
	font-size:14px;
	background:#efefef;
	border-bottom:1px dotted #999999;
	border-top:1px dotted #999999;
	/*height:35px;*/
    padding:2px;
	margin-bottom: 2px;
	/*background:url(images/actions.jpg) repeat-x;*/
    vertical-align:middle;
	font-weight:700;
	margin-right:2px;
}
.social-content-image {
	margin-top:4px;
	margin-right:5px;
	background:#EFEFEF;
	border-left:1px #999999 dotted;
	border-top:1px #999999 dotted;
	border-right:1px #999999 dotted;
	border-bottom:1px #999999 dotted;
}
.social-background-content {
	background:#EFEFEF;
}
.social-content-information {
	margin-left:10px;
	margin-right:10px;
}
.social-content-training {
	margin-left:10px;
	margin-right:10px;
}
.social-friend-container {
	margin-left:4px;
	margin-right:0px;
}
.social-content-competences {
	margin-left:5px;
	margin-right:5px;
}
.social-content-announcements {
	margin-left:10px;
	margin-right:10px;
}
.social-content-agenda {
	margin-left:10px;
	margin-right:10px;
}
.social-actions-message {
	white-space: nowrap;
	padding: 2px;
	background-color: #ffffff;
	border: 1px solid #bbb;
}
/*****************************************************
 *  BUTTONS	                                         *
 *****************************************************/
/* BUTTONS */
button {
	margin:0 5px 3px 3px !important;
	background-color: #DFDFDF;
	border-width: 1px;
	/*    -moz-border-radius-topright : 5px;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -moz-border-radius-bottomleft : 5px;
*/
    font-family: bold arial, verdana, helvetica, sans-serif;
	font-size: 100%;
	line-height :130%;
	text-decoration: none;
	color: black;
	cursor: pointer;
	padding:5px 15px 5px 15px;
	vertical-align:middle;
}
button:hover {
	background-color:#cbcbcb;
	color:#545454;
	border-style: inset;
}
/* button with image */
button.add, button.save, button.cancel, button.search, button.login, button.plus, button.minus, button.next, button.back {
	padding-left:30px;
	background-position:10px;
	background-repeat:no-repeat;
}
/* POSITIVE */
button.save, button.add, button.search, button.login, button.plus, button.minus, button.next, button.back {
	background-color:#E5EDF9;
	border-color: #D4E2F6;
}
button.save:hover, button.add:hover, button.search:hover, button.login:hover, button.plus:hover, button.minus:hover, button.next:hover, button.back:hover {
	border-color: #D4E2F6;
	background-color:#D4E2F6;
}
/* NEGATIVE */
button.cancel {
	background-color:#F8E8E6;
	border-color: #FFE3DE;
}
button.cancel:hover {
	border-color: #F4E1D0;
	background-color: #FFE3DE;
}
/*including "save" image*/
button.save {
	background-image:url(images/button_accept.gif);
}
/*including "add" image*/
button.add {
	background-image:url(images/button_add.gif);
}
/*including "cancel" image*/
button.cancel {
	background-image:url(images/button_delete.gif);
}
/*including "search" image*/
button.search {
	background-image:url(images/button_search.gif);
}
/*including "login" image*/
button.login {
	background-image:url(images/button_login.gif);
}
/*including "plus" image*/
button.plus {
	background-image:url(images/button_plus.gif);
}
/*including "minus" image*/
button.minus {
	background-image:url(images/button_minus.gif);
}
/*including "next" image*/
button.next {
	background-image:url(images/button_next.gif);
}
/*including "back" image*/
button.back {
	background-image:url(images/button_back.gif);
}
.icon_image_content {
	width:70px;
	cursor:hand;
	height:8em;
	text-align: center;
	padding-top: 3px;
	padding-right: 5x;
	padding-bottom: 3px;
	padding-left: 5px;
}
.question_menu {
	list-style:none;
	float:left;
}
.question_menu li {
	float:left;
	margin:0px;
}
#exercise_admin {
	margin: 0;
	padding: 0;
	border: 0;
}
div#friend-header {
	float:left;
	width:100%;
	line-height: 2.1em;
}
div#friend-header a {
	padding-right:6px;
}
div#friend-container {
	float:left;
}
div.image_friend_network {
	float:left;
	border:1px solid #CCCCCC;
	margin:2px;
	padding:4px;
	background: #EFEFEF;
	height:125px;
	width:82px;
	z-index:5;
}
div.image_friend_network span {
	overflow:hidden;
	display:block;
	height:92px;
	margin: 0px 0px;
}
div.image_friend_network img {
	vertical-align:middle;
}
div.image_friend_network center.friend {
	overflow:hidden;
	height:30px;
}
.friend_invitations {
	float:left;
	margin: 0 0 4px 12px;
}
