{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
{% autoescape false %}
    {{ form_start(form, { 'action': path('chamilo_core_account_update_password'), 'attr': { 'class': 'update' } }) }}
    {{ form_widget(form) }}

    <div>
        <input class="btn btn-primary" name="update_password" type="submit" value="{{ 'Update password'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endautoescape %}
{% endblock %}
