.btn {
  @apply cursor-pointer font-semibold gap-2 inline-flex justify-center items-center rounded-md transition flex-none text-base
    disabled:cursor-default;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);

  .mdi {
    @apply text-base;
  }

  &--primary {
    @apply bg-primary text-white;

    &:hover,
    &:focus {
      @apply bg-support-4;
    }
  }

  &--primary-outline {
    @apply bg-white border border-solid border-primary text-primary;

    &:hover,
    &:focus {
      @apply bg-primary text-white;
    }
  }

  &--secondary {
    @apply bg-secondary text-white;

    &:hover,
    &:focus {
      @apply bg-support-5;
    }
  }

  &--secondary-outline {
    @apply bg-white border border-solid border-secondary text-secondary;

    &:hover,
    &:focus {
      @apply bg-secondary text-white;
    }
  }

  &--plain {
    @apply bg-gray-50 text-white mr-1.5;

    &:hover,
    &:focus {
      @apply bg-gray-90;
    }
  }

  &--plain-outline {
    @apply bg-white border border-solid border-black text-black;

    &:hover,
    &:focus {
      @apply bg-gray-90 border-gray-90 text-white;
    }
  }

  &--success {
    @apply bg-success text-white;

    &:hover,
    &:focus {
      @apply bg-success;
    }
  }

  &--success-outline {
    @apply bg-white border border-solid border-success text-success;

    &:hover,
    &:focus {
      @apply bg-success text-white;
    }
  }

  &--info {
    @apply bg-info text-white;

    &:hover,
    &:focus {
      @apply bg-info;
    }
  }

  &--info-outline {
    @apply bg-white border border-solid border-info text-info;

    &:hover,
    &:focus {
      @apply bg-info text-white;
    }
  }

  &--warning {
    @apply bg-warning text-gray-90;

    &:hover,
    &:focus {
      @apply bg-warning;
    }
  }

  &--warning-outline {
    @apply bg-white border border-solid border-warning text-warning;

    &:hover,
    &:focus {
      @apply bg-warning text-gray-90;
    }
  }

  &--danger {
    @apply bg-error text-white;

    &:hover,
    &:focus {
      @apply bg-error;
    }
  }

  &--danger-outline {
    @apply bg-white border border-solid border-error text-error;

    &:hover,
    &:focus {
      @apply bg-error text-white;
    }
  }

  &-sm,
  &--sm{
    padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
    font-size: 13px;
  }
}

$color_7: #ffffff;
$color_15: #A855F7;
$background-color_4: transparent;
$border-color_4: transparent;
$border-color_12: #9333EA;

@mixin filled-style($color, $hoverColor) {
  $textColor: 'white';

  @if('warning' == $color) {
    $textColor: 'gray-90';
  }

  @apply bg-#{$color} text-#{$textColor} border-#{$color};

  &:enabled {
    &:hover,
    &:focus,
    &:active {
      @apply bg-#{$hoverColor};
    }
  }
}

@mixin outlined-style($color) {
  @apply bg-white border-#{$color} text-#{$color};

  &:enabled {
    &:hover,
    &:focus,
    &:active {
      @if ('warning' == $color) {
        @apply bg-#{$color} border-#{$color} text-gray-90;
      } @else if('black' == $color) {
        @apply bg-gray-90 border-gray-90 text-white;
      } @else {
        @apply bg-#{$color} border-#{$color} text-white;
      }
    }
  }
}

@mixin text-style($color) {
  @apply bg-white text-#{$color} border-transparent;

  &:enabled {
    &:hover,
    &:focus,
    &:active {
      @if('black' == $color) {
        @apply bg-support-1 text-primary;
      } @else {
        @apply bg-gray-10;
      }
    }
  }
}

.p-button {
  @include filled-style('primary', 'primary-gradient');
  @apply cursor-pointer font-semibold gap-2 inline-flex justify-center items-center rounded-md transition select-none border border-solid
    disabled:cursor-default;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);

  &:focus {
    @apply outline-none;
  }

  .p-badge {
    @apply bg-white font-semibold h-4 leading-4 min-w-[1rem] text-primary text-[0.625rem];
  }

  &.p-button-outlined {
    @include outlined-style('primary');
  }

  &.p-button-text {
    @include text-style('primary');
  }

  &.p-button-raised {
    @apply shadow-lg;
  }

  &.p-button-rounded {
    @apply rounded-full;
  }

  &.p-button-sm {
    padding: calc(0.25rem - 1px) calc(0.5rem - 1px);

    .p-button-icon,
    .p-button-label {
      font-size: 13px;
    }
  }

  &.p-button-lg {
    padding: calc(1rem - 1px) calc(2rem - 1px);

    .p-button-icon,
    .p-button-label {
      font-size: 18px;
    }
  }

  .p-button-icon {
    @apply text-base;
  }

  .p-button-label {
    @apply align-middle font-semibold text-base;
  }

  &.p-button-icon-only {
    @apply px-3 gap-0;

    .p-button-label {
      @apply flex-initial hidden w-0;
    }
  }

  &.p-button-link {
    @apply bg-transparent text-primary;

    &:enabled {
      &:hover,
      &:focus,
      &:active {
        @apply bg-gray-10;

        .p-button-label {
          @apply underline;
        }
      }
    }
  }
}

// secondary button
.p-button.p-button-secondary {
  @include filled-style('secondary', 'secondary-gradient');

  &.p-button-outlined {
    @include outlined-style('secondary');
  }

  &.p-button-text {
    @include text-style('secondary');
  }
}

.p-buttonset.p-button-secondary {
  > .p-button {
    @include filled-style('secondary', 'secondary-gradient');

    &.p-button-outlined {
      @include outlined-style('secondary');
    }

    &.p-button-text {
      @include text-style('secondary');
    }
  }
}

// contrast button
.p-button.p-button-contrast {
  @include filled-style('gray-90', 'black');

  &.p-button-outlined {
    @include outlined-style('black');
  }

  &.p-button-text {
    @include text-style('black');
  }
}

.p-buttonset.p-button-contrast {
  > .p-button {
    @include filled-style('gray-90', 'black');

    &.p-button-outlined {
      @include outlined-style('black');
    }

    &.p-button-text {
      @include text-style('black');
    }
  }
}

// info button
.p-button.p-button-info {
  @include filled-style('info', 'info-gradient');

  &.p-button-outlined {
    @include outlined-style('info');
  }

  &.p-button-text {
    @include text-style('info');
  }
}

.p-buttonset.p-button-info {
  > .p-button {
    @include filled-style('info', 'info-gradient');

    &.p-button-outlined {
      @include outlined-style('info');
    }

    &.p-button-text {
      @include text-style('info');
    }
  }
}

// success button
.p-button.p-button-success {
  @include filled-style('success', 'success-gradient');

  &.p-button-outlined {
    @include outlined-style('success');
  }

  &.p-button-text {
    @include text-style('success');
  }
}

.p-buttonset.p-button-success {
  > .p-button {
    @include filled-style('success', 'success-gradient');

    &.p-button-outlined {
      @include outlined-style('success');
    }

    &.p-button-text {
      @include text-style('success');
    }
  }
}

// warning button
.p-button.p-button-warn {
  @include filled-style('warning', 'warning-gradient');

  &.p-button-outlined {
    @include outlined-style('warning');
  }

  &.p-button-text {
    @include text-style('warning');
  }
}

.p-buttonset.p-button-warn {
  > .p-button {
    @include filled-style('warning', 'warning-gradient');

    &.p-button-outlined {
      @include outlined-style('warning');
    }

    &.p-button-text {
      @include text-style('warning');
    }
  }
}

// help button
.p-button.p-button-help {
  @include filled-style('tertiary', 'tertiary-gradient');

  &.p-button-outlined {
    @include outlined-style('tertiary');
  }

  &.p-button-text {
    @include text-style('tertiary');
  }
}

.p-buttonset.p-button-help {
  > .p-button {
    @include filled-style('tertiary', 'tertiary-gradient');
  }

  > .p-button.p-button-outlined {
    @include outlined-style('tertiary');
  }

  > .p-button.p-button-text {
    @include text-style('tertiary');
  }
}

// danger button
.p-button.p-button-danger {
  @include filled-style('danger', 'danger-gradient');

  &.p-button-outlined {
    @include outlined-style('danger');
  }

  &.p-button-text {
    @include text-style('danger');
  }
}

.p-buttonset.p-button-danger {
  > .p-button {
    @include filled-style('danger', 'danger-gradient');

    &.p-button-outlined {
      @include outlined-style('danger');
    }

    &.p-button-text {
      @include text-style('danger');
    }
  }
}

// toggle button
.p-togglebutton{
  &.p-button {
    &.p-highlight {

      &.p-button-contrast {
        @apply bg-support-1 text-primary;
      }
    }
  }
}
