.p-datepicker {
  @apply inline-flex max-w-full;

  &:has(&-dropdown) .p-datepicker-input {
    @apply rounded-r-none;
  }

  &-input {
    @apply flex-auto w-[1%];
  }

  &-dropdown {
    @apply cursor-pointer inline-flex select-none items-center justify-center overflow-hidden relative rounded-r-lg bg-white outline-none transition-colors
      focus-visible:outline-none;

    /*width: dt('datepicker.dropdown.width');*/

    &:not(:disabled) {
      @apply
      hover:bg-support-1
      active:bg-support-1
      focus-visible:bg-support-1 focus-visible:outline-none;
    }
  }

  &:has(&-input-icon-container) {
    @apply relative;
  }

  &:has(&-input-icon-container) &-input {
    @apply pr-12;
  }

  &-input-icon-container {
    @apply cursor-pointer absolute top-3 right-4 text-gray-90;
  }

  &:has(&-input:disabled) &-input-icon-container {
    @apply cursor-default;
  }

  &-fluid {
    @apply flex;
  }

  & &-panel {
    @apply min-w-full;
  }

  &-panel {
    @apply w-auto bg-white shadow-xl rounded-lg border-none text-gray-90 mt-1 p-3;

    .base-calendar-footer {
      @apply flex justify-end gap-4 px-0;
    }
  }

  &-panel-inline {
    @apply inline-block overflow-x-auto shadow-none border border-solid border-gray-50 mt-0
      hover:border-primary
      focus-visible:border-primary focus-visible:outline-0 focus-visible:outline-none;
  }

  &-header {
    @apply flex items-center justify-between p-0 text-gray-90;
  }

  &-next-button {
    @apply rtl:-order-1;
  }

  &-prev-button {
    @apply rtl:order-1;
  }

  &-title {
    @apply flex items-center justify-between gap-2 font-semibold;
  }

  &-select-year,
  &-select-month {
    @apply border-none bg-transparent m-0 cursor-pointer transition-colors text-gray-90 px-2 py-0
      enabled:text-primary
      hover:text-primary
      focus-visible:text-primary focus-visible:outline-none;
  }

  &-calendar-container {
    @apply flex /*px-4*/;
  }

  &-calendar-container &-calendar {
    @apply flex-auto border-0 p-0
      first:pl-0 first:border-l-0
      last:pr-0;
  }

  &-day-view {
    @apply w-full border-collapse text-base m-0;
  }

  &-weekday-cell {
    /*@apply p-2; */
  }

  &-weekday {
    @apply font-semibold text-gray-90;
  }

  &-day-cell {
    @apply py-2 px-0;
  }

  &-day {
    @apply flex justify-center items-center cursor-pointer mx-auto my-0 overflow-hidden relative w-8 h-8 border-0 rounded-lg text-gray-90 text-body-2 transition-colors outline-none
      focus-visible:outline-none focus-visible:shadow-none;

    &-selected,
    &-selected-range {
      @apply bg-support-1 text-primary;
    }
  }

  &-today > &-day {

    &-selected {
    }

    &-range {
    }
  }

  &-day:not(.p-disabled):not(&-day-selected),
  &-month:not(.p-disabled):not(&-month-selected),
  &-year:not(.p-disabled):not(&-year-selected) {
    @apply hover:bg-support-1;
  }

  &-weeknumber {
    @apply font-semibold text-secondary text-center;
  }

  &-month-view {
    @apply pb-3;
  }

  &-month {
    @apply w-1/3 inline-flex items-center justify-center cursor-pointer overflow-hidden relative p-2 transition-colors rounded-lg outline-none text-gray-90 text-body-2;

    &-selected {
      @apply bg-support-1 text-primary;
    }

    &:not(.p-disabled):not(&-selected) {
      @apply hover:bg-support-1;
    }

    &:not(.p-disabled) {
      @apply focus-visible:shadow-lg focus-visible:outline-none;
    }
  }

  &-year-view {
    @apply pb-3;
  }

  &-year {
    @apply w-1/2 inline-flex items-center justify-center cursor-pointer overflow-hidden relative p-2 transition-colors rounded-lg outline-none text-gray-90 text-body-2;

    &-selected {
      @apply bg-support-1 text-primary;
    }

    &:not(.p-disabled):not(&-selected) {
      @apply hover:bg-support-1;
    }

    &:not(.p-disabled) {
      @apply focus-visible:shadow-lg focus-visible:outline-none;
    }
  }

  &-buttonbar {
    @apply flex justify-between items-center p-2 border-t-4;

    .p-button {
      @apply w-auto;
    }
  }

  &-time-picker {
    @apply flex justify-center items-center border-t-0 p-0 gap-4
      rtl:flex-row-reverse;

    & > div {
      @apply flex items-center flex-col gap-1;
    }

    span {
      @apply text-body-2;
    }
  }

  &-calendar-container + &-time-picker {
    @apply pb-3;
  }

  &-timeonly &-time-picker {
    @apply border-t-0;
  }

  &:has(.p-inputtext-sm) &-dropdown {
  }

  &:has(.p-inputtext-sm) &-dropdown .p-icon,
  &:has(.p-inputtext-sm) &-input-icon {
  }

  &:has(.p-inputtext-lg) &-dropdown {
    /* @apply w-1/2; */
  }

  &:has(.p-inputtext-lg) &-dropdown .p-icon,
  &:has(.p-inputtext-lg) &-input-icon {
    @apply w-4 h-4 text-body-1 leading-none;
  }

  &-clear-icon {
    @apply absolute top-1/2 -mt-2 cursor-pointer text-secondary end-4;
  }

  &:has(&-dropdown) &-clear-icon {
    @apply end-4;
  }

  &:has(&-input-icon-container) &-clear-icon {
    @apply end-4;
  }

  &:has(&-clear-icon) &-input {
    @apply pr-12;
  }

  &:has(&-input-icon-container):has(&-clear-icon) &-input {
    @apply pr-12;
  }

  .p-inputgroup &-dropdown {
    @apply rounded-none;
  }

  .p-inputgroup > &:last-child:has(&-dropdown) > &-input {
    @apply rounded-r-none;
  }

  .p-inputgroup > &:last-child &-dropdown {
    @apply rounded-r-lg;
  }
}
