.p-dropdown, .p-multiselect {
  @apply inline-flex cursor-pointer relative select-none
      border border-support-3 bg-white rounded-lg transition w-full duration-200
    hover:border-primary hover:text-gray-90 hover:outline-0 hover:outline-none
    focus:border-primary focus:text-gray-90 focus:outline-0 focus:outline-none;

  .p-dropdown-panel, .p-multiselect-panel {
    @apply min-w-full;
  }

  &.p-invalid.p-component {
    @apply border-error text-error;
  }
}

.p-dropdown {
  &-clear-icon {
    @apply absolute top-1/2 -mt-2;
  }

  & &-clear-icon {
    @apply right-12;
  }
}

.p-dropdown-trigger {
  @apply flex items-center justify-center flex-shrink-0
      bg-transparent rounded-r-lg w-9;
}

.p-dropdown-label, .p-multiselect-label {
  @apply block whitespace-nowrap overflow-hidden flex-1 w-[1%] overflow-ellipsis cursor-pointer
      bg-transparent border-none
    focus:outline-0 focus:outline-none;
}

.p-dropdown-label-empty {
  @apply overflow-hidden opacity-0;
}

.p-dropdown-panel, .p-multiselect-panel {
  @apply absolute min-w-full top-2 left-0
    bg-white rounded-lg text-gray-90 drop-shadow-lg;

  .p-dropdown-items {
    @apply rounded-lg
      before:content-[""] before:w-full before:block before:h-3 before:sticky before:bg-white before:z-[2] before:top-0 before:rounded-t-lg before:rounded-b-none
      after:content-[""] after:w-full after:block after:h-3 after:sticky after:bg-white after:z-[2] after:bottom-0 after:rounded-b-lg after:rounded-t-none;

    .p-dropdown-item {
      @apply px-4 py-2 transition text-body-2 outline-0 outline-none text-gray-90;

      &.p-highlight {
        @apply bg-support-3 text-primary;
      }

      &.p-focus {
        @apply text-primary;
      }
    }
  }
}

.p-dropdown-items-wrapper {
  @apply overflow-auto rounded-lg;
}

.p-dropdown-item {
  @apply cursor-pointer whitespace-nowrap relative overflow-hidden flex items-center;
}

.p-dropdown-items {
  @apply m-0 p-0 list-none;
}

.p-multiselect-label-container {
  @apply p-2;
}

