@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
  }

  label {

    &:empty {
      @apply hidden;
    }
  }
}

@layer components {
  .form {
    &--search,
    &--inline {
      @apply flex-row gap-3 mb-1;
    }

    &--search {
      button {
        @apply flex-none;
      }
    }

    &__group {
      &--inline {
        @apply flex gap-3;
      }
    }

    &__field {
      @apply flex flex-col gap-2;
    }

    &__radio-field {
      @apply flex gap-2 items-center;
    }
  }
}

.field {
  > small {
    @apply text-caption;
  }
}

.p-error {
  @apply text-error;
}

.p-disabled {
  @apply opacity-60;
}

.p-float-label {
  label {
    @apply left-4 text-support-3 bg-transparent transition-all duration-200;
  }

  input:focus,
  input.p-filled,
  textarea:focus,
  textarea.p-filled,
  .p-inputwrapper-focus,
  .p-inputwrapper-filled {
    ~ label {
      @apply bg-white px-1 text-primary top-0 left-2;
    }
  }

  .p-invalid ~ label {
    @apply text-error;
  }

  input:focus,
  input.p-filled,
  textarea:focus,
  textarea.p-filled,
  .p-inputwrapper-focus,
  .p-inputwrapper-filled {
    &.p-invalid ~ label {
      @apply text-error;
    }
  }
}
