.p-inputswitch {
  @apply align-middle h-4 w-8;

  .p-inputswitch-input {
    @apply appearance-none absolute top-0 left-0 w-full h-full p-0 m-0 opacity-0  z-[1] outline-0 outline-none rounded-full;
  }

  .p-inputswitch-slider {
    @apply bg-gray-30 rounded-full transition-none outline-transparent
      before:bg-white before:duration-200 before:h-3 before:left-0.5 before:-mt-1.5 before:rounded-full before:w-3;
  }

  &.p-highlight .p-inputswitch-slider {
    @apply bg-secondary
      before:bg-white before:translate-x-4;
  }

  &:not(.p-disabled) {
    &:has(.p-inputswitch-input:hover) {
      .p-inputswitch-slider {
        @apply bg-gray-30;
      }

      &.p-highlight .p-inputswitch-slider {
        @apply bg-secondary;
      }
    }

    &:has(.p-inputswitch-input:focus-visible) .p-inputswitch-slider {
      @apply outline-0 outline-none outline-offset-0 shadow-lg;
    }
  }

  &.p-invalid > .p-inputswitch-slider {
    @apply border-error;
  }
}

.p-inputswitch-input {
  @apply cursor-pointer;
}

.p-inputswitch-slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 border border-transparent
    before:absolute before:content-[""] before:top-1/2;
}

