.p-inputtext {
  @apply border border-support-3 px-4 py-3 text-body-2 bg-white rounded-lg text-gray-90 transition w-full duration-200
      placeholder:text-support-3
    hover:border-primary hover:text-gray-90 hover:outline-0 hover:outline-none
    focus:border-primary focus:text-gray-90 focus:outline-0 focus:outline-none;

  &.p-invalid.p-component {
    @apply border-error
      placeholder:text-error;
  }

  &.p-inputtext-sm {
    @apply px-2 py-1.5 text-body-2;
  }

  &.p-inputtext-lg {
    @apply py-4;
  }
}

.p-icon-field {
  @apply relative;

  > .p-input-icon {
    @apply absolute top-1/2 -mt-2;
  }
}

.p-icon-field-left {
  > .p-input-icon:first-of-type {
    @apply left-3 text-primary;
  }

  > .p-inputtext {
    @apply pl-9;
  }
}

.p-icon-field-right {
  > .p-input-icon:first-of-type {
    @apply right-3 text-primary;
  }

  > .p-inputtext {
    @apply pr-9;
  }
}

.p-input-icon-left > .p-inputtext {
  //padding-left: nth($inputPadding, 2) * 2 + $primeIconFontSize;
}

.p-input-icon-left.p-float-label > label {
  //left: nth($inputPadding, 2) * 2 + $primeIconFontSize;
}

.p-input-icon-right {
  > i:last-of-type,
  > svg:last-of-type {
    @apply right-3;
  }

  > .p-inputtext {
    @apply pr-10;
  }
}

.p-inputtext-sm {
  .p-inputtext {
    //@include scaledFontSize($inputTextFontSize, $scaleSM);
    //@include scaledPadding($inputPadding, $scaleSM);
  }
}

.p-inputtext-lg {
  .p-inputtext {
    //@include scaledFontSize($inputTextFontSize, $scaleLG);
    //@include scaledPadding($inputPadding, $scaleLG);
  }
}
