.p-inputtext {
  @apply border border-support-3 px-4 py-3 text-body-1 bg-white rounded-lg text-gray-90 transition w-full duration-200
      placeholder:text-support-3
    hover:border-primary hover:text-gray-90 hover:outline-0 hover:ring-0
    focus:border-primary focus:text-gray-90 focus:outline-0 focus:ring-0;

  &.p-invalid.p-component {
    @apply border-error
      placeholder:text-error;
  }

  &.p-inputtext-sm {
    @apply px-2 py-1.5 text-body-2;
  }

  &.p-inputtext-lg {
    @apply py-4;
  }
}

.p-icon-field {
  @apply relative;

  > .p-input-icon {
    @apply absolute top-1/2 -mt-2;
  }
}

.p-icon-field-left {
  > .p-input-icon:first-of-type {
    @apply left-3 text-primary;
  }

  > .p-inputtext {
    @apply pl-9;
  }
}

.p-icon-field-right {
  > .p-input-icon:first-of-type {
    @apply right-3 text-primary;
  }

  > .p-inputtext {
    @apply pr-9;
  }
}

.p-input-icon-right {
  > i:last-of-type,
  > svg:last-of-type {
    @apply right-3;
  }

  > .p-inputtext {
    @apply pr-10;
  }
}

.p-inputnumber {
  @apply inline-flex;
}

.p-inputnumber-input {
  @apply flex-1;
}
