.p-password {
  @apply inline-flex relative w-full;

  & &-overlay {
    @apply min-w-full;
  }

  &-meter {
    @apply rounded-lg;

    &-label {
      @apply h-full w-0 rounded-lg;
    }

    &-weak {
      @apply bg-danger;
    }

    &-medium {
      @apply bg-warning;
    }

    &-strong {
        @apply bg-success;
    }
  }

  &-fluid {
    @apply flex;

    & .p-password-input {
      @apply w-full;
    }
  }

  &-input::-ms-reveal,
  &-input::-ms-clear {
    display: none;
  }

  &-overlay {
    @apply p-4 bg-white text-gray-90 border-none border-0 outline-none outline-0 drop-shadow-lg rounded-lg;
  }

  &-content {
    @apply flex flex-col gap-4;
  }

  &-toggle-mask-icon {
    @apply inset-y-3.5 right-3.5 text-gray-90 absolute w-4 h-4;
  }

  &:has(&-mask-icon) &-input {
    @apply pr-4;
  }
}
