.p-tag {
  @apply box-decoration-clone text-caption-bold py-1 px-4 rounded-full text-white inline-block;

  &-success {
    @apply bg-success;
  }

  &-danger {
    @apply bg-error;
  }

  &-warning {
    @apply bg-warning;
  }

  &-info {
    @apply bg-info;
  }

  &-primary {
    @apply bg-primary;
  }

  &-secondary {
    @apply bg-secondary;
  }

  &-icon {
    @apply mr-1.5;
  }
}

.badge {
  @apply box-decoration-clone text-caption-bold py-1 px-4 rounded-full text-white inline-block;

  &--default {
    @apply bg-gray-50;
  }

  &--error {
    @apply bg-error;
  }

  &--success {
    @apply bg-success;
  }

  &--warning {
    @apply bg-warning;
  }

  &--info {
    @apply bg-info;
  }

  &--primary {
    @apply bg-primary;
  }

  &--secondary {
    @apply bg-secondary;
  }
}