/*
 * CSS that only will be called in chamilo_XXX themes
 */
 
#submain {
    padding:10px;   
    border:1px solid #ddd;
    position: relative; /* to avoid the IE peekabo bug*/
    margin: 0px auto;

    min-height: 320px;
    //padding:18px;
    
    -moz-border-radius:0px 0px 10px 10px;
    border-radius:0px 0px 10px 10px;
    
    box-shadow: 3px 3px 10px #ddd;
    -moz-box-shadow: 3px 3px 10px #ddd; 
}
 
#header3 {
    background:none;                    
    //padding:2px;
    border-bottom:1px solid #ccc;
    width: 92%;
    margin-bottom:0px;
    padding:0px;
}

#header2 {
    min-height: 18px;
}

#current {
    margin-right: 2px;
}

#current #tab_active {
    //background:none;
}       

#header1 {
	padding:0px;
}
         
#header3 a {
    //background:none;
}

#header3 li { 
    //background:none;            
    //background-color: #CCCCCC;                    
    //border-radius:5px;
    //margin:0px 1px 0px 1px;
}

#header3 li a span { 
    //background:none;
}
#header4 {  
    height:26px;
    padding:0px;
    background:none;                    
    width: 92%;
}



div.admin_section {
  width: 44%;	
}