/**
 * Common CSS for all themes
 */
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #849FB3;
    box-shadow: 0 0 5px #C9D2D9;
	background-image:none;
	background-color:white;
}

/* Fixes the FB input*/
input.maininput:focus {
    box-shadow:0 0 0px #fff;
	border:none;	
}

.big_icon {
	width:205px;
	padding:10px;
}

.big_icon img {
     margin:0 auto 0 auto;	
}

.courseadminview .big_icon a {
	font-size:12px; 
}