/* media queries responsive */
/* Typical screen resolutions (only width matters) are:
320*
480*
640*
720* (samsung S3)
800*
1024*
1152
1280*
1360
1400
1440*
1600*
1680
1920*
+more*
The more frequent ones have been marked with *
*/
/* Phone */

@media (max-width: 320px) {
    header #header_center, header #header_right, header #header_left {
        display: none;
    }

    .navbar {
        margin-top: 0em;
    }

    #main_content .span3 #login_block {
        width: 160px;
        float: left;
    }

    #main_content .span3 #help_block {
        width: 60px;
        float: right;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* No view as link*/
    #view_as_link {
        display: none;
    }

    /* Smaller brand */
    .navbar .brand {
        font-size: 14px;
        text-shadow: 0px;
    }

    /* In order to avoid clicking in the main title instead of the expand button */
    .subnav .navbar-inner .in {
        margin-top: 45px;
    }

    #main_content .span3 #login_block {
        width: 180px;
    }

    #main_content .span3 #help_block {
        width: 100px;
    }

    /* only for the course tools */
    #course_tools .row > [class*="span"], #course_tools  .row-fluid > [class*="span"] {
        float: left;
        margin-left: 20px;
    }

    /* Course- home - Show 2 icons instead of one */
    .course-tool {
        float: left;
        height: 110px;
        width: 110px;
    }

    .course-tool h4 {
        font-size: 15px;
    }

    /* in admin, reduce block height but increase width (from 47%) as there
       will be only one for the whole width */
    #settings .span6 {
        min-height: none;
        width: 95%;
    }

    .section-mycourses .menu-column, .section-mycampus .menu-column {
        width: 95%;
    }

    .section-mycampus .menu-column #login_block {
        width: 95%;
    }

    .section-mycourses .menu-column #user_image_block,
    .section-mycourses .menu-column #profile_block,
    .section-mycourses .menu-column #skill_block,
    .section-mycourses .menu-column #search_block,
    .section-mycourses .menu-column #classes_block,
    .section-mycourses .menu-column #reservation_block,
    .section-mycourses .menu-column #skill_block,
    .section-mycampus .menu-column #help_block,
    .section-mycourses .menu-column #notice_block {
        display: none;
    }

    .section-mycampus #homepage {
        width: 260px;
    }

    .section-mycampus #hot_courses {
        width: 260px;
    }

    .section-mycourses #top_main_content {
        margin-right: 15px;
    }

    .section-mycourses #main_content {
        margin-right: 15px;
        width: 260px;
    }

    .section-mycourses .course-box .course-box-actions {
        display: none;
    }

    .section-mycampus .hot-course-box, .section-mycourses .course-box {
        width: 95%;
    }

    footer {
        margin-top: 0px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    header #header_center, header #header_right, header #header_left {
        display: none;
    }

    .navbar {
        margin-top: 0em;
    }

    .subnav .navbar-inner .in {
        margin-top: 45px;
    }

    /* No chat in mobiles */
    #chatmain {
        display: none;
    }

    /* No topbar */
    #topbar {
        display: none;
    }

    /* No view as link*/
    #view_as_link {
        display: none;
    }

    /* Brand fix */
    .navbar .brand {
        font-size: 14px;
        text-shadow: 0px;
    }

    .subnav .dropdown-toggle {
        display: none;
    }

    .subnav .nav > li > a, .navbar .dropdown-menu a {
        color: white;
    }

    /* Footer fixes */

    footer {
        border-top: 1px solid #CCCCCC;
        background-color: #fff;
        background-image: none;
        color: #666;
    }

    footer #footer_left a, footer #footer_center a, footer #footer_right a {
        color: #999;
    }

    #footer_left, #footer_right #admin_name, #footer_right #software_name {
        text-align: center !important;
    }

    footer .container .row {
        padding-top: 15px;
    }

    /* No resize font */
    .resize_font {
        display: none;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    /* No notifications */
    .notification-panel {
        display: none;
    }

    /* only for the course tools */
    #course_tools .row > [class*="span"], #course_tools  .row-fluid > [class*="span"] {
        float: left;
        margin-left: 10px;
    }

    /* Course- home - Show 2 icons instead of one */
    .course-tool {
        float: left;
        height: 150px;
        width: 160px;
    }

    .course-tool h4 {
        font-size: 14px;
    }

    .subbav .nav > li > a:hover,
    .subbav .dropdown-menu a:hover {
        background-color: #555;
    }

    #main_content .span3 #login_block {
        width: 280px;
        float: left;
    }

    #main_content .span3 #help_block {
        width: 100px;
        float: right;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* in admin, reduce block height but increase width (from 47%) as there
       will be only one for the whole width */
    #settings .span6 {
        min-height: none;
        width: 95%;
    }

    .section-mycourses .menu-column, .section-mycampus .menu-column {
        width: 95%;
    }

    .section-mycampus .menu-column #login_block {
        width: 95%;
    }

    .section-mycourses .menu-column #user_image_block,
    .section-mycourses .menu-column #profile_block,
    .section-mycourses .menu-column #skill_block,
    .section-mycourses .menu-column #search_block,
    .section-mycourses .menu-column #classes_block,
    .section-mycourses .menu-column #reservation_block,
    .section-mycourses .menu-column #skill_block,
    .section-mycampus .menu-column #help_block,
    .section-mycourses .menu-column #notice_block {
        display: none;
    }

    .section-mycampus #homepage {
        width: 400px;
    }

    .section-mycampus #hot_courses {
        width: 400px;
    }

    .section-mycourses #top_main_content {
        margin-right: 15px;
    }

    .section-mycourses #main_content {
        margin-right: 15px;
        width: 400px;
    }

    .section-mycourses .course-box .course-box-actions {
        display: none;
    }

    .section-mycampus .hot-course-box, .section-mycourses .course-box {
        width: 95%;
    }

    footer {
        margin-top: 0px;
    }
}

@media (min-width: 481px) and (max-width: 800px) {
    /* No topbar */
    #topbar {
        display: none;
    }

    /* only for the course tools */
    #course_tools .row > [class*="span"], #course_tools  .row-fluid > [class*="span"] {
        float: left;
    }

    .course-tool {
        width: 210px;
    }

    .course-tool h4 {
        font-size: 14px;
    }

    .subnav .dropdown-toggle {
        display: none;
    }

    header #header_center, header #header_right {
        display: none;
    }

    #footer_right #admin_name, #footer_right #software_name {
        text-align: center !important;
    }

    .subnav .nav > li > a, .navbar .dropdown-menu a {
        color: white;
    }

    footer .container .row {
        padding-top: 15px;
    }

    .notification-panel {
        display: none;
    }

    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    #topbar_push {
        height: 0px;
    }

    /* Subnav */
    .subnav {
        border: 1px solid #fff;
        position: static;
        top: auto;
        z-index: auto;
        width: 100%;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .subnav .nav > li {
        float: none;
    }

    .subnav .nav > li > a {
        border: 0;
    }

    .subnav .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }

    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    .subnav .navbar-inner li a:hover {
        background-color: #666;
        color: #fff;
    }

    /* .new_actions */
    .new_actions {
        border: 1px solid #fff;
        position: static;
        top: auto;
        z-index: auto;
        width: 100%;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: center;
    }

    .new_actions .nav > li {
        float: none;
    }

    .new_actions .nav > li > a {
        border: 0;
    }

    .new_actions .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }

    .new_actions .nav > li:first-child > a,
    .new_actions .nav > li:first-child > a:hover {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    #section-social .row > [class*="span"], #section-social .row-fluid > [class*="span"] {
        float: left;
    }

    /* Some fixes for w~720px */
    .section-mycampus #top_main_content .content-column {
        float: none;
    }

    .section-mycampus #homepage {
        float: left;
        width: 450px;
    }

    .section-mycampus #hot_courses {
        float: left;
        width: 660px;
    }

    .section-mycampus #hot_courses .page-header {
        width: 650px;
    }

    .section-mycourses .course-box .course-box-actions {
        display: none;
    }

    .section-mycampus .hot-course-box, .section-mycourses .course-box {
        width: 660px;
    }

    /* Footer fixes */

    footer {
        border-top: 1px solid #CCCCCC;
        background-color: #fff;
        background-image: none;
        color: #666;
    }

    footer #footer_left a, footer #footer_center a, footer #footer_right a {
        color: #999;
    }

    #footer_left, #footer_right #admin_name, #footer_right #software_name {
        text-align: center !important;
    }

    footer .container .row {
        padding-top: 15px;
    }
}

@media (min-width: 800px) {
    .advmultiselect [class*="span4"] {
        margin-left: 10px;
    }
}

@media (min-width: 801px) and (max-width: 979px) {
    /* No topbar */
    #topbar {
        display: none;
    }

    /* fixes tabs */
    .subnav .nav-tabs > li > a, .subnav .nav-pills > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }

    .subnav .dropdown-toggle {
        display: none;
    }

    .subnav .nav > li > a, .navbar .dropdown-menu a {
        color: #ccc;
    }

    .subnav .nav > li > a:hover,
    .subnav .dropdown-menu a:hover {
    }

    .course-tool {
        width: 220px;
    }
}

@media (max-width: 979px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    #topbar_push {
        height: 0px;
    }

    .section-social .span9 {
        width: 530px;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {
    /* fixes tabs */
    .subnav .nav-tabs > li > a, .subnav .nav-pills > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }

    /* only for the course tools */
    #course_tools .row > [class*="span"], #course_tools  .row-fluid > [class*="span"] {
        float: left;
    }

    .course-tool {
        width: 280px;
    }

    .section-social .span9, .section-mycourses .span9 {
        width: 680px;
    }

    .section-social .social-menu {
        width: 200px;
    }

    .section-social .span5 {
        width: 350px;
    }
}

/* LARGE DESKTOP SCREENS */
@media (min-width: 1201px) {
    #top_main_content .span12 {
        /* width: 98%; */
    }

    /* only for the course tools */
    #course_tools .row > [class*="span"], #course_tools  .row-fluid > [class*="span"] {
        float: left;
    }

    .course-tool {
        width: 260px;
    }
}


