/* media queries responsive */

/* Responsive Docs */

/* Phone */
@media (max-width: 480px) {
    /* No chat in mobiles */
    #chatmain {
        display:none;
    }
    
    .subnav .dropdown-toggle {
        display:none;
    }
    
    header #header_center, header #header_right {
        display:none;
    }    
    
    #footer_left , #footer_right #admin_name, #footer_right #software_name {
        text-align: center !important;
    }    
    
    footer .container .row {
        padding-top: 15px;        
    }
    
    /* No resize font */
    .resize_font {
        display:none;
    }
    
    h3 {
        font-size: 18px;
    }
    
    h4 {
        font-size: 16px;
    }   
        
    .notification-panel {
        display:none;
    }
    
    #course_tools .row .span4 {
        float: left;        
        width: 200px;
    }
}

@media (max-width: 767px) {
    /* No chat in mobiles*/
    #chatmain {
        display:none;
    }
    
    .subnav .dropdown-toggle {
        display:none;
    }
    
     #footer_right #admin_name, #footer_right #software_name {
        text-align: center !important;
    }    
    
    footer .container .row {
        padding-top: 15px;        
    }
    .notification-panel {
        display:none;
    }
    
    #header2 .nav-pills {
        display:none;
    }

    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    #topbar_push {
        height: 0px;
    }

    /* Subnav */
    .subnav {           
        border:1px solid #fff;
        position: static;
        top: auto;
        z-index: auto;
        width: 100%;
        height: auto;    
        -webkit-box-shadow: none;
            -moz-box-shadow: none;
                box-shadow: none;
    }
    .subnav .nav > li {
        float: none;    
    }
    .subnav .nav > li > a {
        border: 0;
    }
    .subnav .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
    }
    
    
     /* .new_actions */
    .new_actions {           
        border:1px solid #fff;
        position: static;
        top: auto;
        z-index: auto;
        width: 100%;
        height: auto;    
        -webkit-box-shadow: none;
            -moz-box-shadow: none;
                box-shadow: none;
                text-align: center;
    }
    .new_actions .nav > li {
        float: none;    
    }
    .new_actions .nav > li > a {
        border: 0;
    }
    .new_actions .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }
    .new_actions .nav > li:first-child > a,
    .new_actions .nav > li:first-child > a:hover {
        -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
    }


    /* Unfloat the back to top link in footer */
    .footer .pull-right {
        float: none;
    }
    .footer p {
        margin-bottom: 9px;
    }
}

@media (min-width: 768px) and (max-width: 978px) {
    /* fixes tabs */
    .subnav .nav-tabs > li > a, .subnav .nav-pills > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
    
    .subnav .dropdown-toggle {
        display:none;
    }    
}

@media (max-width: 979px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    #topbar_push {
        height: 0px;
    }
}

@media (min-width: 980px) and (max-width: 1024px) {
    /* fixes tabs */
    .subnav .nav-tabs > li > a, .subnav .nav-pills > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
    
    /* only for the course tools */
    #course_tools .row > [class*="span"], #course_tools  .row-fluid > [class*="span"] {     
        float: left;     
    }
}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {
    
}