/* media queries responsive */

/* Responsive Docs */

/* Phone */

/* Show 2 icons instead of one */
@media (max-width: 320px) {    
    .navbar .brand {
         font-size: 14px;
    }
    
    /* No view as link*/
    #view_as_link {
        display:none;
    }
    
    /* Smaller brand */
    .navbar .brand {
         font-size: 14px;
    }
    
    /* In order to avoid clicking in the main title instead of the expand button */
    .subnav .navbar-inner .in{
        margin-top: 45px 
    }
}

@media (max-width: 480px) {
    
    .subnav .navbar-inner .in{
        margin-top: 45px 
    }
    
    /* No chat in mobiles */
    #chatmain {
        display:none;
    }
    
    /* No topbar */
    #topbar {
        display:none;
    }
    
    /* No view as link*/
    #view_as_link {
        display:none;
    }
    
    .navbar .brand {
         font-size: 14px;
    }
    
    .subnav .dropdown-toggle {
        display:none;
    }
    
    .subnav .nav > li > a, .navbar .dropdown-menu a {        
        color: white;        
    }
    
    header #header_center, header #header_right {
        display:none;
    }    
    
    #footer_left , #footer_right #admin_name, #footer_right #software_name {
        text-align: center !important;
    }    
    
    footer .container .row {
        padding-top: 15px;        
    }
    
    /* No resize font */
    .resize_font {
        display:none;
    }
    
    h3 {
        font-size: 18px;
    }
    
    h4 {
        font-size: 16px;
    }   
        
    .notification-panel {
        display:none;
    }
    
    /* Show 2 icons instead of one */
    #course_tools .row .span4 {
        float: left;        
        height: 150px;
        width: 133px;
    }
    
    #course_tools .row .span4 h4 {
        font-size: 14px;
    }
    
    footer {
        border-top: 1px solid #CCCCCC;
        background-color: #fff;
        background-image: none;
        color: #666;
    }
    
    footer #footer_left a, footer #footer_center a, footer #footer_right a {
        color : #999;
    }
    
    .subbav .nav > li > a:hover,
    .subbav .dropdown-menu a:hover {
        background-color: #555;
    }
}

@media (max-width: 767px) {
    /* No chat in mobiles*/
    #chatmain {
        display:none;
    }
    
    /* No topbar */
    #topbar {
        display:none;
    }
    
    .subnav .dropdown-toggle {
        display:none;
    }
    
    header #header_center, header #header_right {
        display:none;
    }
    
     #footer_right #admin_name, #footer_right #software_name {
        text-align: center !important;
    }    
    
    .subnav .nav > li > a, .navbar .dropdown-menu a {        
        color: white;
    }
    
    footer .container .row {
        padding-top: 15px;        
    }
    .notification-panel {
        display:none;
    }
    
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    #topbar_push {
        height: 0px;
    }

    /* Subnav */
    .subnav {           
        border:1px solid #fff;
        position: static;
        top: auto;
        z-index: auto;
        width: 100%;
        height: auto;    
        -webkit-box-shadow: none;
            -moz-box-shadow: none;
                box-shadow: none;
    }
    .subnav .nav > li {
        float: none;    
    }
    .subnav .nav > li > a {
        border: 0;
    }
    .subnav .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
    }
    
    .subnav .navbar-inner li a:hover {
        background-color: #666;
        color: #fff;
    }    
    
     /* .new_actions */
    .new_actions {           
        border:1px solid #fff;
        position: static;
        top: auto;
        z-index: auto;
        width: 100%;
        height: auto;    
        -webkit-box-shadow: none;
            -moz-box-shadow: none;
                box-shadow: none;
                text-align: center;
    }
    .new_actions .nav > li {
        float: none;    
    }
    .new_actions .nav > li > a {
        border: 0;
    }
    .new_actions .nav > li + li > a {
        border-top: 1px solid #e5e5e5;
    }
    .new_actions .nav > li:first-child > a,
    .new_actions .nav > li:first-child > a:hover {
        -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
    }


    /* Unfloat the back to top link in footer */
    .footer .pull-right {
        float: none;
    }
    .footer p {
        margin-bottom: 9px;
    }
}

@media (min-width: 768px) and (max-width: 978px) {
    /* No topbar */
    #topbar {
        display:none;
    }
    
    /* fixes tabs */
    .subnav .nav-tabs > li > a, .subnav .nav-pills > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
    
    .subnav .dropdown-toggle {
        display:none;
    }    
    
    .subnav .nav > li > a, .navbar .dropdown-menu a {      
        color: #ccc;        
    }
    
   .subnav .nav > li > a:hover,
   .subnav .dropdown-menu a:hover {
    }
}

@media (max-width: 979px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    #topbar_push {
        height: 0px;
    }
}

@media (min-width: 980px) and (max-width: 1024px) {
    /* fixes tabs */
    .subnav .nav-tabs > li > a, .subnav .nav-pills > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
    
    /* only for the course tools */
    #course_tools .row > [class*="span"], #course_tools  .row-fluid > [class*="span"] {     
        float: left;     
    }
}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {
    
}