fos_rest:
  param_fetcher_listener: true
  body_listener: true
  format_listener: true
  view:
    view_response_listener: force
  body_converter:
    enabled: false
    validate: true
#  exception:
#    enabled: true
#    exception_controller: 'Chamilo\ThemeBundle\Controller\ExceptionController::showAction'
