oneup_flysystem:
    adapters:
        asset_adapter:
            local:
                location: '%kernel.project_dir%/var/upload/assets'
        asset_cache_adapter:
            local:
                location: '%kernel.project_dir%/var/cache/assets'

        asset_azure_adapter:
            azureblob:
                client: 'MicrosoftAzure\Storage\Blob\BlobRestProxy'
                container: '%env(AZURE_STORAGE_ASSET_CONTAINER)%'
                prefix: '%env(AZURE_STORAGE_ASSET_PREFIX)%'

        asset_cache_azure_adapter:
            azureblob:
                client: 'MicrosoftAzure\Storage\Blob\BlobRestProxy'
                container: '%env(AZURE_STORAGE_ASSET_CACHE_CONTAINER)%'
                prefix: '%env(AZURE_STORAGE_ASSET_CACHE_PREFIX)%'

        asset_awss3_adapter:
            awss3v3:
                client: chamilo.storage.awss3_client
                bucket: '%env(AWS_S3_STORAGE_ASSET_BUCKET)%'
                prefix: '%env(AWS_S3_STORAGE_ASSET_PREFIX)%'
                visibilityConverter: League\Flysystem\AwsS3V3\PortableVisibilityConverter

        asset_cache_awss3_adapter:
            awss3v3:
                client: chamilo.storage.awss3_client
                bucket: '%env(AWS_S3_STORAGE_ASSET_CACHE_BUCKET)%'
                prefix: '%env(AWS_S3_STORAGE_ASSET_CACHE_PREFIX)%'
                visibilityConverter: League\Flysystem\AwsS3V3\PortableVisibilityConverter

        asset_google_adapter:
            googlecloudstorage:
                client: 'Google\Cloud\Storage\StorageClient'
                bucket: '%env(GOOGLE_STORAGE_ASSET_BUCKET)%'
                prefix: '%env(GOOGLE_STORAGE_ASSET_PREFIX)%'

        asset_cache_google_adapter:
            googlecloudstorage:
                client: 'Google\Cloud\Storage\StorageClient'
                bucket: '%env(GOOGLE_STORAGE_ASSET_CACHE_BUCKET)%'
                prefix: '%env(GOOGLE_STORAGE_ASSET_CACHE_PREFIX)%'

        resource_adapter:
            local:
                location: '%kernel.project_dir%/var/upload/resource'
        resource_cache_adapter:
            local:
                location: '%kernel.project_dir%/var/cache/resource'

        resource_azure_adapter:
            azureblob:
                client: 'MicrosoftAzure\Storage\Blob\BlobRestProxy'
                container: '%env(AZURE_STORAGE_RESOURCE_CONTAINER)%'
                prefix: '%env(AZURE_STORAGE_RESOURCE_PREFIX)%'

        resource_cache_azure_adapter:
            azureblob:
                client: 'MicrosoftAzure\Storage\Blob\BlobRestProxy'
                container: '%env(AZURE_STORAGE_RESOURCE_CACHE_CONTAINER)%'
                prefix: '%env(AZURE_STORAGE_RESOURCE_CACHE_PREFIX)%'

        resource_google_adapter:
            googlecloudstorage:
                client: 'Google\Cloud\Storage\StorageClient'
                bucket: '%env(GOOGLE_STORAGE_RESOURCE_BUCKET)%'
                prefix: '%env(GOOGLE_STORAGE_RESOURCE_PREFIX)%'

        resource_cache_google_adapter:
            googlecloudstorage:
                client: 'Google\Cloud\Storage\StorageClient'
                bucket: '%env(GOOGLE_STORAGE_RESOURCE_CACHE_BUCKET)%'
                prefix: '%env(GOOGLE_STORAGE_RESOURCE_CACHE_PREFIX)%'

        resource_awss3_adapter:
            awss3v3:
                client: chamilo.storage.awss3_client
                bucket: '%env(AWS_S3_STORAGE_RESOURCE_BUCKET)%'
                prefix: '%env(AWS_S3_STORAGE_RESOURCE_PREFIX)%'
                visibilityConverter: League\Flysystem\AwsS3V3\PortableVisibilityConverter

        resource_cache_awss3_adapter:
            awss3v3:
                client: chamilo.storage.awss3_client
                bucket: '%env(AWS_S3_STORAGE_RESOURCE_CACHE_BUCKET)%'
                prefix: '%env(AWS_S3_STORAGE_RESOURCE_CACHE_PREFIX)%'
                visibilityConverter: League\Flysystem\AwsS3V3\PortableVisibilityConverter

        themes_adapter:
            local:
                location: '%kernel.project_dir%/var/themes'

        themes_azure_adapter:
            azureblob:
                client: 'MicrosoftAzure\Storage\Blob\BlobRestProxy'
                container: '%env(AZURE_STORAGE_THEMES_CONTAINER)%'
                prefix: '%env(AZURE_STORAGE_THEMES_PREFIX)%'

        themes_awss3_adapter:
            awss3v3:
                client: chamilo.storage.awss3_client
                bucket: '%env(AWS_S3_STORAGE_THEMES_BUCKET)%'
                prefix: '%env(AWS_S3_STORAGE_THEMES_PREFIX)%'
                visibilityConverter: League\Flysystem\AwsS3V3\PortableVisibilityConverter

        themes_google_adapter:
            googlecloudstorage:
                client: 'Google\Cloud\Storage\StorageClient'
                bucket: '%env(GOOGLE_STORAGE_THEMES_BUCKET)%'
                prefix: '%env(GOOGLE_STORAGE_THEMES_PREFIX)%'

        plugins_adapter:
            local:
                location: '%kernel.project_dir%/var/upload/plugins'

        plugins_azure_adapter:
            azureblob:
                client: 'MicrosoftAzure\Storage\Blob\BlobRestProxy'
                container: '%env(AZURE_STORAGE_PLUGINS_CONTAINER)%'
                prefix: '%env(AZURE_STORAGE_PLUGINS_PREFIX)%'

        plugins_awss3_adapter:
            awss3v3:
                client: chamilo.storage.awss3_client
                bucket: '%env(AWS_S3_STORAGE_PLUGINS_BUCKET)%'
                prefix: '%env(AWS_S3_STORAGE_PLUGINS_PREFIX)%'
                visibilityConverter: League\Flysystem\AwsS3V3\PortableVisibilityConverter

        plugins_google_adapter:
            googlecloudstorage:
                client: 'Google\Cloud\Storage\StorageClient'
                bucket: '%env(GOOGLE_STORAGE_PLUGINS_BUCKET)%'
                prefix: '%env(GOOGLE_STORAGE_PLUGINS_PREFIX)%'

    filesystems:
        asset:
            adapter: asset_adapter
            mount: asset
        asset_cache:
            adapter: asset_cache_adapter
            mount: asset_cache

        resource:
            adapter: resource_adapter
            mount: resource
            visibility: private
        resource_cache:
            adapter: resource_cache_adapter
            mount: resource_cache
            visibility: private

        themes:
            adapter: themes_adapter
            mount: themes

        plugins:
            adapter: plugins_adapter
            mount: plugins
            visibility: private