{% extends '@ChamiloCore/Layout/layout_one_col.html.twig' %}

{% block content %}
    {% set iframe = 0 %}

    <div class="w-full px-4 py-6">
        {% include 'default/career/diagram.html.twig' %}
    </div>
{% endblock %}
