{% extends '@ChamiloCore/Layout/no_layout.html.twig' %}

{% block content %}
    {% set iframe = 1 %}

    <div class="w-full bg-white">
        {% include 'default/career/diagram.html.twig' %}
    </div>
{% endblock %}
