###########################################################################################
#change this file to fit your configuration and save it as .htaccess in the courses folder#
###########################################################################################
#dokeos mod rewrite
#comment lines start with # and are not processed

<IfModule mod_rewrite.c>
RewriteEngine On

#rewrite base is the dir dokeos is installed in with trailing slash
RewriteBase {DOKEOS_URL_APPEND_PATH}/courses/

#do not rewrite on the main dir
#change this path to the path of your main folder
RewriteCond %{REQUEST_URI} !^{DOKEOS_URL_APPEND_PATH}/main/

#replace nasty ampersands by 3 slashes, we change these back in download.php
RewriteRule ([^/]+)/document/(.*)&(.*)$ $1/document/$2///$3 [N]
#rewrite everything in the document folder of a course to the download script
RewriteRule ([^/]+)/document/(.*)$ {DOKEOS_URL_APPEND_PATH}/main/document/download.php?doc_url=/$2&cDir=$1 [QSA,L]
</IfModule>