; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.php]
indent_size = 4
max_line_length = 120
ij_php_space_after_type_cast = true

[*.vue]
indent_size = 2

[*.js]
indent_size = 2