# This file is a "template" of which env vars needs to be defined in your configuration or in an .env file
# Set variables here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For a sqlite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
DATABASE_HOST="{{DATABASE_HOST}}"
DATABASE_PORT="{{DATABASE_PORT}}"
DATABASE_NAME="{{DATABASE_NAME}}"
DATABASE_USER="{{DATABASE_USER}}"
DATABASE_PASSWORD="{{DATABASE_PASSWORD}}"
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
MAILER_TRANSPORT='sendmail'
MAILER_USERNAME=''
MAILER_PASSWORD=''
MAILER_HOST=''
MAILER_PORT=''
###< symfony/swiftmailer-bundle ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=141af65f23c7935a37b504c422f113b0
###< symfony/framework-bundle ###

###> chamilo ###
APP_INSTALLED={{APP_INSTALLED}}
APP_ENCRYPT_METHOD={{APP_ENCRYPT_METHOD}}
APP_LOCALE=en
APP_URL_APPEND=''
APP_MULTIPLE_ACCESS_URL=''

###< chamilo ###
