# Cache directories

var/cache/*
!var/cache/.gitkeep

var/log/*
!var/log/.gitkeep

/node_modules/

# Chamilo configuration
/app/config/parameters.yml
/app/config/add_course.conf.php
/app/config/auth.conf.php
/app/config/course_info.conf.php
/app/config/events.conf.php
/app/config/mail.conf.php
/app/config/profile.conf.php
/app/config/configuration.php

# Courses
var/courses/*
!var/courses/.gitkeep

# Home
app/home/*
components/*

# Upload content
var/upload/*
!var/upload/.gitkeep

# Logs and databases #
*.log

# IDE settings
.idea
.idea/*
.idea/dictionaries/*
.idea/cssxfire.xml

*.orig
nbproject/*

# Plugins config files
plugin/bbb/config.vm.php

# Cron temp files
main/cron/incoming/*
plugin/vchamilo/templates/*

# Stuff updated through composer - Remove just before release
vendor
web/assets/*


###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###
