# Chamilo

main/inc/conf
config/*
temp/*
data/*
logs/*

# Courses

courses/*
!courses/index.html

# Home
home/*

# User images
main/upload/users/*
!main/upload/users/index.html

# Logs and databases #
*.log

# IDE settings

.idea
.idea/*
.idea/dictionaries/*
.idea/cssxfire.xml

*.orig
nbproject/*
vendor/.git

#Doctrine entities generation tests

tests/doctrine_console/generated
tests/doctrine_console/mapping
tests/doctrine_console/Proxies
