<?php

$header = '/* For licensing terms, see /license.txt */';

$rules = [
    '@Symfony' => true,
    //'@Symfony:risky' => true,
    'array_syntax' => [
        'syntax' => 'short',
    ],
    /*'header_comment' => [
        'header' => $header,
    ],*/
    'blank_line_after_opening_tag' => false,
    'no_extra_consecutive_blank_lines' => true,
    'multiline_comment_opening_closing' => true,
    'phpdoc_to_comment' => false,
    'phpdoc_annotation_without_dot' => false,
    'increment_style' => ['style' => 'post'],
    'no_useless_else' => false,
    'single_quote' => false,
    'no_useless_return' => true,
    'ordered_class_elements' => true,
    'ordered_imports' => true,
    //'phpdoc_order' => true,
    'no_break_comment' => true,
    'global_namespace_import' => true,
];

$finder = PhpCsFixer\Finder::create()
    ->exclude('assets')
    ->exclude('bin')
    ->exclude('public/main/inc/lib/javascript')
    ->exclude('public/main/inc/lib/kses-0.2.2')
    ->exclude('public/main/inc/lib/nusoap')
    ->exclude('public/main/inc/lib/ppt2png')
    ->exclude('public/main/inc/lib/pear')
    ->exclude('public/main/inc/lib/xajax')
    ->exclude('public/main/lp/packaging')
    ->exclude('public/main/template')
    ->exclude('public/main/lang')
    ->exclude('public/plugin/buycourses/src/Culqi')
    ->exclude('public/plugin/buycourses/src/Requests')
    ->exclude('public/plugin/vchamilo/cli')
    ->exclude('public/plugin/pens/lib')
    ->exclude('public/plugin/bbb/lib')
    ->exclude('public/plugin/ims_lti')
    ->exclude('public/plugin/sepe/src/wsse')
    ->exclude('public/plugin/test2pdf/class')
    ->exclude('public/plugin/jcapture/src')
    ->exclude('public/plugin/jcapture/lib')
    ->exclude('src/CoreBundle/Traits/Repository/ORM')
    ->exclude('tests')
    ->exclude('var')
    ->exclude('vendor')

    ->notPath('public/check.php')
    ->notPath('public/main/admin/ldap_synchro.php')
    ->notPath('public/main/chat/emoji_strategy.php')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules(
        $rules
    )
    ->setFinder($finder);
