modules = ["php-8.2", "nodejs-20", "web", "vue-node-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3306
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "bash start.sh"]
build = ["sh", "-c", "yarn build"]
