parameters:
	autoload_files:
		- %rootDir%/../../../main/work/work.lib.php
	excludes_analyse:
		- %rootDir%/../../../tests/*
		- %rootDir%/../../../main/webservices/*
		- %rootDir%/../../../main/inc/lib/pear/*
		- %rootDir%/../../../main/inc/lib/nusoap/*
		- %rootDir%/../../../main/inc/lib/search/*
		- %rootDir%/../../../src/CoreBundle/Migrations/Schema/*
	level: max