parameters:
	symfony:
	    container_xml_path: '%rootDir%/../../../var/cache/dev/srcChamilo_KernelDevDebugContainer.xml'
	doctrine    :
	    objectManagerLoader: '%rootDir%/../../../tests/phpstan/doctrine-orm-bootstrap.php'
	autoload_files:
		- %rootDir%/../../../main/work/work.lib.php
	excludes_analyse:
		- %rootDir%/../../../main/admin/db.php
		- %rootDir%/../../../main/extra/*
		- %rootDir%/../../../main/cron/*
		- %rootDir%/../../../main/inc/lib/pear/*
		- %rootDir%/../../../main/inc/lib/nusoap/*
		- %rootDir%/../../../main/inc/lib/search/*
		- %rootDir%/../../../main/webservices/*
		- %rootDir%/../../../src/CoreBundle/Migrations/Schema/*
		- %rootDir%/../../../tests/*
	level: max