includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	symfony:
		container_xml_path: %rootDir%/../../../var/cache/dev/Chamilo_KernelDevDebugContainer.xml
	doctrine:
		objectManagerLoader: %rootDir%/../../../tests/phpstan/doctrine-orm-bootstrap.php

	excludes_analyse:
		- public/main/admin/db.php
		- public/main/extra/*
		- public/main/cron/*
		- public/main/inc/lib/pear/*
		- public/main/inc/lib/nusoap/*
		- public/main/inc/lib/search/*
		- public/main/webservices/*

		- src/CoreBundle/Hook/*
		- src/CoreBundle/Menu/*
		- src/CoreBundle/Migrations/*
		- src/CoreBundle/Controller/ResourceApiController.php
		- src/CoreBundle/Component/Editor/*
		- src/CourseBundle/Component/CourseCopy*
		- src/LtiBundle/*
		- src/GraphQlBundle/*
		- tests/*
	level: 2
	paths:
		- src