/*
==============================================================================
							CORPORATIVE STYLESHEET
==============================================================================
*/
/*
==============================================================================
	GLOBAL STYLES - REDEFINED HTML TAGS
==============================================================================
*/
a {
	text-decoration: none;
	font: bold 100% Arial, sans-serif, sans;
	color: #900;
}

a:hover,a:focus {
	color: #990;
}

blockquote {
	font: 1.1em arial, sans, sans-serif;
}

body {
   /* hack ignored by non-IE to enable ie to support :hover on button */
        behavior:url("/main/css/csshover3.htc");
	margin: 0;
	padding: 0;
	font-size: .85em;
	font-family: 'Lucida Grande', verdana, Arial, sans-serif, sans;
	color: #000;
	background-color: #fff;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus{
background-image:url(images/shadow.gif);
}

h3 {
	font: bold 1.3em Arial, sans-serif, sans;
}

h4 {
	font: bold 1.2em Arial, sans-serif, sans;
}

img {
	border: 0;
}

input {
	margin-left: 1em;
	border-color: #4170b4;
	border-width: 1px;
	background-color: #fff;
	font: normal 90% "Lucida Grande", verdana, Arial, sans, sans-serif;
}

p {
	clear: both;
	width: 90%;
}

select,textarea {
	font: normal 90% "Lucida Grande", verdana, Arial, sans, sans-serif;
	border: 1px solid #4170b4;
}

small {
	font-size: .9em;
}

table {
	padding: 0;
}

tr,td {
	padding: 0;
	
}

ul {
	list-style: none;
}

/*
==============================================================================
	PAGE STRUCTURE
==============================================================================
*/
/* user_portal course status icon */
.coursestatusicons {
	float: left;
	clear: left;
	margin-right: .5em;
}

/* user_portal course list */
.courses {
	font-weight: bold;
	list-style: none;
	margin-bottom: .2em;
	font-family: arial, sans-serif, sans;
	font-size: 110%;
}

#main {
	font-size: 89%;
	width: 96%;
	padding: 0 1% 15px 3%;
	background: transparent url('images/bg.jpg') no-repeat 100% 100%;
	/* min-height hack for ie6 or older*/
	min-height: 400px;
	height: auto !important;
	height: 400px;
	clear: both;
	float: left;
}

/* For ie6 browsers or older*/
* html #main {
	padding: 0 1% 15px 2.96%;
}

.maincontent {
	margin: 0 0 1em 1em;
	width: 69%;
	float: right;
	clear: right;
}

#outerframe {
	background-color: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
}

.user_course_category {
	font: bold 100% sans, sans-serif, arial;
	text-transform: capitalize;
	padding: .25em;
	background: #eee url('images/headertables.jpg') repeat-x top center;
	border: 1px solid #ddd;
	vertical-align: top;
	margin:.8em 0;
}
.sessions_list {
    line-height: 20px; margin-top: 20px;
}
.sessions_list_inactive {
    line-height: 20px;
}
.session_box {
	font: bold 100% sans, sans-serif, arial;
	text-transform: capitalize;
	padding: .25em;
	background: #eee url('images/headertables.jpg') repeat-x top center;
	border: 1px solid #ddd;
	vertical-align: top;
	margin:.8em 0;
	margin-bottom: 10px;
}
.session_box_title {
}
.session_box_coach {
}
.session_course_item {
    padding: 0px; margin: 0px;
}
/*
==============================================================================
	HEADER STYLES
==============================================================================
*/

#header {
	background: transparent url('images/headerbg.jpg') repeat-y top right;
	font: bold .85em Arial, sans-serif, sans;
	width: 100%;
	line-height: .8em;
	float: left;
	clear: both;
	margin-bottom: .5em;
	position:relative;
}


/*
------------------------------------------------------------------------------
	HEADER 1: Title, portal, organisation, course title
------------------------------------------------------------------------------
*/

#header1 {
	width: 30%;
	float: left;
	clear: left;
	margin: .5em 0 0 0;
}

#header1 #my_courses {
	display: none;
	visibility: hidden;
}
#top_corner
{
	
}

#institution {
	margin: 0 0 0 3.9em;
}

/*
------------------------------------------------------------------------------
	HEADER 2: Users online, help, student/teacher view
------------------------------------------------------------------------------
*/

#header2 {
	width: 60%;
	text-align: right;
	float: right;
	clear: right;
	margin: .5em 0 0 0;
	padding: 0;;
	text-align: right;
}

#header2 ul {
	list-style: none;
	margin: 0 1.9em 0 0;
	padding: 0;
}

#header2 ul li {
	display: inline;
	width: auto;
	margin: 0 .1em 0 .2em;
	padding: 0;
}

#Header2Right li a img {
	margin: -.4em 0 0 0;
	padding: 0;
}

/*
------------------------------------------------------------------------------
	HEADER 3: Main menu
------------------------------------------------------------------------------
*/

#header3 {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	clear: both;
}

#header3 input.logout {
	/* makes an input appear like a link in this header */
	background-color: transparent;
	border: none;
	color: #000;
	height: auto;
	display: inline;
	line-height: 1em;
	font: bold 1em Arial, sans-serif, sans;
	margin: -.3em 0 0 2em;
	padding: 0;
}

#header3 form {
	margin: 0;
	padding: 0;
}

#header3 #logout {
	display: inline;
	float: right;
	clear: right;
	margin: 0 1.5em 0 0;
	padding: 0;
	width: 10%;
}

#header3 #logout li {
	display: block;
	margin: 0;
	padding: 0;
	float: right;
	clear: right;
}

#header3 ul {
	list-style: none;
	margin: 0 0 0 3.9em;
	padding: 0;
	width: 80%;
}

#header3 ul li {
	float: left;
	display: inline;
	list-style: none;
	margin: 0 1em 0 0;
	padding: 0;
	width: auto;
}

#header3 ul li a {
	display: inline;
}

/*
------------------------------------------------------------------------------
    HEADER 4:
------------------------------------------------------------------------------
*/

#header4 {
	margin-top: .9em;
	text-indent: 3.9em;
	width: 100%;
	float: left;
	clear: both;
	line-height: .9em;
	height: auto;
	background: #fff none;
	position: relative;
	padding: 0;
}

/* Solves the IE inherited margin bug */
/* IE-7*/
*:first-child+html #header4 {
	margin-top: 0;
}

/*IE-6 or older*/
* html #header4 {
	margin-top: 0;
}

#header4 a {
	font-size: 120%;
	letter-spacing: -.05em;
	width:30%;
}


#header4 .clear {
	width: 100%;
	background: url('images/shadowup.jpg') no-repeat bottom right;
	clear: both;
	position: absolute;
	top: -.9em;
	right: 0;
	margin: 0;
	padding: 0;
}

/*
------------------------------------------------------------------------------
    SHORTCUTS
------------------------------------------------------------------------------
*/

#toolshortcuts {
	width:550px;
	position: absolute;
	bottom:-.75em;
	right:.5em;
	padding: 0;
	margin:0;
	text-align: right;
}

#toolshortcuts a {
	margin:0 3px 0 3px;
}

/*
==============================================================================
    FOOTER STYLES
==============================================================================
*/

#footer {
	background: url('images/headerbg.jpg') repeat-y top right;
	font-family: Arial, sans-serif, sans;
	font-weight: bold;
	width: 98%;
	float: left;
	clear: both;
	padding: .2em 0 .6em 2%;
	border-bottom: 1px solid #999;
}

#footer .copyright {
	float: right;
	clear: right;
	margin: 0 2em 0 0;
}


#bottom_corner
{
	
}

/*
==============================================================================
    NAVIGATION MENU
==============================================================================
*/

#lang_form select {
	font-family: sans-serif, sans, arial;
	margin: 1em 18px;
	width: 179px;
	text-align: center;
}

.menu {
	background: url('images/bglogin.jpg') repeat-y top center;
	float: left;
	clear: left;
	width: 215px;
	/* min-height hack for ie6 or older*/
	min-height: 380px;
	height: auto !important;
	height: 380px;
	border: 1px solid #999;
	margin: 0 0 1em 0;
	padding: 0 0 .3em 0;
	font-family: Arial, sans-serif, sans;
}

.menu #formLogin {
	text-align: center;
	color: #111;
	font-weight: bold;
	margin-bottom: .8em;
}

.menu #formLogin input {
	margin: .3em auto;
}

.menusection {
	width: 100%;
	margin: .3em 0 .3em 0;
}

.menusection .menulist {
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	text-indent: 1.2em;
	width: 100%;
	list-style: none;
}

.menusection .menulist li {
	margin: .4em .5em .4em 0;
}

.menusectioncaption {
	font: bold 1.2em Arial, sans-serif, sans;
	color: #111;
	margin: 0 0 .5em 1em;
}

/* Specific for administration section*/
.menu img {
	margin: 0 0 0 1.2em;
	vertical-align: baseline;
}

.menu label {
	display: block;
	clear: both;
	font: bold 1.2em Arial, sans-serif, sans;
	color: #111;
	text-align: center;
	margin: .3em 0;
	padding: 0;
	width: 100%
}

.menu #loginform {
	text-align: center;
	color: #111;
	font-weight: bold;
	margin-bottom: .8em;
}

.menu #loginform input {
	margin: .3em auto;
	display: block;
}

.menu .note {
	margin: .3em 0 .3em .5em;
}

td #lang_form select {
	margin: 1em 31px;
}

td .menu {
	background: url('images/bgloginconf.jpg') repeat-y top left;
	width: 244px;
	margin: 0 auto;
}
.menulist { 
	list-style: none; 
	margin: 0 0 12px 0; 
	padding: 0; 
}
#centerwrap {
  float: left;
  width: 100%; 
  margin-right: -95%; 
	/* this needs to be less than 100% for Moz/Mac which thinks 
         it's empty otherwise. The difference is made up by putting a 
         negative left margin on the left float:
	   Note IE/Mac doesn't like this method ~ it wants the 100% so it can 
	   be fed in using IE only CSS below becasue IE/Win also works with the 100% method.  
	*/
}
/* --- course navigation menu as a definition list  --- */
#swap_menu_link {
  float: left;
}
#toolnavbox {
	margin: 0 0 0 10px; 
	padding: 0; 
	float: left; 
	border: 1px solid #f0f0f0;
}
#toolnavbox dl { 
	width: 160px; 
	margin: 0 auto; 
	padding: 0;
	background: transparent; 
	font-size: 12px; 
	text-align: center; 
}
#toolnavbox dt { 
	margin: 0; 
	padding: 0; 
	font-weight: bold; 
	font-size: 12px; 
	text-align: center; 
	color: #000; 
	border-bottom: 1px solid #fff; 
	background: transparent; 
}
#toolnavbox dd {
	margin: 0; 
	padding: 0; 
	color: #009; 
	text-align: left;
	border-bottom:1px solid #fff; 
	background: #E5EDF9; 
}
#toolnav img {
	float: left; 
	width: 25px; 
	height: 25px; 
	margin: 0 4px 0 0; 
}
#toolnavlist a, #toolnavlist a:link { 
	background: #E5EDF9; 
	color: #dcdcdc; 
	padding: 5px 5px 5px 10px; 
	margin: 0; 
	text-decoration: none; 
	display: block;
}
#toolnavlist a:hover { 
	background: #fff; 
	color:#dcdcdc; 
}
#toolnavlist a#here { 
	background: #fff; 
	color:#dcdcdc; 
}
/* --- end of course navigation menu section  --- */ 
/*
this lets the navigation menu appear to the left:
#center { margin: 0 0 0 180px; padding: 10px 0 40px 0;  
 min-height: 300px; }

#toolnav { float: left; width: 180px; padding: 20px 0 0 0;
 margin-left: -5%; 
}
#toolnav { float: right; width: 180px; padding: 0; margin: 0;
 margin-left: -5%; /* the difference to make the left colum appear flush left */
}

/* Hide from IE5-mac. Only IE-win sees this. \*/ 
* html #toolnav { margin-right: 0px;}
* html #center { height: 1%; margin-left: 0; }
 /* End hide from IE5/mac */
*/
/*
==============================================================================
    DOCUMENT MODULE AND DATA TABLES
==============================================================================
*/

/* Data tables */
.data_table {
	margin: 0 auto;
	width: 98%;
	clear: both;
	font: bold 100% Arial, sans, sans-serif;
}

.data_table a {
	font: bold 100% Arial, sans, sans-serif;
	text-decoration: none;
}

.data_table .row_even {
	border-right: 1px solid #fff;
	background-color: #eee;
	padding: .2em;
}

.data_table .row_odd {
	border-right: 1px solid #fff;
	background-color: #f9f9f9;
	padding: .2em;
	color: #333;
}

.data_table th,.data_table .row_odd th,.row_odd th {
	font: bold 100% sans, sans-serif, arial;
	text-transform: capitalize;
	padding: .2em;
	background: transparent url('images/headertables.jpg') repeat-x top
		center !important;
}

.data_table .row_odd th a {
	text-decoration: none;
	font-size: 110%;
}

.row_odd img,.row_even img {
	margin: 0 0 0 0;
}

/* Document links */
#doc_links {
	margin-left: .5em;
}

#doc_links a,#folderselector {
	font: bold 100% Arial, sans-serif, sans;
	text-decoration: none;
}

#doc_links a:hover,#doc_links a:focus {
	color: #111;
}

#folderselector {
	color: #000;
}

#folderselector select {
	margin: 0 .2em;
}

.document_owner {text-align: right;}
/*
==============================================================================
    FORM STYLES
==============================================================================
*/

div.row {
	clear: both;
	padding-top: 8px;
	margin-left: 1em;
}

div.row div.formw {
	width: 73%;
	margin: 0;
}

div.row div.label {
	float: left;
	text-align: left;
	font: bold 115% Arial, sans-serif, sans;
	width: 25%;
	margin: 0;
}

.formw {
	margin-top: .2em;
	padding-left: .6em;
}

.label {
	margin-right: 1em;
}

.row .formw input {
	margin: 0;
}

/* Solves the IE inherited margin bug */
/* IE-7*/
*:first-child+html .row .formw input {
	margin-left: -1em;
}

/*IE-6 or older*/
* html .row .formw input {
	margin-left: -1em;
}

[dir=ltr] div.row div.label,[dir=rtl] div.row div.formw {
	float: left;
	text-align: right;
}

[dir=rtl] div.row div.label,[dir=ltr] div.row div.formw {
	float: right;
	text-align: left;
}

/* Specific forms: profile,add course,advanced search,advanced course search,etc.. */
#add_course,#profile,#advanced_course_search,#advanced_search,#category,#course_user_import,#export_users,#update_course,#user_add,#user_import
	{
	border: 1px solid #ddd;
	background: transparent url("images/headerform.jpg") no-repeat top left;
	width: 550px;
	position: relative;
	padding: 60px 0 1em 0;
}

#add_course,#advanced_course_search,#advanced_search,#course_user_import,#export_users,#update_course,#user_add,#user_import
	{
	width: 650px;
	float: left;
	clear: left;
	padding-top: 50px;
	margin-bottom: 1em;
}

#add_course .label,#advanced_course_search .label,#advanced_search .label,#category .label,#course_user_import .label,#export_users .label,#user_import .label
	{
	text-align: left;
}

#advanced_search,#course_user_import,#export_users,#user_import {
	width: 550px;
}

#category {
	clear: both;
}

#category select {
	margin-right: .8em;
}

#export_users .label,#user_import .label {
	width: 45%;
	text-align: left;
}

#export_users .formw,#user_import .formw {
	width: 53%;
}

#myprofilefooter {
	float: left;
	clear: both;
	width: 50%;
	margin: 3em auto;
	background: #fff url("images/tinydivider.png") no-repeat bottom center;
	font-size: 110%;
	text-align: center;
	height: 3.5em;
	width: 550px;
}

#profile {
	border:none;
}

#profile .clear {
	position: absolute;
	background: transparent url("images/divider3.jpg") no-repeat top center;
	top: 30px;
	left: 1em;
	height: 55px;
	width: 100%;
}

#profile .label,#update_course .label,#user_add .label {
	text-align: right;
}

#profile .formw,#profile .label {
	position: relative;
	left: 20%;
}

#update_course {
	width: 90%;
}

#update_course .formw {
	margin-top: .7em;
}

#update_course .label {
	margin-top: .6em;
}

#user_add {
	width: 80%;
}

#user_add input {
	margin-left: .3em;
}

/*
==============================================================================
    ADMIN SECTION
==============================================================================
*/

.admin_section {
	float: left;
	margin: 1em 1em;
	width: 40%;
	border: 1px solid #999;
	padding: .5em .7em .5em .7em;
	line-height: 120%;
}

.admin_section h4 {
	margin: 0;
	width: 100%;
	font-size: 120%;
	font-family: Arial, sans, sans-serif;
	font-weight: bold;
}

.admin_section input {
	margin: .5em;
}

/*
==============================================================================
    COURSE ADMIN
==============================================================================
*/

.courseadminview {
	width: 80%;
	text-align: center;
	border: 1px solid #999;
	margin: 1.5em auto;
}

.courseadminview a {
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	font: bold 100% Arial, sans-serif, sans;
}

.courseadminview table td {
	text-align: left;
	padding:3px;
}

#courseintro_icons {
	margin: 1em auto;
	clear: both;
	width: 80%;
}

.viewcaption {
	font: bold 110% arial, sans, sans-serif;
	position: relative;
	background-color: #fff;
	float: left;
	clear: left;
	top: -1.1em;
	padding: 0 .2em;
	margin: 0;
}

/*
==============================================================================
    AGENDA
==============================================================================
*/

#agenda_list {
	margin: 0 auto;
	width: 95%;
}

#agenda_list .datanow {
	background: #ddd url('images/headertables.jpg') repeat-x top center;
	border: 1px solid #ddd;
	vertical-align: top;
}

#agenda_list img {
	margin-right: .8em;
}

#agenda_list td.data img,#agenda_list td.datanow img {
	margin-bottom: -.6em;
	margin-top: -.3em;
}

#agenda_list td.textnow {
	border: 1px solid #bbb;
	background-color: #eee;
	padding: .5em;
}

#agenda_list tr,#agenda_list td {
	width: auto;
	border: none;
}

#agenda_list tr.data,#agenda_list td.data,.data {
	background: transparent url('images/headertables.jpg') repeat-x top
		center;
	vertical-align: top;
	border: 1px solid #ddd;
}

#agenda_list tr.text,#agenda_list td.text,.text {
	border: 1px solid #ddd;
}

.agenda_month_divider {
	text-align: center;
	background: #fff url("images/divider2.jpg") no-repeat 50% 1.3em;
	height: 2.8em;
}

.agenda_month_divider,.title {
	font: bold 1.2em Arial, sans-serif, sans;
	color: #4170b4;
	text-align: center;
}

#agenda_select img {
	margin-right: .2em;
}

#agenda_select li {
	margin-bottom: .6em;
	font: bold 1em Arial, sans-serif, sans;
}

#agenda_select li a {
	font: bold 1em Arial, sans-serif, sans;
	text-decoration: none;
}

.alternativeBgLight {
	background-color: #ccc;
}

.announcements_datum {
	color: #888;
	border: 1px solid #ddd;
	background-color: #eee;
}

.data,.announcements_datum,.datanow {
	font: bold 1em Arial, sans-serif, sans;
}

.datanotbold {
	font-weight: normal;
}

span.agendaitem {
	text-align: center;
	display: block;
	font-size: 95%;
	width: 90%;
	margin: 0 auto;
	font-size: .9em;
}

span.agendaitem i {
	font: bold 97% Arial, sans-serif, sans;
	color: #a9a;
}

/* Calendar */
.days_today {
	font: bold 1em Arial, sans-serif, sans;
	text-decoration: none;
	color: #667;
}

.days_week {
	background-color: #ccc;
}

.days_week,.days_weekend,.days_today {
	text-align: center;
}

.days_week a,.days_weekend a {
	font: bold 1em Arial, sans-serif, sans;
}

.days_weekend {
	background-color: #aaa;
}

.days_weekend .agendaitem i {
	color: #444;
}

#newedit_form tr.title {
	background:none;
	text-align:left;
}

.title {
	background: #ddd url('images/headertables.jpg') repeat-x top center;
}

.weekdays {
	font: bold 1.1em Arial, sans-serif, sans;
	color: #fff;
	background-color: #667;
	text-align: center;
}
.ical_export { float: right; margin-top: 0.2em;}

/*
==============================================================================
    DOKEOS CONFIG SETTINGS
==============================================================================
*/

#settings {
	width: 70%;
	margin: .5em auto;
	border: 1px solid #ccc;
	padding: .2em;
}

.sectiontitle {
	text-align: left;
	text-indent: .5em;
	font: bold 130% Arial, sans-serif, sans;
	color: #666;
	margin: .1em auto .1em auto;
	padding: .1em;
	border: 1px solid #ccc;
	background: transparent url('images/headertables.jpg') repeat-x top
		center;
	width: 99.5%;
	letter-spacing: -.03em;
}

.sectioncomment {
	margin: .5em 0 .5em .5em;
	font: bold 110% Arial, sans-serif, sans;
}

.sectionvalue {
	margin: .5em 0 2em .5em;
}

/*
==============================================================================
    BLOG
==============================================================================
*/

.blog_left,.blog_right {
	background: #fff url("images/vertdivider.jpg") no-repeat top left;
	padding-left: 10px;
}

.blog_menu_title {
	width: 99%;
	border-bottom: 1px solid #4170b4;
	background: transparent url('images/headertables.jpg') repeat-x top
		center;
}

.blog_right {
	text-align: justify;
	padding-left: 1em;
	background-color: transparent;
}

.blog_right a img {
	margin-right: .2em;
}

.blog_right table {
	margin-left: .8em;
}

.blog_menu_title,.blogpost_title {
	color: #4170b4;
	font: bold 110% Arial, sans-serif, sans;
}

.blogpost {
	margin: .2em 1.5em;
	background: transparent url("images/tinydivider.png") no-repeat bottom
		center;
	padding-bottom: 2em;
	text-indent: 1em;
}

.blogpost_actions img {
	margin: 0 0 0 .8em;
	vertical-align: bottom;
}

.blogpost_comment {
	text-indent: 2em;
	margin-top: .5em;
}

.blogpost_date,.blog_subtitle,.blog_menu_title,.blogpost_comment_date {
	color: #888;
	font: bold 110% Arial, sans-serif, sans;
}

.blogpost_date,.blogpost_comment_date {
	border: none;
	margin-left: 1em;
}

.blogpost_info,.blogpost_comment_info {
	margin-left: 1em;
	font: bold 100% Arial, sans-serif, sans;
}

.blogpost_introduction,.blogpost_text {
	display: block;
	clear: both;
	margin: .5em 0;
	text-indent: 2em;
}

.blogpost_title {
	font: bold 130% Arial, sans-serif, sans;
	margin: 0 0 .5em 1em;
}

.blog_subtitle {
	position: relative;
	top: .8em;
	padding: .2em 1em;
	witdh: 100%;
	border: 1px solid #ddd;
	background: #ddd url('images/headertables.jpg') repeat-x top center;
	display:block;
	width:250px;
	margin:0 0 -1em 0;
}

/*Hack for KHTML and safari browser to fit left*/
body:last-child:not(:root:root) .blog_subtitle {
	width:220px;
}

.blog_title {
	padding: .1em .9em;
	font: bold 130% Arial, sans-serif, sans;
	color: #fff;
	background-color: #999;
	margin:0 0 -1.3em 0;
	display:block;
	width:250px;
}

/*Hack for KHTML and safari browser to fit left*/
body:last-child:not(:root:root) .blog_title {
	width:222px;
}

.comments,.new_comment {
	margin-left: 1em;
}

.blogpost_comment {
	background: transparent url('images/thindivider.png') no-repeat bottom
		center;
	padding-bottom: 25px;
	margin-bottom: 2em;
}

.blogpost_comment_date {
	font-size: 95%;
}

.blogpost_comment_title {
	font-size: 95%;
	background: transparent url('images/headertables.jpg') repeat-x top
		center;
	padding: 0.4em;
	border: 1px solid #ddd;
}

.blogpost_comment .blogpost_text {
	border: 1px solid #ccc;
	padding: .6em;
}

#title {
	font: bold 1.2em Arial, sans-serif, sans;
	color: #4170b4;
	text-align: center;
}

.attachment_comment {
	color: #737780;	
	font-style: italic ;
	font-weight: normal;	
}


/*
==============================================================================
    TRACKING
==============================================================================
*/

a.specialLink {
	font: bold 80% Arial, sans-serif, sans;
	color: #900;
}

a.specialLink:hover,a.specialLink:focus {
	color: #990;
}

/*
==============================================================================
    FORUM
==============================================================================
*/

.forum {
	border: 1px solid #ccc;
	padding: 1px;
}

.forum_header td {
	background: transparent url('images/line.jpg') repeat-x bottom center;
}

.forum_attach_comment {
	color: #737780;	
	font-style: italic ;
	font-weight: normal;	
}

.forum-thread-header{
    color: #000000;
    background-color: #F7F7F7;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}
.forum-thread-body{
    color: #000000;
    background-color: #FFFFFF;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

/*
------------------------------------------------------------------------------
    POST
------------------------------------------------------------------------------
*/

.forum_message_left {
	background: #eee url('images/headertables.jpg') repeat-x top center;
	border-right: 1px solid #ddd;
	vertical-align: top;
	width: 15em;
	border-collapse: collapse;
}

.forum_message_post_text {
	margin-bottom: 10px;
	vertical-align: top;
}

.forum_message_post_title {
	text-align: left;
	font: bold 95% Arial, sans-serif, sans;
	background: transparent url('images/headertables.jpg') repeat-x top
		center;
	padding: 0.2em;
	vertical-align: top;
	height: 20px;
	border: 1px solid #ddd;
}

.quote {
	background-color: #EFEFEF;
}



.forum_description {
	color: #000;
	font-weight: normal;
	font-family:Arial,sans,sans-serif;
}

.forum_title{
	color: #000;
	font-size: 14px;
	font-family:Arial,sans,sans-serif;

}
.forum_low_description{
	color: #737780;	
	font-style: italic ;
	font-weight: normal;
	font-family:Arial,sans,sans-serif;
}



/*
==============================================================================
    DISPLAY MESSAGES
==============================================================================
*/

/* Common message styles */
.confirmation-message,.error-message,.normal-message,.warning-message {
	position: relative;
	border: 1px solid #ddd;
	margin: 6px 6px 10px 2px;
	padding: 6px;
	width: 98%;
	color: #00407F;
	//This image is wrong size, so is commented until one solution
	//background: transparent url('images/alert.jpg') no-repeat 10px 5px;
	font: bold 110% Arial, sans-serif, sans;
    min-height: 30px;
}
.confirmation-message img,.error-message img,.normal-message img,.warning-message img
	{
	float:left;
	position: realtive;
	margin: 0 5px 5px 0;
	
}
.confirmation-message .bottom-link, .error-message .bottom-link, .normal-message .bottom-link, .warning-message .bottom-link
{
	position: absolute;
	bottom: 0.2em;
	right: 0.5em;
}

#message {
	margin: 0 auto;
	text-align: center;
}

#message select {
	margin: 10px 0;
	width: 220px;
}

#message textarea {
	margin: 10px 0;
}

#message td {
	padding: 4px;
}
.message-top-title {
	float:left;
	margin-top:1px;
	margin-bottom:1px;
	background-color:#F2F2F2;
	width:600px;
	border-bottom:1px solid #CCCCCC;
	margin:left:5px;
}
.message-bottom-title {
	height:22px;
	float:left;
	margin-top:1px;
	margin-bottom:1px;
	background-color:#F2F2F2;
	width:600px;
	border-bottom:1px solid #CCCCCC;
}
.message-content-body-left{
    float:left;
	width:55%;  
}
.message-conten-body-right {
	float:right;   
	text-align:left;
    width:45%;   
}
.message-body-title{
	float:right;
    margin-top:1px;
    margin-bottom:5px;
	border-bottom:1px solid #CCCCCC;	
	border-collapse:collapse;   
}
.message-image-info {
	width:35%;
    float:left;
	margin-top:10px;
	margin-bottom:10px;	
	margin-left:10px;
	text-align:left;
	margin-right:20px;
}
.message-conten-body-right dd {
	color:#333399;
    border-bottom:1px solid #CCCCCC;
	height:20px;
	text-decoration:none;
	outline-style:none;
	background:#ffffff;
}
.message-conten-body-right:hover {
}
/*
==============================================================================
    DROPBOX
==============================================================================
*/

#tabbed_menu {
	border: 1px solid #ccc;
	background: transparent url('images/dropbox.jpg') no-repeat top left;
	width: 10em;
	margin: 0 0 1em 0;
}

#tabbed_menu_tabs {
	width: 90%;
	margin: 15px .2em 0 .2em;
	padding: 0;
}

#tabbed_menu_tabs li {
	padding: 0;
	margin: 0 .8em;
}

.dropbox_date {
	color: #737780;	
	font-style: italic ;
	font-weight: normal;	
}


/*
==============================================================================
    SYSTEM ANNOUNCEMENTS
==============================================================================
*/

div.system_announcement {
	padding: .2em;
	border: 1px solid #ddd;
}

.system_announcement {
	background: #ddd url('images/headertables.jpg') repeat-x top center;
	font: bold 100% arial, sans-serif, sans;
}

.system_announcement_content {
	font: normal 100% 'Lucida Grande', verdana, Arial, sans-serif, sans;
}

.system_announcements {
	background: transparent url('images/systemenouvelles.jpg') no-repeat top
		left;
	padding-top: 30px;
	width: 50%;
}

.system_announcements h3 {
	text-align: center;
}
/*
==============================================================================
	WCAG
==============================================================================
*/

.skip {
	position:absolute;
	top:0;
	left:-9000px;
}

/*
==============================================================================
    INSTALLATION
==============================================================================
*/

#installation_steps {
	background-color: #EFEFEF;
	float: left;
}

.current_step {
	font-weight: bold;
}

.RequirementHeading {
	margin-right: 10px;
}

.RequirementHeading h1 {
	border-bottom: 1px solid #0066CC;
	color: #0066CC;
	font-size: 1.2em;
	font-weight: bold;
}

.RequirementText {
	color: #666;
	float: right;
	font-size: 1.0em;
	font-weight: normal;
	width: 200px;
}

.RequirementContent {
	color: #000;
	font-size: 1.0em;
	font-weight: normal;
}

.RequirementContent table {
	border: 1px solid #ccc;
	width: 400px;
}

.RequirementContent table th {
	border-bottom: 1px solid #ccc;
	text-align: left;
}

.requirements-item {
	background-color: #f7f7f7;
	padding-left: 2px;
	width: 50%;
}
/*
------------------------------------------------------------------------------
    Survey
------------------------------------------------------------------------------
*/
#survey_title{
	background-color:#264269;
	color:#FFF;
	padding:2px;
	border: 1px solid #264269;
}
#survey_subtitle{
	background-color:#264269;
	color:#FFF;
	padding:2px;
	border: 1px solid #264269;
}
.survey_content{
	background-color:#EFEFEF;
	color:#264269;
	padding:5px;
	border: 1px solid #264269;
}
.survey_question_wrapper{
 	border: 1px solid #4271b5;
}
.survey_question{
	/* 264269 4271b5 E5EDF9 */
	background-color:#4271b5;
	color:#FFFFFF;
	padding:5px;
	/*border: 1px solid #264269;*/
}
.survey_question_options{
	/* 264269 4271b5 E5EDF9 */
	background-color:#FFF;
	color:#000;
	padding:5px;
	/*border: 1px solid #264269;*/
}
.survey_export_link { float: right; }
/*
------------------------------------------------------------------------------^M
    sessions
------------------------------------------------------------------------------^M
*/

#ajax_list_coachs {
        position:absolute;
        border:1px solid #4171B5;
        margin:0px;
        padding:0px;
        margin-left:200px;
        margin-top:-23px;
        background-color:#FFFFFF;
        height:auto;
        overflow:auto;
}
#ajax_list_courses {
        position:absolute;
        border:1px solid #4171B5;
        margin:0px;
        padding:0px;
        margin-left:200px;
        background-color:#FFFFFF;
        height:auto;
        overflow:auto;
}
#ajax_list_users {
        position:absolute;
        border:1px solid #4171B5;
        margin:0px;
        padding:0px;
        margin-left:200px;
        background-color:#FFFFFF;
        height:auto;
        overflow:auto;
}

#chat_login_name {
	color : #900;  
}
/* Quizzes tool */
.quiz_export_link { float: right; }

/*
------------------------------------------------------------------------------
    Learning path
------------------------------------------------------------------------------
*/
#show_audiorecorder_div{background:#F0F0F0; border:1px solid #999999; font-weight:bold; padding:2px; width:350px;}

/* Glossary tool */
.glossary-term {
	margin: 1em;
	background-color: #ffe99b;
	padding: 0.5em 0.5em 1.8em 0;
	-moz-border-radius: 0.5em;
}
.glossary-term-title {
	margin: 2em 0 1em 0.5em;
	font-weight: bold;
	font-size: 120%;
}

.glossary-term-desc {
	margin-left: 1em; 
}
.glossary-term-action-links {
	float: right;
}
.glossary-term-edit-form {
	margin: 1em;
	background-color: #FFE4C4;
	padding: 0.5em 0.5em 2em 0;
	-moz-border-radius: 0.5em;
}
.glossary-term-edit-desc {
	font-weight: bold;
	font-size: 120%;
}

.glossary-term-edit-title {
	font-weight: bold;
	font-size: 120%;
}
.glossary-add-form {
	font-weight: bold;
	font-size: 120%;
	margin: 1em;
}
.glossary-orderby-link {
	float:right;
	margin: 1em;
}
.glossary-msg-error {
    color: #FF0000;
    display :none;
    font-weight: normal;
    font-size: 80%;    
}

/*NAVIGATION MENU BAR*/


.menucaption {
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
}
.menusection {
	width: auto;
	margin: 24px 6px 0 6px;
	padding-left: 10px;
	border: 1px solid #4171B5;
}
.menusectioncaption {
	position: relative;
	top: -9px;
	background-color: #E5EDF9;
	font-size: 12px;
	padding: 0 8px 0 4px;
}
.menulist {
	list-style: none;
	margin: 0 0 12px 0;
	padding: 0;
}
#centerwrap {
  float: left;
  width: 100%;
  margin-right: -95%;
	/* this needs to be less than 100% for Moz/Mac which thinks
         it's empty otherwise. The difference is made up by putting a
         negative left margin on the left float:
	   Note IE/Mac doesn't like this method ~ it wants the 100% so it can
	   be fed in using IE only CSS below becasue IE/Win also works with the 100% method.
	*/
}

#center { margin: 0 190px 0 0; padding: 10px 0 40px 0;
 min-height: 300px; }

#toolnav { float: right; width: 180px; padding: 0; margin: 0;
 margin-left: -5%; /* the difference to make the left colum appear flush left */
}

/* Hide from IE5-mac. Only IE-win sees this. \*/
* html #toolnav { margin-right: 0px;}
* html #center { height: 1%; margin-left: 0; }
 /* End hide from IE5/mac */



/* --- course navigation menu as a definition list  --- */
#swap_menu_link {
  float: left;
}
#toolnavbox {
	margin: 0 0 0 10px;
	padding: 0;
	float: left;
	border: 1px solid #4271b5;
}
#toolnavbox dl {
	width: 160px;
	margin: 0 auto;
	padding: 0;
	background: transparent;
	font-size: 12px;
	text-align: center;
}
#toolnavbox dt {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: #000;
	border-bottom: 1px solid #fff;
	background: transparent;
}
#toolnavbox dd {
	margin: 0;
	padding: 0;
	color: #009;
	text-align: left;
	border-bottom:1px solid #fff;
	background: #E5EDF9;
}
#toolnav img {
	float: left;
	width: 25px;
	height: 25px;
	margin: 0 4px 0 0;
}
#toolnavlist a, #toolnavlist a:link {
	background: #D3D3D3;
	color: #4171b5;
	padding: 5px 5px 5px 10px;
	margin: 0;
	text-decoration: none;
	display: block;
}
#toolnavlist a:hover {
	background: #fff;
	color:#4171b5;
}
#toolnavlist a#here {
	background: #fff;
	color:#4171b5;
}

/* Notebook */
.notebook-add-form {
    margin: 1em;
    background-color: #c3d9ff;
    padding: 1em  1em;
}
.notebook-add-desc-textarea {
    background-color: #f2f5f8;
    border-color: #ffe99b;
    overflow: hidden;
}
.notebook-add-title-text {
    background-color: #f2f5f8;
    border-color: #ffe99b;
}
.notebook-edit-desc-textarea {
    background-color: #e0ecff;
    border-color: #ffe99b;
    overflow: hidden;
}
.notebook-edit-title-text {
    background-color: #e0ecff;
    border-color: #ffe99b;    
}
.notebook-msg-error {
    color: #FF0000;
    display :none;
    background-color: #ffe99b;
    width: 40%;     
}
.notebook-list{
    margin: 1em 1em 0em 1em;
    background-color: #79b;
    padding: 0.3em  0.3em; 
    -moz-border-radius: 0.5em;
}
.notebook-title-list{
    color : #fff;
    padding: 0.3em  0.3em;
    font-weight: bold;
    font-size: 120%;
}
.notebook-desc-list {
    margin: 0em;
    background-color: #f2f5f8;
    padding: 0.5em 0.3em 2em 0.3em;
    border: 1px solid #79b; 
}
.notebook-term-action-links {
    padding: 0.3em  0.3em;
    width: 50%;    
    color : #fff;
}
.notebook-orderby-link {
    text-align:right;
    margin-right: 1em;    
}
.notebook-search-title {
    text-align:right;
    margin: 1em;
}
.notebook-date-information {
    color : #fff;
    padding: 0.3em;
    font-size: 120%;
    font-weight: bold;
}

/* --- end of course navigation menu section  --- */
/* Gradebook */
.resource-deleted {
    color:#990000;
}
.gradebook-table-header {
    border: 1px solid rgb(153, 153, 153); 
    background: rgb(240, 240, 240) none repeat scroll 0% 0%;
}
.gradebook-table-body {
    border: 1px solid rgb(153, 153, 153); 
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;    
}

/* actions */
.actions_lp {
	background:#F8F8F8;
	/*border-bottom:1px solid #999999; */
	/*border-top:1px solid #999999; */
	height:29px;
	padding-left: -17px;
	margin-bottom: 1px;
	background:url(images/actions.jpg) repeat-x;
	vertical-align:middle;
	width: 90%;
	margin-left:17px;
}
.actions_lp img {
	vertical-align:middle;
}
.actions_lp a {
	margin-right: 10px;
	vertical-align:middle;
}
.actions_lp span {
	margin-right: 10px;
	vertical-align:middle;
}
.actions_lp form {
	margin-right: 10px;
	vertical-align:middle;
}
.actions {
	background:#efefef;
	border-bottom:1px dotted #999999;
	border-top:1px dotted #999999;
	/*height:35px;*/
	padding:2px;
	margin-bottom: 5px;
	/*background:url(images/actions.jpg) repeat-x;*/
	vertical-align:middle;
}
.actions img {
	/*display:inline-block;*/
	border: none;
	text-decoration: none;
	background-color: #efefef;
	padding-right: 5px;
	vertical-align:middle;
}
.actions a {
	display:inline-block;
	margin-right: 10px;
	vertical-align:middle;
}
.actions span {
	margin-right: 10px;
	vertical-align:middle;
}
.actions form {
	margin-right: 10px;
	vertical-align:middle;
}
/* big actions */
.actionsbig {
	background:#F8F8F8;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	background-color:#efefef;
	height:100%;
	padding:2px;
	margin-bottom: 5px;
	vertical-align:middle;
	float:left;
	width:100%;
}
.actionsbig a  { 
	float:left; 
	padding-left:12px;
	padding-right:12px; 
	text-align:center;	
}

.actions img {
	vertical-align:middle;
}
.actions a {
	margin-right: 10px;
	vertical-align:middle;
}
.actions-title {
    background:#efefef;
    border-bottom:1px dotted #999999;
    border-top:1px dotted #999999;
    /*height:35px;*/
    padding:4px;
    margin-bottom: 5px;
    font-size:14px;
    font-weight:bolder;
    /*background:url(images/actions.jpg) repeat-x;*/
    vertical-align:middle;
}
/**********************************************
 *  MESSAGE TOOL                           *
 **********************************************/

/* styles from the new_message.php file */

.message_view_table{
 	cellspacing:0;
 	cellpadding:0; 	
 	background-color:#dbeaf5;
 	border=0;
  	border-collapse: collapse;
	width: 100%;	
}
.message_view_table th{
	padding-right: 12px;
  	border: 1px  solid gray;
  	background-color: #f0f0f0;
}
.message-select-box{
	float:left;
    width:350px;
	display:inline;
    position:absolute;
	margin-top:20px;
    margin-left:32px;
}
/* styles from the my.profile.php file */
.message-content {
	float:right;
    margin:20px auto;
    background:#F5E38E;
    border:2px solid #EBCA4F;
    padding:10px;
    width:200px;
    position:relative;	
}
.message-content .message-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.message-content-internal{
    display:inline;
    margin:20px auto;
    background:#F5E38E;
    border:2px solid #EBCA4F;
    padding:10px;
    width:100px;
    position:relative;
    margin-top:150px;
    margin-right:-100px;	
}
.message-title { color:#ff0000; font-size:15px; }
.message-body { font-size:11px; padding: 0 0 11px; color:#333; }
.message-link { color:#ff8400; }
.message-view {
	float:right;
    margin:20px auto;
    background:#F5E38E;
    border:2px solid #EBCA4F;
    padding:10px;
    width:100px;
    position:relative;
	margin-top:115px;
	margin-right:-100px;
   }
.message-content-table {
	background-color:white;
	border:1px solid black;
	position:absolute;
	width:200px;
	height:60px;
	z-index:3;
	visibility:hidden;
	top:85px;
	left:10px;
	margin: 0px;
	padding: 0px;
}
   
   
/**********************************************
 *  EXERCISE TOOL                           *
 **********************************************/
.exercice_form {
	width: 300px;
}
#validationButton{
	text-decoration: none;
	margin: 5px;
	/*border:1px solid #999999;*/
	/*background:#F0F0F0;  */
	padding: 3px; 
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#666;
}
.rounded{
	background:#ccc;
	padding: 3px;
	width: 200px;
	margin-left:10px;
}
.rounded_inner{
	background:#FFF;
	padding-top: 10px;
	padding-bottom: 10px;		
}
.rounded_inner:hover{
	color:#C802A5;
	background:#F0F0F0;
}
.exercise_scenario_label{

}
.exercise_scenario_element{

}
span.checkbox {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
span.radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/radio.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
#question_title{

}
#exercise_close_link{
	background: url(images/close.gif) no-repeat;
	padding-left: 20px; 
}
#exercise_close_link:hover{
	background: url(images/close_highlight.gif) no-repeat;
	padding-left: 20px; 
} 
/*SOCIAL TOOL*/
.image-social-content {
    cursor:pointer;
    text-align:left;
    margin:1px auto;
    background:#ffffff;
    border:1px solid #B8C8DC;
    padding:5px;
    width:100px;
    position:relative;
    margin-right:3px;
    margin-left:4px;
    margin-bottom:2px;
}
.image-social-content .image-delete {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
}
.social-title{
    color:#ffffff;
    background:#4475B0;
    border-bottom:1px dotted #4475B0;
    border-top:1px dotted #4475B0;
    padding:0px;
    margin-bottom: 0px;
    vertical-align:middle;
    font-weight:bolder;
}
.social-subtitle{
    background:#FFFFFF;
    border-bottom:1px dotted #999999;
    border-top:1px dotted #999999;
    padding:0px;
    margin-bottom: 0px;
    vertical-align:middle;
}
.social-qualify{
    border-bottom:1px solid #ece9d8;
    border-left:1px solid #ece9d8;
    background:#FFFFFF;
}
.social-qualify-display{
    border-bottom:1px solid #ece9d8;
    border-left:1px solid #ece9d8;
    background:#FFFF66;
    color:#000033;
    font-weight:bold;
}
.social-info{
    background:#B8C8DC;
    color:#4475B0;
    font-size:12px;
    font-weight:bold;   
}
.social-display-image{
	float:right;
	margin-top:-130px;
	margin-right:5px;
}
.social-search-image{
	color:#000033;
	margin-top:2px;
    border-bottom:1px solid #6B6262;
    border-left:1px solid #6B6262;
	border-right:1px solid #6B6262;
	border-top:1px solid #6B6262;	
	width:250px;
}
.social-subtitle-search{
	background:#ffffff;
	border-top:1px #9DACBF solid;
	border-bottom:1px #9DACBF solid;
}
.social-align-box {
text-align:left;
float:left;
}
.social-content-description {
	background:#ECE9D8;	
}
.social-content-body{
	background:#ffffff;		
}
.social-content-table{
	border-top:1px #9DACBF solid; 
	border-left:1px #9DACBF solid;
	border-right:1px #9DACBF solid; 
	border-bottom:1px #9DACBF solid;
}

.social-profile-info {
	width:350px;
}
.social-profile-info dt {
	text-align:left;
	clear:left;
	color:#808080;
	float:left;
	width:100px;
}
.social-profile-info dd {	
	
	padding:1px 0px 3px 0px;	
	float:left;
	margin:0;
	display : block;
	padding-left:10px;
	width:200px;
}


#social-profile-wrapper {	
		width: 990px;	  
		text-align:left;
		margin:0 auto;
	}
		
#social-profile-container {
	width: 700px;
}

#social-profile-left {
	float:left;
	width:220px;
}

.left-side { 
	min-width: 198px;
	margin: 0px;
}
	
#social-profile-content { 
	float:right;
	width:480px;	
}
	
#social-profile-right {
	float:right; width:290px		
}

.social-profile-post {
	width: 450px;
	background : #EFEFEF;
}

.maincourse {
	width: 100%;	 margin-left:0px;
}

.social-profile-rounded {
	background : #eee;
}
					
#social-profile-forum {	
	padding-left:0px;
}			
			
#social-profile-thread {	
	padding-left:20px;	
}			
			
#social-post{	
	padding-left:30px;	
}
.actions-profile {
    font-size:14px;
    background:#efefef;
    border-bottom:1px dotted #999999;
    border-top:1px dotted #999999;
    /*height:35px;*/
    padding:2px;
    margin-bottom: 2px;
    /*background:url(images/actions.jpg) repeat-x;*/
    vertical-align:middle;
    font-weight:700;
    margin-right:2px;
}   

/*****************************************************
 *  BUTTONS	                                         *
 *****************************************************/
/* BUTTONS */
button {
    margin:0 5px 3px 3px !important;
    background-color: #DFDFDF;
    border-width: 1px;
/*    -moz-border-radius-topright : 5px;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -moz-border-radius-bottomleft : 5px;
*/
    font-family: bold arial,verdana,helvetica,sans-serif;
    font-size: 100%;
    line-height :130%;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding:5px 15px 5px 15px;
	vertical-align:middle;
}
button:hover {
    background-color:#cbcbcb;
    color:#545454; 
    border-style: inset;
}
/* button with image */
button.add, button.save, button.cancel, button.search, button.login, button.plus, button.minus, button.next, button.back {
    padding-left:30px;
    background-position:10px;
    background-repeat:no-repeat;
}
/* POSITIVE */
button.save, button.add, button.search, button.login, button.plus, button.minus, button.next, button.back {
    background-color:#E5EDF9;
    border-color: #D4E2F6;
}
button.save:hover, button.add:hover, button.search:hover, button.login:hover, button.plus:hover, button.minus:hover, button.next:hover, button.back:hover {
    border-color: #D4E2F6;    
    background-color:#D4E2F6;
}
/* NEGATIVE */
button.cancel {
    background-color:#F8E8E6;
    border-color: #FFE3DE;
}

button.cancel:hover {
    border-color: #F4E1D0;    
    background-color: #FFE3DE;
}
/*including "save" image*/
button.save {
    background-image:url(images/button_accept.gif);
}
/*including "add" image*/
button.add {
    background-image:url(images/button_add.gif);
}

/*including "cancel" image*/
button.cancel {
    background-image:url(images/button_delete.gif);
}
/*including "search" image*/
button.search {
    background-image:url(images/button_search.gif);
}
/*including "login" image*/
button.login {
    background-image:url(images/button_login.gif);
}

/*including "plus" image*/
button.plus {
    background-image:url(images/button_plus.gif);
}

/*including "minus" image*/
button.minus {
    background-image:url(images/button_minus.gif);
}

/*including "next" image*/
button.next {
    background-image:url(images/button_next.gif);
}

/*including "back" image*/
button.back {
    background-image:url(images/button_back.gif);
}

.icon_image_content{
	width:70px;
	cursor:hand;
	height:5em;
	text-align: center;
	padding-top: 3px;
	padding-right: 5x;
	padding-bottom: 3px;
	padding-left: 5px;
}