{% extends "@ChamiloCore/Layout/layout_one_col.html.twig" %}

{% block content %}
    <h1>Validation Successful</h1>
    <p>The token for {{ type }} has been successfully validated.</p>
{% endblock %}
