/* copy of default_scorm.css */

#learning_path_breadcrumb_zone .breadcrumb{
    background: #ff7400; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7400 0%, #df3a01 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7400), color-stop(100%,#df3a01)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff7400 0%,#df3a01 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff7400 0%,#df3a01 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff7400 0%,#df3a01 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff7400 0%,#df3a01 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#df3a01',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-transform: capitalize;
    border:none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#learning_path_breadcrumb_zone .breadcrumb a{
    color: #FFF;
}
#learning_path_breadcrumb_zone .breadcrumb a:hover{
    text-decoration: none;
    opacity: 0.8;
}
#scorm_title {
    font-weight: bold;
    background:none;
    font-size: 20px;
    background-image: none;
    color: #e34200;
    padding-top: 15px;
    padding-bottom: 15px;
}
#learning_path_main #control {
  opacity: 1;
}
.buttons a img:hover{
opacity: 0.7;
}
#author_image{
    background-color: #d7eef4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid  #b4cbff;
    margin-top: 10px;
}