/*****************************************************
 *  MAIN  - CHAMILO CSS	GREEN
 *****************************************************/

/* Adding default style for the chamilo_X themes */
@import url('../base_chamilo.css');

/* the following for regular <a> elements */
a {
    text-decoration: none;
    color :#01933e;
}
a:visited {
    text-decoration: none;    
}
a:hover {
    text-decoration: none;
    color: #f3840d;
}
a:active {
    text-decoration: none;
    color : #01933e;
}

.subnav-fixed {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1030;
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
            border-radius: 0;
}


.subnav {  
  background-color: #79AA0B; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #9BD10A 0%, #79AA0B 100%); /* FF3.6+ */
  
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9BD10A), color-stop(100%,#79AA0B)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #9BD10A 0%, #79AA0B 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #9BD10A 0%,#79AA0B 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #9BD10A 0%,#79AA0B 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9BD10A', endColorstr='#79AA0B',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #9BD10A 0%,#79AA0B 100%); /* W3C */
  border: 1px solid #9BD10A;
}

.subnav .nav > li > a {
    border-left: 1px solid #9BD10A;
    border-right: 1px solid #9BD10A;
}

.subnav .nav > #current > a,
.subnav .nav > #current > a:hover {  
  color: #fff;
  background-color: #9BD10A;
  border-right-color: #9BD10A;  
}

#header3 li a {
    color:#fff;
}

/* Green hover */
#header3 li a:hover {
    background: none repeat scroll 0 0 #9BD10A;
    color: #fff;
}


/*****************************************************
*  FOOTER STYLES                                    *
*****************************************************/
footer {
    background-color: #79aa0b;
    background-image: url(images/bg-footer.gif);
    background-repeat:repeat-x;
    font-size: 12px;
    color:#ffffff;
    height: 9em;    
    width: 100%;  
}

/* Sticky footer*/
.push {
    height: 9em; /* Very important */
}
/*****************************************************
 *  DISPLAY MESSAGES	                             *
 *****************************************************/
.normal-message {    
    color: #00407F;	
    border: 1px solid #CDE6F5;	
    background: url("images/background_message.png") repeat-x scroll 0 0 #EAF8FE;
}
.warning-message {    
    border: 1px solid #FFB30F;
    color: #000;    
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFEFA7;
}
.confirmation-message {
	border: 1px solid #1F8323;
    color:#1F8323;
	background: url("images/background_message.png") repeat-x scroll 0 0 #CAF0C7;
}
.error-message {        
    border: 1px solid #FF0000;
    color: #440000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFD1D1;
}

/* New training */
.bottom-link {
    background-image:url(images/button_back.jpg);
}

.social-menu-title {
    background-color:#85b80b;
}

#social-content-online {
    background-color:#85b80b;
}
        
.admin_section li {
    background-image:url(images/bullet.gif);
}

.system_announcements {
    background: transparent url('images/systemenouvelles.jpg') no-repeat top  left;
}

.topa {
    background:transparent url('images/logoa4.gif') no-repeat;
}
.topb {
    background:transparent url('images/logob4.gif') no-repeat;
}

#bottomhellomindfactory {    
    background:transparent url('images/textologo.jpg') no-repeat;
}

#exercise_close_link {
    background: url(images/close.gif) no-repeat;
}

#exercise_close_link:hover {
    background: url(images/close_highlight.gif) no-repeat;
}

/*including "login" image*/
button.login {
    background-image:url(images/bg-button.gif);
}

button.login:hover {
}

/*including "save" image*/
button.save {
    background-image:url(images/button_accept.gif);
}
/*including "add" image*/
button.add {
    background-image:url(images/button_add.gif);
}
/*including "cancel" image*/
button.cancel {
    background-image:url(images/button_delete.gif);
}
/*including "search" image*/
button.search {
    background-image:url(images/bg-button.gif);
}
/*including "plus" image*/
button.plus {
    background-image:url(images/button_plus.gif);
}
/*including "minus" image*/
button.minus {
    background-image:url(images/button_minus.gif);
}
/*including "next" image*/
button.next {
    background-image:url(images/button_next.gif);
}
/*including "back" image*/
button.back {
    background-image:url(images/button_back.gif);
}
/*including "refresh" image*/
button.refresh {
    background-image:url(images/button_refresh.gif);
}
/*including "upload" image*/
button.upload {
    background-image:url(images/button_upload.gif);
}

.fake_button_back {
    background-image:url(images/button_back.gif);
}
button.arrowr {
    background-image:url(images/2rightarrow.gif);
}

button.arrowl {
    background-image:url(images/2leftarrow.gif);
}

input.arrowr {
    background-image:url(images/2rightarrow.gif);
}

input.arrowl {
    background-image:url(images/2leftarrow.gif);
}
.refresh {
    background-image:url(images/refresh.png);
}

.portal {
    background-image:url(images/portal.png);
}