/*****************************************************
 *  MAIN  - CHAMILO CSS	GREEN
 *****************************************************/


/* the following for regular <a> elements */
a:link {
    text-decoration: none;
    color :#01933e;
}
a:visited {
    text-decoration: none;
    color : #01933e;
}
a:hover {
    text-decoration: none;
    color: #f3840d;
}
a:active {
    text-decoration: none;
    color : #01933e;
}

#header1 {
    background-image:url(images/bg-header1.gif);
}
#header3 {
    /* background-image:url(images/bg-header4.png); */
}
#header4 {
    /* background-image:url(images/bg-header4.png); */
}

#header3  a {
    background:transparent url(images/tab_left.gif) no-repeat scroll left top;
}

#header3 li a span {
    background:transparent url(images/tab_right.gif) no-repeat scroll right top;
}

#current a {
    background:transparent url(images/tab_left-active.gif) no-repeat scroll left top;
}
#current {
    background:transparent url(images/tab_center-active.gif) no-repeat scroll right top;
}   

#current #tab_active {
    background:transparent url(images/tab_right-active.gif) no-repeat scroll right top;
}
/*****************************************************
 *  FOOTER STYLES                                    *
 *****************************************************/
#footer {
    background-color: #79aa0b;
    background-image: url(images/bg-footer.gif);
    background-repeat:repeat-x;
    font-size: 12px;
    color:#ffffff;
    /*height: 10em;*/	 /* Do not change this value */
    overflow:hidden;
    width: 100%;
    padding-bottom:18px;
}
/* Sticky footer*/
.push {
    height: 9em; /* Very important */
}
#footer .copyright {
    float: right;
    padding-top:60px;
    margin-right:5%;
    background-color: #79aa0b;
    background-image: url(images/bg-footer.gif);
    background-repeat:repeat-x;
}

.footer_emails{
    float: left;
    padding-top:60px;
    margin-right:5%;
    background-color: #79aa0b;
    background-image: url(images/bg-footer.gif);
    background-repeat:repeat-x;
}

/*****************************************************
 *  DISPLAY MESSAGES	                             *
 *****************************************************/
.normal-message {    
    color: #00407F;	
    border: 1px solid #CDE6F5;	
    background: url("images/background_message.png") repeat-x scroll 0 0 #EAF8FE;
}
.warning-message {    
    border: 1px solid #FFB30F;
    color: #000;    
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFEFA7;
}
.confirmation-message {
	border: 1px solid #1F8323;
    color:#1F8323;
	background: url("images/background_message.png") repeat-x scroll 0 0 #CAF0C7;
}
.error-message {        
    border: 1px solid #FF0000;
    color: #440000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFD1D1;
}
.confirmation-message, .error-message, .normal-message, .warning-message {
	min-height: 30px;
	position: relative;
    margin-top: 10px;
    margin-bottom: 10px;	
    -moz-border-radius: 10px;
    border-radius: 10px;    
	border-width: 1px;
    border-style: solid;
	padding:6px;	
}

/* New training */
.bottom-link {
    border: 2px outset;
    text-decoration: none;
    background-color:#9fd854;
    border-color: #D4E2F6;
    background-image:url(images/button_back.jpg);
    background-position:10px 50%;
    background-repeat:no-repeat;
    font-size:100%;
    margin-top:1px;
    padding:5px 20px;
    vertical-align:middle;
    padding-left:35px;
    display:block;
}
.bottom-link:active {
    border: 2px inset;
}
.bottom-link:link {
    border-style: solid;
    border-width : 1px 2px 2px 1px;
    text-decoration : none;
    border-color : #69f #00f #00f #69f;
}
.bottom-link:hover {
    border-color: #ccc;
    color: #111;
}

.social-menu-title {
    background-color:#85b80b;
}

#social-content-online {
    background-color:#85b80b;
}
        
.admin_section li {
    background-image:url(images/bullet.gif);
}

.system_announcements {
    background: transparent url('images/systemenouvelles.jpg') no-repeat top  left;
}

.topa {
    background:transparent url('images/logoa4.gif') no-repeat;
}
.topb {
    background:transparent url('images/logob4.gif') no-repeat;
}

#bottomhellomindfactory {    
    background:transparent url('images/textologo.jpg') no-repeat;
}

#exercise_close_link {
    background: url(images/close.gif) no-repeat;
}

#exercise_close_link:hover {
    background: url(images/close_highlight.gif) no-repeat;
}

/*including "login" image*/
button.login {
    background-image:url(images/bg-button.gif);
}

button.login:hover {
}

/*including "save" image*/
button.save {
    background-image:url(images/button_accept.gif);
}
/*including "add" image*/
button.add {
    background-image:url(images/button_add.gif);
}
/*including "cancel" image*/
button.cancel {
    background-image:url(images/button_delete.gif);
}
/*including "search" image*/
button.search {
    background-image:url(images/bg-button.gif);
}
/*including "plus" image*/
button.plus {
    background-image:url(images/button_plus.gif);
}
/*including "minus" image*/
button.minus {
    background-image:url(images/button_minus.gif);
}
/*including "next" image*/
button.next {
    background-image:url(images/button_next.gif);
}
/*including "back" image*/
button.back {
    background-image:url(images/button_back.gif);
}
/*including "refresh" image*/
button.refresh {
    background-image:url(images/button_refresh.gif);
}
/*including "upload" image*/
button.upload {
    background-image:url(images/button_upload.gif);
}

.fake_button_back {
    background-image:url(images/button_back.gif);
}
button.arrowr {
    background-image:url(images/2rightarrow.gif);
}

button.arrowl {
    background-image:url(images/2leftarrow.gif);
}

input.arrowr {
    background-image:url(images/2rightarrow.gif);
}

input.arrowl {
    background-image:url(images/2leftarrow.gif);
}
.refresh {
    background-image:url(images/refresh.png);
}

.portal {
    background-image:url(images/portal.png);
}