{% extends "@ChamiloTheme/Layout/base-layout.html.twig" %}

{% block chamilo_content %}

<section id="main_content">
    <div class="page-header">
        <h2>{{ 'Contact' | trans  }}</h2>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form, {'attr': {'class': ''}}) }}
    {{ form_end(form) }}
</section>
{% endblock %}
