{% extends '@ChamiloTheme/Layout/base-layout.html.twig' %}
{% block page_title %} Error {% endblock %}
{% block page_subtitle %} {{ status_code }} {% endblock %}
{% block page_content %}
    <div class="error-page">
        <h2 class="headline">{{ status_code }}</h2>
        <div class="error-content">
            {{ exception.message }}
            <h3>{{ 'Something seems to have gone wrong'|trans() }}</h3>
        </div>
    </div>
{% endblock %}
