
{{ "You just created the training area <b>%s</b>"| trans | format(course.title) }}

<hr />

{{ 'Suggested steps to take next' | trans }}

<div id="course_thing_to_do" class="row">
    <div class="span3">
        <div class="thumbnail">
            <img src="info.png">
            <div class="caption">
                <a href="" class="btn">
                    Add course description
                </a>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="thumbnail">
            <img src="folder_document.png">
            <div class="caption">
                <a href="" class="btn">
                    Upload a document
                </a>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="thumbnail">
            <img src="forum.png">
            <div class="caption">
                <a href="" class="btn">
                    Add a forum
                </a>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="thumbnail">
            <img src="user.png">
            <div class="caption">
                <a href="" class="btn">
                    Enroll users to course
                </a>
            </div>
        </div>
    </div>
</div>
