<div class="home-information">
    <div class="row">
        {% for page in pages %}
            <div class="col-md-3">
                {{ sonata_page_render_container('header', page)  }}
                <h4 class="title">
                    <a href="{{ url(page.routeName, {'path' : page.site.relativePath ~ page.url, '_locale' : app.request.getLocale() }) }}">
                        {{ page.title }}
                    </a>
                </h4>
                <p>
                    {{ page.metaDescription | nl2br }}
                </p>
            </div>
        {% endfor %}
    </div>
</div>