<div class="container section-notice">
    <h2 class="section-title">{{ "Latest publications"| trans }}</h2>
    <div class="row">
        {% for page in pages %}
            <div class="col-md-4">
            <div class="items">
                <div class="image"></div>
                <div class="description">
                    <h2 class="title"><a href="#">{{ page.name }}</a></h2>
                    <div class="date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>{{ page.createdAt | format_datetime }}
                    </div>
                    <p>
                        {{ page.metaDescription }}
                        {# sonata_page_render_container('content', page) #}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>