<table border="0" class="full-width border-top page-footer">
    <tr>
        <td class="text-left">
            <strong>{{ _s.institution }}</strong>
        </td>
        <td class="text-right">
            <strong>{PAGENO} / {nb}</strong>
        </td>
    </tr>
</table>
