{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block page_title %}
    {{ 'Settings' | trans }}
{% endblock %}

{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-3 col-md-3">
        {% include '@ChamiloTheme/Admin/Settings/menu.html.twig' %}
        </div>
        <div class="col-xs-9 col-md-9">
        </div>
    </div>
{% endblock%}
