{% autoescape false %}
    <div class="card">
        <div class="card-body">
            <div class="accordion-b4" id="accordionSettings">
                {{ course_settings }}
            </div>
        </div>
    </div>
{% endautoescape %}