{% autoescape false %}
    <div class="row">
        <div class="col-md-8">
            <div class="accordion-b4" id="accordionSettings">
                {{ course_settings }}
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endautoescape %}