{% autoescape false %}
<div class="row">
    <div class="col-md-8">
        {{ form }}
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                {{ 'Preview of the course'|trans }}
            </div>
            <div class="card-body">
                <div id="view-course" class="card card-course-classic ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <a href="#">
                                    <img src="http://chamilo2.test/../courses/INTRODUCCIONLAREALIDADAUMENTADA/course-pic.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="card-inside">
                                    <div class="float-right">
                                        <a class="btn btn-outline-primary btn-sm" href="#">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </div>
                                    <h5 class="title">
                                        <a href="#">
                                            Titulo del curso
                                        </a>
                                    </h5>
                                    <div class="list-teachers">
                                        <i class="fas fa-user-tie"></i>
                                        <a href="#">
                                            Joe Doe
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endautoescape %}