<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Symfony Main Rule" stopProcessing="true">
                    <match url="^" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
                <rule name="Static Directories" stopProcessing="true">
                  <match url="^(build|bundles|documentation|img|js|libs|main|sound)($|/)" ignoreCase="false" />
                  <action type="None" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors existingResponse="PassThrough" />

        <directoryBrowse enabled="false" />

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>

        <!-- Block direct access to system folders -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="bin" />
                    <add segment="config" />
                    <add segment="var" />
                    <add segment="vendor" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
