#learning_path_breadcrumb_zone .breadcrumb{
    background-color: #FFF;
    color: #6B1D82;
    border-bottom: 1px solid #84bd00;
    padding: 10px 15px;
}
#learning_path_breadcrumb_zone .breadcrumb a{
    color: #6B1D82;
}
#learning_path_breadcrumb_zone .breadcrumb a:hover{
    color: #162A83
}
.lp-view-zone-container .scorm-header{
    background-color: #84bd00;
    border: none !important;
    border-radius: 0 !important;
}
.icon-toolbar .fa{
    background-color: #162A83;
}
#scorm-info hr{
    background-color: #84bd00;
}
#scorm-info .title{
    color: #162A83;
    margin: 10px 0 20px 0;
    font-size: 16px;
}
.scorm_item_level_1{
    padding: 0 2.5em 0 1.5em;
}
.scorm_item_level_0{
    padding: 0 2.5em 0 0;
}
.scorm_item_level_2{
    padding: 0 2.5em 0 3em;
}
.expand .fa{
    background-color: #96BD0D;
}
.icon-toolbar .fa:hover{
    background-color: #96BD0D;
    color: #FFF;
}
.progress-bar-warning{
    background-color: #96BD0D;
}
.scorm_item_normal.scorm_highlight a{
    color: #96BD0D !important;
}
.scorm_item_section{
    color: #162A83;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background: #E1E1E1;
}
.lp-view-include-breadcrumb {
    background-color: #ffffff;
}
.title-learnpath{
    padding-left: 30px;
    padding-top: 10px;
}
#learning_path_right_zone .tab-pane iframe {
    padding-left: 15px;
    margin-top: 20px;
}
.title-learnpath h4,
.title-learnpath .h5 {
    color: #162a83;
    font-weight: bold;
}
div.text {
    margin-left : 6;
    margin-right : 6;
    margin-top : 5;
    margin-bottom : 5;
    text-align : justify;
}
span.messagesmall {
    font-style : italic;
    color : Red;
}
/* newscorm/learnpath */

div.lp_actions {
    background:#F8F8F8;
    border-bottom:1px solid #999999;
    padding:3px;
}
div.lp_actions img {
    margin-right:5px;
}
div.lp_small_form {
    background:#F8F8F8;
    border:1px solid #999999;
    padding:10px;
}
div.lp_small_form input {
    font-size:10px;
}
div.lp_manipulate {
    background:#F8F8F8;
    border-bottom:1px dotted #999999;
    margin-bottom:0px;
    padding:3px 0 3px 10px;
}
div.lp_manipulate a {
    padding-right:10px;
}
div.lp_message {
    background:#FEC880;
    border:1px solid #E28C15;
    font-size:12px;
    padding:10px;
}
div.lp_resource_header {
    cursor: pointer;
    background:#F0F0F0;
    border:1px solid #999999;
    font-weight:bold;
    padding:10px;
    width:350px;
}
div.lp_resource_header_end {
    background:#F0F0F0;
    border:1px solid #999999;
    font-weight:bold;
    padding:10px;
    width:350px;
}
div.lp_resource_elements {
    background:#FAFAFA;
    border:1px solid #999999;
    border-bottom:0;
    display:none;
    padding:5px 10px;
    width:350px;
}
div.lp_resource_elements_end {
    background:#FAFAFA;
    border:1px solid #999999;
    border-top: 0px;
    display:none;
    padding:5px 10px;
    width:350px;
}
div.lp_resource_elements div {
    padding:3px;
}
div.lp_tree {
    height:100%;
    padding:3px 10px 3px 0;
    overflow-x : auto;
    overflow-y : auto;
    width:190px;
}
hr {
    background:#999999;
    border:0;
    color:#999999;
    height:1px;
    margin:10px auto;
    width:75%;
}
option.bottom {
    border-top:1px solid #999999;
    margin-top:2px;
    padding-top:2px;
}
option.top {
    border-bottom:1px solid #999999;
    margin-bottom:2px;
    padding-bottom:2px;
}
p.lp_action {
    margin:5px 0;
}
p.lp_text {
    margin-top:0px;
}
p.lp_title {
    font-weight:bold;
    margin-top:5px;
    padding-left:7px;
}
table.lp_build {
    font-size:12px;
    height:400px;
    width:100%;
}
table.lp_build td {
    vertical-align:top;
}
table.lp_build td.tree {
    /* border-right:1px solid #999999;*/
    padding-right: 5px;
    width:205px;
}
table.lp_build td.workspace {
    padding: 0px;
    padding-left:5px;
    width:auto;
}
table.lp_form {
    font-size:12px;
    margin:0 10px;
    width:auto;
}
table.lp_form td {
    height:25px;
    padding:5px;
    vertical-align:top;
    width:auto;
}
table.lp_form td.label {
    padding-top:7px;
    text-align:right;
}
table.lp_form td.radio {
    width:300px;
}
table.lp_form td.exercise {
    width:50px;
}
table.lp_form th {
    background:#F8F8F8;
    border-bottom:1px solid #999999;
    border-top:1px solid #999999;
}
table.lp_overview th.exercise {
    width:50px;
}

table.lp_form td.radio input, table.lp_form td.exercise input {
    width:auto;
}
table.lp_form .small_form {
    background:#FFFFFF;
}
table.lp_form select {
    /*	padding:0;*/
}
table.lp_form input.button {
    width:75px;
}
table.lp_overview {
    font-size:12px;
    width:100%;
}
table.lp_overview td {
    border-bottom:1px solid #999999;
    border-top:1px solid #999999;
    height:20px;
    padding:3px;
    vertical-align:middle;
    width:auto;
}
table.lp_overview td.title {
    width:200px;
}
table.lp_overview td.actions {
    text-align:center;
    width:100px;
}
table.lp_overview td.move {
    text-align:center;
    width:50px;
}
table.lp_overview th {
    background:#FFFFFF;
    padding-left:3px;
    text-align:center;
}
table.lp_overview tr {
    background:#F8F8F8;
}
table.lp_overview tr:hover {
    background:#E5EDF9;
}
table.lp_overview img {
    margin-left:3px;
}
#learning_path_toc{
    padding: 0;
    border:none;
    border-radius: 0;
}
#scorm-panel .panel.panel-default{
    border: none;
}
.section-list{
    border-bottom: none;
}
.scorm_item_normal {
    line-height: 18px;
    border-bottom: 1px solid #DDD;
    padding: 10px 5px;
    background-color: #F5F5F5;
}
.scorm_item_normal a.items-list{
    line-height: 18px;
}
.scorm_item_section .section {
    background: url(images/folder-item-closed.png) no-repeat 5px center;
}
.scorm_item_section.scorm_completed {
    color: #162A83;
}
.scorm_item_section.scorm_completed .section {
    background: url(images/folder-item-open.png) no-repeat 5px center;
    padding-right: 1.5em;
}
.scorm_completed .item {
    background: url(images/completed.png) no-repeat 0 center;
}
.scorm_highlight.scorm_completed .item {
    background: url(images/completed-active.png) no-repeat 0 center !important;
}
.scorm_not_attempted .item {
    background: url(images/not-completed.png) no-repeat 0 center;
}
.scorm_highlight .item {
    background: url(images/not-completed-active.png) no-repeat 0 center !important;
    color: #009AB8;
}
.scorm_item_normal.scorm_highlight{
    background-color: #772583;
}
.scorm_item_normal.scorm_highlight a{
    color: #FFFFFF !important;
}
.level_0{
    margin: 0;
    padding-left: 25px;
}
.level_1 {
    margin: 0 0.5em 0 20px;
    padding-left: 25px;
}
.level_2 {
    margin: 0 0.5em 0 40px;
    padding-left: 25px;
}
.level_3 {
    margin: 0 0.5em 0 60px;
    padding-left: 25px;
}
.level_4 {
    margin: 0 0.5em 0 70px;
    padding-left: 25px;
}
.level_5 {
    margin: 0 0.5em 0 90px;
    padding-left: 25px;
}
#scorm-panel .panel-default .panel-heading{
    padding: 0;
    line-height: 16px;
}
#scorm-panel .panel-default .panel-heading a{
    color: #162A83;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 15px;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background: url(images/arrow-right.png) no-repeat #E1E1E1 5px center;
}
#scorm-panel .panel-default .panel-heading.on a{
    background: url(images/arrow-down.png) no-repeat #E1E1E1 5px center;
}
.section-list li{
    background-color: #E1E1E1;
    padding: 10px 10px 10px 50px;
    border-bottom: 1px solid #162A83;
    font-size: 12px;
}
.section-list li.final{
    border-bottom: 1px solid #E1E1E1;
}
.section-list li{
    line-height: 14px;
}
.section-list li.scorm_item_normal.scorm_highlight{
    background: url(images/not-completed-active.png) no-repeat  #772583 28px center;
}
.section-list li.scorm_completed.scorm_item_normal{
    background: url(images/completed.png) no-repeat  #ECF0F1 28px center;
}
.section-list li.scorm_completed.scorm_item_normal.scorm_highlight{
    background: url(images/completed-active.png) no-repeat  #772583 28px center;
}
.section-list li.scorm_not_attempted.scorm_item_normal{
    background: url(images/not-completed.png) no-repeat  #ECF0F1 28px center;
}
.section-list li.scorm_item_normal.scorm_highlight.scorm_not_attempted{
    background: url(images/not-completed-active.png) no-repeat  #772583 28px center;
}
.section-list li.scorm_item_normal{
    color: #162A83;
}
.section-list .sub-item{
    padding-right: 30px;
}
.scorm_type_document .items-list{
    display: block;
    background: url('images/document.png') no-repeat right center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 25px;
}
.scorm_highlight .scorm_type_document .items-list{
    display: block;
    background: url('images/document-active.png') no-repeat right center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 25px;
}
.scorm_type_quiz .items-list{
    display: block;
    background: url('images/pencil.png') no-repeat right center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 25px;
}
.scorm_highlight .scorm_type_quiz .items-list{
    display: block;
    background: url('images/pencil-active.png') no-repeat right center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 25px;
}
.section-list .sub-item.type-document{
    background: url(images/document.png) no-repeat center right;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section-list .sub-item.type-quiz{
    background: url(images/pencil.png) no-repeat center right;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section-list .scorm_highlight .sub-item.type-document{
    background: url(images/document-active.png) no-repeat center right;
}
.section-list .scorm_highlight .sub-item.type-quiz{
    background: url(images/pencil-active.png) no-repeat center right;
}
#scorm-panel .panel-parent .panel-default .panel-heading a{
    padding-left: 55px;
    background: url(images/arrow-right.png) no-repeat #E1E1E1 31px center;
    font-size: 12px;
}
#scorm-panel .panel-parent .panel-default .panel-heading.on a{
    background: url(images/arrow-down.png) no-repeat #E1E1E1 31px center;
}
#scorm-panel .panel-parent .section-list li{
    padding: 10px 10px 10px 75px;
}
#scorm-panel .panel-parent .section-list li.scorm_completed.scorm_item_normal{
    background: url(images/completed.png) no-repeat  #ECF0F1 50px center;
}
#scorm-panel .panel-parent .section-list li.scorm_not_attempted.scorm_item_normal{
    background: url(images/not-completed.png) no-repeat  #ECF0F1 50px center;
}
#scorm-panel .panel-parent .section-list li.scorm_completed.scorm_item_normal.scorm_highlight,
#scorm-panel .panel-parent .section-list li.scorm_not_attempted.scorm_item_normal.scorm_highlight
{
    background: url(images/completed-active.png) no-repeat  #772583 50px center;
}
#scorm-panel .panel-parent{
    margin-bottom: -1px;
}
/* nuevo css */

#learning_path_right_zone .lp-view-tabs .tab-content {
    bottom: 5px;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 84px;
}
#learning_path_toc .panel-collapse .list{
    padding: 0;
    margin: 0;
    list-style: none;
}
#learning_path_toc .panel-default{
    background-color:#f5f5f5;
    margin-top: 0;
    border-radius: 0;
}
.scorm-title{
    display: none;
}
#learning_path_toc .higher{
    border-bottom: 1px solid #84bd00;
}
#learning_path_toc .panel-heading{
    background: url('images/arrow-right.png') no-repeat 10px center #e1e1e1;
    padding-left: 30px;
}
#learning_path_toc .panel-heading.active{
    background: url('images/arrow-down.png') no-repeat 10px center #e1e1e1;
    padding-left: 30px;
}
.scorm-collapse .panel-collapse .list li{
    padding-left: 20px;
}
.scorm_item_normal .sub-item a:last-child{
    display: inline-block;
    width: 100%;
    padding-right: 20px;
}
.scorm_item_normal.scorm_highlight .sub-item.item-quiz a{
    background: url("images/pencil-active.png") no-repeat right center;
}
.scorm_item_normal .sub-item.item-quiz a{
    background: url("images/pencil.png") no-repeat right center;
}
.scorm_item_normal.scorm_highlight .sub-item.item-document a{
    background: url("images/document-active.png") no-repeat right center;
}
.scorm_item_normal .sub-item.item-document a{
    background: url("images/document.png") no-repeat right center;
}
.scorm_item_normal .sub-item{
    font-size: 12px;
}
.scorm_item_normal.scorm_not_attempted .sub-item{
    background: url("images/not-completed.png") no-repeat;
    padding-left: 25px;
}
.scorm_item_normal.scorm_highlight .sub-item{
    background: url("images/not-completed-active.png") no-repeat;
    padding-left: 25px;
}
.scorm_item_normal.scorm_completed .sub-item {
    background: url("images/completed.png") no-repeat;
    padding-left: 25px;
}
.scorm_item_normal.scorm_highlight.scorm_completed .sub-item {
    background: url("images/completed-active.png") no-repeat;
    padding-left: 25px;
}

.attempts .attempts-status{
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    color: #162A83;
}
.attempts .details{
    color: #162A83;
    font-size: 11px;
}
.attempts .attempts-status li{
    display: inline-block;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #learning_path_right_zone .lp-view-tabs .tab-content {
        bottom: 10px;
        right: 10px;
        top: 100px;
    }
    #learning_path_main.lp-view-include-breadcrumb #learning_path_right_zone {
        top: 0;
        height: 97%;
    }
}