{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
    <h2>{{ resource.title }}</h2>
    {{ resource.comment| raw }}

    <div class="box box-solid">
        <div class="box-header">
            <i class="fa fa-info-circle"></i>
            <h3 class="box-title">{{ 'Description' | trans }}</h3>
        </div><!-- /.box-header -->
        {% include '@ChamiloTheme/Document/show_metadata.html.twig' %}
    </div>
{% endblock %}
