{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
    <form method="post"
          action="{{ path('app_document_update', {'course': course.code, 'id' : resource.iid } ) }}">
        <input type="hidden" name="_method" value="PUT"/>
        {{ form_widget(form) }}
    </form>
    {% include '@ChamiloTheme/Document/show_metadata.html.twig' %}
{% endblock %}
