<head>
{% include "@ChamiloTheme/Layout/head.html.twig" %}
</head>
{% block chamilo_wrap %}
    {% autoescape false %}
        <script>
            $(function () {
                $(".select_to_ckeditor").click(function (e) {
                    e.preventDefault();
                    if (window.opener && window.opener.CKEDITOR) {
                        window.opener.CKEDITOR.tools.callFunction(1, $(this).attr("href"));
                        window.close();
                    }
                });

                $(".not_select_to_ckeditor").click(function (e) {
                    e.preventDefault();
                });
            });
        </script>

    {% if parent_id > 0 %}
        <div id="toolbar-document" class="actions">
            <a class="btn" href = "javascript:history.back()">Back</a>
        </div>
    {% endif %}

    {{ table }}
    {% endautoescape %}
{% endblock %}
