/*
==============================================================================
	GLOBAL STYLES
==============================================================================
*/
#box_title {
	text-align: right;
	margin-left: 30%;
	width: 65%;
	margin: 0;
	float: right;
}
#box_title h1 {
	font: bold 2em Arial, sans-serif, sans;
	color: #bbb;
}
#box_title h2 {
	font: bold 1.5em Arial, sans-serif, sans;
	color: #bbb;
}
.dokeos_course {
	width: 690px;
	margin: 0 auto;
	padding: 0;
	font: normal .72em verdana, 'Lucida Grande', sans-serif, sans;
}
#footer_template {
	background: transparent url("images/footer_template.png") no-repeat top center;
	width: 690px;
	height: 48px;
	clear:both;
}
#header_template {
	width: 690px;
	background: transparent url("images/writerheader.png") no-repeat top  left;
	height: 150px;
}
/*
------------------------------------------------------------------------------
	Presentation
------------------------------------------------------------------------------
*/

#text_presentation {
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
	width: 690px;
	float:left;
	text-align: justify;
	background: transparent url("images/repeat_template.png") repeat-y top center;
}
#text_presentation em {
	font: normal normal bold 1em verdana, 'Lucida Grande', sans-serif, sans;
}
#text_presentation img.left {
	float: left;
	margin: 0 2em 2em 1em;
	clear: left;
	display: block;
}
#text_presentation p {
	text-align: justify;
	width: 620px;
	margin: 1em auto 1em auto;
}
/*
------------------------------------------------------------------------------
	Explanation
------------------------------------------------------------------------------
*/
#body_explanation {
	background: transparent url("images/repeat_template.png") repeat-y top center;
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
	width: 690px;
	float:left;
}
#explanation #header_template {
	background: transparent url("images/teacherheader.png") no-repeat top  left;
}
#menu_explanation {
	margin:1em 0 0 0;
	padding:0;
	width:130px;
	margin-left:20px;
	float:left;
	clear:left;
	list-style:none;
	height:100%;
	background: transparent url("images/vertdivider_template.jpg") no-repeat top right;
	padding-right:15px;
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
}
#menu_explanation dd {
	margin:1em 0 0 0;
	padding:0;
	list-style:none;
	text-indent:25px;
	font: bold 1.1em Arial, sans-serif, sans;
	color: #aaa;
}
#menu_explanation dd a {
	color: #aaa;
	text-decoration:none;
}
#menu_explanation dd a:visited {
	color: #bbb;
}
#menu_explanation dd a:hover, #menu_explanation dd a:focus {
	color:#000;
}
#menu_explanation dt {
	margin:0 0 1em 10px;
	font: bold 1.2em Arial, sans-serif, sans;
	color: #aaa;
}
#text_explanation {
	width:450px;
	margin:0 0 0 10px;
	text-align:justify;
	float:left;
	height:205px;
	overflow: auto;
}
#text_explanation em {
	font: normal normal bold 1em verdana, 'Lucida Grande', sans-serif, sans;
}
#text_explanation p {
	width:390px;
	margin:1em auto;
}
/*
------------------------------------------------------------------------------
	Course Objectives
------------------------------------------------------------------------------
*/

.comment_objective {
	color:#000;
	font: bold .7em verdana, 'Lucida Grande', sans-serif, sans;
}
#course_objectives #header_template {
	background: transparent url("images/pointerheader.png") no-repeat top  left;
}
#objectives_template {
	margin:.3em auto 0 auto;
	padding:0;
	width:550px;
	text-align:justify;
	color:#4271b5;
	font: bold 2.5em Arial, sans-serif, sans;
	list-style:outside url("images/file_important.png");
}
#objectives_template li {
	margin:0 0 .5em 1em;
	padding:0;
}
#text_course_objectives {
	background: transparent url("images/repeat_template.png") repeat-y top center;
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
	width: 690px;
	float:left;
}
/*
------------------------------------------------------------------------------
	Activity proposal
------------------------------------------------------------------------------
*/
#activity_proposal #header_template {
	background: transparent url("images/practicerheader.png") no-repeat top  left;
}
#body_proposal {
	background: transparent url("images/repeat_template.png") repeat-y top center;
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
	width: 690px;
	float:left;
}
#menu_proposal {
	margin:1em 0 0 0;
	padding:0;
	width:130px;
	margin-left:20px;
	float:left;
	clear:left;
	list-style:none;
	height:100%;
	background: transparent url("images/vertdivider_template.jpg") no-repeat top right;
	padding-right:15px;
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
}
#menu_proposal dd {
	margin:1em 0 0 0;
	padding:0;
	list-style:none;
	text-indent:25px;
	font: bold 1.1em Arial, sans-serif, sans;
	color: #4271b5;
}
#menu_proposal dt {
	margin:0 0 1em 10px;
	font: bold 1.3em Arial, sans-serif, sans;
	color: #bbb;
}
#text_proposal {
	width:450px;
	margin:0 0 0 10px;
	text-align:justify;
	float:left;
}
#text_proposal em {
	font: normal normal bold 1em verdana, 'Lucida Grande', sans-serif, sans;
}
#text_proposal p {
	width:390px;
	margin:1em auto;
}
/*
------------------------------------------------------------------------------
	Think about
------------------------------------------------------------------------------
*/

#text_course_think {
	background: transparent url("images/repeat_template.png") repeat-y top center;
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
	width: 690px;
	float:left;
}
#think_about #header_template {
	background: transparent url("images/thinkerheader.png") no-repeat top  left;
}
#think_about_list {
	margin:.5em auto 0 auto;
	padding:0;
	width:600px;
	text-align:justify;
	color:#4271b5;
	font: bold 2.5em Arial, sans-serif, sans;
	list-style:outside url("images/list_icon_template.png");
}
#think_about_list li {
	margin:0 0 1em 1em;
	padding:0;
}
#think_forum {
	width:500px;
	margin:-1em auto 0 auto;
	color:#aaa;
	font: bold 1.2em Arial, sans-serif, sans;
	background: transparent url("images/forum_template.png") no-repeat top right;
	padding:20px 60px 0 0;
	text-align:center;
	/* Min-height hack for IE 6*/
	min-height: 30px;
	height: auto !important;
	height: 30px;
}
/*
------------------------------------------------------------------------------
	Colaborative activity
------------------------------------------------------------------------------
*/

#colaborative_activity #header_template {
	background: transparent url("images/colabheader.png") no-repeat top  left;
}
#list_colaborative {
	margin:1em auto;
	padding:0;
	width:400px;
}
#list_colaborative dt {
	color:#4271b5;
	font: bold 2.5em Arial, sans-serif, sans;
}
#list_colaborative dd {
	margin:0;
	padding:0;
	text-align:justify;
}
#text_colaborative_activity {
	background: transparent url("images/repeat_template.png") repeat-y top center;
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
	width: 690px;
	float:left;
}
/*
------------------------------------------------------------------------------
	Unit overview
------------------------------------------------------------------------------
*/

.content_overview {
	color:#aaa;
	font: bold 2.5em Arial, sans-serif, sans;
	margin-left:1em;
}
#list_unit_overview {
	list-style-image:url("images/list_icon_template.png");
}
#list_unit_overview li {
	margin:.5em 0 0 1em;
	padding:0;
	color:#4271b5;
	font: bold 2.5em Arial, sans-serif, sans;
}
.subunit_overview {
	list-style-image:url("images/subunit_list_icon.png");
}
#text_unit_overview {
	background: transparent url("images/repeat_template.png") repeat-y top center;
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
	width: 690px;
	float:left;
}
#unit_overview .subunit_overview li {
	color:#000;
	font: bold .7em verdana, 'Lucida Grande', sans-serif, sans;
}
#unit_overview #header_template {
	background: transparent url("images/readerheader.png") no-repeat top  left;
}
/*
------------------------------------------------------------------------------
	Blank template
------------------------------------------------------------------------------
*/

#blank_template #text_presentation {
	/* Min-height hack for IE 6*/
	min-height: 200px;
	height: auto !important;
	height: 200px;
	width: 690px;
	float:left;
	text-align: justify;
	background: transparent url("images/repeat_template.png") repeat-y top center;
}
#blank_template #box_title {
	text-align: right;
	width: 640px;
	margin:3em 0 0 0;
	float:left;
}
#blank_template #box_title h1 {
	font: bold 2em Arial, sans-serif, sans;
	color: #bbb;
}
#blank_template #header_template {
	width: 690px;
	background: transparent url("images/blankheader.png") no-repeat top  left;
	height: 150px;
}
/*
------------------------------------------------------------------------------
	More templates
------------------------------------------------------------------------------
*/

#contact_template {
	color:#aaa;
	font: bold 1.2em Arial, sans-serif, sans;
}
#contact_template a {
	color:#4271b5;
	text-decoration:none;
}
#contact_template a:hover, #contact_template a:focus {
	text-decoration:underline;
}
#more_templates #box_title {
	text-align: right;
	width: 640px;
	margin:3em 0 0 0;
	float:left;
}
#more_templates #box_title h1 {
	font: bold 2em Arial, sans-serif, sans;
	color: #bbb;
}
#more_templates #header_template {
	width: 690px;
	background: transparent url("images/blankheader.png") no-repeat top  left;
	height: 150px;
}
#more_templates p {
	margin-top:4em;
	padding-top:.8em;
	width:450px;
	padding-right:60px;
	text-align:justify;
	background: transparent url("images/forum_template.png") no-repeat top right;
}
#more_templates #text_presentation {
	height: 150px;
	width: 690px;
	float:left;
	text-align: justify;
	background: transparent url("images/repeat_template.png") repeat-y top center;
}
#more_templates #footer_template {
	background: transparent url("images/footer_dokeos.png") no-repeat top center;
	width: 690px;
	height: 48px;
	clear:both;
}
