{% import "ChamiloThemeBundle:Macros:image.html.twig" as macro_image %}
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
    {{ macro_image.avatar(user.avatar, user.username)  }}
    </div>
    <div class="pull-left info">
        <p>{{ 'Hello, %user%'| trans( {'%user%': user.username }, 'ChamiloThemeBundle') }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
