{% import "ChamiloThemeBundle:Macros:image.html.twig" as macro_image %}
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
    {{ macro_image.avatar(user.avatar, user.username)  }}
{#% if user.avatar %}
    <img src="{{ asset(user.avatar) }}" class="img-circle" alt="User Image" />
{% else %}
    {% image '@avatar_img' %}
        <img src="{{ asset_url }}" class="img-circle" alt="User Image" />
    {% endimage %}
{% endif %#}
    </div>
    <div class="pull-left info">
        <p>{{ 'Hello, %user%'|trans({'%user%': user.username }, 'ChamiloAdminTheme') }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
