{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="header">
        {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
    </div>
    <div class="body bg-gray">
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </div>
{% endblock %}
