/*
Stylesheet for HTML blocks created with CKEditor to embed in Chamilo pages.
*/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(themes/chamilo/fonts/OpenSans-Light.woff2) format('woff2'), url(themes/chamilo/fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(themes/chamilo/fonts/OpenSans.woff2) format('woff2'), url(themes/chamilo/fonts/OpenSans.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(themes/chamilo/fonts/OpenSans-Semibold.woff2) format('woff2'), url(themes/chamilo/fonts/OpenSans-Semibold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(themes/chamilo/fonts/OpenSans-Bold.woff2) format('woff2'), url(themes/chamilo/fonts/OpenSans-Bold.woff) format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Hack for show Bootstrap alerts in CKEditor' style select */
.cke_panel_listItem a > * {
    margin-bottom: 0;
}

.ck {
    display: block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
}

.ck-article {
    text-transform: uppercase;
    color: #E95839;
    font-weight: bold;
    background: url(../../main/img/document/border-title.png) repeat-x 0 80%;
    padding-bottom: 2%;
    margin-bottom: 10px;
}

.ck-article:before {
    content: "\f15c";
    margin-right: 5px;
    font-family: FontAwesome;
    font-weight: normal;
}

.ck-paragraph-box {
    background-color: #F5EEE2;
    padding: 2% 3%;
    line-height: 20px;
}

.ck-title {
    display: block;
    font-weight: bold;
    color: #000;
}

.ck-title2 {
    padding-top: 0;
    margin-top: 0;
    font-weight: 500;
    position: relative;
    color: #000;
}

.ck-title2:after {
    background-color: #E95839;
    margin: 10px 0px 0px;
    width: 50px;
    height: 2px;
    display: block;
    content: "";

}

.ck-stand-out {
    background-color: yellow;
}

.ck-style1 {
    height: 6px;
    background: url(../../main/img/document/hr-1.png) repeat-x 0 0;
    border: 0;
}

.ck-style2 {
    height: 6px;
    background: url(../../main/img/document/hr-2.png) repeat-x 0 0;
    border: 0;
}

.ck-style3 {
    border-top: 1px dashed #8c8b8b;
}

.ck-style3:after {
    content: '\002702';
    display: inline-block;
    position: relative;
    top: -12px;
    left: 40px;
    padding: 0 3px;
    background: #FFF;
    color: #8c8b8b;
    font-size: 18px;
}

.img-va-baseline {
    vertical-align: baseline;
}

.img-va-top {
    vertical-align: top;
}

.img-va-bottom {
    vertical-align: bottom;
}

.img-va-middle {
    vertical-align: middle;
}

.img-va-super {
    vertical-align: super;
}

.img-va-sub {
    vertical-align: sub;
}

.img-va-text-top {
    vertical-align: text-top;
}

.img-va-text-bottom {
    vertical-align: text-bottom;
}

figure.image {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1em;
    padding: 5px;
}

.cke_widget_image.pull-right,
img.pull-right,
figure.image.pull-right {
    margin-left: 1em;
}

.cke_widget_image.pull-left,
img.pull-left,
figure.image.pull-left {
    margin-right: 1em;
}

.text-center .img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.cke_widget_image.pull-left figure.image,
.cke_widget_image.pull-right figure.image,
figure.image.pull-left,
figure.image.pull-right {
    display: block;
}

figure.image figcaption {
    text-align: left;
    background-color: #f3f3f3;
    padding-top: 0px;
    margin: 0px;
    border-radius: 0px;
    padding-left: 5px;
}
