
body {
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

img {
    border: none;
}

/* admin page tool list definitions */
.tool_list dt {
    font-weight: bold;
}
.tool_list dd {
    margin: 0;
    padding: 4px 0 0 10px;
}

label.left {
    float: left;
    width: 15em;
    margin: 0 0 0.5em 0;
}
form br {
    clear: both;
}
/* Fix for alignment problem in IE-Win browsers  */
/*  Hide from IE5-mac. Only IE-win sees this. \*/
* html .label {
    margin-right: 10px;
}
* html .data {
    height: 1%;
    margin-left: 0;
}
/* End hide from IE5/mac */

.radio, .checkbox {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.required {
    color: #f00;
    font-weight: bold;
}

.user_course_category {
    background-color: #efefef;
    border: 1px solid #666;
    font-weight: bold;
    color: #666;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

/* Styles for the Dokeos Config Settings of the platform admin section*/
.sectiontitle {
    background-color: #EFEFEF;
    border: 1px solid #cccccc;
    font-weight: bold;
    color: #666666;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    font-size: 11px;
}

.sectioncomment {
    color: #000000;
    margin: 5px;
    padding: 5px;
    font-size: 11px;
}

/* New Announcements Tool */
.announcements_datum {
    font-size: 12px;
    font-style: italic;
    color: #666666;
}

table.table,
table.table th,
table.table td {
    border: 1px solid #555;
    border-collapse: collapse;
}
