{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
{% autoescape false %}
<div class="row">
    <div class="col-md-3">
        <div class="social-network-menu">
            {% include template ~ '/social/user_block.html.twig' %}
            {{ social_menu_block }}
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-search-sm">
            {{ search_form }}
        </div>
        <div class="list-search-sm">
            {{ social_search }}
        </div>
    </div>
</div>

{% if form_modals is defined %}
    {{ form_modals }}
{% endif %}
{% endautoescape %}
{% endblock %}
