<div class="row">
    <div class="col-sm-5">
        {{ form }}
    </div>
    <div class="col-sm-7">
        <div id="frm-login-result"></div>
    </div>
</div>

<script>
    $(function () {
        $('#form-login').on('submit', function (e) {
            e.preventDefault();

            var formData = new FormData(this),
                self = $(this);
            self.children().prop('disabled', true);

            $
                .ajax({
                    type: 'POST',
                    url: this.action,
                    data: formData,
                    processData: false,
                    contentType: false
                })
                .then(function (response) {
                    $('#frm-login-result').html(response);
                    self.children().prop('disabled', false);
                });

            this.reset();
        });
    });
</script>
