<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        {{ form }}

        <br>

        <div id="frm-login-result"></div>
    </div>
</div>

<script>
    $(function () {
        $('#form-login').on('submit', function (e) {
            e.preventDefault();

            var formData = new FormData(this),
                self = $(this);
            self.children().prop('disabled', true);
            self.find(':submit em.fa').get(0).className = 'fa fa-spinner fa-spin';

            $
                .ajax({
                    type: 'POST',
                    url: this.action,
                    data: formData,
                    processData: false,
                    contentType: false
                })
                .then(function (response) {
                    $('#frm-login-result').html(response);
                    self.children().prop('disabled', false);
                    self.find(':submit em.fa').get(0).className = 'fa fa-check';

                    if ($('#frm-login-result > .alert.alert-success').length > 0 ||
                        $('#frm-login-result > .alert.alert-danger [data-reach-attempts]').length > 0
                    ) {
                        self.find(':submit').prop('disabled', true);
                    }
                });

            this.reset();
        });
    });
</script>
