/* copy of default_scorm.css */
.inner_lp_toc .scorm_item_section {
    border:none;
    background:#333;
    font-weight:normal;
    color:#fff;
    text-shadow:none;
    background: #e23828; /* Old browsers */
    background: -moz-linear-gradient(top, #e23828 0%, b52d20 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e23828), color-stop(100%,b52d20)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e23828 0%,b52d20 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e23828 0%,b52d20 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e23828 0%,b52d20 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e23828 0%,b52d20 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e23828', endColorstr='b52d20',GradientType=0 ); /* IE6-9 */
    margin-right: 1px;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
}

#learning_path_breadcrumb_zone .breadcrumb{
    background: #e23828; /* Old browsers */
    background: -moz-linear-gradient(top, #e23828 0%, b52d20 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e23828), color-stop(100%,b52d20)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e23828 0%,b52d20 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e23828 0%,b52d20 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e23828 0%,b52d20 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e23828 0%,b52d20 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e23828', endColorstr='b52d20',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-transform: capitalize;
    border:none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#learning_path_breadcrumb_zone .breadcrumb a{
    color: #FFF;
}
#learning_path_breadcrumb_zone .breadcrumb a:hover{
    text-decoration: none;
    opacity: 0.8;
}
#scorm_title {
    font-weight: bold;
    background:none;
    font-size: 20px;
    background-image: none;
    color: #666666;
    padding-top: 15px;
    padding-bottom: 15px;
}