
@import 'bootstrap.scss';

@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~cropper/dist/cropper.css';
@import '~flag-icon-css/sass/flag-icon.scss';
@import "~select2/dist/css/select2.css";
@import "~bootstrap-daterangepicker/daterangepicker.css";
//@import "~bootstrap-select/sass/bootstrap-select";
//@import '~pretty-checkbox/src/pretty-checkbox.scss';
//@import '~jquery-ui/themes/base/all.css';
@import "scss/index.scss";

//@import "~jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.css";
//
//@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
//@import "~jquery-contextmenu/dist/jquery.contextMenu.css";
//@import '~pretty-checkbox/src/pretty-checkbox.scss';
