@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-blue {
  @apply bg-primary text-white;
}
.btn-blue:hover {
}

@import '~cropper/dist/cropper.css';
//@import "~flag-icons/sass/flag-icons.scss";
@import "~select2/dist/css/select2.css";
@import "~bootstrap-daterangepicker/daterangepicker.css";
//@import '~jquery-ui/themes/base/all.css';

@layer utilities {
  .custom-collapse {
    display: none;
  }
  .custom-collapse.active {
    display: block;
  }
  .collapse {
    visibility: inherit !important;
  }
}

@layer components {
  .card {
    @apply rounded shadow-lg w-full;
  }

  // Buttons with icons.
  .btn > .svg {
    @apply -ml-1 mr-1 h-4 w-5 fill-current ;
  }

  // Forms.

  .help-block {
    @apply mt-2 text-caption;
  }

  .has-error .ch-form-label {
    @apply h-8;
  }

  .has-error .help-block {
    @apply italic text-caption;
  }

  .has-error .ch-form-control {
  }

  // List

  .list-group {
    @apply flex flex-col mr-4;
  }

  .list-group-item {
    @apply flex flex-row justify-start gap-2 border rounded-sm px-3 py-3;
  }

  // Alerts

  .alert {
    @apply px-6 py-4 border-0 rounded relative mb-4;
  }

  .alert-info {
  }

  .alert-warning {
  }

  .alert-success {
  }

  .alert-danger {
  }

  // Tabs

  .tab_wrapper nav {
    @apply card flex flex-row justify-between gap-4;
  }

  .tab_wrapper nav a {
    @apply p-4;
  }

  // Calendar

  #calendar .fc-toolbar-chunk {
    @apply flex flex-row;
  }

  // Page header

  .page-header {
    @apply text-h3 flex flex-row gap-2;
  }

  #no-data-view {
    @apply flex flex-col items-center justify-center p-4 space-y-4 antialiased;
  }

  .pull-right {
    @apply flex flex-row;
  }

  .header-border-bottom {
    border-bottom: 1px solid #e4e9ed !important;
  }

  .ch-tool-icon {
    @apply font-extrabold text-primary;
  }
  .ch-tool-icon-disabled {
    @apply font-extrabold text-gray-50;
  }
  .ch-tool-icon-gradient {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-primary to-primary-gradient;
  }
  .ch-tool-icon-button {
    @apply font-extrabold bg-clip-text text-gray-90;
  }

  // Forms
  input {
    appearance: auto !important;
    border-width: 1px !important;
  }

  .has-error input, .has-error select {
    border-color: red !important;
  }

  // Special

  // Progress bars
  .progress {
    @apply rounded-sm ring-1 text-center min-h-full ml-12 mr-4;
  }

  .log-container {
    height: 300px;
    overflow-y: scroll;
    background-color: #000;
    padding: 10px;
  }

  .terminal {
    color: #00ff00; /* Green */
    font-family: monospace;
  }

  // Pager
  .pager-bar {
  }
  .pager-bar .pager-select {
  }
  .pager-bar .pager-counter {
    @apply mt-4;
  }
  .pager-bar .pager-jumper {
    @apply mt-4;
  }
  .pager-bar .pager-jumper .btn-link {
    @apply -mt-2 mx-2;
  }

  // free-jqGrid override
  .ui-jqgrid-bootstrap.modal {
    @apply bg-white;
  }
}

@import "scss/index.scss";

// tabs
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.col-md-offset-0 {
  margin-left: 0 !important;
}

.col-md-offset-1 {
  margin-left: 5% !important;
}

.col-md-offset-2 {
  margin-left: 10% !important;
}

.col-md-offset-3 {
  margin-left: 15% !important;
}

.col-md-offset-4 {
  margin-left: 20% !important;
}

/* ****************************************************
                     CSS SKILL
 **************************************************** */
#skillList .header-title{
  padding: 8px;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  margin-bottom: 15px;
}
.skills-badges{
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
}
.skills-badges .item{
  display: inline-block;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.skills-badges a .caption{
  text-align: center;
}
.list-horizontal .list-skills{
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
.list-vertical .list-skills{
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}
.list-skills .item{
  display: inline-block;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.skill-options .legend {
  border: 1px dashed #cccccc;
  padding: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: #FFFFFF;
}

.skill-options .skill-home {
  margin-top: 1em;
  margin-bottom: 1em;
}

.skill-options .btn-block {
  box-sizing: border-box;
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.skill-options .accordion-inner {
  padding: 9px 15px;
  /*border: 1px solid #dadada;*/
  background-color: #FFFFFF;
}

.skill-options .load_wheel {
}

.skill-options .skill-winner {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill-options .skill-winner li {
  float: left;
  margin-right: 1em;
  padding-bottom: 1em;
}

.skill-options .skill-winner li a {
  background: url("/main/img/icons/16/winner.png") no-repeat;
  padding-left: 1.5em;
  padding-bottom: 1em;
}

.search-skill ul.holder li.bit-input input {
  width: 100%;
}

.skill-legend-basic {
  color: #3A87AD;
}

.skill-legend-add {
  color: #F89406;
}

.skill-legend-search {
  color: #B94A48;
}

.skill-legend-badges {
  color: #31A354;
}

.page-skill .panel-default {
  border-color: #DDDDDD;
}

.page-skill .btn-default {
  background-color: #F6F6F6;
}

.page-skill .btn-default:hover {
  background-color: #E6E6E6;
}

.page-skill #skill_info {
  font-size: 12px;
}

.page-skill #skill_wheel tspan {
  font-size: 12px;
}

.page-skill .holder_simple li.bit-box a {
  color: #8A6D3B;
}

.skill_partition {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 0.5px;
}

.items-user .avatar-user {
  text-align: center;
  margin-bottom: 10px;
}

.items-user p {
  font-size: 12px;
  margin-bottom: 5px;
}

.items-user .list-group {
  font-size: 12px;
}

table#skill_holder {
  margin-top: 15px;
}

.badges-sidebar {
  height: 250px;
}

.panel figure figcaption {
  background: none;
  text-align: center;
}

.skill_root {
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 6px;
  background-color: #ccc;
  border: 0.1em dotted #D4E06B;
  color: black;
  font-size: 0.9em;
  height: 4em;
  opacity: 0.8;
  padding-top: 0.9em;
  text-align: center;
  width: 120px;
  z-index: 40;
  position: relative;
}

.skill_child {
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 6px;
  background-color: white;
  border: 0.1em dotted #D4E06B;
  color: black;
  font-size: 0.9em;
  height: 4em;
  opacity: 0.8;
  padding-top: 0.9em;
  text-align: center;
  width: 120px;
  z-index: 40;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
}

/* ****************************************************
                     END SKILL
 **************************************************** */

//@import 'primevue-md-light-indigo/theme.css';
//@import '~primevue/resources/primevue.min.css';
//@import '~primeflex/primeflex.css';
//@import "~primeicons/primeicons.css";

@import 'primeflex/core/_variables.scss';
@import 'primeflex/core/_formlayout.scss';

//@import "~jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "~timepicker/jquery.timepicker.min.css";
@import "~qtip2/dist/jquery.qtip.min.css";
