{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="header">
        {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
    </div>
    <div class="body bg-gray">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endblock fos_user_content %}
