{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
{% autoescape false %}
<div class="row">
    <div class="col-md-3">
        <div class="social-network-menu">
            {% include '@ChamiloTheme/Social/user_block.html.twig' %}
            {{ social_menu_block }}
        </div>
    </div>
    <div class="col-md-9">
        {{ social_invitations_block }}
    </div>
</div>
{% endautoescape %}
{% endblock %}