/*
Stylesheet for HTML documents created with CKEditor.

This stylesheet must import editor_content.css file
*/
@import url(./editor_content.css);

body {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    padding: 1em;
}

blockquote {
    background: #f9f9f9;
    border-left: 8px solid #ccc;
    display: inline-block;
    font: 14px/20px italic Times, serif;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}
