# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    app_env: '%env(APP_ENV)%'
    password_encryption: '%env(APP_ENCRYPT_METHOD)%'
    secret: '%env(APP_SECRET)%'
    locale: '%env(APP_LOCALE)%'
    installed: '%env(APP_INSTALLED)%'
    db_manager_enabled: '%env(bool:DB_MANAGER_ENABLED)%'
    software_name: '%env(SOFTWARE_NAME)%'
    software_url: '%env(SOFTWARE_URL)%'
    deny_delete_users: '%env(bool:DENY_DELETE_USERS)%'
    hosting_total_size_limit: '%env(int:HOSTING_TOTAL_SIZE_LIMIT)%'
    theme_fallback: '%env(THEME_FALLBACK)%'
    packager: '%env(PACKAGER)%'
    default_template: '%env(DEFAULT_TEMPLATE)%'
    scim_token: '%env(SCIM_TOKEN)%'
    .container.dumper.inline_factories: true
    twig:
        form:
            resources:
                - 'GeneratorBundle::fields.html.twig'
    course_info_is_not_editable: false

    #    router.request_context.base_url: '%env(APP_URL_APPEND)%'
    #    asset.request_context.base_path: '%env(APP_URL_APPEND)%'

    # See https://glide.thephpleague.com/2.0/api/quick-reference/
    glide_media_filters:
        editor_thumbnail:
            w: 64
            h: 64
        user_picture_small:
            w: 48
            h: 48
        user_picture_profile:
            w: 94
            h: 94
        course_picture_small:
            w: 85
            h: 47
        course_picture_medium:
            w: 400
            h: 225
        resource_show_preview:
            w: 500

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: true       # Allows optimizing the container by removing unused services; this also means
        # fetching services directly from the container via $container->get() won't work.
        # The best practice is to be explicit about your dependencies anyway.

    Vich\UploaderBundle\Naming\SubdirDirectoryNamer:
        public: true

    Symfony\Component\Mailer\Mailer:
        public: true

    Doctrine\ORM\EntityManager: "@doctrine.orm.default_entity_manager"

    # Locale listener
    Chamilo\CoreBundle\EventSubscriber\LocaleSubscriber:
        arguments: ['%locale%', '@Chamilo\CoreBundle\Settings\SettingsManager', '@parameter_bag']

    Chamilo\CoreBundle\EventSubscriber\TranslatorFallbackLocaleSubscriber:
      arguments:
        $translator: '@translator.default'
        $languageRepository: '@Chamilo\CoreBundle\Repository\LanguageRepository'
      tags:
        - { name: kernel.event_subscriber }

    stof_doctrine_extensions.tool.locale_synchronizer:
        class: Stof\DoctrineExtensionsBundle\Tool\LocaleSynchronizer
        arguments:
            $listener: '@stof_doctrine_extensions.listener.translatable'
        public: true

    Chamilo\CoreBundle\EventSubscriber\LoginFailureSubscriber:
        tags:
            - name: kernel.event_subscriber
              dispatcher: security.event_dispatcher.main

    Chamilo\CoreBundle\State\CStudentPublicationPostStateProcessor:
        bind:
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'

    Chamilo\CoreBundle\State\CCalendarEventStateProcessor:
        arguments:
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'
        tags:
            - { name: 'api_platform.state_processor' }

    Chamilo\CoreBundle\State\UsergroupPostStateProcessor:
      arguments:
        $processor: '@api_platform.doctrine.orm.state.persist_processor'
        $entityManager: '@doctrine.orm.entity_manager'
        $security: '@security.helper'
        $requestStack: '@request_stack'
      tags:
        - { name: 'api_platform.state_processor' }

    Chamilo\CoreBundle\State\CAttendanceStateProcessor:
      arguments:
        $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'
        $entityManager: '@doctrine.orm.entity_manager'
        $calendarRepo: '@Chamilo\CourseBundle\Repository\CAttendanceCalendarRepository'
        $requestStack: '@request_stack'
      tags:
        - { name: 'api_platform.state_processor' }

    Chamilo\CoreBundle\State\ColorThemeStateProcessor:
      bind:
        $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'

    Chamilo\CoreBundle\State\UserRelUserStateProcessor:
      bind:
        $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'
        $removeProcessor: '@api_platform.doctrine.orm.state.remove_processor'

    Chamilo\CoreBundle\State\MessageProcessor:
        bind:
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'
            $removeProcessor: '@api_platform.doctrine.orm.state.remove_processor'

    Chamilo\CoreBundle\State\CBlogAssignAuthorProcessor:
      arguments:
        $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'
        $security: '@security.helper'
      tags:
        - { name: 'api_platform.state_processor' }

    Chamilo\CoreBundle\EventSubscriber\RememberMeSubscriber:
      arguments:
        $appSecret: '%kernel.secret%'
      tags: [ 'kernel.event_subscriber' ]

    Chamilo\CoreBundle\Security\Authenticator\RememberMeCookieAuthenticator:
      arguments:
        $appSecret: '%env(APP_SECRET)%'

    Chamilo\CoreBundle\EventSubscriber\AnonymousUserSubscriber:
      tags:
        - name: kernel.event_subscriber

    Chamilo\CoreBundle\Security\Authorization\Voter\AnonymousVoter:
      tags:
        - name: security.voter

    Chamilo\CoreBundle\EventSubscriber\InstallDbGuardSubscriber:
      arguments:
        $connection: '@doctrine.dbal.default_connection'
      tags:
        - { name: kernel.event_subscriber }

    Chamilo\CoreBundle\Helpers\ContainerHelper:
        calls:
            - setAuthorizationChecker: [ '@security.authorization_checker' ]
            - setTokenStorage: [ '@security.token_storage' ]
            - setKernel: [ '@kernel' ]
            - setMessengerBus: [ '@messenger.bus.default' ]
            - setValidator: [ '@validator' ]
            - setSessionFactory: [ '@session.factory' ]

    Chamilo\CoreBundle\Helpers\PluginEntityLoaderHelper:
        arguments:
            $pluginDir: '%kernel.project_dir%/public/plugin'

    League\Flysystem\AwsS3V3\PortableVisibilityConverter: ~

    chamilo.storage.awss3_client:
        class: Aws\S3\S3Client
        factory: ['Chamilo\CoreBundle\Storage\Factory\AwsS3ClientFactory', 'create']
        arguments:
            - '%env(AWS_S3_STORAGE_VERSION)%'
            - '%env(AWS_S3_STORAGE_REGION)%'
            - '%env(AWS_S3_STORAGE_ACCESS_KEY)%'
            - '%env(AWS_S3_STORAGE_ACCESS_SECRET)%'
            - '%env(default::AWS_S3_STORAGE_ENDPOINT)%'
            - '%env(default::AWS_S3_USE_PATH_STYLE)%'

    Google\Cloud\Storage\StorageClient:
        arguments:
            $config:
                projectId: '%env(GOOGLE_STORAGE_CLOUD_PROJECT_ID)%'
                keyFilePath: '%env(resolve:GOOGLE_STORAGE_KEY_FILE_PATH)%'

    MicrosoftAzure\Storage\Blob\BlobRestProxy:
        factory: ['MicrosoftAzure\Storage\Blob\BlobRestProxy', 'createBlobService']
        arguments:
            - '%env(AZURE_STORAGE_CONNECTION_STRING)%'

    Chamilo\CoreBundle\Security\Authenticator\Ldap\ExtAdapter: ~

    Symfony\Component\Ldap\Ldap:
        arguments: [ '@Chamilo\CoreBundle\Security\Authenticator\Ldap\ExtAdapter' ]
        tags:
            - ldap

    Symfony\Component\Ldap\Security\CheckLdapCredentialsListener:
        arguments: [ '@security.ldap_locator' ]
        tags:
            - { name: kernel.event_subscriber, dispatcher: security.event_dispatcher.main }

cocur_slugify:
    lowercase: true

imports:
    - { resource: ../src/CoreBundle/Resources/config/services.yml }
    - { resource: ../src/LtiBundle/Resources/config/services.yml }
    - { resource: ./authentication.yaml, ignore_errors: not_found }
    - { resource: ./settings_overrides.yaml, ignore_errors: not_found }
    - { resource: ./plugin.yaml, ignore_errors: not_found }
