services:
  chamilo_user.security.user_provider:
    class: Chamilo\UserBundle\Security\FOSUBUserProvider
    arguments:
      - '@sonata.user.orm.user_manager'
      - {facebook: facebookId, google: googleId, github: githubId}

  chamilo_user.security.login_form_authenticator:
    class: Chamilo\UserBundle\Security\LoginFormAuthenticator
    autowire: true
