{% macro global_modal(title) %}
    <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="global-modal">
        <!--content-->
        <div class="relative w-auto my-6 mx-auto max-w-6xl">
            <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                <!--header-->
                <div class="flex items-start justify-between p-5 border-b border-solid border-gray-200 rounded-t">
                    <h3 class="text-3xl font-semibold" id="global-modal-title">{{ title }}</h3>
                    <button id="close-global-model" class="text-purple-500 background-transparent font-bold uppercase px-6 py-2 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                        {{ 'Close'|trans }}
                    </button>
                </div>
                <!--body-->
                <div class="relative p-6 flex-auto max-w-6xl" id="global-modal-body"></div>
                <!--footer-->
                <div class="flex items-center justify-end p-6 border-t border-solid border-gray-200 rounded-b">
                </div>
            </div>
        </div>
    </div>
    <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="global-modal-backdrop"></div>
{% endmacro %}
