<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'User'|trans }}</a>
    </li>
    <li><a href="#attributes" data-toggle="tab">{{ 'Extra fields'|trans }}</a>
    </li>
</ul>
