/*****************************************************
 *  MAIN  - CHAMILO RED CSS
 *****************************************************/

/* Adding default style for the chamilo_X themes */
@import url('../base_chamilo.css');

/* the following for regular <a> elements */
a:link {
    text-decoration: none;
    color :#ff0000;
}
a:visited {
    text-decoration: none;
    color : #ff0000;
}
a:hover {
    text-decoration: none;
    color: #f3840d;
}
a:active {
    text-decoration: none;
    color : #ff0000;
}

#header1 {
    background-image:url(images/bg-header1.gif);
}
#header3 {
    background-image:url(images/bg-header4.png);
}
#header4 {
    background-image:url(images/bg-header4.png);
}

#header3  a {
    background:transparent url(images/tab_left.gif) no-repeat scroll left top;
}

#header3 li a span {
    background:transparent url(images/tab_right.gif) no-repeat scroll right top;
}

#current a {
    background:transparent url(images/tab_left-active.gif) no-repeat scroll left top;
}
#current {
    background:transparent url(images/tab_center-active.gif) no-repeat scroll right top;
}   

#current #tab_active {
    background:transparent url(images/tab_right-active.gif) no-repeat scroll right top;
}
/*****************************************************
 *  FOOTER STYLES                                    *
 *****************************************************/
#footer {
    background-color: #a90a0e;
    background-image: url(images/bg-footer.gif);
    background-repeat:repeat-x;
    font-size: 12px;
    color:#ffffff;
    /*height: 10em;*/	 /* Do not change this value */
    overflow:hidden;
    width: 100%;
    padding-bottom:18px;
}
/* Sticky footer*/
.push {
    height: 9em; /* Very important */
}
#footer .copyright {
    float: right;
    padding-top:60px;
    margin-right:5%;
    background-color: #a90a0e;
    background-image: url(images/bg-footer.gif);
    background-repeat:repeat-x;
}

.footer_emails{
    float: left;
    padding-top:60px;
    margin-right:5%;
    background-color: #a90a0e;
    background-image: url(images/bg-footer.gif);
    background-repeat:repeat-x;
}

/*****************************************************
 *  DISPLAY MESSAGES	                             *
 *****************************************************/
.normal-message {    
    color: #00407F;	
    border: 1px solid #CDE6F5;	
    background: url("images/background_message.png") repeat-x scroll 0 0 #EAF8FE;
}
.warning-message {    
    border: 1px solid #FFB30F;
    color: #000;    
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFEFA7;
}
.confirmation-message {
	border: 1px solid #1F8323;
    color:#1F8323;
	background: url("images/background_message.png") repeat-x scroll 0 0 #CAF0C7;
}
.error-message {        
    border: 1px solid #FF0000;
    color: #440000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFD1D1;
}

/* New training */
.bottom-link {
    background-image:url(images/button_back.jpg);
}

.social-menu-title {
    background-color:#ff0000;
}

#social-content-online {
    background-color:#ff0000;
}
        
.admin_section li {
    background-image:url(images/bullet.gif);
}

.system_announcements {
    background: transparent url('images/systemenouvelles.jpg') no-repeat top  left;
}

.topa {
    background:transparent url('images/logoa4.gif') no-repeat;
}
.topb {
    background:transparent url('images/logob4.gif') no-repeat;
}

#bottomhellomindfactory {    
    background:transparent url('images/textologo.jpg') no-repeat;
}


#exercise_close_link {
    background: url(images/close.gif) no-repeat;
}

#exercise_close_link:hover {
    background: url(images/close_highlight.gif) no-repeat;
}

/*including "login" image*/
button.login {
    background-image:url(images/bg-button.gif);
}

button.login:hover {
}

/*including "save" image*/
button.save {
    background-image:url(images/button_accept.gif);
}
/*including "add" image*/
button.add {
    background-image:url(images/button_add.gif);
}
/*including "cancel" image*/
button.cancel {
    background-image:url(images/button_delete.gif);
}
/*including "search" image*/
button.search {
    background-image:url(images/bg-button.gif);
}
/*including "plus" image*/
button.plus {
    background-image:url(images/button_plus.gif);
}
/*including "minus" image*/
button.minus {
    background-image:url(images/button_minus.gif);
}
/*including "next" image*/
button.next {
    background-image:url(images/button_next.gif);
}
/*including "back" image*/
button.back {
    background-image:url(images/button_back.gif);
}
/*including "refresh" image*/
button.refresh {
    background-image:url(images/button_refresh.gif);
}
/*including "upload" image*/
button.upload {
    background-image:url(images/button_upload.gif);
}

.fake_button_back {
    background-image:url(images/button_back.gif);
}
button.arrowr {
    background-image:url(images/2rightarrow.gif);
}

button.arrowl {
    background-image:url(images/2leftarrow.gif);
}

input.arrowr {
    background-image:url(images/2rightarrow.gif);
}

input.arrowl {
    background-image:url(images/2leftarrow.gif);
}
.refresh {
    background-image:url(images/refresh.png);
}

.portal {
    background-image:url(images/portal.png);
}
