#learning_path_breadcrumb_zone .breadcrumb{
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-transform: capitalize;
    border:none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#learning_path_breadcrumb_zone .breadcrumb a{
    color: #FFF;
}
#learning_path_breadcrumb_zone .breadcrumb a:hover{
    text-decoration: none;
    opacity: 0.8;
}
#scorm_title {
    font-weight: bold;
    background:none;
    font-size: 20px;
    background-image: none;
    color: #cf0404;
    padding-top: 15px;
    padding-bottom: 15px;
}

}
