{% extends "@ChamiloCore/Layout/layout_content.html.twig" %}

{% block content %}
    {% autoescape false %}
    <section class="section-content">
        <div class="container">
            {{ content }}
        </div>
    </section>
    {% endautoescape %}
{% endblock %}
