{% if is_granted('ROLE_ADMIN') %}
<a href="{{ url('edit_page', { 'slug': slug }) }}" class="btn btn-primary" >
    <i class="fas fa-edit"></i> {{ "header.edit_page"|trans({}, 'SonataPageBundle') }}
</a>
{% endif %}

{{ sonata_page_render_container('content', page) }}
