{% extends "@ChamiloCore/Layout/no_layout.html.twig" %}

{% block content %}
    <div
        id="app"
        data-flashes="{{ app.flashes()|json_encode }}"
        data-is-authenticated="{{ is_authenticated }}"
        data-user-json="{{ user_json }}">
    </div>
    {{ encore_entry_script_tags('vue') }}
{% endblock %}