<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">{{ "Session"|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">{{ "Course"|trans }}</a>
    </li>
</ul>

{# session_category.sessions is generated with the session.html.twig #}
{{ session_category.sessions }}