<div class="container-fluid">
    <div class="row" id="pnl-row">
        <div class="col-sm-3" id="pnl-left">
            <h3>{{ tool.title }}</h3>
            <p>{{ tool.description }}</p>

            <hr>

            {{ toc_html }}
        </div>
        <div class="col-sm-9" id="pnl-right">
            <iframe id="ifr-content" name="ifr_content" src="about:blank" frameborder="0"></iframe>
        </div>
    </div>
</div>
