.grid-cols-course-tools {
  @apply flex flex-wrap gap-y-8 justify-between;
  column-gap: min(32px, 100%);
}

.course-tool {
  @apply flex flex-col flex-none gap-4 relative w-[120px];

  &__link {
    @apply border border-solid border-gray-30 rounded-lg flex place-items-center justify-center shadow-lg w-[7.5rem] h-[7.5rem] relative;
  }

  &__shadow {
    @apply absolute w-16 h-16 text-primary;

    padding: 1px;
    opacity: 0.08;
  }

  &__icon {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-primary to-primary-gradient leading-none;

    &.mdi {
      font-size: 44px;
    }
  }

  &__title {
    @apply text-caption font-semibold text-center text-primary;
  }

  &__options {
    @apply absolute flex gap-2 p-2 right-0;

    & > a,
    & > button {
      @apply inline-block h-6 text-center w-6;
    }
  }
}
