<footer class="app-footer">
    <div>
        <a href="https://wwww.chamilo.org">Chamilo</a>
        <span>&copy; 2018 Derechos reservados.</span>
    </div>
    <div class="ml-auto">
        <span>Administrado por</span>
        <a href="#">Alex Aragón</a>
    </div>
</footer>