{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block page_title %} {{ title }}{% endblock %}

{% block content %}
    <h4>{{ tool }}</h4>

    <form method="post"
          action="{{ path('chamilo_course_ctoolintro_update', {'course': course.code, 'tool' : tool, 'iid' : iid }) }}">
        {{ form_widget(form) }}
    </form>
{% endblock %}