{{ info_msg }}
<br />
<div id="loader" class="text-center">

</div>
<br />
{{ form }}

<script>
    $(document).ready(function(){
        $(".btn-primary").click(function() {
            $("#loader").html('<div class="wobblebar-loader"></div><p> {{ 'ProcessingImportPleaseDontCloseThisWindowThisActionMayTakeLongTimePlaseWait' | get_lang }} </p>');
        });
    });
</script>