{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}

    <div class="box-body">
        Disk space         {{ resourceNode.slug }}
    </div>

    Total: {{ size }}

{% endblock %}
