{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
<script>
    function clickRow(firstRow) {
        var anchor = firstRow.find('a');
        var url = anchor.attr('href');
        console.log(url);

        url = url.replace('/view_resource?', '/info?');
        url = url.replace('/view?', '/info?');
        url = url.replace('/list?', '/info?');
        if (url) {
            $.ajax({
                type: "get",
                url: url,
                contentType: "html",
                beforeSend: function() {
                },
                success: function (response) {
                    $('#resources').attr('class', 'col-lg-8');
                    $('#info_bar').attr('class', 'col-lg-4');
                    $('#info_bar').html(response);
                },
            });
        }
    }

    $(function () {
        $('tbody').on('click', 'tr', function (event) {
            if ($(this).is('tr:first')) {
                return;
            }

            if (event.ctrlKey === false) {
                $(this).siblings().find('input:checkbox').prop('checked', false);
                $(this).siblings('tr:visible').removeClass('table-active');
            }

            var checkbox = $(this).find('input');
            checkbox.prop('checked', !checkbox.prop('checked'));
            $(this).toggleClass('table-active');

            var rows = $('tbody tr.table-active').length;
            if (rows == 0) {
                $('.mass-actions').hide();
            } else {
                if ($('#info_bar').is(':visible')) {
                    clickRow($(this));
                }
                $('.mass-actions').show();
            }
        } );

        // $('#button').click( function () {
        //     alert(  +' row(s) selected' );
        // } );

        $('.resource_info').on( 'click', function (event) {
            var firstRow = $('tbody tr.table-active:first ');
            var rowCount = firstRow.length;
            if (rowCount) {
                $('#info_bar').show();
                clickRow(firstRow);
            }
            event.preventDefault();
        });

        // Preview action.
        $('[data-fancybox="gallery"]').fancybox({
            toolbar: "true",
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                "fullScreen",
                //"download",
                "thumbs",
                "close"
            ],
            // https://github.com/fancyapps/fancybox/issues/2009
            video: {
                autoStart: false
            },
            // caption : function( instance, item ) {
            //     var caption = $(this).data('caption') || '';
            //
            //     if ( item.type === 'image' ) {
            //         caption = (caption.length ? caption + '<br />' : '') + '<a href="' + item.src + '">Download image</a>' ;
            //     }
            //
            //     return caption;
            // }
            // Base template for layout
            {#baseTpl:#}
            {#    '<div class="fancybox-container" role="dialog" tabindex="-1">' +#}
            {#    '<div class="fancybox-bg"></div>' +#}
            {#    '<div class="fancybox-inner">' +#}
            {#    '<div class="fancybox-infobar"><span data-fancybox-index></span>&nbsp;/&nbsp;<span data-fancybox-count></span></div>' +#}
            {#    '<div class="fancybox-toolbar">{{buttons}}</div>' +#}
            {#    '<div class="fancybox-navigation">{{arrows}}</div>' +#}
            {#    '<div class="fancybox-stage"></div>' +#}
            {#    '<div class="fancybox-caption"><div class=""fancybox-caption__body"></div></div>' +#}
            {#    '</div>' +#}
            {#'</div>',#}
        });

        // Visibility action.
        $('.change_visibility').on('click', function (e) {
            e.preventDefault();
            var link = $(this);
            var url = $(this).attr('href');
            $.ajax({
                type: "post",
                url: url,
                contentType: "html",
                beforeSend: function(){
                    link.find('i').addClass('fa-spinner fa-spin');
                    link.find('i').removeClass('fa-eye');
                    link.find('i').removeClass('fa-eye-slash');
                },
                success: function (response) {
                    link.find('i').removeClass('fa-eye');
                    link.find('i').removeClass('fa-eye-slash');
                    link.find('i').removeClass('fa-spinner fa-spin');
                    link.find('i').addClass(response.icon);
                },
            });
        });

        // More action.
        $.contextMenu({
            selector: '.edit_resource',
            callback: function(key, options, e) {
                e.preventDefault();
                var nodeId = options.$trigger.attr("data-node-id");
                var action = 'chamilo_core_resource_'+key+ '_'+nodeId;
                //console.log(action);
                var newOption = options.$trigger.parent().find("[data-action-id='" + action + "']");
                var link = $(newOption).attr('href');
                //console.log(link);

                if (link == 'javascript:;' || key == 'delete') {
                    $(newOption).click();
                    window.location.href = link;
                } else {
                    window.location.href = link;
                }
                return true;
            },
            autoHide: false,
            animation: {duration: 250, show: 'fadeIn', hide: 'fadeOut'},
            trigger: 'left',
            items: {
                // "preview": {name: "Preview", icon: "fas fa-search"},
                "show": {name: "Info", icon: "fas fa-info-circle"},
                "sep1": "---------",
                "edit": {name: "Edit", icon: "fas fa-pen"},
                //"download": {name: "Download", icon: "fas fa-arrow-alt-circle-down"},
                "delete": {name: "Delete", icon: "fas fa-trash"},
            }
        });

        $('.edit_resource').on('click', function(e) {
            e.preventDefault();
        })
    });
</script>
<style>
    .fancybox-slide--iframe .fancybox-content {
        width  : 800px;
        height : 600px;
        max-width  : 80%;
        max-height : 80%;
        margin: 0;
    }
</style>

<div class="row">
{#    <div class="col-lg-12">#}
    <div id="resources" class="col-lg-12">
        {% include '@ChamiloTheme/Resource/toolbar.html.twig' %}
        {% include '@ChamiloTheme/Resource/grid.html.twig' %}
    </div>
    <div id="info_bar" class="col-md-auto" style="display:none">
    </div>
</div>

{% endblock %}
