{% extends "@ChamiloTheme/Layout/layout_one_col.html.twig" %}

{% block content %}
    <div class="box-body">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
{% endblock %}
