/*****************************************************
 *  MAIN  - CHAMILO CSS
 *****************************************************/

/* the following for regular <a> elements */
a {
    text-decoration: none;
    color :#3757f7
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #f3840d;
}
a:active {
    text-decoration: none;
    color : #3757f7;
}

/** Navbar */

.navbar-default {
    background-color: #0191C7;
    border-color: #0073A0;
}
.navbar-default .navbar-brand {
    color: #ECF0F1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ECF0F1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #0073A0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #0073A0;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ECF0F1;
    border-bottom-color: #ECF0F1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #0073A0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0073A0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ECF0F1;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ECF0F1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
}


/*****************************************************
 *  FOOTER STYLES                                    *
 *****************************************************/
footer {
    background-color: #037fb2;
    background-image: url(images/bg-footer.gif);
    background-repeat:repeat-x;
    color:#ffffff;
}

/*****************************************************
 *  DISPLAY MESSAGES	                             *
 *****************************************************/
.normal-message {
    color: #00407F;
    border: 1px solid #CDE6F5;
    background: url("images/background_message.png") repeat-x scroll 0 0 #EAF8FE;
}
.warning-message {
    border: 1px solid #FFB30F;
    color: #000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFEFA7;
}
.confirmation-message {
	border: 1px solid #1F8323;
    color:#1F8323;
	background: url("images/background_message.png") repeat-x scroll 0 0 #CAF0C7;
}
.error-message {
    border: 1px solid #FF0000;
    color: #440000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFD1D1;
}

.social-menu-title {
	background-color:#00AAE3;
}

#social-content-online {
    background-color:#00AAE3;
}

.admin_section li {
    background-image:url(images/bullet.gif);
}

.system_announcements {
    background: transparent url('images/systemenouvelles.jpg') no-repeat top  left;
}

.topa {
    background:transparent url('images/logoa4.gif') no-repeat;
}
.topb {
    background:transparent url('images/logob4.gif') no-repeat;
}

#bottomhellomindfactory {
    background:transparent url('images/textologo.jpg') no-repeat;
}

/*including "login" image*/
button.login {
    /* background-image:url(images/bg-button.gif); */
}
/* including "save" image*/
button.save {
    /* background-image:url(images/button_accept.gif); */
}
/*including "add" image*/
button.add {
    /* background-image:url(images/button_add.gif); */
}
/*including "cancel" image*/
button.cancel {
    /* background-image:url(images/button_delete.gif); */
}
/*including "search" image*/
button.search {
    /* background-image:url(images/bg-button.gif); */
}
/*including "plus" image*/
button.plus {
    /* background-image:url(images/button_plus.gif); */
}
/*including "minus" image*/
button.minus {
    /* background-image:url(images/button_minus.gif); */
}
/*including "next" image*/
button.next {
    /* background-image:url(images/button_next.gif) !important; */
}
/*including "back" image*/
button.back {
    /* background-image:url(images/button_back.gif); */
}
/*including "refresh" image*/
button.refresh {
    /* background-image:url(images/button_refresh.gif); */
}
/*including "upload" image*/
button.upload {
    /* background-image:url(images/button_upload.gif); */
}

button.arrowr, input.arrowr {
	/* background-image:url(images/2rightarrow.gif); */
}
button.arrowl, input.arrowl {
    /* background-image:url(images/2leftarrow.gif); */
}
.refresh {
    /* background-image:url(images/refresh.png); */
}

.portal {
    background-image:url(images/portal.png);
}
