/*****************************************************
 *  MAIN  - CHAMILO CSS
 *****************************************************/

/* the following for regular <a> elements */
a {
    text-decoration: none;
    color :#3757f7
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #f3840d;
}
a:active {
    text-decoration: none;
    color : #3757f7;
}

/** Navbar */
html,
body {

}

.navbar-default {
    background-color: #3498DB;
    /*border-color: #0073A0;*/
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #ECF0F1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ECF0F1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #0073A0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #0073A0;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ECF0F1;
    border-bottom-color: #ECF0F1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #0073A0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0073A0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ECF0F1;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ECF0F1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
}


/*****************************************************
 *  FOOTER STYLES                                    *
 *****************************************************/
footer {
}

/*****************************************************
 *  DISPLAY MESSAGES	                             *
 *****************************************************/
.normal-message {
    color: #00407F;
    border: 1px solid #CDE6F5;
    background: url("images/background_message.png") repeat-x scroll 0 0 #EAF8FE;
}
.warning-message {
    border: 1px solid #FFB30F;
    color: #000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFEFA7;
}
.confirmation-message {
	border: 1px solid #1F8323;
    color:#1F8323;
	background: url("images/background_message.png") repeat-x scroll 0 0 #CAF0C7;
}
.error-message {
    border: 1px solid #FF0000;
    color: #440000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFD1D1;
}

.social-menu-title {
	background-color:#00AAE3;
}

#social-content-online {
    background-color:#00AAE3;
}

.admin_section li {
    background-image:url(images/bullet.gif);
}

.system_announcements {
    background: transparent url('images/systemenouvelles.jpg') no-repeat top  left;
}

.topa {
    background:transparent url('images/logoa4.gif') no-repeat;
}
.topb {
    background:transparent url('images/logob4.gif') no-repeat;
}

#bottomhellomindfactory {
    background:transparent url('images/textologo.jpg') no-repeat;
}

.portal {
    background-image:url(images/portal.png);
}

.sidebar {
    background-color: #F5F5F5;
    border-right: 1px solid #EEEEEE;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 51px;
    z-index: 1000;
}
