/*****************************************************
 *  MAIN - CORPORATE	                             *
 *****************************************************/
html {
	height: 100%;
}
/* Redefining html styles */
body {
	/* hack ignored by non-IE to enable ie to support :hover on button */
    behavior:url("/main/css/csshover3.htc");
	font-family: bold arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	height: 100%; /* stick */
}
#wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-image:url(images/shadow.gif);
}
img {
	border: none;
}
a:link {
	color : #333;
}
a:visited {
	color : #333;
}
a:hover {
	color: #f3840d;
}
a:active {
}
input, input[type=file], select, textarea {
	background:#F8F8F8;
	border:1px solid #999999;
	padding:1px 2px;
}
input[type=button], input[type=submit] {
	border:1px solid #999999;
	background:#F0F0F0;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#666;
}
/* header styles */
#header {
	margin: 0;
    padding: 0;
    width: 100%;
}
/* header 1 styles */
#header1 {
	background-color: #dcdcdc;
	color: #666;
	border-bottom: 1px solid #ccc;
}
#header1 a {
	color: #333;
	text-decoration: none;
}
#header1 a:hover {
}
#my_courses {
	float: right;
	font-weight: bold;
}
#header1 img {
	border: 0px;
}
/* header 2 styles */
#header2 {
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #ccc;
}
#header2 a {
	color: #333;
	text-decoration: none;
}
#header2 a:hover {
}
#Header2Right ul {
	float: right;
	list-style-type: none;
	text-align: right;
	color:#680157;
	margin: 0;
	padding: 0;
}
#Header2Right ul li {
	display: inline;
}
#Header2Right ul li a {
	color:#333;
}
#Header2Right ul li a:hover {
	color:#333;
}
/* header 3 styles */
#header3 {
	background: #fff;
	border-bottom: 1px solid #aeaeae;
	color: #333;
	height:auto;
	font-weight: bold;
	float:left;
    width:100%;
}


#header3 UL {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	list-style:none;
	display: inline;
}
#header3 LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 2px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;/*border-bottom: 1px solid #dcdcdc;*/
	cursor: pointer;
}


#header3 a {
	float:left;
	background:url(images/tab_left.gif) no-repeat left top;
	text-decoration:none;
	cursor: pointer;
	color: #333;
	padding-right: 1px;
	padding-left: 9px;
	height:25px;
}
#header3 li a:hover {
	float:left;
	background:url(images/tab_left_hover.gif) no-repeat left top;
	text-decoration:none;
	cursor: pointer;
}
#header3 li a span {
	float:left;
	display:block;
	background:url(images/tab_right.gif) no-repeat right top;
	color:#333;
	cursor: pointer;
	padding-right: 10px;
	padding-top: 5px;
	height:20px;
}
#header3 li a:hover span {
	float:left;
	display:block;
	background:url(images/tab_right_hover.gif) no-repeat right top;
	color:#333;
	cursor: pointer;
}
#header3 #current a {
	float:left;
	background:url(images/tab_left_active.gif) no-repeat left top;
	text-decoration:none;
}
#header3 #current a span {
	float:left;
	display:block;
	background:url(images/tab_right_active.gif) no-repeat right top;
}

#header3 #logout {
	margin-top: 0px;
}
#header3 input.logout:hover {
}
#logout {
	display: inline;
	float: right;
	width: auto;
	text-align: right;
	font-size: 1.0em;
}


/* header 4 styles */
#header4 {
	height: 15px;
    padding: 4px;
    padding-left: 21px;
    margin-bottom: 2px;
    clear:right;
    
    width:98%;
    float:left; 
    padding-left:20px;
    padding-right:0px; 
    
}
a.breadcrumb {
	height: 21px;
}
a.breadcrumb0 {
	background:url(images/home.gif) no-repeat;
	padding-left: 22px;
}
/* The tool shortcuts */
#toolshortcuts {
	text-align: right;
	clear: right;
	margin-left: auto;
	margin-right: auto;
	width: 97.6%
}

/* footer styles */
#footer {
	border-top: 1px solid #aeaeae;
	background-color: #434343;
	font-size: 12px;
	color:#fff;
	min-height: 100px;	
	overflow:hidden;	
	width: 100%;
	padding-bottom:10px;
}
.push {
	height: 4em; /* Very important */
}
#footer .copyright {
	float: right;
	padding-top:8px;
	margin-right:10px;
}
.footer_emails{
	float: left;
	margin-right:5%;
	padding-top:8px;
}
#footer #platformmanager {
	float: left;
	margin-left:10px;
}
#footer #coursemanager {
	float: left;
	margin-left: 10px;
}
#footerright {
	margin-top: 10px;
	float: right;
	margin-right:20px;
}
#footerleft {
	padding-top: 10px;
}
#footer a {
	color:#fff;
}

/* Header2Right: online users, student/teacher view, help */
#Header2Right ul {
    position: relative; /* to avoid the IE peekabo bug*/
    float: right;
    width: 70%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}
#Header2Right ul li {
    display: inline;
}
#Header2Right ul li a {
    padding: 4px 6px 4px 4px;
    color:#636363;
}
/* main styles */
#main {
    float:left;
    width: 92%;
	
	min-height: 320px;
	padding-left: 15px;	
	padding-bottom: 5px;
}

/*
-----------------------------------------------------------------------------
Side-Menu Slider (JQuery) see banner.inc.php
-----------------------------------------------------------------------------
*/
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    right: -10px;
    list-style: none;
    z-index:9999;
}

ul#navigation li {
    width: 73px;
}

ul#navigation li a {
    display: block;
    margin-left: 1px;
    width: 65px;
    height: 60px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:10px 0px 0px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10x;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    -moz-box-shadow: 0px 4px 3px #000;
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -webkit-box-shadow: 0px 4px 3px #000;
}

ul#navigation .help a {
    -moz-border-radius:8px 0 0 8px;
    -moz-box-shadow:0 2px 2px #000000;
    background-color:#879DAA;
    background-position:center center;
    background-repeat:no-repeat;
    border:1px solid #FFFFFF;
    display:block;
    height:44px;
    margin-left:1px;
    opacity:0.6;
    width:65px;
    padding: 6px 0 8px 6px;
}


ul#navigation .report a {
    -moz-border-radius:8px 0 0 8px;
    -moz-box-shadow:0 2px 2px #000000;
    background-color:#8fd400;
    background-position:center center;
    background-repeat:no-repeat;
    border:1px solid #FFFFFF;
    display:block;
    height:44px;
    margin-left:1px;
    opacity:0.6;
    width:65px;
    padding: 6px 0 8px 6px;
}


ul#navigation .student a {
    -moz-border-radius:8px 0 0 8px;
    -moz-box-shadow:0 2px 2px #000000;
    background-color:#b27651 ;
    background-position:center center;
    background-repeat:no-repeat;
    border:1px solid #FFFFFF;
    display:block;
    height:44px;
    margin-left:1px;
    opacity:0.6;
    width:65px;
        padding-bottom: 8px;
}


ul#navigation .user-online a {
    -moz-border-radius:8px 0 0 8px;
    -moz-box-shadow:0 2px 2px #000000;
    background-color:#ccbc67 ;
    background-position:center center;
    background-repeat:no-repeat;
    border:1px solid #FFFFFF;
    display:block;
    height:44px;
    margin-left:1px;
    opacity:0.6;
    width:65px;
    padding: 6px 0 8px 6px;
}

/* Other colors for other tabs in the earth tones */
    ul#navigation .user-connect a {
    -moz-border-radius:8px 0 0 8px;
    -moz-box-shadow:0 2px 2px #000000;
    background-color:#fac97a ;
    background-position:center center;
    background-repeat:no-repeat;
    border:1px solid #FFFFFF;
    display:block;
    height:44px;
    margin-left:1px;
    opacity:0.6;
    width:65px;
    padding: 6px 0 8px 6px;
}

ul#navigation .student-connect a {
    -moz-border-radius:8px 0 0 8px;
    -moz-box-shadow:0 2px 2px #000000;
    background-color:#d0d5d1 ;
    background-position:center center;
    background-repeat:no-repeat;
    border:1px solid #FFFFFF;
    display:block;
    height:44px;
    margin-left:1px;
    opacity:0.6;
    width:65px;
    padding: 6px 0 8px 6px;
}


/* my courses styles */
.maincontent {
	float: left;
	width: 73%;
	min-height: 333px;
	margin-top:0;
}
.coursestatusicons {
	border: 0px solid #000;
	float: left;
	padding-right: 5px;
	width: auto;
}
.courseslist {
	margin-left: -25px;
}
.courses {
	list-style-type: none;
	margin-bottom: 5px;
}
.courses a {
	text-decoration:underline;
}
.user_course_category {
	background-color: #efefef;
	border: 1px solid #666;
	font-weight: bold;
	color: #666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

.session_course_item {
	/* padding: 0px; */
	margin: 0px;
	font-size:135%;
}
.session_course_item .courses {
	margin-bottom: 5px;
	height:35px;
}

.menu {
	float: right;
	width: 200px;
	min-height: 150px;
	background-color: #F0F0F0;
	border: 1px solid #bbb;
	margin-right: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-top:10px;
}
.menu form {
	margin: 0px 6px 0 6px;
}
.menucaption {
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
}
.note {
	width: auto;
	margin: 24px 6px 0 6px;
	padding: 3px;
	background-color:#bbb;
	border: 1px outset;
}
/* form styles */
.form {
	width: 75%;
	float: 'left';
}
form div.row {
	clear: both;
	padding-top: 5px;
}
.form_header {
	white-space: nowrap;
	padding: 2px;
	background-color: #f0f0f0;
	border: 1px solid #bbb;
	font-weight: bold;
}
form div.row div.label {
	float: left;
	width: 18%;
	text-align: right;
}
form div.row div.formw {
	width: 80%;
	float:left;
}
[dir=ltr] form div.row div.label, [dir=rtl] form div.row div.formw {
	float: left;
	text-align: right;
}
[dir=rtl] form div.row div.label, [dir=ltr] form div.row div.formw {
	float: right;
	text-align: left;
}
form span.form_required {
	color: #f00;
}
form span.form_error {
	color: #f00;
	font-size: x-small;
	margin: 2px;
}
/* feedback messages */
.normal-message {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	border: 1px solid #dcdcdc;
	color: #00407F;
	background-color: #E5EDF9;
	min-height: 30px;
}
.warning-message {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	border: 1px solid #FFB30F;
	color: #000;
	background-color: #FFEFA7;
	min-height: 30px;
}
.confirmation-message {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	border: 1px solid #1F8323;
	color: #1F8323;
	background-color: #CAF0C7;
	min-height: 30px;
}
.error-message {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	border: 1px solid #FF0000;
	color: #000;
	background-color: #FFD1D1;
	min-height: 30px;
}
.confirmation-message .bottom-link, .error-message .bottom-link, .normal-message .bottom-link, .warning-message .bottom-link {
	position: absolute;
	bottom: 0.2em;
	right: 0.5em;
}

/*
-----------------------------------------------------------------------------
Menu Slide JQuery
-----------------------------------------------------------------------------
*/
ul#navigation {
	position: fixed;
	margin: 0px;
	padding: 0px;
	top: 80px;
	right: -10px;
	list-style: none;
	z-index:9999;
}

ul#navigation li {
	width: 73px;
}

ul#navigation li a {
	display: block;
	margin-left: 1px;
	width: 65px;
	height: 60px;
	background-color:#CFCFCF;
	background-repeat:no-repeat;
	background-position:center center;
	border:1px solid #AFAFAF;
	-moz-border-radius:10px 0px 0px 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10x;
	-khtml-border-bottom-right-radius: 10px;
	-khtml-border-top-right-radius: 10px;
	-moz-box-shadow: 0px 4px 3px #000;
	opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-webkit-box-shadow: 0px 4px 3px #000;
}

ul#navigation .help a{
	background-image: url(images/help2.png);
}

/* New training */
.bottom-link {
	border: 2px outset;
	text-decoration: none;
	background-color:#E5EDF9;
	border-color: #D4E2F6;
	background-image:url(images/button_back.jpg);
	background-position:10px 50%;
	background-repeat:no-repeat;
	font-size:100%;
	margin-top:1px;
	padding:5px 20px;
	vertical-align:middle;
	padding-left:35px;
	display:block;
}
.bottom-link:active {
	border: 2px inset;
}
.bottom-link:link {
	border-style: solid;
	border-width : 1px 2px 2px 1px;
	text-decoration : none;
	border-color : #69f #00f #00f #69f;
}
.bottom-link:hover {
	border-color: #ccc;
	color: #111;
}
/* other styles */
.clear {
	clear: both;
	line-height: 0px;
	height: 0;
}
/* actions */
.actions_lp {
	background:#F8F8F8;
	height:29px;
	padding-left: -17px;
	margin: 5px 2px 1px 12px;
	vertical-align:middle;
	width: 90%;
}
.actions_lp img {
	vertical-align:middle;
}
.actions_lp a {
	margin-right: 10px;
	vertical-align:middle;
}
.actions_lp span {
	margin-right: 10px;
	vertical-align:middle;
}
.actions_lp form {
	margin-right: 10px;
	vertical-align:middle;
}
.actions {
	background:#efefef;
	border-bottom:1px dotted #999999;
	border-top:1px dotted #999999;
	/*height:35px;*/
	padding:2px;
	margin-bottom: 5px;
	margin : 6px;
	vertical-align:middle;
}
.actions img {
	/*display:inline-block;*/
	border: none;
	text-decoration: none;
	background-color: #efefef;
	padding-right: 5px;
	vertical-align:middle;
}
.actions a {
	display:inline-block;
	margin-right: 10px;
	vertical-align:middle;
}
.actions span {
	margin-right: 10px;
	vertical-align:middle;
}
.actions form {
	margin-right: 10px;
	vertical-align:middle;
}
/* big actions */
.actionsbig {
	background:#F8F8F8;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	background-color:#efefef;
	padding:2px;
	margin-bottom: 5px;
	vertical-align:middle;
	float:left;
	width:100%;
}
.content_table {
	padding:2px;
	margin-bottom: 5px;
	vertical-align:middle;
	float:left;
	width:100%;
}
.actionsbig a {
	float:left;
	padding-left:12px;
	padding-right:12px;
	text-align:center;
}
.actions img {
	vertical-align:middle;
}
.actions a {
	margin-right: 10px;
	vertical-align:middle;
}
.actions-title {
	background:#efefef;
	border-bottom:1px dotted #999999;
	border-top:1px dotted #999999;
	/*height:35px;*/
    padding:4px;
	margin-bottom: 5px;
	font-size:14px;
	font-weight:bolder;
	/*background:url(images/actions.jpg) repeat-x;*/
    vertical-align:middle;
}
.actions-message {
	white-space: nowrap;
	padding: 2px;
	background-color: #f0f0f0;
	border: 1px solid #bbb;
}
/* styles for the profile page */
.profile_image {
	float: right;
	margin-right: 20px;
}
.profile_form {
	float: left;
	width: 75%;
}
/* course introduction */
#courseintrocenter {
	position: relative;
	width: 80%;
	margin: 25px auto 10px;
}
#courseintro_iconscenter {
	position: relative;
	width: 80%;
	margin: 0px auto 10px;
}
#courseintroleft {
	position: relative;
	width: 80%;
	margin-bottom: 5px;
}
#courseintro_iconsleft {
	position: relative;
	width: 80%;
}

/* Login form */
#formLogin div {
	margin-bottom: 3px;
}
#formLogin div input[type=submit] {
	width: 109px;
}
#login_fail {
	margin: 0 6px 6px 6px;
	padding: 4px;
	border: 1px solid #f00;
	background-color: #fff;
	font-size: 12px;
	color: #f00;
}
/* normal table*/
.normal_table {
	margin: 3px;
	border-collapse: collapse;
	width: 98%;
	padding: 5px;
}
/* Data table */
.data_table {
	margin: 3px;
	border-collapse: collapse;
	width: 100%;
	padding: 5px;
}
.data_table th {
	font-weight: bold;
	padding-right: 20px;
	border: 1px solid #666;
	background-color: #999;
	color: #fff;
}
.data_table th a {
	color: #fff;
	text-decoration:none;
}
.data_table tr.row_odd {
	background-color: #fafafa;
}
.data_table tr.row_odd:hover, .data_table tr.row_even:hover {
	background-color: #f0f0f0;
}
.data_table tr.row_even {
	background-color: #fff;
}
.data_table td {
	padding: 5px;
	vertical-align: top;
	border-bottom: 1px solid #b0b0b0;
	border-right: 1px dotted #e1e1e1;
	border-left: 1px dotted #e1e1e1;
}

.data_table_pagination {
	width:100%;
	margin-top: 8px;	
}

/*  sections in the page */
.sectiontitle {
	background-color: #EFEFEF;
	border: 1px solid #cccccc;
	font-weight: bold;
	color: #666666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
.sectioncomment {
	color: #000000;
	margin: 5px;
	padding: 5px;
}
.sectionvalue {
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
/* invisible styles */
a.invisible {
	color: #999999;
}
a.invisible:visited {
	color: #999999;
}
a.invisible:active {
	color: #999999;
}
a.invisible:hover {
	color: #999999;
}
/* Platform Administration */
div.admin_section {
	width: 40%;
	float: left;
	padding: 5px;
	margin: 10px 20px;
	min-height:210px;
}
div.admin_section h4 {
	background-color: #EFEFEF;
	border: 1px solid #cccccc;
	font-weight: bold;
	color: #666666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
/* Report section */
div.report_section {
	width: 40%;
	float: left;
	padding: 5px;
	margin: 10px 20px;
}
div.report_section h4 {
	background-color: #EFEFEF;
	border: 1px solid #cccccc;
	font-weight: bold;
	color: #666666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
/* course homepage */
.courseadminview, .platformadminview {
	position: relative;
	width: 80%;
	margin: 25px auto 10px;
	padding: 10px;
	border: 1px solid #ccc;
}
.courseadminview img, .platformadminview img {
	display:inline-block;
	border: none;
	text-decoration: none;
	/*background-color: #fff;*/
	padding-right: 5px;
	vertical-align:middle;
}
.viewcaption {
	position: relative;
	top: -20px;
	font-weight: bold;
	color: #ccc;
	background-color: #fff;
	padding: 0 4px;
}
.tool-icon {
	margin-bottom: -3px;
}
/* learning path */
table.lp_build {
	height:400px;
	width:100%;
}
table.lp_build td {
	vertical-align:top;
}
table.lp_build td.tree {
	border-right:1px solid #999999;
	width:240px;
}
table.lp_build td.workspace {
	padding: 0px;
	padding-left:5px;
	width:auto;
}
table.lp_overview {
	width:100%;
}
table.lp_overview td {
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	height:20px;
	padding:3px;
	vertical-align:middle;
	width:auto;
}
table.lp_overview td.title {
	width:200px;
}
table.lp_overview td.actions {
	text-align:center;
	width:100px;
}
table.lp_overview td.move {
	text-align:center;
	width:50px;
}
table.lp_overview th {
	background:#FFFFFF;
	padding-left:3px;
	text-align:center;
}
table.lp_overview tr {
	background:#F8F8F8;
}
table.lp_overview tr:hover {
	background:#E5EDF9;
}
table.lp_overview img {
	margin-left:3px;
}
table.lp_prerequisites th {
	background:#F8F8F8;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
}
.lp_mediaplayer {
	float: right;
	padding-top: 3px;
	margin-right: 5px;
}
div.lp_manipulate {
	background:#F8F8F8;
	border-bottom:1px dotted #999999;
	margin-bottom:0px;
	padding:3px 0 3px 10px;
}
div.lp_manipulate a {
	padding-right:10px;
}
div.lp_resource_header {
	background:#F0F0F0;
	border:1px solid #999999;
	font-weight:bold;
	padding:10px;
	width:350px;
	cursor:pointer;
	margin-top: -1px;
}
div.lp_resource_elements {
	background:#FAFAFA;
	border:1px solid #999999;
	display:none;
	padding:5px 10px;
	width:350px;
	margin-top: -1px;
}
.learnpath_chapter_form {
	width: 300px;
}
.learnpath_item_form {
	width: 300px;
}
#learnpath_preview_frame {
	margin-top: 5px;
	border:1px solid #CCCCCC;
	height:490px;
	width:95%;
}
/* exercices styles */
.exercice_form {
	width: 300px;
}
#validationButton {
	text-decoration: none;
	margin: 5px;
	border:1px solid #999999;
	background:#F0F0F0;
	padding: 3px;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#666;
}
.exercise_scenario_label {
}
.exercise_scenario_element {
}
span.checkbox {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
span.radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/radio.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
/* forum styles */
.forum_header {
	background: #f3f3f3;
	font-weight: bold;
}
.forum_message_left {
	width: 150px;
	vertical-align: top;
	/*border-bottom: 1px solid #666666;*/
	border-right: 1px solid #aaa;
	background-color: #F7F7F7;
}
.forum_message_post_title {
	border-bottom: 1px solid #aaa;
	font-weight: bold;
	background-color: #F7F7F7;
	height: 20px;
}
.forum-thread-header {
	color: #000000;
	background-color: #F7F7F7;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}
.forum-thread-body {
	color: #000000;
	background-color: #FFFFFF;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
}
/* Survey styles */
#survey_title {
	background-color:#dcdcdc;
	color:#000;
	padding:2px;
}
#survey_subtitle {
	background-color:#dcdcdc;
	color:#000;
	padding:2px;
}
.survey_content {
	background-color:#EFEFEF;
	color:#264269;
	padding:5px;
	border: 1px solid #999;
}
.survey_question_wrapper {
	border: 1px solid #999;
}
.survey_question {
	/* 264269 4271b5 E5EDF9 */
	background-color:#f0f0f0;
	color:#999;
	padding:5px;/*border: 1px solid #264269;*/
}
.survey_question_options {
	/* 264269 4271b5 E5EDF9 */
	background-color:#FFF;
	color:#000;
	padding:5px;/*border: 1px solid #264269;*/
}
/* Blog */
.blog_menu {
	border-bottom: 1px dashed #dddddd;
	border-right: 1px dashed #dddddd;
	border-left: 1px dashed #dddddd;
	padding: 10px;
}
.blogpost {
	border: 1px solid #DDDDDD;
	background-color: #ECECEC;
	margin-bottom: 15px;
	padding: 10px;
}
.blogpost_title {
	display: block;
	font-weight: bold;
	padding-bottom: 5px;
}
.blogpost_date {
	display: block;
	font-weight: bold;
	color: #333333;
	padding-bottom: 10px;
}
.blogpost_info {
	display: block;
	color: #333333;
	border-top: 1px solid #dddddd;
	margin-top: 5px;
}
.blogpost_comment {
	border-top: 1px dashed #dddddd;
	border-right: 1px dashed #dddddd;
	border-bottom: 1px dashed #dddddd;
	border-left: 1px dashed #dddddd;
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
	z-index: -1;
}
.blogpost_comment_title {
	display: block;
	font-weight: bold;
	color: #1657A9;
	padding-bottom: 5px;
}
.blogpost_comment_date {
	display: block;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	padding-bottom: 10px;
}
.blogpost_comment_info {
	font-size: 10px;
	display: block;
	color: #333333;
	border-top: 1px solid #dddddd;
	margin-top: 10px;
}
.blogpost {
	border: 1px solid #DDDDDD;
	background-color: #ECECEC;
	margin-bottom: 15px;
	padding: 10px;
}
.comments {
	border: 1px solid #dddddd;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	background-color: #F4F4F4;
	margin-left:50px;
}
/* tabbed menu */
#tabbed_menu {
	width: 100%;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	margin-bottom: 20px;
}
#tabbed_menu #tabbed_menu_tabs li {
	margin: 0 10;
	padding: 0;
	display: inline;
	list-style-type: none;
}
#tabbed_menu #tabbed_menu_tabs a:link, #tabbed_menu_tabs a:visited {
	float: left;
	background: #f3f3f3;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #cccccc;
	border-bottom: 1px solid #666666;
	text-decoration: none;
	color: #666;
}
#tabbed_menu #tabbed_menu_tabs a:link.active, #tabbed_menu_tabs a:visited.active {
	border: 1px solid #666666;
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}
#image_preview {
	text-align:center;
	padding-left: 17px;
}
.skip {
	display: none;
}
/* Glossary tool */
.glossary-term {
	margin: 1em;
	background-color: #ffe99b;
	padding: 0.5em 0.5em 1.8em 0;
	-moz-border-radius: 0.5em;
}
.glossary-term-title {
	margin: 2em 0 1em 0.5em;
	font-weight: bold;
	font-size: 120%;
}
.glossary-term-desc {
	margin-left: 1em;
}
.glossary-term-action-links {
	float: right;
}
.glossary-term-edit-form {
	margin: 1em;
	background-color: #FFE4C4;
	padding: 0.5em 0.5em 2em 0;
	-moz-border-radius: 0.5em;
}
.glossary-term-edit-desc {
	font-weight: bold;
	font-size: 120%;
}
.glossary-term-edit-title {
	font-weight: bold;
	font-size: 120%;
}
.glossary-add-form {
	font-weight: bold;
	font-size: 120%;
	margin: 1em;
}
.glossary-orderby-link {
	float:right;
	margin: 1em;
}
.glossary-msg-error {
	color: #FF0000;
	display :none;
	font-weight: normal;
	font-size: 80%;
}
/*SESSIONS*/
.sessions_list {
	line-height: 20px;
	margin-top: 20px;
}
.sessions_list_inactive {
	line-height: 20px;
}

.sub_session_box {
	 border: 1px solid #DCE5F3; 
	/* font-weight: bold; */
	color: #666;
	list-style-type: none;
	margin:5px 5px 10px 0px;
	padding: 5px;	
	background-color:#FFF;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sub_session_box_title {
	margin-bottom: 10px;
	background-color:#F9F9F9;
}
.session_box_title {
	margin-bottom: 10px;
	background-color:#F9F9F9;
}
.session_box_coach {
}
.session_course_item {
	/* padding: 0px; */
	margin: 0px;
	margin-bottom:20px;
}

.session_course_item .courses {
	margin-bottom: 5px;
	height:35px;
}

/*NAVIGATION MENU BAR*/
.menusection {
	width: auto;
	margin: 24px 6px 0 6px;
	padding-left: 10px;
	/* border: 1px solid #4171B5; */
}
.menusectioncaption {
	position: relative;
	top: -9px;
	background-color: #E5EDF9;
	font-size: 12px;
	padding: 0 8px 0 4px;
}
.menulist {
	list-style: none;
	margin: 0 0 12px 0;
	padding: 0;
}
#centerwrap {
	float: left;
	width: 100%;
	margin-right: -95%;/* this needs to be less than 100% for Moz/Mac which thinks
         it's empty otherwise. The difference is made up by putting a
         negative left margin on the left float:
	   Note IE/Mac doesn't like this method ~ it wants the 100% so it can
	   be fed in using IE only CSS below becasue IE/Win also works with the 100% method.
	*/
}
#center {
	margin: 0 190px 0 0;
	padding: 10px 0 40px 0;
	min-height: 300px;
}
#toolnav {
	float: right;
	width: 180px;
	padding: 0;
	margin: 0;
	margin-left: -5%; /* the difference to make the left colum appear flush left */
}
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html #toolnav {
	margin-right: 0px;
}
* html #center {
	height: 1%;
	margin-left: 0;
}
/* End hide from IE5/mac */



/* --- course navigation menu as a definition list  --- */
#swap_menu_link {
	float: left;
}
#toolnavbox {
	margin: 0 0 0 10px;
	padding: 0;
	float: left;
	border: 1px solid #4271b5;
}
#toolnavbox dl {
	width: 160px;
	margin: 0 auto;
	padding: 0;
	background: transparent;
	font-size: 12px;
	text-align: center;
}
#toolnavbox dt {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: #000;
	border-bottom: 1px solid #fff;
	background: transparent;
}
#toolnavbox dd {
	margin: 0;
	padding: 0;
	color: #009;
	text-align: left;
	border-bottom:1px solid #fff;
	background: #E5EDF9;
}
#toolnav img {
	float: left;
	width: 25px;
	height: 25px;
	margin: 0 4px 0 0;
}
#toolnavlist a, #toolnavlist a:link {
	background: #D3D3D3;
	color: #000;
	padding: 5px 5px 5px 10px;
	margin: 0;
	text-decoration: none;
	display: block;
	line-height:24px;
}
#toolnavlist a:hover {
	background: #fff;
	color:#4171b5;
}
#toolnavlist a#here {
	background: #fff;
	color:#4171b5;
}
/* Notebook */
.notebook-add-form {
	margin: 1em;
	background-color: #c3d9ff;
	padding: 1em 1em;
}
.notebook-add-desc-textarea {
	background-color: #f2f5f8;
	border-color: #ffe99b;
	overflow: hidden;
}
.notebook-add-title-text {
	background-color: #f2f5f8;
	border-color: #ffe99b;
}
.notebook-edit-desc-textarea {
	background-color: #e0ecff;
	border-color: #ffe99b;
	overflow: hidden;
}
.notebook-edit-title-text {
	background-color: #e0ecff;
	border-color: #ffe99b;
}
.notebook-msg-error {
	color: #FF0000;
	display :none;
	background-color: #ffe99b;
	width: 40%;
}
.notebook-list {
	margin: 1em 1em 0em 1em;
	background-color: #79b;
	padding: 0.3em 0.3em;
	-moz-border-radius: 0.5em;
}
.notebook-title-list {
	color : #fff;
	padding: 0.3em 0.3em;
	font-weight: bold;
	font-size: 120%;
}
.notebook-desc-list {
	margin: 0em;
	background-color: #f2f5f8;
	padding: 0.5em 0.3em 2em 0.3em;
	border: 1px solid #79b;
}
.notebook-term-action-links {
	padding: 0.3em 0.3em;
	width: 50%;
	color : #fff;
}
.notebook-orderby-link {
	text-align:right;
	margin-right: 1em;
}
.notebook-search-title {
	text-align:right;
	margin: 1em;
}
.notebook-date-information {
	color : #fff;
	padding: 0.3em;
	font-size: 120%;
	font-weight: bold;
}
/* --- end of course navigation menu section  --- */

/* Gradebook */
.resource-deleted {
	color:#990000;
}
.gradebook-table-header {
	border: 1px solid rgb(153, 153, 153);
	background: rgb(240, 240, 240) none repeat scroll 0% 0%;
}
.gradebook-table-body {
	border: 1px solid rgb(153, 153, 153);
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}
.label_result {
	float: left;
	width: 25%;
	text-align: left;
	padding-top:8px;
}
.formw_result {
	width: 75%;
	float:left;
}
/**********************************************
 *  EXERCISE TOOL                           *
 **********************************************/
.exercice_form {
	width: 300px;
}
#validationButton {
	text-decoration: none;
	margin: 5px;
	/*border:1px solid #999999;*/
	/*background:#F0F0F0;  */
	padding: 3px;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	color:#666;
}
.rounded {
    border: 3px solid #CCCCCC;
	padding: 3px;
	width: 200px;
	/*margin-left:10px;*/
}
.rounded_inner {
	background:#FFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.rounded_inner:hover {
	color:#C802A5;
	background:#F0F0F0;
}
.exercise_scenario_label {
}
.exercise_scenario_element {
}
span.checkbox {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
span.radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/radio.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
#question_title {
}
#question_description {
	padding-left:5px;
	padding-top:10px;
}
#question_score {
	padding-left:5px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
}
#question_feedback {
	background-color:#FCF7BA;
	border:1px solid #CCCCCC;
	color:#666666;
	font-size:11px;
	font-weight:bold;
	list-style-type:none;
	margin-top:5px;
	padding:5px;
}
#exercise_close_link {
	background: url(images/close.gif) no-repeat;
	padding-left: 20px;
}
#exercise_close_link:hover {
	background: url(images/close_highlight.gif) no-repeat;
	padding-left: 20px;
}
/* Quizzes tool */
.quiz_export_link {
	float: right;
}
/*Exercice timer*/
#square{
  padding:5px;
  background-color:#EEEEEE;
  border:1px solid #CCCCCC;
  margin-right : 24px;
  width : 155px;
  margin-bottom:20px;
}
#wrapper-clock{
  width:100%;
  margin:0;
}
.count_down{
  padding: 3px;
  font-size:22px;
  font-weight:bold;
  color:#222;
}
/*****************************************************
 *  BUTTONS	                                         *
 *****************************************************/
/* BUTTONS */
button,input[type="submit"] {
	margin:5px 5px 3px 0px !important;
	background-color: #DFDFDF;
	border-width: 1px;
	/*    -moz-border-radius-topright : 5px;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -moz-border-radius-bottomleft : 5px;
*/
    font-family: bold arial, verdana, helvetica, sans-serif;
	font-size: 100%;
	line-height :130%;
	text-decoration: none;
	color: black;
	cursor: pointer;
	padding:5px 15px 5px 15px;
	vertical-align:middle;
}
button:hover input[type="submit"]:hover{
	background-color:#cbcbcb;
	color:#545454;
	border-style: inset;
}
/* button with image */
button.add, button.save, button.cancel, button.refresh, button.upload, button.search, button.login, button.plus, button.minus, button.next, button.back, input[type="submit"].submit_next {
	padding-left:30px;
	background-position:10px;
	background-repeat:no-repeat;
}
/* POSITIVE */
button.save, button.add, button.search, button.refresh, button.upload, button.login, button.plus, button.minus, button.next, button.back, input[type="submit"].submit_next  {
	background-color:#E5EDF9;
	border-color: #D4E2F6;
}
button.save:hover, button.refresh:hover, button.upload:hover, button.add:hover, button.search:hover, button.login:hover, button.plus:hover, button.minus:hover, button.next:hover, button.back:hover, input[type="submit"].submit_next:hover {
	border-color: #D4E2F6;
	background-color:#D4E2F6;
}
/* NEGATIVE */
button.cancel {
	background-color:#F8E8E6;
	border-color: #FFE3DE;
}
button.cancel:hover {
	border-color: #F4E1D0;
	background-color: #FFE3DE;
}
/*including "save" image*/
button.save {
	background-image:url(images/button_accept.gif);
}
/*including "add" image*/
button.add {
	background-image:url(images/button_add.gif);
}
/*including "cancel" image*/
button.cancel {
	background-image:url(images/button_delete.gif);
}
/*including "search" image*/
button.search {
	background-image:url(images/button_search.gif);
}
/*including "login" image*/
button.login {
	background-image:url(images/button_login.gif);
	margin:2px 5px 3px 5px !important;
}
/*including "plus" image*/
button.plus {
	background-image:url(images/button_plus.gif);
}
/*including "minus" image*/
button.minus {
	background-image:url(images/button_minus.gif);
}
/*including "next" image*/
button.next,input[type="submit"].submit_next  {
	background-image:url(images/button_next.gif);
}
/*including "back" image*/
button.back {
	background-image:url(images/button_back.gif);
}
/*including "refresh" image*/
button.refresh {
    background-image:url(images/button_refresh.gif);
}
/*including "upload" image*/
button.upload {
    background-image:url(images/button_upload.gif);
}
.icon_image_content {
    width:70px;
    cursor:hand;
    height:6em;
    text-align: center;
    padding-right: 10px;
    padding-left: 0px;
    border: 1px dotted #ccc;
    background-color: #eee;
    margin-right: 0.2em;
    margin-top: 0.1em;
    -moz-border-radius-topleft : 5px;
    -moz-border-radius-bottomright : 5px;
    -moz-border-radius-bottomleft : 5px;
    -moz-border-radius-topright : 5px;
}
.icon_image_content:hover {
  background-color: #fff; 
  border: 1px solid #ccc;
}
.question_menu {
	list-style:none;
	float:left;
	padding:0px;
	margin:-2px;
	min-height:100px;
}
.question_menu li {
	float:left;
	margin:0px;
}
#exercise_admin {
	margin: 0;
	padding: 0;
	border: 0;
}
div#friend-header {
	float:left;
	width:100%;
	line-height: 2.1em;
}
div#friend-header a {
	padding-right:6px;
}
div#friend-container {
	float:left;
}
div.image_friend_network {
	float:left;
	border:1px solid #CCCCCC;
	margin:2px;
	padding:4px;
	background: #EFEFEF;
	height:125px;
	width:82px;
	z-index:5;
}
div.image_friend_network span {
	overflow:hidden;
	display:block;
	height:92px;
	margin: 0px 0px;
}
div.image_friend_network img {
	vertical-align:middle;
}
div.image_friend_network center.friend {
	overflow:hidden;
	height:30px;
}
.friend_invitations {
	float:left;
	margin: 0 0 4px 12px;
}
/* button >> */
button.arrowr {
	-moz-border-radius-topleft : 5px;
	-moz-border-radius-bottomright : 5px;
	-moz-border-radius-bottomleft : 5px;
	-moz-border-radius-topright : 5px;
	padding-left:20px;
	padding-top:20px;
	background-position:10px;
	background-color:#E5EDF9;
	border-color: #D4E2F6;
	border-width: 1px;
	display:block;
	font-size: 100%;
	line-height :130%;
	vertical-align:middle;
}
/*including "arrowr" image*/
button.arrowr {
	background-image:url(images/2rightarrow.gif);
	background-repeat:no-repeat;
}
/* button << */
button.arrowl {
	margin:0px;
	-moz-border-radius-topleft : 5px;
	-moz-border-radius-bottomright : 5px;
	-moz-border-radius-bottomleft : 5px;
	-moz-border-radius-topright : 5px;
	padding-left:20px;
	padding-top:20px;
	background-position:10px;
	background-color:#E5EDF9;
	border-color: #D4E2F6;
	border-width: 1px;
	display:block;
	font-size: 100%;
	line-height :130%;
	vertical-align:middle;
}
/*including "arrowl" image*/
button.arrowl {
	background-image:url(images/2leftarrow.gif);
	background-repeat:no-repeat;
}
/* input >> */
input.arrowr {
	-moz-border-radius-topleft : 5px;
	-moz-border-radius-bottomright : 5px;
	-moz-border-radius-bottomleft : 5px;
	-moz-border-radius-topright : 5px;
	padding-left:25px;
	padding-top:20px;
	background-position:10px;
	background-color:#E5EDF9;
	border-color: #D4E2F6;
	border-width: 1px;
	display:block;
	font-size: 100%;
	line-height :130%;
	vertical-align:middle;
	background-image:url(images/2rightarrow.gif);
	background-repeat:no-repeat;
}

/* input << */
input.arrowl {
	margin:0px;
	-moz-border-radius-topleft : 5px;
	-moz-border-radius-bottomright : 5px;
	-moz-border-radius-bottomleft : 5px;
	-moz-border-radius-topright : 5px;
	padding-right:25px;
	padding-top:20px;
	background-position:10px;
	background-color:#E5EDF9;
	border-color: #D4E2F6;
	border-width: 1px;
	display:block;
	font-size: 100%;
	line-height :130%;
	vertical-align:middle;
	background-image:url(images/2leftarrow.gif);
	background-repeat:no-repeat;
}
.u-m-answer {
	width:100%;
}
.u-m-answer p {
	margin:2px;
}
.refresh {
	background-image:url(images/refresh.png);
	background-repeat:no-repeat;
	padding-left:20px;
	padding-bottom:2px;
}
.portal {
	background-image:url(images/portal.png);
	background-repeat:no-repeat;
	padding-left:28px;
	padding-bottom:10px;
	padding-top:8px;
}
.legal-terms {
	height:150px;
	overflow:auto;
	background-color:#eee;
	width:500px;
}

/* UI improvements for 1.8.6.2 this should be move to the chamilo theme and reproduce in all CSS*/

* {
	outline :none;
}

/*
input, select, textarea {	
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-x-system-font:none;
	border:1px solid #CCCCCC;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:120%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:5px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-image:url(images/shadow.gif);
}
.independent_course_item a {
	font-size:135%;
}
.session_course_item a {
	font-size:120%;
}
*/

#maincontent .courseslist li {
	margin-bottom:8px;
}
/*
a.read {	
	font-weight:normal;
}
.actions {
	background:#efefef;
	border:1px solid #ccc;	
	padding:2px;
	margin-bottom: 5px;
	vertical-align:middle;
}
.actions-title {	
	background:#efefef;
	border:1px solid #ccc;
	padding:4px;
	margin-bottom: 5px;
	font-size:14px;
	font-weight:bolder;
	vertical-align:middle;
}*/


/* GROUP TOOL */

#group_description {
	margin: 10px 0px 10px 0px;
}

#group_privacy {
	margin: 10px 0px 10px 0px;
}

#group_permissions {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	background:#EEE none repeat scroll 0 0;

	margin: 20px 0px 20px 0px;
}

#group_permissions ul {	
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

#group_permissions ul li {
	margin: 10px 0px 10px 5px;
}

/* Groups boxes */

.groups_grid_container { 
	width:100%;
}
.groups_grid_item {
	width:80px;
	float:left;
	margin:5px;
}
.groups_grid_element_0 { width:100px; float:left; text-align:center; margin-bottom:5px;}
.groups_grid_element_1 { width:100px; float:left; text-align:left;	margin-bottom:5px;}
.groups_grid_element_2 { width:150px; float:left;}

/*POPULAR GROUP*/

.popular_grid_item {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 11px 11px 11px 11px;
	
	-webkit-border-radius: 11px 11px 11px 11px;
	-opera-border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	
	box-shadow: 0 4px 18px #C8C8C8;
	-webkit-box-shadow: 0 4px 18px #C8C8C8;
	-opera-box-shadow: 0 4px 18px #C8C8C8;
	-moz-box-shadow: 0 4px 18px #C8C8C8;
	
	float: left;
	height: auto;
	margin: 0 8px 15px 15px;
	padding: 16px 12px 5px;
	width:90%;
}

.popular_grid_element_0 {
	width:600px;
    height:98px;
    padding-left:10px;
    padding-right:10px;
    overflow:hidden;
}

/*NEWEST GROUP*/

.newest_grid_item {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 11px 11px 11px 11px;
	
	-webkit-border-radius: 11px 11px 11px 11px;
	-opera-border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	
	box-shadow: 0 4px 18px #C8C8C8;
	-webkit-box-shadow: 0 4px 18px #C8C8C8;
	-opera-box-shadow: 0 4px 18px #C8C8C8;
	-moz-box-shadow: 0 4px 18px #C8C8C8;
	
	float: left;
	height: auto;
	margin: 0 8px 15px 15px;
	padding: 16px 12px 5px;
    width:90%;
}

.newest_grid_element_1 {
    width:600px;
    height:98x;
    padding-left:10px;
    padding-right:10px;
    overflow:hidden;
}

/*MY GROUPS*/

.mygroups_grid_item {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 11px 11px 11px 11px;
	
	-webkit-border-radius: 11px 11px 11px 11px;
	-opera-border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	
	box-shadow: 0 4px 18px #C8C8C8;
	-webkit-box-shadow: 0 4px 18px #C8C8C8;
	-opera-box-shadow: 0 4px 18px #C8C8C8;
	-moz-box-shadow: 0 4px 18px #C8C8C8;
	
    float: left;
    height: 88px;
    margin: 0 8px 15px 15px;
    padding: 16px 12px 5px;
    width:600px;
}

.box_description_group_member {
	color: #999999;
    font-size: 10px;
}

.mygroups_grid_element_1 {
    width:600px;
    height:100px;
    overflow:hidden;
}

.box_description_group_title h3 {
    margin-bottom:4px;
}

.box_description_group_title {
    float:right;width:80%;
}
.box_description_group_content {
    float:right;
    width:80%;
    margin-top:5px;
    /* height:45px;*/
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    color:#666666;
}
.box_description_group_actions {
    float:right;
    width:80%;
    text-align:right;
    margin-top:4px;
    margin-right:4px;
}

#menu-wrapper {
	width:200px;
	float: right;
}
#menu {
/*	-moz-border-radius: 10px; border: 1px solid #e1e1e0;
	-webkit-border-radius: 10px; border: 1px solid #e1e1e0;
	-opera-border-radius: 10px; border: 1px solid #e1e1e0;	

	margin-top:20px;
	margin-right:10px;
	margin-bottom:40px;
	
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:30px;	
	
	width:240px; */
	float: right;
	min-height: 150px;
	
}

/* INVITATIONS */
 
.invitation_confirm {
	border-top:1px solid #D8DFEA;
}
.invitation_image {
	width:110px;
}

/* DASHBOARD */

/* Head section */
#head {
    background-color: #000;
    height: 100px;
}
#head h1 {
    line-height: 100px;
    color: #FFF;
    text-align: center;    
    text-indent: -9999em
}
/* End Head Section */

/* Columns section */
#columns .column {
    float: left;
    width: 50%;
		/* Min-height: */
		min-height: 400px;
		height: auto !important; 
		height: 400px;
}

#columns ul, #columns ol {margin:0; padding:0; list-style:none; border:none;}




/* To add in 1.8.7*/

.session_box_title span {
	font-size: 130%;
	font-weight: bold;	
}

.sub_session_box_title span {
	font-size: 130%;
	font-weight: bold;	
}

#session_category_title {
	font-size: 140%;
	font-weight: bold;
	padding: 2px 0px 5px 5px;
}

/* fixes the * */ 
span.form_required  {
	padding-right:5px;
}

.userportal-course-item {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#F9F9F9;
	padding:5px 10px 5px 10px;
	height:40px;	
	margin:5px;
}
.userportal-course-item-title {
	font-size:135%;
}

.courseadminview-activity-3col, .platformadminview-activity-3col {
	-moz-border-radius:5px 5px 5px 5px;
	border:1px solid #E1E1E0;
	float:left;
	margin:0px 20px 10px 2px;
	padding:11px;
	width:220px;
	height:330px;
}

.courseadminview-activity-3col ul {	
	padding:0px 20px 10px 4px;	
	list-style-type:none;
	height:240px;
	margin-left:0px;
	margin: 0px 0px 0px 0px ;
}

.courseadminview-activity-3col ul li {	
	padding:4px 0px 4px 0px;
}

#activity-3col {
	width: 800px ;
	margin-left: auto ;
	margin-right: auto ;
}


.userportal-catalog-item {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#F9F9F9;
	padding:5px 10px 10px 6px;
	/* height:40px; */	
}

.userportal-catalog-item .catalog_box li span {
	font-size:130%;
	font-weight:bold;
	margin-left:5px;	
}

.catalog_box {
	border: 1px solid #DCE5F3;
	/* font-weight: bold; */
	color: #666;
	list-style-type: none;
	margin:5px 5px 10px 5px;
	padding: 5px;	
	background-color:#FFF;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


.course-student-view-activity-3col {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#FFFFFF;
	height: 350px;
	width: 800px ;
	margin-left: auto ;
	margin-right: auto ;
}

.course-student-view-activity-3col ul {	
	padding:10px 20px 10px 20px;
	list-style-type:none;
	/* height:240px; */
	margin-left:0px;
	margin: 0px 0px 0px 0px ;
	 float:left;
	width : 280px; 
}

.course-student-view-activity-3col ul li {	
	padding:5px 0px 4px 0px;
	/* float:left;
	width : 380px; */
}

/* plugins divs */ 

#plugin-header {
	margin-left:65px;
	padding:5px;
}
#plugin-mycourses_menu {
	padding:5px;
}

#plugin-mycourses_main {
	padding:5px;
}

#plugin-footer {
	padding:5px;
}

/*	New forum table */


.forum_table_title {
	border-collapse: collapse;
	width: 100%;
	padding: 5px;
	border-left: 1px solid gray;
	border-top: 1px solid gray;	
	border-right: 1px solid gray;
	padding:5px;	
}

.forum_table_title th {
	padding-right: 12px;
	/*border: 1px solid gray;*/
	background-color: #E5EDF9;
}


.forum_table {
	border-collapse: collapse;
	width: 100%;
	padding: 5px;
	border: 1px solid gray;
	margin-bottom:15px;
}

.forum_table .forum_head{
	padding:5px;	
	text-align: left;
	font-size:14px;
	 
} 

.forum_table th {
	padding-right: 12px;
	/*border: 1px solid gray;*/
	background-color: #E5EDF9;
}
.forum_table tr.row_odd {
	background-color: #F2F2F2;
}
.forum_table tr.row_odd:hover, .data_table tr.row_even:hover {
	background-color: #E5EDF9;
}
.forum_table tr.row_even {
	background-color: #fff;
}
.forum_table td {
	padding: 5px;
	vertical-align: top;
	border-bottom: 1px solid #b0b0b0;
	border-right: 1px dotted #e1e1e1;
	border-left: 1px dotted #e1e1e1;
}

.post {
	border: 1px solid gray;
	margin-bottom:5px;
}
/* Text resize icons in header */
.resize_font { /* the canvas */
    margin: 0 5px 0 5px;
}
.reset_font {
    font-size: 1.2em;
    color: gray;
    border: 1px solid white;
    padding: 2px;
}
.reset_font:hover {
    border: 1px solid black;
    cursor: pointer;
}
.increase_font {
    font-size: 1.8em;
    color: gray;
    border: 1px solid white;
    padding: 2px;
}
.increase_font:hover {
    border: 1px solid black;
    cursor: pointer;
}
.decrease_font {
    font-size: 0.6em;
    color: gray;
    border: 1px solid white;
    padding: 2px;
}
.decrease_font:hover {
    border: 1px solid black;
    cursor: pointer;
} 


.online_grid_item {
    float:left;
    margin:10px;
    text-align:center;    
}
.online_grid_element_0 {    
    width: 100px; 
    height: 100px; 
    overflow: hidden;
}
/* input values to crop the image: top, right, bottom, left */
.online_grid_element_0 img{
     width: 200px;
     margin: -10px 0 0 -50px;
      /* height: 150px; */ 
}
.online_grid_element_1, .online_grid_element_2 {    
    font-size:10px;
}

/* tips Abbr-plugin for FCKeditor */
abbr {
      border-bottom: 1px dotted rgb(102, 102, 102);
	  background-color:#F00;
      cursor: help;
}