/* copy of default_scorm.css */
#learning_path_breadcrumb_zone .breadcrumb{
    background: #3bafba; /* Old browsers */
    background: -moz-linear-gradient(top, #3bafba 0%, #00aaba 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3bafba), color-stop(100%,#00aaba)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3bafba 0%,#00aaba 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3bafba 0%,#00aaba 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3bafba 0%,#00aaba 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3bafba 0%,#00aaba 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bafba', endColorstr='#00aaba',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-transform: capitalize;
    border:none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#learning_path_breadcrumb_zone .breadcrumb a{
    color: #FFF;
}
#learning_path_breadcrumb_zone .breadcrumb a:hover{
    text-decoration: none;
    opacity: 0.8;
}
#scorm_title {
    font-weight: bold;
    background:none;
    font-size: 20px;
    background-image: none;
    color: #505457;
    padding-top: 5px;
    padding-bottom: 5px;
}