$color_1: rgba(0, 0, 0, 0.87);
$color_2: rgba(0, 0, 0, 0.6);

.app-breadcrumb.p-breadcrumb {
  @apply bg-white p-3;

  ul {
    li {
      .p-menuitem-link {
        @apply rounded transition-none;

        &:focus {
          @apply outline-none;
        }

        .p-menuitem-text {
          color: $color_1;
        }

        .p-menuitem-icon {
          color: $color_2;
        }
      }

      &:last-child {
        .p-menuitem-text {
          color: $color_1;
        }

        .p-menuitem-icon {
          color: $color_2;
        }
      }
    }

    li.p-breadcrumb-chevron {
      @apply my-0 mx-2;
      color: $color_2;
    }
  }
}