.app-topbar {
  @apply bg-white border-b border-solid border-gray-25 fixed left-0 p-4 top-0 w-full text-gray-50 z-10
    md:text-gray-90;
}

.app-topbar.p-megamenu,
.app-topbar .p-menubar {
  @apply flex;
}

.app-topbar.p-megamenu {
  @apply md:px-6;
}

.app-topbar .p-menubar {
  @apply container mx-auto;
}

.app-topbar__user-submenu,
.app-topbar.p-megamenu,
.app-topbar .p-menubar {
  .p-menuitem-link {
    @apply rounded-none py-3 px-4 transition-none select-none;

    &:focus {
      @apply outline-none outline-offset-0;
    }

    &:hover,
    &:focus {
      @apply text-primary;
    }
  }
}

.app-topbar .p-megamenu-root-list,
.app-topbar .p-menubar-root-list {
  @apply bg-white grow justify-end;

  .p-menuitem-icon {
    @apply mr-2;

    &:empty {
      @apply mx-0;
    }
  }

  > .p-menuitem {
    > .p-menuitem-link {

      .p-submenu-icon {
        @apply mr-2 -order-1;
      }

      &:focus {
        @apply outline-none outline-offset-0;
      }
    }

    &.p-menuitem-active {
      > .p-menuitem-link {
        @apply text-primary;
      }
    }
  }
}

.app-topbar.p-megamenu {
  .p-megamenu-end {
    @apply ml-3 flex items-center gap-3;
  }

  .p-megamenu-panel {
    @apply border-none shadow-lg text-gray-90;
  }

  .p-megamenu-submenu-header {
    @apply rounded-t-md font-semibold m-0 py-3 px-4;
  }

  .p-megamenu-submenu {
    @apply py-1 px-0 w-52;

    .p-menu-separator {
      @apply border-t border-solid my-1 mx-0;
    }
  }
}

.app-topbar__user-submenu {
  @apply bg-white border-none rounded-lg shadow-lg py-3 px-0 w-52 max-h-60 overflow-y-auto;

  .p-submenu-header {
    @apply rounded-t-none font-semibold m-0 py-3 px-4;
  }

  .p-menu-separator {
    @apply border-t border-solid my-1 mx-0;
  }

  &.p-menu-overlay {
    @apply border-none shadow-lg;
  }

  .p-menuitem {
    .p-menuitem-link {
      &:hover,
      &:focus {
        @apply bg-support-1;
      }
    }
  }
}

.app-topbar .p-menubar {
  .p-submenu-list {
    @apply bg-white border-none rounded-lg shadow-lg py-3 px-0 w-52 max-h-60 overflow-y-auto right-0;

    .p-submenu-icon {
    }

    >.p-menuitem:hover,
    >.p-menuitem:focus {
      > .p-menuitem-link {
        @apply bg-support-1;
      }
    }
  }
}

@media (max-width: 639px) {
  .app-topbar .p-menubar {
    @apply justify-between;

    .p-menubar-button {
      @apply rounded-full flex h-8 transition-none w-8;

      &:focus {
        @apply outline-none outline-offset-0;
      }
    }

    .p-menubar-root-list {
      @apply hidden flex-col absolute left-0 w-full pt-8;
      height: calc(100vh - 4.5rem - 1px);
      top: calc(100% + 1px);

      > .p-menuitem {
        @apply w-full px-6 pb-2;

        > .p-menuitem-link {
          @apply py-3 px-9;

          &:hover,
          &:focus {
            @apply border-l-4 border-primary border-solid pl-8;
          }
        }

        &:nth-last-child(2) {
          @apply grow;
        }

        &:last-child {
          @apply border-t border-solid border-gray-25 py-5;

          .p-submenu-icon {
            &.pi.pi-angle-down {
              &::before {
                content: "\e94f";
              }
            }
          }

          &.p-menuitem-active {
            @apply text-gray-90;

            > .p-menuitem-link {
              @apply bg-primary text-white rounded-md;
            }
          }

          > .p-menuitem-link {
            @apply px-4;

            &:hover,
            &:focus {
              @apply border-none;
            }
          }
        }
      }

      .p-submenu-list {
        @apply bottom-full -mb-4 right-auto;
        width: calc(100% - 3rem);
      }
    }

    &.p-menubar-mobile-active {
      + .app-main {
        @apply max-h-screen overflow-hidden;
      }

      .p-menubar-button {
        .pi.pi-bars {
          &::before {
            content: "\e90b";
          }
        }
      }

      .p-menubar-root-list {
        @apply flex;
      }
    }
  }
}
