/*
==============================================================================
	GLOBAL STYLES
==============================================================================
*/
.dokeos_course {
	width:95%;
	margin:1em auto;
	text-align:center;
}
/*
------------------------------------------------------------------------------
	Introductory title
------------------------------------------------------------------------------
*/

#box_title1, #footer1 {
	border:1px solid #4171b5;
	padding:1em;
	width:99%;
	margin:1em auto;
}
#box_title1 h1 {
	font:bold 2.5em Arial, sans-serif, sans;
}
#box_title h2 {
	font:bold 2em Arial, sans-serif, sans;
}
#content1 {
	width:99%;
	clear:both;
	text-align:justify;
}
#content1 img.icon {
	float:left;
	margin:0 1em 1em 1em;
	display:block;
	vertical-align:top;
}
#email1 {
	float:right;
	clear:right;
	text-align:right;
}
#email1, .manager1 {
	width:50%;
}
#footer1 {
	font-weight:bold;
	height: 1em;
	line-height: 1em;
}
#manager1 {
	float:left;
	clear:left;
	text-align:left;
}
/*
------------------------------------------------------------------------------
	Explanation
------------------------------------------------------------------------------
*/

#content2 {
	position:absolute;
	top:2em;
	left:18em;
	text-align:justify;
	margin-right:2em;
}
#content2 h1 {
	padding:.5em;
	font:bold 2em Arial, sans-serif, sans;
}
#content2 h2 {
	font:normal 1.1em Arial, sans-serif, sans;
	margin:.2em 0 3em .5em;
}
#content2 p {
	margin:.5em;
}
#explanation {
	text-align:center;
	margin: 1em auto;
	width:auto;
	border:1px solid #4171b5;
}
#list2 {
	width:10em;
	border:1px solid #4171b5;
	margin:2em auto;
}
#list2 p {
	text-align:left;
	margin-left:.2em;
}
#list2 li {
	margin:0 0 0 2em;
	padding:0;
	text-indent:.5em;
	text-align:left;
	list-style-position:inside;
}
#list2 ul {
	margin:0 0 .5em 0;
	padding:0;
	text-align:left;
	list-style-position:inside;
}
#main2 {
	border:1px solid #4171b5;
}
#nav2 {
	position:absolute;
	left:2em;
	top:3em;
	width:15em;
}
.template2 {
	position:relative;
}
/*
------------------------------------------------------------------------------
	Course objetives
------------------------------------------------------------------------------
*/
#box_title3, #content3 {
	border:1px solid #4171b5;
	padding:1em;
	width:99%;
	margin:1em auto;
}
#box_title3 h1 {
	font:bold 3.5em Arial, sans-serif, sans;
}
#content3 {
	position:relative;
	padding-bottom:50px;
	text-align:left;
}
#content3 #primary {
	font-weight:bold;
	font-size:2em;
	margin:0;
	padding:0;
}
#content3 #primary li, #content3 #secondary li {
	margin:0 0 0 1em;
	padding:0;
}
#content3 #primary .secondary {
	font-weight:normal;
	font-size:.8em;
	margin:0 0 0 2em;
	padding:0;
}
#footer3 {
	position:absolute;
	bottom:0;
	right:0;
}
/*
==============================================================================
	Styles for corporative version
==============================================================================
*/
#corp {
	font:normal .85em Lucida Grande, Arial, sans-serif, sans;
}
#corp a {
	text-decoration: none;
	font: bold 100% Arial, sans-serif, sans;
	color: #4170b4;
}
#corp a:hover, #corp a:focus {
	color: #111;
}
/*
------------------------------------------------------------------------------
	Introductory title
------------------------------------------------------------------------------
*/

#corp #box_title1 {
	background:transparent url("images/alert.jpg") no-repeat top center;
	border:none;
	padding-top:10px;
}
#corp #box_title1 #bottom {
	background:transparent url("images/alert.jpg") no-repeat top center;
	height:40px;
	width:100%;
}
#corp #footer1 {
	border: 1px solid #ddd;
	background:#eee url("images/headertables.jpg") repeat-x top center;
	line-height:.8em;
	height:.8em;
	padding:.5em;
}
/*
------------------------------------------------------------------------------
	Explanation
------------------------------------------------------------------------------
*/
#corp #explanation {
	background:transparent url("images/alert.jpg") no-repeat top center;
	border:none;
	padding-top:10px;
}
#corp #explanation #bottom {
	background:transparent url("images/alert.jpg") no-repeat top center;
	height:40px;
	margin-top:-15px;
	width:100%;
}
#corp #list2, #corp #main2 {
	border:1px solid #aaa;
}
#corp #content2 #main2 h2 {
	font:bold 1.1em Arial, sans-serif, sans;
	margin:.2em 0 3em .5em;
}
/*
------------------------------------------------------------------------------
	Course objetives
------------------------------------------------------------------------------
*/
#corp #box_title3 {
	background:transparent url("images/alert.jpg") no-repeat top center;
	border:none;
	padding-top:10px;
}
#corp #box_title3 #bottom {
	background:transparent url("images/alert.jpg") no-repeat top center;
	height:40px;
	width:100%;
}
#corp #content3 {
	border:1px solid #bbb;
}
/*
==============================================================================
	Styles for academic version
==============================================================================
*/
#academic {
	font-family:normal .85em trebuchet, verdana, Arial, sans-serif, sans;
	color: #000915;
}
#academic a {
	text-decoration: none;
	font: bold 100% Arial, sans-serif, sans;
	color: #4171b5;
}
#academic a:hover, a:focus {
	color: #000915;
}
/*
------------------------------------------------------------------------------
	Introductory title
------------------------------------------------------------------------------
*/
#academic #box_title1 {
	background:transparent url("images/alert_academic.jpg") no-repeat top center;
	border:none;
	padding-top:10px;
	color: #00122B;
}
#academic #box_title1 #bottom {
	background:transparent url("images/alert_academic.jpg") no-repeat top center;
	height:40px;
	width:100%;
}
#academic #footer1 {
	background: #8cafe1 url('images/crystal3.png') repeat-x;
}
#academic #footer1 a {
	color:#fff;
}
#academic #footer1 a:hover, #academic #footer1 a:focus {
	color: #000915;
}
/*
------------------------------------------------------------------------------
	Explanation
------------------------------------------------------------------------------
*/
#academic #explanation {
	background:transparent url("images/alert_academic.jpg") no-repeat top center;
	border:none;
	padding-top:10px;
	color: #00122B;
}
#academic #explanation #bottom {
	background:transparent url("images/alert_academic.jpg") no-repeat top center;
	height:40px;
	width:100%;
}
#academic #list2, #academic #main2 {
	border: 1px solid #0049AF;
}
#academic #nav2 img {
	margin-bottom:3em;
}
#academic #nav2 .logo {
	margin-left:-1.2em;
}
#academic #nav2 {
	top:5em;
}
/*
------------------------------------------------------------------------------
	Course objetives
------------------------------------------------------------------------------
*/
#academic #box_title3 {
	border: 1px solid #0049AF;
	background: #b0c8eb url('images/crystal3.png') repeat-x;
	color: #00122B;
}
#academic #content3 {
	border: 1px solid #0049AF;
}
/*
==============================================================================
	Styles for baby version
==============================================================================
*/
#baby {
	font:normal .85em 'Lucida Grande', verdana, Arial, sans-serif, sans;
	color: #000;
}
#baby a {
	text-decoration: none;
	font: bold 100% Arial, sans-serif, sans;
	color: #9a0;
}
#baby a:hover, a:focus {
	color: #470;
}
/*
------------------------------------------------------------------------------
	Introductory title
------------------------------------------------------------------------------
*/

#baby #box_title1 {
	background:transparent url("images/alert_baby.jpg") no-repeat top center;
	border:none;
	padding-top:10px;
	color: #00122B;
}
#baby #box_title1 #bottom {
	background:transparent url("images/alert_baby.jpg") no-repeat top center;
	height:40px;
	width:100%;
}
#baby #footer1 {
	background-color:transparent;
	border: 1px solid #BFAF00;
	padding: .2em;
	color: #3F3A00;
}
/*
------------------------------------------------------------------------------
	Explanation
------------------------------------------------------------------------------
*/
#baby #explanation {
	background:transparent url("images/alert_baby.jpg") no-repeat top center;
	border:none;
	padding-top:10px;
	color: #3F3A00;
}
#baby #explanation #bottom {
	background:transparent url("images/alert_baby.jpg") no-repeat top center;
	height:40px;
	width:100%;
}
#baby #list2, #baby #main2 {
	border: 1px solid #BFAF00;
}
#baby #nav2 {
	top:0;
}
#baby #content2 #main2 h2 {
	font:bold 1.1em Arial, sans-serif, sans;
	margin:.2em 0 3em .5em;
}
/*
------------------------------------------------------------------------------
	Course objetives
------------------------------------------------------------------------------
*/

#baby #box_title3 {
	background:transparent url("images/alert_baby.jpg") no-repeat top center;
	border:none;
	padding-top:10px;
	color: #3F3A00;
}
#baby #box_title3 #bottom {
	background:transparent url("images/alert_baby.jpg") no-repeat top center;
	height:40px;
	width:100%;
}
#baby #content3 {
	border: 1px solid #BFAF00;
}
