.scormpage
{
	height: 100%;
}
.scormpage .menu
{
	width: 180px;
	float: left;
	margin: 1px;
	padding: 0px;
	margin-top: 0px;
	padding-top: 0px;
	font-size: small;
}
.lp_toc{
	background-color: white;
	height: 380px;
	width: 99%;
	border-right: 1px none;
}
.inner_lp_toc{
	overflow: auto;
	background-color: white;
	height: 300px; 
	width: 94%;
	border-left: 15px #FFF solid;
}
.inner_lp_toc .scorm_item{

	font-size: 11px;
	margin-left: 10px;
	margin-right:10px;//cambiado era 20
	padding-bottom: 2px;
	text-decoration: none;
}

.inner_lp_toc .scorm_item A
{
	font-size: 11px;
	margin-right: 1px;
	padding-bottom: 2px;
	text-decoration: none;
	font-weight: normal;
}

.inner_lp_toc .scorm_item A.chapter_module{
	font-weight: normal;
	margin-right: 10px;
}


.inner_lp_toc  .scorm_item_highlight
{
	font-size: 11px;
	margin-right: 1px;
	padding-bottom: 2px;
	text-decoration: none;
	font-weight: normal;	
	
	background:#aaa;
}

.inner_lp_toc  .scorm_item_highlight A
{
	font-size: 11px;
	margin-right: 1px;
	text-decoration: none;
	font-weight: normal;			

}
.inner_lp_toc  .scorm_item_1
{
	font-size: 11px;
	margin-right: 1px;
	padding-bottom: 2px;
	text-decoration: none;
	font-weight: normal;	
	
	background:#ddd;
}

.inner_lp_toc  .scorm_item_2
{
	font-size: 11px;
	margin-right: 1px;
	padding-bottom: 2px;
	text-decoration: none;
	font-weight: normal;
	
	background:#eee;		
}


.inner_lp_toc .scorm_title
{
	font-weight: bold;
	background:#ccc;
	font-size: 14px;
	color: #444;	
}

.inner_lp_toc .scorm_title_text
{
	margin-left: 10px;
	//padding: 2px;
	//cambiado no existe
}

.inner_lp_toc .scorm_status_img{
	margin:0px;
	margin-left: -10px;
	width:10px;
}
.lp_navigation{
	overflow: auto;
	background-color: white;
	height: 44px;
	width:180px;
	padding-top: 4px;
	padding-bottom:0px;
	border: none;
	margin-top: -18px;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
}

.lp_navigation_elem{
	padding-left: 15px;
	padding-top: 0px;
}
/*.scormpage .menu */
.lp_navigation_elem .progresstext{
	margin-top: -20px;
	margin-left: 40%; //em
	font-size: normal;
}

/*.scormpage .menu */
.lp_navigation_elem .buttons{
	margin-left: 0px;
	margin-right: 0em;
	margin-top: 0.4em;
}

.scormpage .menu .notification{
	background-color: white;
	height: 50px;
}
.scormpage .menu .notification .message{
	background-color: white;
	height: 50px;
	width: 180px;
	border: none;
}

.scormpage .content{
	/*float: left;
	width: 60%;*/
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 180px;
	background-color: white;
}
.iframe{
	border: 0px solid black;
	height: 580px;
	width: 95%;
	margin: 0px;
	padding-right: 0px;
	overflow: auto;
	vertical-align: top;
}
.scormpage .footer{
	clear: both;	
}

#image_preview
{
	padding-left: 17px;
}

#author_name
{
	padding-left: 5px;
	padding-top: 5px;
	font-size: 11px;
	color:#888;
}

#msg_div_id{
	padding-left: 17px;
	padding-top: 4px;
}

.scorm_title_text {
	margin-left: 10px;
	font-weight: bold;
	background:#ccc;
	font-size: 14px;
	color: #444;	
	width: 89%;	
	margin-left:17px;
	padding: 1px 5px 3px 8px;	
}
