<h1>FAQ</h1>

{% for category in categories %}
    <h2>{{ category.headline|e }}</h2>
    {% for question in category.questions %}
        {{ question.isAuth |var_dump }}
        <p><strong>{{ question.headline|e }}</strong></p>
        <p>{{ question.body }}</p>
    {% endfor %}
{% endfor %}