<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="autoload.php" backupGlobals="false"
         backupStaticAttributes="false" strict="true" verbose="true">
  <testsuite name="UserManager">
    <directory suffix="Test.php">classes</directory>
  </testsuite>
  <logging>
    <log type="coverage-clover" target="../logs/clover.xml"/>
    <log type="coverage-html" target="../coverage" title="UserManager"/>
    <log type="junit" target="../logs/junit.xml"/>
  </logging>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../../main</directory>
      <exclude>
        <file>inc/autoload.inc.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
