
<div class="box box-primary">
    <form action="{{ url }}" method="POST" {{ form_enctype(form) }} role="form">
        <div class="box-body">
        {{ form_widget(form) }}
        </div>
    </form>
</div>
