<div class="col-md-12">
    <div class="box box-primary">
        <form action="{{ url }}" method="POST" class="form-horizontal" role="form">
            <div class="box-body">
            {{ form_widget(form) }}
            </div>
        </form>
    </div>
</div>
