{% autoescape false %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ title_thematic }}</h3>
        {{ content_thematic }}
        <div class="thematic-plan">
            {{ form_thematic }}
        </div>
    </div>
</div>
{% endautoescape %}