{% extends '@ChamiloTheme/Layout/layout_one_col.html.twig' %}

{% block content %}
    <section class="bg-white p-4">
        <div class="row">


            <div class="col-12">
                <h3>{{ 'External tool settings'|trans }}</h3>
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
