{% extends '@ChamiloTheme/Layout/layout_one_col.html.twig' %}

{% block content %}
    <section class="bg-white">
        {% if not tool.description is empty %}
            {% if tool.parent.activeDeepLinking %}
                {% autoescape false %}
                    <div class="m-3 pt-3">{{ tool.description }}</div>
                {% endautoescape %}
            {% else %}
                <p class="m-3 pt-3">{{ tool.description }}</p>
            {% endif %}
        {% endif %}

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item plugin-ims-lti-iframe" allowfullscreen
                    src="{{ url('chamilo_lti_launch', {'code': course.code, 'id': tool.id}) }}"></iframe>
        </div>
    </section>
{% endblock %}
