.admin-index {
  @apply grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 items-start;

  &__block-container {
    @apply h-full;
  }

  &__block {
    @apply flex flex-col h-full p-4 gap-4 rounded-lg shadow-md border border-solid border-gray-25 bg-white;
  }

  &__block-container--full {
    @apply col-span-1 md:col-span-2 xl:col-span-3;
  }

  .p-menu {
    @apply border-none m-0 p-0 w-full;
  }
}

.admin-colors {
  &__container {
    @apply flex flex-col md:flex-row mt-6;
  }

  &__form {
    @apply w-full md:w-3/5;
  }

  &__form-fields {
    @apply mt-4;
  }

  &__preview {
    @apply flex w-full md:w-2/5;
  }
}
