.admin-index {
  @apply gap-4 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  //@apply gap-4 lg:columns-2 xl:columns-3 space-y-4;

  &__block {
    @apply flex flex-col p-4 gap-4 rounded-lg shadow-lg border border-solid border-gray-25 break-inside-avoid-column;
  }

  .p-menu {
    @apply border-none border-0 m-0 p-0 w-full;
  }
}

.admin-colors {
  &__container {
    @apply flex flex-col mt-6;
  }

  &__settings {
    @apply flex flex-col gap-4
      md:flex-row;

    &-form {
      @apply flex-1;

      &-title {
        @apply mb-4;
      }
    }

    .row-group {
      @apply flex flex-col gap-4 items-start
        sm:grid sm:grid-cols-2
        md:items-end
        xl:grid-cols-3;
    }

    &-preview {
      @apply space-y-4 flex-1;
    }
  }
}
