// ---------------------------------------------------------
// BASE CSS
// ---------------------------------------------------------

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

a {
  transition: all 0.3s ease-in-out;
}

body {
  font-family: $font-primary;
  font-size: 14px;
  color: $default-text-color;
  line-height: 1.5;
  letter-spacing: 0.2px;
  background: $page-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  letter-spacing: 0.5px;
  line-height: 1.5;

  a {
    font-family: $font-secondary;
  }

  small {
    font-weight: 300;
    color: lighten($default-dark, 5%);
  }
}

p {
  font-family: $font-primary;
  line-height: 1.9;
}

.lead {
  font-size: 18px;
}

ul {
  margin-bottom: 0;
}

a {
  color: $default-link;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($default-link, 20%);
  }

  &:focus {
    outline: none;
  }

  &.text-gray {
    &:hover,
    &:focus,
    &.active {
      color: $default-dark !important;
    }
  }
}

:focus {
  outline: none;
}

hr {
  border-top: 1px solid $border-color;
}

.btn-create-one{
  border-color: #b8daff;
  background-color: #cce5ff;
  color: #004085 !important;
}
.btn-create-two{
  border-color: #c3e6cb;
  background-color: #d4edda;
  color: #155724 !important;
}
.btn-create-three{
  border-color: #cecece;
  background-color: #ffffff;
  color: #374548 !important;
}

/** BTN BUTTONS COLORS **/
.btn{
  .btn-fw {
    min-width: 120px;
  }
}
.btn-primary {
  color: #fff;
  background-color: #308ee0;
  border-color: #308ee0;
  &:hover{
    background-color: #1e7bcb;
    border-color: #1d74c0;
  }
}
.btn-secondary {
  color: #212529;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  &:hover{
    background-color: #d2d2d2;
    border-color: #cccccc;
  }
}
.btn-success {
  color: #fff;
  background-color: #00ce68;
  border-color: #00ce68;
  &:hover{
    background-color: #00a855;
    border-color: #009b4e;
  }
}
.btn-danger {
  color: #fff;
  background-color: #e65251;
  border-color: #e65251;
  &:hover{
    background-color: #e13130;
    border-color: #e02624;
  }
}
.btn-warning {
  color: #FFF;
  background-color: #ffaf00;
  border-color: #ffaf00;
  &:hover{
    background-color: #d99500;
    border-color: #cc8c00;
  }
}
.btn-info {
  color: #fff;
  background-color: #8862e0;
  border-color: #8862e0;
  &:hover{
    background-color: #7042da;
    border-color: #6837d8;
  }
}
.btn-light {
  color: #212529;
  background-color: #f3f5f6;
  border-color: #f3f5f6;
  &:hover{
    background-color: #dde3e6;
    border-color: #d6dde0;
  }
}
.btn-dark {
  color: #fff;
  background-color: #424964;
  border-color: #424964;
  &:hover{
    background-color: #33384d;
    border-color: #2e3345;
  }
}

.btn-outline-primary {
  color: #308ee0;
  background-color: transparent;
  background-image: none;
  border-color: #308ee0;
}
.btn-outline-secondary {
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  background-image: none;
  border-color: #e5e5e5;
}
.btn-outline-success {
  color: #00ce68;
  background-color: transparent;
  background-image: none;
  border-color: #00ce68;
}
.btn-outline-danger {
  color: #e65251;
  background-color: transparent;
  background-image: none;
  border-color: #e65251;
}
.btn-outline-warning {
  color: #ffaf00;
  background-color: transparent;
  background-image: none;
  border-color: #ffaf00;
}
.btn-outline-info {
  color: #8862e0;
  background-color: transparent;
  background-image: none;
  border-color: #8862e0;
}

.footer p{
  margin: 0;
  padding: 0;
}
.footer{
  padding: 18px;
  background-color: $default-white;
  border-top: 1px solid #dee2e6;
}

/*** TABS ***/
.nav-tabs{
  margin-bottom: 10px;
}
.tab-content{
  margin-top: 10px;
}

/****** BOOTSTRAP SELECT ******/

.bootstrap-select{
  .dropdown-toggle{
    &:after{
      display: none;
    }
  }
}

.select2-container--default{
  .select2-selection--single {
    background-color: #fff;
    border: 1px solid $select-color;
    border-radius: 4px;
    height: 40px !important;
    line-height: 40px;
    .select2-selection__rendered{
      line-height: 40px;
    }
    .select2-selection__arrow{
      height: 40px;
      b{
        border-color: #495057 transparent transparent transparent;
        border-width: 6px 5px 0 5px;
        left: 20%;
      }
    }
  }
}
.help-block{
  font-size: 12px;
  margin-bottom: 0;
}
// ---------------------------------------------------------
// PAGE CONTAINER
// ---------------------------------------------------------

.page-container {
  min-height: 100vh;
  padding-left: $offscreen-size;
  transition: all 0.2s ease;

  @include between($breakpoint-md, $breakpoint-xl) {
    padding-left: $collapsed-size;
  }

  @include to($breakpoint-md) {
    padding-left: 0;
  }
}

// ---------------------------------------------------------
// MAIN CONTAINER
// ---------------------------------------------------------

.main-content {
  padding: 75px 20px 20px;
  min-height: calc(100vh - 61px);
  &.bg-content{
    background-color: $page-background;
  }
  .box-body{
    background-color: transparent;
  }
  @include to($breakpoint-md) {
    padding: 85px 5px 5px;
  }
}

.remain-height {
  height: calc(100vh - 126px);
}

// ---------------------------------------------------------
// FULL CONTAINER
// ---------------------------------------------------------

.full-container {
  left: $offscreen-size;
  min-height: calc(100vh - #{$header-height});
  position: absolute;
  right: 0;
  top: $header-height;
  transition: all 0.2s ease;

  @include between($breakpoint-md, $breakpoint-xl) {
    left: 0;
    padding-left: $collapsed-size;
  }

  @include to($breakpoint-md) {
    left: 0;
  }
}

// ---------------------------------------------------------
// COLLAPSE STATE
// ---------------------------------------------------------

.is-collapsed {
  .page-container {
    padding-left: $collapsed-size;

    @include to($breakpoint-md) {
      padding-left: 0;
    }

    @include between($breakpoint-md, $breakpoint-xl) {
      padding-left: $offscreen-size;
    }
  }

  .full-container {
    left: $collapsed-size;

    @include to($breakpoint-md) {
      left: 0;
    }

    @include between($breakpoint-md, $breakpoint-xl) {
      left: $offscreen-size;
      padding-left: 0;
    }
  }
}

// ---------------------------------------------------------
// FOOTER
// ---------------------------------------------------------

footer {
  z-index: 1;
  position: relative;
}

// ---------------------------------------------------------
// @Text Align
// ---------------------------------------------------------

.ta-c { text-align: center !important; }
.ta-l { text-align: left !important; }
.ta-r { text-align: right !important; }

// ---------------------------------------------------------
// @Font Size
// ---------------------------------------------------------

.fsz-xs   { font-size: 0.75rem !important; }
.fsz-sm   { font-size: 0.87rem !important; }
.fsz-def  { font-size: 1rem !important; }
.fsz-md   { font-size: 1.15rem !important; }
.fsz-lg   { font-size: 1.4rem !important; }
.fsz-xl   { font-size: 1.7rem !important; }

// ---------------------------------------------------------
// @Font Weight
// ---------------------------------------------------------

.fw-100 { font-weight: 100 !important; }
.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-800 { font-weight: 800 !important; }
.fw-900 { font-weight: 900 !important; }

// ---------------------------------------------------------
// @Line Height
// ---------------------------------------------------------

.lh-0    { line-height: 0 !important; }
.lh-1    { line-height: 1 !important; }
.lh-3\/2 { line-height: 1.5 !important; }

.box-header{
  color: $grey-900;
  display: block;
  padding: 0;
  position: relative;
  .box-title{
    font-weight: 500;
    color: #404852;
    margin-bottom: 22px;
    font-size: 14px;
    text-transform: capitalize;
  }
}
.carousel-item img{
  max-width: 100%;
  height: auto;
}
//card cropper
.card-cropper{
  padding-top: 1em;
  padding-bottom: 1em;
  .cropCanvas{
    padding-bottom: 1em;
  }
}

.card{
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 10px;
  .card-body{
    .tools{
      width: 160px;
      height: 160px;
      display: block;
      float: left;
      text-align: center;
      cursor: pointer;
      position: relative;
      background-color: transparent;
      &.cursor-none{
        cursor: inherit;
      }
      .big_icon{
        position: absolute;
        width: 84px;
        height: 84px;
        top: 40%;
        margin-top: -50px;
        left: 44%;
        margin-left: -32px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.125) ;
        border-radius: 50%;
        img{
          transition: transform .2s ease-in;
          padding-top: 10px;
          &:hover{
            transform: scale(1.15);
          }
        }
        a{
          display: block;
          overflow: hidden;
        }
      }
      .content{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        .name{
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
    /*@include landscape($breakpoint-sm) {
      padding: 0;
    }*/
  }
}
/* CATEGORY CLASSIC */
.category-list{
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  @include portrait($breakpoint-sm, $breakpoint-md){
    grid-template-columns: repeat(2, 1fr);
  }
  @include landscape($breakpoint-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-category{
    border: 1px solid #dee2e6;
    border-bottom-width: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
    .card-body{
      padding: 0;
      .image-container{
        position: relative;
        width: 100%;
        height: 100%;
        color: #ffffff;
        overflow: hidden;
        margin: auto;
        .thumbnail{
          &:before{
            content: "";
            background-color: #000;
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: .35;
          }
        }
        &:hover img{
          transform: scale(1.2);
        }
        img{
          position: absolute;
          top: -50%;
          left: 0;
          bottom: 25%;
          right: 0;
          transition: all 1s ease;
          width: 100%;
          height: auto;
        }
        .image-content{
          position: relative;
          z-index: 1;
          text-align: center;
          .title{
            font-size: 18px;
          }
          .courses{
            font-size: 12px;
          }
          a{
            color: $default-white;
            display: block;
            width: 100%;
            padding-top: 5%;
            padding-bottom: 5%;
          }
        }
      }
      @include portrait($breakpoint-sm, $breakpoint-md){
        padding: 0;
      }
      .title{
        font-size: 16px;
        a{
          color: $grey-800;
        }
      }
    }
  }
}
/** GRID SESSION **/

.grid-session{
  column-count: 3;
  @include portrait($breakpoint-sm, $breakpoint-md){
    column-count: 2;
  }
  @include landscape($breakpoint-sm) {
    column-count: 1;
  }
  .item-session{
    flex: auto;
    overflow: hidden;
    break-inside: avoid;
    display: inline-table;
    .card-session{
      border-bottom-width: 5px;
      .card-title{
        font-size: 16px;
        a{
          color: $grey-800;
        }
      }
    }
    .card-list{
      margin-top: 10px;
    }
  }
}



/* COURSE CLASSIC */
.grid-course{
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  @include portrait($breakpoint-sm, $breakpoint-md){
    grid-template-columns: repeat(2, 1fr);
  }
  @include landscape($breakpoint-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-course-classic{
    border: 1px solid #dee2e6;
    border-bottom-width: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    align-items: center;
    &.card-special{
      background-color: #f6fcff;
    }
    .category{
      position: absolute;
      border-radius: 10px;
      background-color: $default-yellow;
      color: $default-black;
      font-weight: bold;
      padding: 0.2rem 0.8rem;
      top: -0.8rem;
      left: 0.5rem;
      font-size: 12px;
    }
    .card-body{
      padding: 1rem 1.2rem;
      @include portrait($breakpoint-sm, $breakpoint-md){
        padding: 0.8rem;
      }
      .title{
        font-size: 16px;
        a{
          color: $grey-800;
        }
      }
    }
  }
}

.checkbox_delete_picture{
  padding-top: 1em;
}

/* COURSE GRID */
.card-session{
  .category{
    position: absolute;
    border-radius: 10px;
    background-color: $default-yellow;
    color: $default-black;
    font-weight: bold;
    padding: 0.2rem 0.8rem;
    top: -0.8rem;
    left: 0.5rem;
    font-size: 12px;
  }
  .card-body{
    .card-date{
      font-size: 12px;
      color: $grey-600;
    }
    .card-details{
      font-size: 12px;
      color: $grey-600;
    }
    .card-list{
      .list-group{
        .list-group-item{
          padding: 0.75rem;
        }
      }
    }
  }
}
.card-course{
  transform: perspective(1px) translateZ(0);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.15);
  background-color: $default-white;
  &:hover,
  &:focus{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.20);
  }
  &.card-category{
    .card-subtitle{
      font-size: 12px;
    }
  }
  .card-image{
    position: relative;
    .card-tools{
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .card-ranking{
    font-size: 12px;
  }
  .category{
    position: absolute;
    border-radius: 10px;
    background-color: $default-yellow;
    color: $default-black;
    font-weight: bold;
    padding: 0.2rem 0.8rem;
    top: -0.8rem;
    left: 0.5rem;
    font-size: 12px;
  }
  .card-body{
    padding: 0.5rem 0.25rem;
    .card-title{
      margin-bottom: 0.5rem;
      .title{
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
      }
    }
    .card-author{
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .list-name{
        font-size: 12px;
        color: $grey-700;
        cursor: pointer;
      }
      .name{
        font-size: 12px;
        white-space: nowrap;
        color: $grey-700;
        display: inline-block;
        &:after{
          content: ", ";
        }
        &:last-child{
          &:after{
            content: " ";
          }
        }
      }
    }
  }
}

/******************* ACCORDION B4 *****************/

.accordion-b4 {
  .card {
    border: 0 none;
    box-shadow: none;
  }
  .card-header {
    padding: 0;
    background: #fff;
    border: none;
  }
  .card-title a {
    display: block;
    position: relative;
    color: $grey-900;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    transition: all 0.10s linear 0s;
    cursor: pointer;
    &.collapsed {
      color: #808080;
      margin: 0;
    }
    i {
      color: $menu-background;
      position: absolute;
      top: 15px;
      left: 20px;
      font-size: 20px;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 36px;
    }
    &.collapsed {
      &:before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 36px;
        border: 0 none;
      }
      &:hover {
        color: #6a6060;
      }
    }
    &:after {
      content: "\f106";
      font-family: "Font Awesome 5 Free", serif;
      font-weight: 900;
      color: $menu-secondary;
      font-size: 20px;
      line-height: 20px;
      position: absolute;
      top: 18px;
      right: 10px;
    }
    &.collapsed:after {
      font-family: "Font Awesome 5 Free", serif;
      font-weight: 900;
      font-size: 20px;
      line-height: 20px;
      position: absolute;
      top: 18px;
      right: 10px;
      content: "\f107";
      color: #808080;
    }
  }
  .card-body {
    border-top: 0 none;
    color: #808080;
  }
}

/****** SOCIAL ******/
.profile {
  .profile-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    &.profile-bg-blur {
      img {
        filter: blur(10px) brightness(.85);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .btn-toolbar{
    margin-left: 17px;
    a{
      margin-right: 5px;
    }
  }
}
.user-panel{
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  z-index: 3;
  &.user-panel-column{
    flex-direction: column;
    text-align: center;
    .user-panel-image{
      margin-right: 0;
      margin-bottom: 8px;
    }
    .user-panel-info{
      line-height: 23px;
      p{
        margin: 0;
      }
      small{
        font-size: 14px;
        display: block;
        font-weight: 400;
        line-height: 14px;
      }
    }
  }
}
.groups-messages{
  .date{
    font-size: 12px;
  }
}

/****** CALENDAR ******/

.fc-day-grid-event{
  border: none;
  padding: 6px 12px 6px 22px;
  font-weight: 500;
  color: #ffffff !important;
  cursor: pointer;
  border-radius: 4px;
}

/****** ACTIONS ******/

.actions {
  background: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  img {
    padding: 3px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff;
    &:hover {
      background: #ededed;
    }
  }
  a {
    text-decoration: none;
    margin-right: 10px;
    &:hover {
      text-decoration: none;
    }
  }
  .form-group{
    margin-bottom: 0;
  }
  .btn-toolbar {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 0 5px;
    background: #ffffff;
    img {
      background: none;
      border: none;
    }
    &:hover {
      background: #ededed;
    }
  }
  .actions-pagination {
    float: right;
    margin-top: 2px;
    * {
      display: inline-block;
      float: none;
      margin: 0;
      padding: 0;
    }
    img {
      margin: 6px;
      padding: 0;
    }
  }
}
/****** EXERCISE ******/

.card-exercise{
  margin-bottom: 20px;
  .list-exercise{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
    }
  }
}

.main-question{
  margin-bottom: 20px;
  margin-top: 20px;
  .title{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
  .description{
    margin-bottom: 10px;
  }
  .options{
    padding: 0.8em;
    label{
      display: block;
      margin-bottom: 18px;
      font-weight: bold;
      &.radio, &.checkbox{
        min-height: 18px;
        margin-left: 25px;
      }
      input[type="radio"]{
        margin-left: -25px;
        &.checkradios{
          border-radius: 50px;
        }
      }
      input[type="checkbox"]{
        margin-left: -25px;
        &.checkradios{
          border-radius: 5px;
        }
      }
      .checkradios
      {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        background-color: #ffffff;
        color: #666;
        top: 10px;
        height: 30px;
        width: 30px;
        border: 1px solid #cdcdcd;
        cursor: pointer;
        margin-right: 7px;
        outline: none;
        &:checked::before
        {
          position: absolute;
          font: 13px/1 'Open Sans', sans-serif;
          left: 11px;
          top: 7px;
          content: '\02143';
          transform: rotate(40deg);
        }
        &:hover
        {
          background-color: #f7f7f7;
        }
        &:checked
        {
          background-color: #f1f1f1;
        }
      }

    }
    p{
      line-height: 1em;
      display: contents;
    }
  }
  //Matching Draggable answer
  .drag_question{
    min-height: 4em;
    width: 100%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    ._jsPlumb_endpoint {
      z-index: 50;
    }
    .data_table{
      border: none;
      td{
        border: none;
      }
    }
    .window {
      border: 1px solid #dddddd;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      cursor: pointer;
      min-height: 65px;
      padding: 25px;
      margin-left: 5px;
      margin-right: 5px;

      &.window_left_question {
        padding: 10px 25px 10px 10px;
        text-align: right;
        background: #f2f9fe; /* Old browsers */
        background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* IE10+ */
        background: linear-gradient(to bottom, #f2f9fe 0%, #d6f0fd 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9fe', endColorstr='#d6f0fd', GradientType=0); /* IE6-9 */

      }
      &.window_right_question {
        padding: 10px 10px 10px 25px;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
      }
    }
    .indent{
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
    }
    .round{
      border-radius: 0.8em;
      color: #666666;
      display: inline-block;
      font-weight: bold;
      line-height: 1.6em;
      margin-right: 5px;
      text-align: center;
      width: 1.6em;
    }
    .number{
      background: #ffffff;
      border: 1px solid #cdcdcd;
    }
    .letter{
      background: #ffffff;
      border: 1px solid #cdcdcd;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
      width: 100px;
    }
    .hidden{
      display: none;
    }

  }
  .fill-blank{
    .form-control{
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
/*** PLUGINS ***/
.row_selected {
  background-color: #FFFFCC;
}

/*** REPORTS ***/
.item-report {
  text-align: center;
  .item-report-number {
    font-size: 35px;
    font-weight: bold;
    color: #666666;
  }
}
.card-box{
  .icon-big{
    font-size: 2.5em;
    min-height: 64px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-left: 25px;
    i{
      line-height: 66px;
      color: #fff;
    }
  }
  .icon-student {
    background: #f1c435;
  }
  .icon-studentboss {
    background: #4b73eb;
  }
  .icon-teachers {
    background: #50bbc1;
  }
  .icon-humanresources {
    background: #68ceeb;
  }
  .numbers{
    text-align: left;
    h2 {
      font-size: 3.2em;
      margin: 0;
      padding: 0;
      color: #666666;
    }
  }
}

.easy-donut{
  .easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
    .percent {
      display: block;
      position: absolute;
      font-size: 26px;
      top: 38px;
      width: 120px;
    }
  }
  .easypiechart-link {
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

#easypiechart-blue {
  .percent {
    color: #30a5ff;
  }
}

#easypiechart-teal {
  .percent {
    color: #1ebfae;
  }
}

#easypiechart-orange {
  .percent {
    color: #ffb53e;
  }
}

#easypiechart-red{
  .percent {
    color: #ef4040;
  }
}

/*** CROP-CROPPER IMAGE ***/
.card-cropper{
  img{
    width: 300px;
  }
}

/****** GALERY ******/

.gallery{
  .img-gallery {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
  }
  .photo {
    display: block;
    padding-bottom: 100%;
    overflow: hidden;
  }
  .frame {
    background-color: #eeeeee;
    display: block;
    width: 100%;
  }
  .canvas-one {
    margin-bottom: 30px;
  }
  .canvas-two {
    margin-right: 30px;
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    display: block;
    position: relative;
  }
}

/****** EXERCISE RESULTS ******/

.ribbon {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  .rib {
    height: 40px;
    width: 180px;
    display: block;
    line-height: 1.3;
    left: -2px;
    top: 0;
    color: #cfcfcf;
    margin: 0;
    padding: 2px 10px;
    position: relative;
    background: #333;
    border-radius: 4px 0 0 0;
    h3 {
      color: white;
      font-size: 16px;
      float: left;
      line-height: 16px;
      padding-top: 5px;
      margin: 0;
    }
  }
  &.rib-error, &.ribbon-total-error {
    background: #ff3019;
    border-top: none;
    border-bottom: none;
    float: left;
  }
  &.rib-warning {
    background: orange;
    border-top: none;
    border-bottom: none;
    float: left;
  }
  &.rib-gray {
    background: #cccccc;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    float: left;
  }
  &.rib-success, &.ribbon-total-success {
    background: #86B404;
    border-top: none;
    border-bottom: none;
    float: left;
  }
}
/**** LP COLLAPSE CATEGORY ****/

#lp-accordion .panel-default {
  border-radius: 10px;
}

#lp-accordion .panel-default .panel-heading {
  background: url(../../public/img/icons/svg/arrow-down.svg) #FFF right center no-repeat;
  border-radius: 10px;
}

#lp-accordion .panel-default .panel-heading .tools-actions {
  padding-right: 20px;
}

#lp-accordion .panel {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#lp-accordion .panel .panel-title {
  font-weight: bold;
  width: 100%;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

#lp-accordion .panel .panel-title a {
  width: 100%;
  display: block;
}

#lp-accordion .lp-item {
  border-bottom: 1px solid #dddddd;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}

#lp-accordion .lp-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#lp-accordion .lp-item .fa {
  color: #686f7a;
  opacity: .5;
  margin-right: 5px;
}

#lp-accordion .lp-item .progress {
  border: none;
  background: #D7E3E6;
  margin-bottom: 10px;
}

#lp-accordion #not-category .lp-item {
  margin-bottom: 0;
}

/***** PROMOTIONS *****/

.promotions {
  border-bottom: 1px solid #DDD;
  margin-top: 30px;
  .promo {
    background-color: #D1D1D1;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    h4 {
      font-size: 18px;
      font-weight: bold;
      a {
        color: #666;
      }
    }
  }
  .courses {
    background-color: #FAFAFA;
    vertical-align: middle;
    border-right: 1px solid #DDD;
  }
  .title {
    font-size: 16px;
    background-color: #DFDFDF;
  }
  .cycles {
    background-color: #F3F3F3;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-right: 1px solid #DDD;
    h4 {
      font-size: 14px;
      font-weight: bold;
    }
    a {
      color: #66666C;
      &:hover {
        color: initial;
      }
    }
  }
}
.career p {
  padding-left: 10px;
}
/****** WHOISONLINE ******/

#whoisonline {
  .items-user {
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #ECF0F1;
    margin-bottom: 20px;
    min-height: 250px;
  }
  .items-user-name {
    font-size: 12px;
    padding-top: 10px;
    line-height: 15px;
  }
}

/****** FORM REGISTER ******/

.terms-conditions {
  padding: 15px 10px;
  background-color: #DDD;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.help-registration {
  background-color: #ececec;
  box-shadow: none;
}

#registration {
  input[name='status'] {
    position: relative !important;
    margin-left: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
  }
  input.register-profile[value='5']:after {
    position: relative;
    top: 0;
    display: block;
    content: ' ';
    background: url(../../public/img/icons/svg/coursestudent_na.svg);
    width: 132px;
    height: 132px;
    border-radius: 0;
    -webkit-transition: color 1s, -webkit-box-shadow 1s;
    transition: box-shadow 1s, color 1s, -webkit-box-shadow 1s;
    border: 4px solid #FFFFFF;
  }
  input.register-profile[value='5']:checked:after {
    -webkit-box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: url(../../public/img/icons/svg/coursestudent.svg);
    border-color: #E4CE80;
    transition: all 250ms ease;
    will-change: transition;
    top: 5px;
  }
  input.register-profile[value='1']:after {
    position: relative;
    top: 0;
    display: block;
    content: ' ';
    background: url(../../public/img/icons/svg/coursemanager_na.svg);
    width: 132px;
    height: 132px;
    border-radius: 0;
    -webkit-transition: color 1s, -webkit-box-shadow 1s;
    transition: box-shadow 1s, color 1s, -webkit-box-shadow 1s;
    border: 4px solid #FFFFFF;
  }
  input.register-profile[value='1']:checked:after {
    -webkit-box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: url(../../public/img/icons/svg/coursemanager.svg);
    border-color: #76CDE4;
    transition: all 250ms ease;
    will-change: transition;
    top: 5px;
  }
  .progress {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 10px;
  }
  #status-group{
    .radio {
      display: inline-block;
      position: relative;
      label{
        p{
          text-align: center;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

#custom-icons{
  .items-tools {
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 185px;
    margin-bottom: 20px;
    text-align: center;
  }
  .name-tools {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header {
    margin: 20px 0 20px;
    border-bottom: 1px solid #CCCCCC;
  }
}

.help-course {
  background-color: #EEEEEE;
  color: #666;
  border: 1px dashed #B0B0B0;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.my-progress{
  .profile-user {
    padding: 10px;
  }
  .username {
    font-size: 20px;
    text-align: center;
  }
  .progress {
    margin-bottom: 0;
  }
  .star-progress{
    .fa-star {
      color: #e4c200;
    }
    .fa-star.in {
      color: #c2c2c2;
    }
  }
  .list-course {
    padding: 0;
    margin: 0;
    li {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      a {
        color: #666;
        &.active {
          color: #00829C;
        }
      }
    }
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

/****** BLOG ******/

.blog {
  padding: 0;
  .title-post {
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 0;
    margin-top: 5px;
  }
  .media{
    .avatar {
      width: 70px;
    }
  }
  .comments-post {
    margin-top: 50px;
    margin-bottom: 20px;
    .title {
      padding-bottom: 20px;
    }
    .media {
      border-top: 1px solid #eaeaea;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
      overflow: visible;
      .media-body {
        overflow: visible;
      }
    }
  }
  .content-post {
    margin-top: 15px;
    margin-bottom: 15px;
    p {
      font-size: 15px;
    }
  }
  .info-post {
    display: block;
    border-bottom: #eaeaea 1px dotted;
    padding-bottom: 10px;
    span {
      margin-right: 20px;
      color: #888;
    }
  }
  .article-post {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  article{
    header{
      padding-top: 0;
    }
  }
}

/****** SOCIAL MEDIA ******/

.share-social-media {
  background-color: #FFF;
  margin-bottom: 5px;
  padding: 10px 5px 5px 5px;
  font-size: 12px;
  .sharing-buttons {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.btn-facebook{
  &.btn-inverse {
    color: #3B5998;
    background-color: transparent;
    border-color: rgba(59, 89, 152, 0.3);
    &:hover{
      color: #FFF;
      background-color: #3B5998;
      border-color: #3B5998;
    }
  }
}
.btn-twitter{
  &.btn-inverse {
    color: #00ACED;
    background-color: transparent;
    border-color: rgba(0, 172, 237, 0.3);
    &:hover {
      color: #FFF;
      background-color: #00ACED;
      border-color: #00ACED;
    }
  }
}
.btn-linkedin{
  &.btn-inverse {
    color: #0077b5;
    background-color: transparent;
    border-color: rgba(7, 119, 181, 0.3);
    &:hover{
      color: #FFF;
      background-color: #0077b5;
      border-color: #0077b5;
    }
  }
}

/****** FORUM CSS ******/

.forum{
  .number-post {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    text-align: center;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .title {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  .description {
    font-size: 14px;
    color: #666666;
  }
}

.forum-post {
  border-color: #dddddd !important;
  .title-username {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .post-date {
    font-size: 12px;
    text-align: center;
    color: #666666;
  }
  .post-closed {
    padding: 5px;
    text-align: center;
  }
  .post-header {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
  }
  .post-body {
    color: #666666;
    img {
      display: block;
      max-width: 100%;
    }
  }
  .tools-icons {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 5px;
    a {
      padding: 2px;
      white-space: normal;
    }
  }
}

/****** ABOUT COURSE AND SESSION ******/
.about{
  .share-social-media {
    padding: 10px 0 0 0;
    .sharing-buttons {
      list-style: none;
      margin: 0 0 10px 0;
      padding: 0;
      li{
        padding-left: 0;
      }
    }
  }
  .topics{
    .title-info {
      margin: 30px 0 20px 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
    }
  }
  .course-tags{
    width: 100%;
    margin-top: 10px;
    li{
      span{
        position: relative;
        display: inline-block;
        padding: 0 3px;
        height: 20px;
        line-height: 20px;
        font-weight: 600 !important;
        background: #D7E3E6 !important;
        border-radius: 0 3px 3px 0 !important;
        -webkit-transition: none 0.15s ease-in-out;
        -o-transition: none 0.15s ease-in-out;
        transition: none 0.15s ease-in-out;
        &:before{
          display: inline-block;
          content: "";
          top: 0;
          left: -8px;
          position: absolute;
          width: 0;
          height: 0;
          border-right: 8px solid #D7E3E6;
          border-bottom: 10px solid transparent;
          border-top: 10px solid transparent;
        }
        &:after{
          z-index: 1;
          content: "";
          top: 8px;
          left: -3px;
          position: absolute;
          width: 4px;
          height: 4px;
          background-color: #F2F2F2;
          border-radius: 10px;
        }
      }
    }
  }
  .course-short{
    padding-top: 5px;
    padding-bottom: 5px;
    ul{
      display: inline-block;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        &.author{
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
  }
  .coach-information{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    .coach-header{
      display: flex;
      align-items: center;
      flex-flow: row;
      .coach-avatar{
        width: 180px;
        margin-right: 20px;
      }
      .coach-title{
        flex-flow: column;
        align-items: flex-start;
        display: flex;
      }
    }
  }
}

/****** Sequence ******/

#parents {
  text-align: center;
  .parent {
    display: inline-block;
    width: 125px;
    padding: 5px;
    &.parent-deleted{
      .sequence-course {
        text-decoration: line-through;
      }
    }
    .big-icon {
      background-color: #ECF0F1;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      position: relative;
      .sequence-course {
        font-size: 12px;
      }
      .sequence-id {
        border-radius: 50%;
        background-color: #E74C3C;
        width: 20%;
        color: #ffffff;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      .sequence-deleted {
        font-size: 12px;
      }
    }
  }
  .sequence-plus-icon {
    color: #CCCCCC;
    padding: 0 10px;
  }
}

.border-sequence {
  background: url("../../public/img/line.png") repeat-x 0 35px;
}

.arrow-sequence {
  height: 68px;
  background: url("../../public/img/icons/48/sequence-arrow.png") no-repeat center 15px;
  margin-top: 10px;
  padding-top: 10px;
}


#resource {
  text-align: center;
  .parent {
    display: inline-block;
    padding: 5px;
    width: 15%;
    .big-icon {
      background-color: #eeffaa;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      position: relative;
      .sequence-course {
        font-size: 12px;
      }
      .sequence-id {
        border-radius: 50%;
        background-color: #E74C3C;
        width: 20%;
        color: #ffffff;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      .sequence-deleted {
        font-size: 12px;
      }
    }
  }
}

#children {
  text-align: center;
  .parent {
    display: inline-block;
    padding: 5px;
    width: 15%;
    .big-icon {
      background-color: #feffd6;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      position: relative;
      .sequence-course {
        font-size: 12px;
      }
      .sequence-id {
        border-radius: 50%;
        background-color: #E74C3C;
        width: 20%;
        color: #ffffff;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      .sequence-deleted {
        font-size: 12px;
      }
    }
  }
}
/****** OPEN BADGES ******/

.openbadges-introduction {
  line-height: 30px;
  margin-bottom: 30px;
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #456176;
    font-size: 35px;
  }
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #456176;
    font-size: 35px;
  }
  .sub-title {
    color: #456176;
    text-align: center;
    font-size: 20px;
  }
  .badges-tablet {
    padding-top: 15px;
  }
  .block-content {
    padding-top: 30px;
    padding-bottom: 30px;
    p {
      padding-left: 5%;
      font-size: 14px;
    }
    &.block-title{
      background-color: #e2eceb;
      border: 1px solid #456176;
      padding: 5px 10px;
      font-size: 16px;
      color: #456176;
    }
  }
  .block-edit {
    padding-top: 15px;
    padding-bottom: 30px;
    &.block-title{
      background-color: #e2eceb;
      border: 1px solid #456176;
      padding: 5px 10px;
      font-size: 16px;
      color: #456176;
    }
  }
}

.list-badges {
  padding: 0;
  margin: 0;
  list-style: none;
  .thumbnail {
    border-color: #bce8f1;
    display: inline-block;
    margin-right: 15px;
    padding: 0;
    vertical-align: top;
    width: 95px;
    a{
      img{
        margin-bottom: 4px;
        margin-top: 4px;
      }
      .caption{
        background: #D9EDF7;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:hover{
          width: auto;
          white-space: initial;
          overflow: visible;
          cursor: pointer;
        }
      }
    }
  }
}
/****** ISSUES ******/
#issues {
  width: 800px;
  height: 350px;
  overflow: hidden;
  li{
    width: 800px;
    height: 350px;
    list-style: none;
    float: left;
    &.selected{
      img{
        transform: scale(1.1, 1.1);
      }
    }
    img{
      float: left;
      margin: 10px 30px 10px 50px;
      background: transparent;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF); /* IE 6 & 7 */
      zoom: 1;
      transition: all 2s ease-in-out;
      transform: scale(0.7, 0.7);
    }
    h1{
      color: #ffcc00;
      font-size: 48px;
      margin: 20px 0;
      text-shadow: #000 1px 1px 2px;
    }
    p{
      font-size: 16px;
      margin-right: 70px;
      font-weight: normal;
      line-height: 22px;
    }
    }
  #grad_left,
  #grad_right {
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
    #next {
      right: 0;
      background-image: url('../../public/img/timeline/next.png');
    }
  }
}
#my_timeline {
  width: 900px;
  height: 350px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
  background: url('../../public/img/timeline/dot.gif') left 45px repeat-x;
  #dates {
    width: 800px;
    height: 60px;
    overflow: hidden;
    li {
      list-style: none;
      float: left;
      width: 120px;
      height: 50px;
      font-size: 16px;
      text-align: center;
      background: url('../../public/img/timeline/biggerdot.png') center bottom no-repeat;
    }
    a {
      line-height: 38px;
      padding-bottom: 10px;
      color: #cecece;
    }
    .selected {
      font-size: 20px;
      color: #666666;
    }
  }
}

/****** QUESTION ******/

.question_options {
  .droppable {
    padding: 5px;
    text-align: center;
    background-color: #ECF0F1;
    border: dotted #dddddd 2px;
    border-radius: 4px;
    color: #666666;
    display: inline-block;
    width: 85%;
    margin-bottom: 0;
  }
  .droppable-item {
    background-color: #84bd00;
    color: #FFF;
    padding: 3px 0 3px 5px;
    .number{
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
    }
  }
  .droppable{
    .gallery{
      .exercise-draggable-answer-option{
        margin-bottom: 0;
        background: #feffff;
        background: -moz-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
        background: -webkit-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
        background: linear-gradient(to bottom, #feffff 0%, #d2ebf9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#d2ebf9', GradientType=0);
        border: 1px solid #DDDDDD;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
      }
      .btn-secondary{
        background: #D9534F;
        color: #ffffff;
        border-color: #D43F3A;
        &:hover{
          background: #C9302C;
          color: #ffffff;
          border-color: #AC2925;
        }
      }
    }
  }
}

#listFriends{
  .list-group-item {
    border: none;
    padding: 0;
    font-size: 12px;
  }
  .help{
    font-size: 12px;
  }
  a{
    display: block;
    text-overflow: ellipsis;
    &.username{
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 120px;
    }
  }
  &:hover{
    background: none;
  }
}
.card-quota {
  margin: 15px;
  font-weight: bold;
  color: #006633;
  text-align: center;
}

/****** SKILLS ******/
.skill-options{
  .legend {
    border: 1px dashed #cccccc;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #FFFFFF;
  }
  .skill-home {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .btn-block {
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .accordion-inner {
    padding: 9px 15px;
    background-color: #FFFFFF;
  }
  .skill-winner {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-right: 1em;
      padding-bottom: 1em;
      a {
        background: url("../../public/img/icons/16/winner.png") no-repeat;
        padding-left: 1.5em;
        padding-bottom: 1em;
      }
    }
  }
}
.search-skill ul.holder li.bit-input input {
  width: 100%;
}

.skill-legend-basic {
  color: #3A87AD;
}

.skill-legend-add {
  color: #F89406;
}

.skill-legend-search {
  color: #B94A48;
}

.skill-legend-badges {
  color: #31A354;
}
.skill_partition {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 0.5px;
}

.skill_root {
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 6px;
  background-color: #ccc;
  border: 0.1em dotted #D4E06B;
  color: black;
  font-size: 0.9em;
  height: 4em;
  opacity: 0.8;
  padding-top: 0.9em;
  text-align: center;
  width: 120px;
  z-index: 40;
  position: relative;
}

.skill_child {
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 6px;
  background-color: white;
  border: 0.1em dotted #D4E06B;
  color: black;
  font-size: 0.9em;
  height: 4em;
  opacity: 0.8;
  padding-top: 0.9em;
  text-align: center;
  width: 120px;
  z-index: 40;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
}

/****** LIST TEMPLATE DOCUMENT ******/

#frmModel{
  display: block;
  height: 750px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0 .5em 0 1em;
    li{
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
      .title, .description{
        padding-top: .5em;
        padding-bottom: .5em;
        width: auto;
        font-size: 12px;
        line-height: 16px;
      }
      &:hover{
        background-color: #FAFAFA;
        border: 1px solid #F2F2F2;
      }
    }
  }
}

