// Exercise CSS

.main-question {
  @apply mb-4;
}

.question_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.question_menu li {
  display: inline-block;
}

/* Fixes questions list */
.question_options {
  min-height: 150px;
}

.question_options label {
  margin-bottom: 14px;
  display: block;
  font-weight: normal;
}

.question_options .radio {
  min-height: 18px;
  margin-left: 65px;
}

.question_options .checkbox {
  margin-left: 65px;
}

.question_options .radio input[type="radio"], .question_options .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -25px;
}

.question_options input[type="text"] {
  padding: 6px 12px;
  margin: 2px 2px 2px 0;
  vertical-align: middle;
  display: inline-block;
  height: 34px;
  line-height: 1.42857;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #555555;
  font-weight: bold;
  background-color: #FCF8D6;
}

.question_options input[type="text"]:focus {
  border-color: #66AFE9;
  background-color: #ffffff;
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.question_menu {
  @apply p-4 flex flex-row gap-1;
}

.question_options {
  /** Question unique answer image */
  &.type-17 {
    @apply grid sm:grid-cols-3 grid-cols-2 gap-4;

    .exercise-unique-answer-image {
      .radio {
        padding-left: 10px;
        margin-left: 0;
      }
    }

    label {
      > input {
        + .thumbnail {
          @apply p-2;
          box-sizing: border-box;
          border: 2px solid #eeeeee;

          p {
            @apply m-0;
          }

          img {
            min-width: 100%;
          }
        }

        &:checked {
          + .thumbnail {
            border: 2px solid #337AB7;
            box-shadow: 0 4px 18px #C8C8C8;
          }
        }
      }
    }
  }

  /* Question sequence ordering */
  &.type-18 {
    .exercise-draggable-answer {
      @apply border-dashed border-4 p-4 mb-3 flex flex-row flex-wrap gap-4;

      &:empty {
        min-height: 4rem;
      }
    }

    .exercise-draggable-answer-option {
      @apply border border-gray-400 rounded-sm p-2 cursor-move bg-gray-100;
    }

    .question-answer__items {
      &--horizontal,
      &--vertical {
        @apply flex gap-4;
      }

      &--horizontal {
        @apply flex-row flex-wrap;
      }
      &--vertical {
        @apply flex-col;
      }
    }

    .droppable-item {
      @apply p-2 bg-indigo-200;

      &.list-inline {
        @apply text-center align-middle;
      }

      span.number {
        @apply font-bold;
      }

      .droppable {
        @apply p-2;

        &:empty {
          @apply bg-indigo-300 rounded-sm;
          min-height: 4rem;
          min-width: 6rem;
        }
      }
    }
  }
}
