.email-head {
  background-color: #fff;
  .email-head-subject {
    padding: 25px 25px;
    border-bottom: 1px solid #e6e6f2;
    .icons{
      font-size: 14px;
      float: right;
      .icon{
        color: #71738d;
        vertical-align: middle;
      }
    }
    .title {
      display: block;
      font-size: 1.769rem;
      font-weight: 500;
      color: #3d405c;
      a{
        .icon{
          color: silver;
          font-size: 14px;
          margin-right: 6px;
          vertical-align: middle;
          line-height: 31px;
          position: relative;
          top: -1px;
        }
        &.active{
          .icon{
            color: #ffc600;
          }
        }
      }
    }
  }
  .email-head-sender {
    padding: 13px 25px;
    line-height: 40px;
    .date {
      float: right;
      font-size: 12px;
    }
    .avatar{
      float: left;
      margin-right: 10px;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      border: 2px solid #e6e6f2;
      background: #F7F9FA;
      color: #fff;
    }
    .sender{
      font-size: 1.15rem;
      .email{
        font-size: 12px;
      }
    }
  }
}
.email-body{
  background-color: #fff;
  border-top: 1px solid #e6e6f2;
  padding: 30px 28px;
}
.email-attachments{
  background-color: #fff;
  padding: 25px 28px;
  border-top: 1px solid #e6e6f2;
  .title{
    display: block;
    font-weight: 500;
  }
  ul{
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
    li{
      line-height: 23px;
      a{
        color: #404040;
        font-weight: 500;
      }
    }
  }
}