.bg-install{
  background: #0068d8 !important;
  @include portrait($breakpoint-sm, $breakpoint-md){
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .install-box{
    width: 100%;
    max-width: 65%;
    padding: 50px 40px;
    margin: auto;
    background-color: $default-white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    .install-icon{
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .install-title{
      font-size: 20px;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #2E75A3;
    }

    .install-subtitle{
      font-size: 18px;
      font-weight: normal;
    }

    @include portrait($breakpoint-sm, $breakpoint-md){
      max-width: 95%;
      padding: 30px 20px;
    }
    @include landscape($breakpoint-sm) {
      max-width: 95%;
      padding: 30px 20px;
    }
    @include to($breakpoint-xs) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    @include to($breakpoint-xs) {
      max-width: 95%;
      padding: 20px 10px;
    }

    .install-footer{
      text-align: center;
      font-size: 12px;
      display: inline-block;
      width: 100%;
    }
    .install-steps{
      margin-top: 2em;
      margin-bottom: 2em;
      .list-group{
        .list-group-item{
          border: none;
          padding: 0.6rem 1rem;
          border-radius: 50px !important;
          &.active{
            background-color: #4074de;
            .number{
              background: transparent;
              color: #FFFFFF;
            }
          }
          .number{
            font-size: 14px;
            font-weight: bold;
            width: 30px;
            height: 30px;
            display: inline-block;
            background: #F8F9FA;
            color: #2e75ae;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
          }
        }
      }
    }
  }
}
