html,
body {
  height: 100%;
  .bg-chamilo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #0068d8;
  }

  .login-box {
    width: 100%;
    max-width: 350px;
    padding: 50px 40px;
    margin: auto;
    background-color: $default-white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    .login-logo{
      margin-bottom: 2em;
    }

    input.form-control{
      border: none;
      border-radius: 0;
      transition: none;
      &:focus{
        background-color: transparent;
        border-color: transparent;
        outline: 0;
        box-shadow: none;
      }
    }

    .focus-input {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      &:before{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: calc(100% - 20px);
        bottom: 0;
        left: 0;
        padding-left: 13px;
        padding-top: 3px;
      }
    }
  }
}


input {
  outline: none;
  border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #cccccc;}
input:-moz-placeholder { color: #cccccc;}
input::-moz-placeholder { color: #cccccc;}
input:-ms-input-placeholder { color: #cccccc;}

.wrap-login {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.validate-input {
  position: relative;
  margin-bottom: 23px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.label-input {
  font-size: 12px;
  color: #979797;
  line-height: 1.5;
  padding-left: 0;
}

.input-login {
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}

