
#lp_item_list li {
  border-bottom: 1px solid #dddddd;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}


#lp_sidebar {
  font-size: 14px
}

.item_data .button_actions {
  display: none;
  margin: 5px 0;
}