// ---------------------------------------------------------
// SIDEBAR SCSS
// ---------------------------------------------------------

.sidebar {
  background-color: $sidebar-background;
  .nav-dropdown-items{
    .nav-item{
      .nav-link{
        font-size: 12px;
        padding: 10px 15px;
        border-top: 1px solid #3c72d5;
        &:hover{
          color: $sidebar-link-hover;
        }
        i{
          font-size: 12px;
        }
      }
    }
  }
  .nav-dropdown{
    &.open{
      .nav-link{
        color: $sidebar-link;
      }
    }
  }
  .nav-item{
    i{
      color: $sidebar-icon;
      display: inline-block;
      font-size: 18px;
      line-height: 17px;
      margin-left: 3px;
      margin-right: 10px;
      text-align: center;
      vertical-align: middle;
      width: 20px;
    }
    &.current{
      i{
        color: $sidebar-link;
      }
      .nav-link{
        color: $sidebar-link-item;
      }
      background-color: $sidebar-current;
    }
  }
  .nav-link{
    color: $sidebar-link;
    padding: 14px 15px;
    &:hover{
      color: $sidebar-link-hover;
      background: transparent;
      i{
        color: $sidebar-link-hover;
      }
    }
  }
}
.section-slider{
  background: #9d7bd7; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #9d7bd7 0%,#38bcf4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d7bd7', endColorstr='#38bcf4',GradientType=1 ); /* IE6-9 */
}

.block-platform{
  padding-top: 3em;
  color: $grey-0;
}
.app-footer{
  background: $background-footer;
  border-top: 1px solid $border-footer;
  color: #ffffff;
}
.app-footer a{
  color: #ffc500;
}
