// ---------------------------------------------------------
// BREAKPOINTS
// ---------------------------------------------------------

$breakpoint-xl : 1440px;
$breakpoint-lg : 1200px;
$breakpoint-md : 992px;
$breakpoint-sm : 768px;
$breakpoint-xs : 480px;

// ---------------------------------------------------------
// GREYSCALE COLORS
// ---------------------------------------------------------

$grey-0               : #ffffff;
$grey-100             : #f9fafb;
$grey-200             : #f2f3f5;
$grey-300             : #e6eaf0;
$grey-400             : #d3d9e3;
$grey-500             : #b9c2d0;
$grey-600             : #7c8695;
$grey-700             : #72777a;
$grey-800             : #565a5c;
$grey-900             : #313435;


// ---------------------------------------------------------
// COLORS THEME DEFAULT
// ---------------------------------------------------------

$default-dark         : #54667a;
$default-link         : rgb(0, 153, 255);

$default-white        : #FFFFFF;
$default-black        : #000000;


// ---------------------------------------------------------
// COLORS PAGE
// ---------------------------------------------------------
// linear-gradient(120deg, #00a5e4, #4a71d0);

$page-background      : #fcfcfc;
$menu-background      : #FFFFFF;
$menu-secondary       : #ff3c7e;

// SIDEBAR
$sidebar-background   : #5b6be8;
$sidebar-link         : #FFFFFF;
$sidebar-link-item    : #acddfc;
$sidebar-icon         : #00BCD4;
$sidebar-link-hover   : #ffef5f;
$sidebar-current      : rgba(0, 0, 0, 0.15);

$header-link          : #54667a;
$header-hover         : #ff3c7e;
$breadcrumb-color     : #d2f1ff;
$select-color         : #ced4da;
//FOOTER
$background-footer     : #28506a;
$border-footer        : #28506a;
// ---------------------------------------------------------
// OTHERS
// ---------------------------------------------------------

$collapsed-size       : 70px;
$header-height        : 65px;
$offscreen-size       : 280px;
$card-border-color    : #e5e9f2;
$row-table-select     : #f9ffff;
$default-yellow       : #FFCC00;
// ---------------------------------------------------------
// FONTS
// ---------------------------------------------------------

$font-primary: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-secondary: $font-primary;
$font-size-base: 0.875rem;

// ---------------------------------------------------------
// IMAGE PATH
// ---------------------------------------------------------
$svg-path: "../img/icons/svg/";
$img-path: "../img/icons/";

// ---------------------------------------------------------
// FORMS
// ---------------------------------------------------------
$legend-color: #009688;

// BUTTON
$primary_custom:       #30c5d8 !default;
$secondary_custom:     #fcfcfc !default;
$success_custom:       #73c08e !default;
$info_custom:          #90d5e9 !default;
$warning_custom:       #ffef7d !default;
$danger_custom:        #fb8b8b !default;
$light_custom:         #ffffff !default;
$dark_custom:          #607d8b !default;

$theme-colors-custom: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors-custom: map-merge(
  (
    "primary":    $primary_custom,
    "secondary":  $secondary_custom,
    "success":    $success_custom,
    "info":       $info_custom,
    "warning":    $warning_custom,
    "danger":     $danger_custom,
    "light":      $light_custom,
    "dark":       $dark_custom
  ),
  $theme-colors-custom
);

