// IMAGE PATH
$svg-path: "../../../public/img/icons/svg/";
$img-path: "../../../public/img/";

// ---------------------------------------------------------
// COLORS THEME DEFAULT
// ---------------------------------------------------------

$default-dark         : #54667a;
$default-link         : rgb(0, 153, 255);

$default-white        : #FFFFFF;
$default-black        : #000000;


// ---------------------------------------------------------
// COLORS PAGE
// ---------------------------------------------------------
// linear-gradient(120deg, #00a5e4, #4a71d0);

$page-background      : #FFFFFF;
$menu-background      : #FFFFFF;
$menu-secondary       : #ff3c7e;
$breadcrumb-back      : #f9f9f9;

// SIDEBAR
$sidebar-background   : #003B88;
$sidebar-border       : #0A366F;
$sidebar-link         : #FFFFFF;
$sidebar-link-item    : #acddfc;
$sidebar-icon         : #00BCD4;
$sidebar-link-hover   : #ffef5f;
$sidebar-current      : rgba(0, 0, 0, 0.15);

$header-link          : #54667a;
$header-hover         : #ff3c7e;
$breadcrumb-color     : #d2f1ff;
$select-color         : #ced4da;

//FOOTER
$background-footer    : #3F51B5;
$border-footer        : #3F51B5;

// ---------------------------------------------------------
// OTHERS
// ---------------------------------------------------------

$collapsed-size       : 70px;
$header-height        : 65px;
$offscreen-size       : 280px;
$card-border-color    : #e5e9f2;
$row-table-select     : #f9ffff;
$default-yellow       : #FFCC00;

// ---------------------------------------------------------
// FONTS
// ---------------------------------------------------------
$font-primary: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-secondary: $font-primary;
$font-size-base: 0.875rem;

// ---------------------------------------------------------
// FORMS
// ---------------------------------------------------------
$legend-color: #009688;

// BUTTON
$primary_custom:       #30c5d8 !default;
$secondary_custom:     #fcfcfc !default;
$success_custom:       #73c08e !default;
$info_custom:          #90d5e9 !default;
$warning_custom:       #ffef7d !default;
$danger_custom:        #fb8b8b !default;
$light_custom:         #ffffff !default;
$dark_custom:          #607d8b !default;

