@import 'variables';
@import "media";
//@import 'loader';
@import 'sidebar';
@import 'login';
@import 'install';
@import "forms";
@import 'base';
@import 'announcement';
@import "jqueryui";
/*
@import "spinner";*/
