@use "sass:meta";
//@import 'variables';
//@import 'base_theme';
//
//// Tools
//@import 'inbox';
//@import 'install';

@layer base {
  hr {
    @apply text-gray-30 my-6;
  }
}

@include meta.load-css("settings/typography");

@include meta.load-css("atoms/form");
@include meta.load-css("atoms/autocomplete");
@include meta.load-css("atoms/avatar");
@include meta.load-css("atoms/buttons");
@include meta.load-css("atoms/calendar");
@include meta.load-css("atoms/checkbox");
@include meta.load-css("atoms/color_picker");
@include meta.load-css("atoms/divider");
@include meta.load-css("atoms/dropdown");
@include meta.load-css("atoms/fieldset");
@include meta.load-css("atoms/inline_message");
@include meta.load-css("atoms/inputgroup");
@include meta.load-css("atoms/input_switch");
@include meta.load-css("atoms/input_text");
@include meta.load-css("atoms/messages");
@include meta.load-css("atoms/overlay");
@include meta.load-css("atoms/password");
@include meta.load-css("atoms/platform_logo");
@include meta.load-css("atoms/progressbar");
@include meta.load-css("atoms/radio");
@include meta.load-css("atoms/skeleton");
@include meta.load-css("atoms/tags");
@include meta.load-css("atoms/toast");
@include meta.load-css("atoms/wysiwyg");

@include meta.load-css("molecules/chip");
@include meta.load-css("molecules/course_tool");
@include meta.load-css("molecules/datepicker");
@include meta.load-css("molecules/empty_state");
@include meta.load-css("molecules/teacher_bar");
@include meta.load-css("molecules/toolbar");
@include meta.load-css("molecules/legacy_panel");

@include meta.load-css("organisms/cards");
@include meta.load-css("organisms/course_card");
@include meta.load-css("organisms/datatable");
@include meta.load-css("organisms/dataview");
@include meta.load-css("organisms/external_logins");
@include meta.load-css("organisms/modals");
@include meta.load-css("organisms/menu");
@include meta.load-css("organisms/sidebar");
@include meta.load-css("organisms/section_header");
@include meta.load-css("organisms/tables");
@include meta.load-css("organisms/install");

@include meta.load-css("components/badges");
//@import 'announcement';

@include meta.load-css("layout/topbar");
@include meta.load-css("layout/breadcrumb");
@include meta.load-css('layout/main_container');

@include meta.load-css("admin_index");
@include meta.load-css("calendar");
@include meta.load-css("course_home");

@include meta.load-css("documents");

@include meta.load-css('login');

@include meta.load-css('forums');
@include meta.load-css('exercise');
@include meta.load-css('catalog_course');
@include meta.load-css('catalog_session');
//@import 'jqueryui';
@include meta.load-css('lp');
@include meta.load-css("messages");
@include meta.load-css("userreluser");
@include meta.load-css('social');
@include meta.load-css('skill');

@include meta.load-css("libs/mediaelementjs/styles");
