{% autoescape false %}
{{ info_msg }}
<br />
<div id="loader" class="text-center">

</div>
<br />
{{ form }}

<script>
$(function() {
    $(".btn--primary").click(function() {
        $("#loader").html('<div class="wobblebar-loader"></div><p> {{ 'Processing the import... Please don't close this window. This process may take a considerable amount of time. Please be patient.' | get_lang }} </p>');
    });
});
</script>

{% endautoescape %}
