<table border="0" cellpadding="10" cellspacing="0" width="100%">
    <tr>
        <td style="background-color: #2C3E50; border-bottom: 1px solid #2C3E50; box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);">
            &nbsp;
        </td>
    </tr>
</table>
