/*****************************************************
 *  MAIN  - CHAMILO CSS
 *****************************************************/

/* Adding default style for the chamilo_X themes */
@import url('../base_chamilo.css');

/* the following for regular <a> elements */
a {
    text-decoration: none;
    color :#6E6E6E;
}
a:visited {
    text-decoration: none;    
}
a:hover {
    text-decoration: none;
    color: #FD6600;
}
a:active {
    text-decoration: none;
    color : #3757f7;
}
.navbar .nav > li > a {
    float: none;
    line-height: 20px;
    padding-bottom: 13px;
    padding-right: 10px;
    padding-top: 13px;
}
.subnav .navbar-inner {
    background-color: #0191C7; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: none;
}

.subnav .nav > li > a {
    border-left: 1px solid #0191C7;
    border-right: 1px solid #0191C7;
    color: white;
    font-weight: normal;
    font-size: 13px;
}


.subnav .nav > #current > a,
.subnav .nav > #current > a:hover {  
    color: #fff;
    background-color: #0f466a;
    border-right-color: #0f466a;  
}

.subnav li a {
    color:#fff;
}

/* Green hover */
.subnav .navbar-inner li a:hover {
    background: none repeat scroll 0 0 #FD6600;
    color: #fff;
}
.well .nav-list > li > a:hover {
  text-decoration: none;
  background: none;
}
.sidebar-nav h4{
    color: #037FB2;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
}

/*****************************************************
 *  STYLE THEME CHAMILO                              *
 *****************************************************/
.welcome-mascot{
  background: url(images/chamilo-welcome.png) no-repeat right 0;
  padding-right: 200px;
  padding-bottom: 2em;
  padding-top: 2em;
}

.nav-list > li > a {
    font-size: 14px;
    padding-bottom: 6px;
   /* padding-left: 15px;
    padding-right: 15px;*/
    padding-top: 6px;
}
.controls .btn{
    background:#2E75A3;
    color: #FFFFFF;
    border-color: #2E75A3;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 25px;
    text-shadow: none;
}
.controls .btn:hover{
    background:#0F466A;
    border-color: #2E75A3;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #FFFFFF;
}
.breadcrumb {
  margin-bottom: 0;
  background-color: #b1d6ec;
  background-image: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #B1D6EC;
  box-shadow: none;
}
.breadcrumb a{
  color: #333;
  font-size: 13px;
  line-height: 30px;
  text-transform: none;
}

.breadcrumb li{
    font-size: 14px;
    text-shadow: none;
}
.breadcrumb a.btn-mini{
    font-size: 12px;
    line-height: 17px;
    text-transform: none;
}
.breadcrumb a.btn-success {
  background-color: #FD6600;
  background-image: none;
  border: 1px solid #FD6600;
  color: #FFFFFF;
}
.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ccc;
}
.btn:hover{
  color: #333;
  text-decoration: none;
}
.btn-primary{
    background-color:#2E75A3;
    background-image: none;
    border-color: #2E75A3;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary:hover{
    background-color:#0F466A;
    color: #FFFFFF;
}

/* styles for the star rater */
.star-rating{
    list-style:none;
    margin: 0px;
    padding:0px;
    width: 125px;
    height: 25px;
    position: relative;
    overflow:hidden;
    background: url(images/start-level.png) top left repeat-x;
}
.star-rating li{
    padding:0px;
    margin:0px;
    width:25px;
    height:25px;
    float: left;
}
.star-rating li a{
    display:block;
    width:25px;
    height: 25px;
    line-height:25px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
    position: absolute;
    padding: 0px;
    overflow:hidden;
}
.star-rating li a:hover{
    background: url(images/start-level.png) left bottom;
    z-index: 2;
    left: 0px;
    border:none;
}
.star-rating a.one-star{
    left: 0px;
}
.star-rating a.one-star:hover{
    width:25px;
}
.star-rating a.two-stars{
    left:25px;
}
.star-rating a.two-stars:hover{
    width: 50px;
}
.star-rating a.three-stars{
    left: 50px;
}
.star-rating a.three-stars:hover{
    width: 75px;
}
.star-rating a.four-stars{
    left: 75px;
}
.star-rating a.four-stars:hover{
    width: 100px;
}
.star-rating a.five-stars{
    left: 100px;
}
.star-rating a.five-stars:hover{
    width: 125px;
}
.star-rating li.current-rating{
    background: url(images/start-level.png) left center;
    position: absolute;
    height: 25px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}
/*ICON INBOX*/
.home-icon{
  background:url(images/);
}


/* END ICON INBOX */

/*CSS SLIDER ANUNCIOS*/

.pagerslide h2{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background-color:  #0191C7;
    color: #FFFFFF;
    padding-left: 15px;
}
.controls .btn{
    background:#DA462A;
    color: #FFFFFF;
    border:none;
    padding: 5px 25px;
    text-shadow: none;
}
#top_main_content #announcements .page-header{
  display: none;
  line-height: 1;
}
#top_main_content #announcements .span6 {
  width: 800px;
}

/*CSS PARA CONTENIDO DE CURSO INTRODUCCION*/

.page-course-intro{
    padding: 2em;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 2em;
}

.page-course-intro ul{
    list-style-image:url(images/vineta.png);
    padding-top: 10px;
}
.page-course-intro a{
    color: #FD6600;
}
.page-course-intro a:hover{
    color: #FD6600;
    text-decoration: underline;
}


/*FIN DE INTRODUCCION DEL CURSO*/
.fc-header-title h2{
    color: #0191C7;
}
.fc-first .fc-widget-header{
    font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

.well {
  background-color: rgba(96,165,209, 0.1);
  border: 1px solid rgba(96,165,209, 0.1);
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 20px 10px;
}
.sidebar-nav img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#homepage .row .span9 h2{
    font-size: 26px;
    font-weight: bold;
    color: #0191C7;
    padding-bottom: 8px;
}
#homepage .row .span9 p,#homepage .row .span9 ol {
    color: #6E6E6E;
}
#homepage .row .span9 a{
    color: #0F466A;
}
#homepage .row .span9 a:hover{
    color: #FD6600;
}
.page-header h2{
    color: #0191C7;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    width: 250px;
}
#course_tools .course-title-tools h3 {
    margin-top: 10px;
    color: #0191C7;
    font-weight: normal;
    
    
}
.page-header {
  border-bottom-color: #0191C7;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: none;
  padding-bottom: 0px;
}
.well_border{
  background-color: rgba(96,165,209, 0.1);
  border: 1px solid rgba(96,165,209, 0.1);
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}
.well_border .row .span2 {
  width: 98px;
}
.well_border .row .span2 .thumbnail {
  background-color: #FFFFFF;
  background-image: none;
}
#hot_courses .row .span9 .well_border .row .span6{
    width: auto;
}
.categories-course-description h3{
    color: #0F466A;
}
#course_tools .content a {
  font-size: 12px;
  font-weight: normal;
}
#main_content .course-box .row .span7{
  width: 730px;
}
#main_content .course-box .row .span7 .row .span6 {
    width: 615px;
}
#main_content .course-box .row .span7 .row .span6 h3{
  font-size: 20px;
}
#course_category li, #hot_courses h5, .course_item h5, .categories-course-description h5, .course-box h5 {
  font-weight: normal;
}
/*****************************************************
 *  FOOTER STYLES                                    *
 *****************************************************/
footer {
    height: 10em;    
    background-color: #0191C7;
    background-image: none;
    background-repeat:repeat-x;    
    color:#ffffff;
    border-top: none;   
}
footer .container .row {
  padding-top: 5px;
}
footer a:link, footer a:visited {
  color: #F1D40D;
}
/*****************************************************
 *  DISPLAY MESSAGES	                             *
 *****************************************************/
.normal-message {
    color: #00407F;
    border: 1px solid #CDE6F5;
    background: url("images/background_message.png") repeat-x scroll 0 0 #EAF8FE;
}
.warning-message {
    border: 1px solid #FFB30F;
    color: #000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFEFA7;
}
.confirmation-message {
	border: 1px solid #1F8323;
    color:#1F8323;
	background: url("images/background_message.png") repeat-x scroll 0 0 #CAF0C7;
}
.error-message {
    border: 1px solid #FF0000;
    color: #440000;
	background: url("images/background_message.png") repeat-x scroll 0 0 #FFD1D1;
}

.social-menu-title {
	background-color:#00AAE3;
}

#social-content-online {
    background-color:#00AAE3;
}
		
.admin_section li {
    background-image:url(images/bullet.gif);
}

.system_announcements {
    background: transparent url('images/systemenouvelles.jpg') no-repeat top  left;
}

.topa {
    background:transparent url('images/logoa4.gif') no-repeat;
}
.topb {
    background:transparent url('images/logob4.gif') no-repeat;
}

#bottomhellomindfactory {    
    background:transparent url('images/textologo.jpg') no-repeat;
}

/*including "login" image*/
button.login {
    background-image:url(images/bg-button.gif);
}

button.login:hover {
}

/*including "save" image*/
button.save {
    background-image:url(images/button_accept.gif);
}
/*including "add" image*/
button.add {
    background-image:url(images/button_add.gif);
}
/*including "cancel" image*/
button.cancel {
    background-image:url(images/button_delete.gif);
}
/*including "search" image*/
button.search {
    background-image:url(images/bg-button.gif);
}
/*including "plus" image*/
button.plus {
    background-image:url(images/button_plus.gif);
}
/*including "minus" image*/
button.minus {
    background-image:url(images/button_minus.gif);
}
/*including "next" image*/
button.next {
    background-image:url(images/button_next.gif) !important;
}
/*including "back" image*/
button.back {
    background-image:url(images/button_back.gif);
}
/*including "refresh" image*/
button.refresh {
    background-image:url(images/button_refresh.gif);
}
/*including "upload" image*/
button.upload {
    background-image:url(images/button_upload.gif);
}

button.arrowr, input.arrowr {
	background-image:url(images/2rightarrow.gif);	
}
button.arrowl, input.arrowl {
    background-image:url(images/2leftarrow.gif);	
}
.refresh {
    background-image:url(images/refresh.png);
}

.portal {
    background-image:url(images/portal.png);
}

/*CSS ICON BLOCK USER*/
   .inbox-social{
        background: url("images/sprite-icon.png") no-repeat 0 0;
        padding-left: 40px;
    }
    .inbox-social:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -43px;
    }
    .new-message-social{
        background: url("images/sprite-icon.png") no-repeat 0 -75px;
        padding-left: 40px;
    }
    .new-message-social:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -108px;
        padding-left: 40px;
    }
    .invitations-social{
        background: url("images/sprite-icon.png") no-repeat 0 -148px;
        padding-left: 40px;
    }
    .invitations-social:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -191px;
        padding-left: 40px;
    }
    .profile-social{
        background: url("images/sprite-icon.png") no-repeat 0 -236px;
        padding-left: 40px;
    }
    .profile-social:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -278px;
        padding-left: 40px;
    }
    .add-course{
        background: url("images/sprite-icon.png") no-repeat 0 -320px;
        padding-left: 40px;
    }
    .add-course:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -363px;
        padding-left: 40px;
    }
    .order-course{
        background: url("images/sprite-icon.png") no-repeat 0 -408px;
        padding-left: 40px;
    }
    .order-course:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -451px;
        padding-left: 40px;
    }
    .history-course{
        background: url("images/sprite-icon.png") no-repeat 0 -489px;
        padding-left: 40px;
    }
    .history-course:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -532px;
        padding-left: 40px;
    }
    .list-course{
        background: url("images/sprite-icon.png") no-repeat 0 -575px;
        padding-left: 40px;
    }
    .list-course:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -618px;
        padding-left: 40px;
    }
    

/*+++++++++++++++++++++++++++++++++
RESPONSIVE CSS
+++++++++++++++++++++++++++++++++*/

.navbar .brand {
  float: left;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  padding-bottom: 12px;
  padding-top: 8px;
}

@media (min-width: 481px) and (max-width: 800px) {

    .sidebar-nav h4 {
        color: #037FB2;
        font-size: 18px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
    }
    #profile_block .nav-list li, #course_block .nav-list li{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    #top_main_content .menu-column #user_image_block{
      box-shadow: none;
    }

}
@media (max-width: 600px) {
#main_content .course-box .row .span7 .row .span6 {
  float: left;
  /*width: 615px;*/
  padding-left: 10px;
}
#main_content .course-box .row .span7 .row .span6 h3 {
        font-size: 16px;
        /*width: 500px;*/
    }
}

@media (min-width: 801px){
  .nav-list > li > a {
  font-size: 13px;
  padding-bottom: 6px;
  padding-top: 6px;
}

/*CSS ICON BLOCK USER*/
   .inbox-social{
        background: url("images/sprite-icon.png") no-repeat 0 0;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .inbox-social:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -36px;
        background-size: 25px auto;
    }
    .new-message-social{
        background: url("images/sprite-icon.png") no-repeat 0 -65px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .new-message-social:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -93px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .invitations-social{
        background: url("images/sprite-icon.png") no-repeat 0 -127px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .invitations-social:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -163px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .profile-social{
        background: url("images/sprite-icon.png") no-repeat 0 -198px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .profile-social:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -233px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .add-course{
        background: url("images/sprite-icon.png") no-repeat 0 -267px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .add-course:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -303px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .order-course{
        background: url("images/sprite-icon.png") no-repeat 0 -339px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .order-course:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -375px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .history-course{
        background: url("images/sprite-icon.png") no-repeat 0 -410px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .history-course:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -446px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .list-course{
        background: url("images/sprite-icon.png") no-repeat 0 -480px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .list-course:hover{
        background: url("images/sprite-icon.png") no-repeat 0 -516px;
        padding-left: 30px;
        background-size: 25px auto;
    }
}
/*+++++++++++++++++++++++++++++++++
END RESPONSIVE CSS
+++++++++++++++++++++++++++++++++*/