/*!
 * CSS Chamilo LMS - Default v.2.0
 * Homepage: http://www.chamilo.org
 * Copyright 2012-2015 Alex Aragón
 * Licensed GLP
 * Based on Bootstrap
*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.navbar {
  background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
  border-bottom: 1px solid #178acc;
  -webkit-filter: none;
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > li > a{
  color: #ffffff;
}
footer{
  background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
  border-bottom: 1px solid #178acc;
  -webkit-filter: none;
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
footer{
  color: #ffffff;
}
footer a{
  color: #ffffff;
}
