/*****************************************************
 *  MAIN  - CHAMILO CSS
 *****************************************************/

/* Adding default style for the chamilo_X themes */
@import url('../base_chamilo.css');

/* the following for regular <a> elements */
body {
  
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
    text-decoration: none;
    color :#666666;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FD6600;
}
a:active {
    text-decoration: none;
    color : #3757f7;
}
.navbar .nav > li > a {
    float: none;
    line-height: 24px;
    padding-bottom: 13px;
    padding-right: 10px;
    padding-top: 13px;
    color: #FFFFFF;
}
.subnav .navbar-inner {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #178ACC;
    background: #4fb2ea; /* Old browsers */
    background: -moz-linear-gradient(top, #4fb2ea 0%, #0191c7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fb2ea), color-stop(100%,#0191c7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4fb2ea 0%,#0191c7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4fb2ea 0%,#0191c7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4fb2ea 0%,#0191c7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4fb2ea 0%,#0191c7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fb2ea', endColorstr='#0191c7',GradientType=0 ); /* IE6-9 */    
}

.subnav .nav > li > a {
    border-left: none;
    border-right: none;
    color: white;
    font-weight: normal;
    font-size: 13px;
}


.subnav .nav > #current > a,
.subnav .nav > #current > a:hover {
    color: #fff;
    background-color: #178ACC;
    border-right-color: #178ACC;
}

.subnav li a {
    color:#fff;
}

/* Green hover */
.subnav .navbar-inner li a:hover {
    background: #178ACC;
    color: #fff;
}
.well .nav-list > li > a:hover {
  text-decoration: none;
  background: none;
}
.sidebar-nav h4{
    color: #037FB2;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
}
.dropdown-menu{
  top: 50px;
}
/*****************************************************
 *  CHAMILO THEME STYLE                              *
 *****************************************************/
.welcome-mascot{
  background: url(images/chamilo-welcome.png) no-repeat right 0;
  padding-right: 200px;
  padding-bottom: 2em;
  padding-top: 2em;
}

.nav-list > li > a {
    font-size: 14px;
    padding-bottom: 6px;
   /* padding-left: 15px;
    padding-right: 15px;*/
    padding-top: 6px;
}

a.thumbnail:hover{
  border: 1px solid #e5e5e5;
  background: transparent;
}
.logout img{
  padding-top: 7px;
}
.form-actions {
  background:transparent;
}

.breadcrumb a{
  line-height: 30px;
  text-transform: none;
}

.breadcrumb li{

    text-shadow: none;
}
.breadcrumb a.btn-mini{
    line-height: 17px;
    text-transform: none;
}
.breadcrumb a.btn-mini > .btn-success{
  color: #FFFFFF;
}
/* styles for the star rater */
.star-rating{
    list-style:none;
    margin: 0px;
    padding:0px;
    width: 125px;
    height: 25px;
    position: relative;
    overflow:hidden;
    background: url(images/start-level.png) top left repeat-x;
}
.star-rating li{
    padding:0px;
    margin:0px;
    width:25px;
    height:25px;
    float: left;
}
.star-rating li a{
    display:block;
    width:25px;
    height: 25px;
    line-height:25px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
    position: absolute;
    padding: 0px;
    overflow:hidden;
}
.star-rating li a:hover{
    background: url(images/start-level.png) left bottom;
    z-index: 2;
    left: 0px;
    border:none;
}
.star-rating a.one-star{
    left: 0px;
}
.star-rating a.one-star:hover{
    width:25px;
}
.star-rating a.two-stars{
    left:25px;
}
.star-rating a.two-stars:hover{
    width: 50px;
}
.star-rating a.three-stars{
    left: 50px;
}
.star-rating a.three-stars:hover{
    width: 75px;
}
.star-rating a.four-stars{
    left: 75px;
}
.star-rating a.four-stars:hover{
    width: 100px;
}
.star-rating a.five-stars{
    left: 100px;
}
.star-rating a.five-stars:hover{
    width: 125px;
}
.star-rating li.current-rating{
    background: url(images/start-level.png) left center;
    position: absolute;
    height: 25px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}
/*ICON INBOX*/
.home-icon{
  background:url(images/icon-chamilo.png) no-repeat 0 0;
  background-size: 24px auto;
  padding-left: 30px;
}
.home-icon:hover,.messages-icon:hover, .invitations-icon:hover,.shared-profile-icon:hover,.friends-icon:hover,
.browse-groups-icon:hover ,.search-icon:hover ,.myfiles-icon:hover {
  opacity: 0.8;
}
.messages-icon{
  background:url(images/icon-chamilo.png) no-repeat 0 -29px;
  background-size: 24px auto;
  padding-left: 30px;
}
.invitations-icon{
  background:url(images/icon-chamilo.png) no-repeat 0 -61px;
  background-size: 24px auto;
  padding-left: 30px;
}
.shared-profile-icon{
  background:url(images/icon-chamilo.png) no-repeat 0 -96px;
  background-size: 24px auto;
  padding-left: 30px;
}
.friends-icon{
  background:url(images/icon-chamilo.png) no-repeat 0 -130px;
  background-size: 24px auto;
  padding-left: 30px;
}

.browse-groups-icon{
  background:url(images/icon-chamilo.png) no-repeat 0 -163px;
  background-size: 24px auto;
  padding-left: 30px;
}

.search-icon {
  background:url(images/icon-chamilo.png) no-repeat 0 -198px;
  background-size: 24px auto;
  padding-left: 30px;
}

.myfiles-icon {
  background:url(images/icon-chamilo.png) no-repeat 0 -229px;
  background-size: 24px auto;
  padding-left: 30px;
}

/* END ICON INBOX */
.nav-list > .active > a, .nav-list > .active > a:hover {
  color: #333333;
  background: none;
  text-shadow:none;
}
.social-menu .well .thumbnail{
  border: none;
  border-radius: none;
  box-shadow: none;
}
.invitation_confirm .thumbnail{
    border: 1px solid rgba(96, 165, 209, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    display: block;
    line-height: 1;
    padding: 4px;
    background-color: #EEF5FA;
}
.invitation_confirm a.thumbnail:hover{
    border-color: rgba(96, 165, 209, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}
.social-menu .well .thumbnail img{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}

/* ANNOUNCEMENTS SLIDER */

.pagerslide h2{
    font-size: 18px;
    background-color:  #0191C7;
    color: #FFFFFF;
    padding-left: 15px;
    font-weight: normal;
}

#top_main_content #announcements .page-header{
  display: none;
  line-height: 1;
}
#top_main_content #announcements .span6 {
  width: 800px;
}

/* COURSE INTRO CONTENT */

.page-course-intro{
    padding: 2em;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 2em;
}

.page-course-intro ul{
    list-style-image:url(images/vineta.png);
    padding-top: 10px;
}
.page-course-intro a{
    color: #FD6600;
}
.page-course-intro a:hover{
    color: #FD6600;
    text-decoration: underline;
}


/* END OF COURSE INTRO*/
.fc-header-title h2{
    color: #0191C7;
}
.fc-first .fc-widget-header{
    font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

.well {
  background-color: rgba(96,165,209, 0.1);
  border: 1px solid rgba(96,165,209, 0.1);
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 20px 10px;
}
.sidebar-nav img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#homepage .row .span9 h2{
    font-size: 26px;
    font-weight: bold;
    color: #0191C7;
    padding-bottom: 8px;
}
#homepage .row .span9 p,#homepage .row .span9 ol {
    color: #6E6E6E;
}
#homepage .row .span9 a{
    color: #0F466A;
}
#homepage .row .span9 a:hover{
    color: #FD6600;
}
.page-header h2{
    color: #0191C7;
    font-weight: normal;
    font-size: 20px;
    padding-left: 10px;
}
#course_tools .course-title-tools h3 {
    margin-top: 10px;
    color: #0191C7;
    font-weight: normal;
}
.page-header {
  border-bottom-color: #0191C7;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: none;
  padding-bottom: 0px;
}
.well_border{
  background-color: rgba(96,165,209, 0.1);
  border: 1px solid rgba(96,165,209, 0.1);
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}
.well_border .row .span2 {
  width: 98px;
}
.well_border .row .span2 .thumbnail {
  background-color: #FFFFFF;
  background-image: none;
}
#hot_courses .row .span9 .well_border .row .span6{
    width: auto;
}
.categories-course-description h3{
    color: #0F466A;
    font-weight: normal;
}
#course_tools .content a {
  font-size: 12px;
  font-weight: normal;
}
#main_content .course-box .row .span7{
  width: 730px;
}
#main_content .course-box .row .span7 .row .span6 {
    width: 615px;
}
#main_content .course-box .row .span7 .row .span6 h3{
  font-size: 20px;
}
#course_category li, #hot_courses h5, .course_item h5, .categories-course-description h5, .course-box h5 {
  font-weight: normal;
}
/*****************************************************
 *  STYLE THEME CHAMILO                              *
 *****************************************************/
.welcome-mascot{
  background: url(images/chamilo-welcome.png) no-repeat right 0;
  padding-right: 200px;
  padding-bottom: 2em;
  padding-top: 2em;
}

.nav-list > li > a {
    font-size: 14px;
    padding-bottom: 6px;
   /* padding-left: 15px;
    padding-right: 15px;*/
    padding-top: 6px;
}

#settings .span6 .well_border {
  min-height: 300px;
}
.breadcrumb {
  margin-bottom: 0;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(192,219,234,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(192,219,234,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(192,219,234,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(192,219,234,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(192,219,234,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(192,219,234,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0dbea',GradientType=0 ); /* IE6-9 */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  border: 1px solid #B1D6EC;
  box-shadow: none;
}
.breadcrumb a{

  line-height: 30px;
  text-transform: none;
}

.breadcrumb li{

    text-shadow: none;
}

/* styles for the star rater */
.star-rating{
    list-style:none;
    margin: 0px;
    padding:0px;
    width: 125px;
    height: 25px;
    position: relative;
    overflow:hidden;
    background: url(images/start-level.png) top left repeat-x;
}
.star-rating li{
    padding:0px;
    margin:0px;
    width:25px;
    height:25px;
    float: left;
}
.star-rating li a{
    display:block;
    width:25px;
    height: 25px;
    line-height:25px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
    position: absolute;
    padding: 0px;
    overflow:hidden;
}
.star-rating li a:hover{
    background: url(images/start-level.png) left bottom;
    z-index: 2;
    left: 0px;
    border:none;
}
.star-rating a.one-star{
    left: 0px;
}
.star-rating a.one-star:hover{
    width:25px;
}
.star-rating a.two-stars{
    left:25px;
}
.star-rating a.two-stars:hover{
    width: 50px;
}
.star-rating a.three-stars{
    left: 50px;
}
.star-rating a.three-stars:hover{
    width: 75px;
}
.star-rating a.four-stars{
    left: 75px;
}
.star-rating a.four-stars:hover{
    width: 100px;
}
.star-rating a.five-stars{
    left: 100px;
}
.star-rating a.five-stars:hover{
    width: 125px;
}
.star-rating li.current-rating{
    background: url(images/start-level.png) left center;
    position: absolute;
    height: 25px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
  color: #333333;
  background: none;
}
/*CSS SLIDER ANUNCIOS*/

.pagerslide h2{
    font-size: 18px;
    background-color:  #E6E6E6;
    color: #666666;
    padding-left: 15px;
}

#top_main_content #announcements .page-header{
  display: none;
  line-height: 1;
}
#top_main_content #announcements .span6 {
  width: 800px;
}

/*CSS PARA CONTENIDO DE CURSO INTRODUCCION*/

.page-course-intro{
    padding: 2em;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 2em;
}

.page-course-intro ul{
    list-style-image:url(images/vineta.png);
    padding-top: 10px;
}
.page-course-intro a{
    color: #FD6600;
}
.page-course-intro a:hover{
    color: #FD6600;
    text-decoration: underline;
}


/*FIN DE INTRODUCCION DEL CURSO*/
.fc-header-title h2{
    color: #0191C7;
}
.fc-first .fc-widget-header{
    font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

.well {
  background-color: rgba(96,165,209, 0.1);
  border: 1px solid rgba(96,165,209, 0.1);
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 20px 10px;
}
.sidebar-nav img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#homepage .row .span9 h2{
    font-size: 26px;
    font-weight: bold;
    color: #0191C7;
    padding-bottom: 8px;
}
#homepage .row .span9 p,#homepage .row .span9 ol {
    color: #6E6E6E;
}
#homepage .row .span9 a{
    color: #0F466A;
}
#homepage .row .span9 a:hover{
    color: #FD6600;
}
.page-header h2, .page-header h1{
    color: #0191C7;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}
#course_tools .course-title-tools h3 {
    margin-top: 10px;
    color: #0191C7;
    font-weight: normal;
}
.page-header {
  border:none;
}
.well_border{
  background-color: rgba(96,165,209, 0.1);
  border: 1px solid rgba(96,165,209, 0.1);
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}
.well_border .row .span2 {
  width: 98px;
}
.well_border .row .span2 .thumbnail {
  background-color: #FFFFFF;
  background-image: none;
}
#hot_courses .row .span9 .well_border .row .span6{
    width: auto;
}
.categories-course-description h3{
    color: #0F466A;
}
.categories-course-description .text-h3{
    color: #0F466A;
}
#course_tools .content a {
  font-size: 12px;
  font-weight: normal;
}
#main_content .course-box .row .span7{
  width: 730px;
}
#main_content .course-box .row .span7 .row .span6 {
    width: 615px;
}
#main_content .course-box .row .span7 .row .span6 h3{
  font-size: 20px;
}
#course_category li, #hot_courses h5, .course_item h5, .categories-course-description h5, .course-box h5 {
  font-weight: normal;
}
/*****************************************************
 *  FOOTER STYLES                                    *
 *****************************************************/
footer {
    height: 7em;
    background: #4fb2ea; /* Old browsers */
    background: -moz-linear-gradient(top, #4fb2ea 0%, #0191c7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fb2ea), color-stop(100%,#0191c7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4fb2ea 0%,#0191c7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4fb2ea 0%,#0191c7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4fb2ea 0%,#0191c7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4fb2ea 0%,#0191c7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fb2ea', endColorstr='#0191c7',GradientType=0 ); /* IE6-9 */
    color:#ffffff;
    border-top: 1px solid #0191C7;
}
footer .container .row {
  padding-top: 5px;
}
footer a:link, footer a:visited {
  color: #F1D40D;
}
/*****************************************************
 *  DISPLAY MESSAGES	                             *
 *****************************************************/
/*****************************************************
 *  CSS CHAT                               *
 *****************************************************/
.chatboxmain {
    bottom: 0;
    display: block;
    position: fixed;
    right: 20px;
    width: 225px;
    z-index: 9000;
}

.chatboxheadmain {
  padding:7px 7px 7px 0px;
  color: #ffffff;
  border-right:1px solid #222;
  border-left:1px solid #222;

  background-color: #222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

}
#chatboxtitlemain {
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: normal;
    width: 160px;
}
/*****************************************************
 *  CSS CHAT END                             *
 *****************************************************/
.normal-message {
    background-color: #D9EDF7;
    color: #3A87AD;
    padding: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #BCE8F1;
    border-left: 1px solid #BCE8F1;
    border-right: 1px solid #BCE8F1;
    border-bottom: 3px solid #BCE8F1;
    border-radius: 10px;
}
.warning-message {
    background-color: #FCF8E3;
    color: #C09853;
    padding: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #FBEED5;
    border-left: 1px solid #FBEED5;
    border-right: 1px solid #FBEED5;
    border-bottom: 3px solid #FBEED5;
    border-radius: 10px;
}
.confirmation-message {
	background-color: #DFF0D8;
  color: #468847;
  padding: 10px;
  margin-bottom: 15px;
  border-top: 1px solid #D6E9C6;
  border-left: 1px solid #D6E9C6;
  border-right: 1px solid #D6E9C6;
  border-bottom: 3px solid #D6E9C6;
  border-radius: 10px;
}
.error-message {
  background-color: #F2DEDE;
  color: #B94A48;
  padding: 10px;
  margin-bottom: 15px;
  border-top: 1px solid #EED3D7;
  border-left: 1px solid #EED3D7;
  border-right: 1px solid #EED3D7;
  border-bottom: 3px solid #EED3D7;
  border-radius: 10px;
}
.error-message strong{
  font-weight: normal;
}
.social-menu-title {
	background-color:#00AAE3;
}

#social-content-online {
    background-color:#00AAE3;
}
.admin_section li {
    background-image:url(images/bullet.gif);
}

.system_announcements {
    background: transparent url('images/systemenouvelles.jpg') no-repeat top  left;
}

.topa {
    background:transparent url('images/logoa4.gif') no-repeat;
}
.topb {
    background:transparent url('images/logob4.gif') no-repeat;
}

#bottomhellomindfactory {
    background:transparent url('images/textologo.jpg') no-repeat;
}
.user_login_icon{
  background: url(images/user_icon.png) no-repeat 5px center;
}
.user_password_icon{
  background: url(images/user_password.png) no-repeat 5px center;
}
.form-vertical .controls input.span2{
  padding-left: 25px;
}
/*including "login" image*/
button.login {
    background-image:url(images/bg-button.gif);
}

button.login:hover {
}

/*including "save" image*/
button.save {
    background-image:url(images/button_accept.png);
}
/*including "add" image*/
.controls .btn.add {
    background-image:url(images/button_plus_green.png);
    padding-left: 36px;
}
/*including "cancel" image*/
button.cancel {
    background-image:url(images/button_delete.gif);
}
/*including "search" image*/
button.search {
    background-image:url(images/bg-button.png);
}
/*including "plus" image*/
button.plus {
    background-image:url(images/button_plus_blue.png);
}
/*including "minus" image*/
button.minus {
    background-image:url(images/button_minus.png);
}
/*including "next" image*/
button.next {
    background:url(images/next.png) 0 center no-repeat #F0F0F0;
}
button.next:hover {
    background:url(images/next.png) 0 center no-repeat #ffffff;
}
/*including "back" image*/
button.back {
    background:url(images/previus.png) 0 center no-repeat #F0F0F0;
}
button.back:hover {
    background:url(images/previus.png) 0 center no-repeat #ffffff;
}
/*including "refresh" image*/
button.refresh {
    background-image:url(images/button_refresh.gif);
}
/*including "upload" image*/
button.upload {
    background-image:url(images/button_upload.gif);
}

button.arrowr, input.arrowr {
	background-image:url(images/2rightarrow.gif);
}
button.arrowl, input.arrowl {
    background-image:url(images/2leftarrow.gif);
}
.refresh {
    background-image:url(images/refresh.png);
}

.portal {
    background-image:url(images/portal.png);
}

/*+++++++++++++++++++++++++++++++++++++++++++
 + CHAMILO INSTALL
 ++++++++++++++++++++++++++++++++++++++++++++*/
.install-mascot{
  background: url(images/install.png) no-repeat center 0;
  padding-top: 20em;
}
.install-chamilo .navbar{
  display: none;
}
.install-chamilo footer{
  display: none;
}
.install-chamilo .page-header {
  border-bottom: 2px solid #FD6600;
}
.install-chamilo .page-header h1 {
    line-height: 1;
    color: #FD6600;
}
.install-chamilo header{
  margin-top: 0;
  margin-bottom: 0;
}
.install-chamilo .RequirementHeading h2{
  color: #2E75A3;
}
.install-chamilo .page-header h2 {
  color: #FD6600;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0;
  width: 250px;
}
.well-install{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    padding: 3em;
    border: 1px solid #E1E1E0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 3em;
}
button.next.disabled {
  cursor: default;
  opacity: 0.65;
}
button.next.disabled:hover {
  cursor: default;
  opacity: 0.65;
  background-image: none;
}
.install-chamilo .btn-success.btn-install {
  float: right;
  background: #ff9900; /* Old browsers */
    background: -moz-linear-gradient(top, #ff9900 0%, #fd6600 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#fd6600)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff9900 0%,#fd6600 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff9900 0%,#fd6600 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff9900 0%,#fd6600 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff9900 0%,#fd6600 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#fd6600',GradientType=0 ); /* IE6-9 */
    border:1px solid rgba(0, 0, 0, 0.15);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.17);
    color: #FFFFFF;
    padding: 5px 25px;
}
.install-chamilo .btn-success.btn-install:hover {
    background: #ff7b00; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7b00 0%, #fd6600 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7b00), color-stop(100%,#fd6600)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff7b00 0%,#fd6600 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff7b00 0%,#fd6600 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff7b00 0%,#fd6600 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff7b00 0%,#fd6600 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b00', endColorstr='#fd6600',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
}
/*+++++++++++++++++++++++++++++++++++++++++++
END INSTALL CHAMILO
+++++++++++++++++++++++++++++++++++++++++++*/
.bottom_actions_fixed{
  background: #2bb8ef; /* Old browsers */
  background: -moz-linear-gradient(top, #2bb8ef 0%, #0191c7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2bb8ef), color-stop(100%,#0191c7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2bb8ef 0%,#0191c7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2bb8ef 0%,#0191c7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2bb8ef 0%,#0191c7 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2bb8ef 0%,#0191c7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bb8ef', endColorstr='#0191c7',GradientType=0 ); /* IE6-9 */
  border: 1px solid #E1E1E0;
}
.new_actions-fixed {
  top: 50px;
}

/*CSS ICON BLOCK USER*/
   .inbox-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -415px;
        padding-left: 40px;
    }
    .inbox-social:hover,.new-message-social:hover,.invitations-social:hover,.profile-social:hover,.add-course:hover,
    .order-course:hover,.history-course:hover, .list-course:hover{
        opacity: 0.8;
    }
    .new-message-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -370px;
        padding-left: 40px;
    }
    .invitations-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -455px;
        padding-left: 40px;
    }
    .profile-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -496px;
        padding-left: 40px;
    }
    .add-course{
        background: url("images/icon-chamilo.png") no-repeat 0 -327px;
        padding-left: 40px;
    }
    .order-course{
        background: url("images/icon-chamilo.png") no-repeat 0 -536px;
        padding-left: 40px;
    }
    .history-course{
        background: url("images/icon-chamilo.png") no-repeat 0 -576px;
        padding-left: 40px;
    }
    .list-course{
        background: url("images/icon-chamilo.png") no-repeat 0 -618px;
        padding-left: 40px;
    }
    .myfiles-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -287px;
        padding-left: 40px;
    }
    

/*+++++++++++++++++++++++++++++++++
RESPONSIVE CSS
+++++++++++++++++++++++++++++++++*/

.navbar .brand {
  float: left;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  color: #FFFFFF;
}
.navbar-inner{
  background: #2bb8ef; /* Old browsers */
  background: -moz-linear-gradient(top, #2bb8ef 0%, #0191c7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2bb8ef), color-stop(100%,#0191c7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2bb8ef 0%,#0191c7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2bb8ef 0%,#0191c7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2bb8ef 0%,#0191c7 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2bb8ef 0%,#0191c7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bb8ef', endColorstr='#0191c7',GradientType=0 ); /* IE6-9 */
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #FD6600;
  color: #FFFFFF;
}
.navbar-search {
  margin-bottom: 0;
  margin-top: 11px;
  position: relative;
}
.navbar-search .search-query {
  background:#FFFFFF;
  color: #666;
  border: 1px solid #ffffff;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background:none;
  color: #FFFFFF;
}
@media (min-width: 481px) and (max-width: 800px) {

    .sidebar-nav h4 {
        color: #037FB2;
        font-size: 18px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
    }
    #profile_block .nav-list li, #course_block .nav-list li{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    #top_main_content .menu-column #user_image_block{
      box-shadow: none;
    }

}
@media (max-width: 600px) {
#main_content .course-box .row .span7 .row .span6 {
  float: left;
  /*width: 615px;*/
  padding-left: 10px;
}
#main_content .course-box .row .span7 .row .span6 h3 {
        font-size: 16px;
        /*width: 500px;*/
    }
}

@media (min-width: 801px){
  .nav-list > li > a {
  font-size: 13px;
  padding-bottom: 8px;
  padding-top: 8px;
}

/*CSS ICON BLOCK USER*/
   .inbox-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -345px;
        padding-left: 30px;
        background-size: 25px auto;
    }

    .new-message-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -307px;
        padding-left: 30px;
        background-size: 25px auto;
    }

    .invitations-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -378px;
        padding-left: 30px;
        background-size: 25px auto;
    }

    .profile-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -414px;
        padding-left: 30px;
        background-size: 25px auto;
    }

    .add-course{
        background: url("images/icon-chamilo.png") no-repeat 0 -274px;
        padding-left: 30px;
        background-size: 25px auto;
    }

    .order-course{
        background: url("images/icon-chamilo.png") no-repeat 0 -447px;
        padding-left: 30px;
        background-size: 25px auto;
    }

    .history-course{
        background: url("images/icon-chamilo.png") no-repeat 0 -481px;
        padding-left: 30px;
        background-size: 25px auto;
    }

    .list-course{
        background: url("images/icon-chamilo.png") no-repeat 0 -517px;
        padding-left: 30px;
        background-size: 25px auto;
    }
    .myfiles-social{
        background: url("images/icon-chamilo.png") no-repeat 0 -240px;
        padding-left: 30px;
        background-size: 25px auto;
    }
}
@media (min-width: 321px) and (max-width: 480px){
footer {
    height: 5em;
  }
.welcome-mascot{
      background: none;
      padding-right: 0px;
      padding-bottom: 2em;
      padding-top: 2em;
    }
#homepage .row .span9 h2 {
  color: #0191C7;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 8px;
  line-height: 25px;
}
#announcements{
  display: none;
}
}
/*+++++++++++++++++++++++++++++++++
END RESPONSIVE CSS
+++++++++++++++++++++++++++++++++*/
