.scormpage {
    height: 100%;
}
.scormpage .menu {
    width: 180px;
    float: left;
    margin: 1px;
    padding: 0px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: small;
}
.lp_toc {
    background-color: white;
    height: 380px;
    width: 99%;
    border-right: 1px none;
}
.inner_lp_toc {
    overflow: auto;
    background-color: white;
    height: 210px;
    width: 94%;
    border-left: 5px #FFF solid;
}

.inner_lp_toc .scorm_item a {
    font-weight: bold;
/*    text-shadow: 0 1px 1px #F6F6F6; */
    
    font-size: 14px;
    margin-right: 1px;
    padding-bottom: 2px;
    text-decoration: none;
     font-family: Helvetica,Arial,sans-serif;
     color: #2F3E46;    
}
.inner_lp_toc .scorm_item a.chapter_module {
    font-weight: normal;
    margin-right: 10px;
}
.inner_lp_toc .scorm_item_highlight {   
    border:1px solid #00516e;
    background:#4b88b6;
    font-weight:bold;
    
    text-shadow:0 -1px 1px #014d68;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#72b0d4),to(#4b88b6));
    background-image:-webkit-linear-gradient(top,#72b0d4,#4b88b6);
    background-image:-moz-linear-gradient(top,#72b0d4,#4b88b6);
    background-image:-ms-linear-gradient(top,#72b0d4,#4b88b6);
    background-image:-o-linear-gradient(top,#72b0d4,#4b88b6);
    background-image:linear-gradient(top,#72b0d4,#4b88b6)
    
    margin-right: 1px;
    padding: 10px 0px 10px 0px;
    text-decoration: none;  
}
.inner_lp_toc .scorm_item_highlight a {
    color:#fff;
    margin-right: 1px;
    text-decoration: none;
    font-weight: bold;
}

.inner_lp_toc .scorm_item_section {
    border:1px solid #222;
    background:#333;
    font-weight:bold;
    color:#fff;
    text-shadow:0 -1px 1px #000;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#555),to(#333));
    background-image:-webkit-linear-gradient(top,#555,#333);
    background-image:-moz-linear-gradient(top,#555,#333);
    background-image:-ms-linear-gradient(top,#555,#333);
    background-image:-o-linear-gradient(top,#555,#333);
    background-image:linear-gradient(top,#555,#333);
    
       margin-right: 1px;
    padding: 10px 0px 10px 0px;
    text-decoration: none;  
    
}

.inner_lp_toc .scorm_item {
    font-size: 16px;
    margin-left: 10px;
    margin-right:10px;
    text-decoration: none;
    border-color: rgba(255, 255, 255, 0.3);  
}

.inner_lp_toc .scorm_item_1 {
    border-bottom: 1px solid #CCCCCC;
    background:#eee;
    font-weight:bold;
    color:#444;
    text-shadow:0 1px 1px #f6f6f6;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));
    background-image:-webkit-linear-gradient(top,#fdfdfd,#eee);
    background-image:-moz-linear-gradient(top,#fdfdfd,#eee);
    background-image:-ms-linear-gradient(top,#fdfdfd,#eee);
    background-image:-o-linear-gradient(top,#fdfdfd,#eee);
    background-image:linear-gradient(top,#fdfdfd,#eee);
    
    margin-right: 1px;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-weight: normal;
    /* background:#FDFDFD; */   
}

.inner_lp_toc .scorm_item_2 {
    
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));
    background-image:-webkit-linear-gradient(top,#fdfdfd,#eee);
    background-image:-moz-linear-gradient(top,#fdfdfd,#eee);
    background-image:-ms-linear-gradient(top,#fdfdfd,#eee);
    background-image:-o-linear-gradient(top,#fdfdfd,#eee);
    background-image:linear-gradient(top,#fdfdfd,#eee);
    
    border-bottom: 1px solid #CCCCCC;
    color: #444444;
    font-weight: bold;
    text-shadow: 0 1px 1px #F6F6F6;
   
   
    margin-right: 1px;  
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-weight: normal;

}
.inner_lp_toc .scorm_title {
    font-weight: bold;
    background:#ccc;
    font-size: 14px;
    color: #444;
}
.inner_lp_toc .scorm_title_text {
    margin-left: 10px;
}
.inner_lp_toc .scorm_status_img {
    margin:0px;
    margin-left: -10px;
    width:10px;
}
.lp_navigation {
    overflow: auto;
    background-color: white;
    height: 44px;
    width:180px;
    padding-top: 4px;
    padding-bottom:0px;
    border: none;
    margin-top: -18px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}
.lp_navigation_elem {
    padding-left: 15px;
    padding-top: 0px;
}
/*.scormpage .menu */
.lp_navigation_elem .progresstext {
    margin-top: -20px;
//  margin-left: 40%;
//em  font-size: normal;
}
/*.scormpage .menu */
.lp_navigation_elem .buttons {
    margin-left: 0px;
    margin-right: 0em;
    margin-top: 0.4em;
}
.scormpage .menu .notification {
    background-color: white;
    height: 50px;
}
.scormpage .menu .notification .message {
    background-color: white;
    height: 50px;
    width: 180px;
    border: none;
}
.scormpage .content {
    /*float: left;
    width: 60%;*/
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 180px;
    background-color: white;
}
.iframe {
    border: 0px solid black;
    height: 100%;
    width: 95%;
    margin: 0px;
    padding-right: 0px;
    overflow: auto;
    vertical-align: top;
}
.scormpage .footer {
    clear: both;
}
#image_preview {
    padding-left: 17px;
}
#author_name {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 11px;
    color:#888;
}
#msg_div_id {
    padding-left: 17px;
    padding-top: 4px;
}
.scorm_title_text {
    margin-left: 10px;
    font-weight: bold;
    background:#eee;
    font-size: 16px;
    color: #444;
    width: 89%;
    padding: 1px 5px 3px 8px;
}
