#box.aviso
{
	position:absolute;
	width:200px;
	height:60px;
	z-index:3;
	visibility:hidden;
	top:85px;
	left:10px;
	margin: 0px;
	padding: 0px;
}
#table.content
{
	border: 1px solid #4171B5;
	height:60px;
	background-color:#DBEAF5;
	filter:alpha(opacity=90);
	opacity: 0.90;
}
#ref.content
{
	text-align:center;
}