.scormpage {
}
.scormpage .menu {
	width: 180px;
	padding: 0px;
	font-size: small;
	position: absolute;
	background-color: white;
}
.scormpage .menu .lp_nav {
	height: 50px;
	width: 160px;
	padding-top: 4px;
	padding-bottom:0px;
	/*
	margin-left: 10px;
	margin-right: 10px;
*/
	margin-top: 0px;
}
.lp_navigation_elem {
	padding-left: 15px;
	padding-top: 0px;
}
/*.scormpage .menu */
.lp_navigation_elem .progresstext {
	font-size: smaller;
}
/*.scormpage .menu */
.lp_navigation_elem .buttons {
	margin-left: 5px;
	margin-right: 0em;
	margin-top: 0.4em;
}
#msg_div_id {
	padding-left: 10px;
	padding-top: 4px;
}
.scormpage .menu .notification {
	height: 50px;
	margin-left: 15px;
	margin-right: 15px;
}
.scormpage .menu .notification .message {
	height: 50px;
	width: 140px;
	border: none;
}
.scormpage .menu .notification .lp_log {
	height: 100px;
	width: 180px;
	border: none;
	overflow: auto;
}
.scormpage .content .iframe {
	/*
	border: none;
	height: 700px;
	margin: 0px;
	padding-right: 0px;
	margin-right: 0%;
	margin-left: 0%;
	*/
	/* trying the absolute mode */
	position: fixed;
	bottom:0;
	left:0;
	width: 100%;
	height: 100%;
}
.scormpage .footer {
	clear: both;
}
#image_preview {
	padding-left: 17px;
}
#author_name {
	padding-left: 5px;
	padding-top: 5px;
	font-size: 11px;
	color:#888;
}
