<div class="col-md-6">
    <div class="well_border">
        <ul>
            <li>
                <a href="{{ url('chamilo_core_admin_administrator_questionscore_index') }}">{{ 'Question score name' |trans }}</a>
            </li>
            <li>
                <a href="{{ url('chamilo_core_admin_administrator_questionscore_index') }}">{{ 'Question names' |trans }}</a>
            </li>
        </ul>
    </div>
</div>

