    {% if show_footer == true %}
            </div>
        </section>
        {% include template ~ "/layout/page_footer.html.twig" %}
    {% endif %}
    </div>
    {% include template ~ '/layout/footer.js.html.twig' %}
</body>
</html>
