{% form_theme form '@ChamiloTheme/User/forms.html.twig' %}

{{ form_errors(form) }}
{% include '@ChamiloTheme/User/Form/_tabs.html.twig' %}
<br>
<div class="tab-content">
    {% include '@ChamiloTheme/User/Form/_main.html.twig' %}
    {% include '@ChamiloTheme/User/Form/_attributes.html.twig' %}
</div>
<hr>

{{ form_widget(form._token) }}
