body {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	margin: 10px;
	padding: 0;
}

a:link {text-decoration: none; font-weight : bold; color : black;}
a:visited {text-decoration: none; font-weight : bold; color : black;}
a:active {text-decoration: none; font-weight : bold;  color : black;}

.data_table{
  	border-collapse: collapse;
	width: 100%;
	padding: 5px;
	border: 1px;
}
.data_table th{
  	padding: 5px;
	vertical-align: top;
  	border-top: 1px solid black;
  	border-bottom: 1px solid black;
  	border-right: 1px solid black;
  	border-left: 1px solid black;
}
.data_table tr.row_odd{
  	background-color: #fafafa;
  }
.data_table tr.row_even{
  	background-color: #fff;
}
.data_table td{
  	padding: 5px;
	  vertical-align: top;
  	border-bottom: 1px solid black;
  	border-right: 1px solid black;
  	border-left: 1px solid black;
}